{% extends 'admin/layout.html.twig' %}
{#{% block body_id 'kpi_domain_new' %}#}
{% block body %}
<div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"> <a href="javascript:void(0)">  {{ 'Daily Chick Price'|trans }}</a></li>
                    {#<li class="breadcrumb-item"> <a href="javascript:">{{ 'Add New'|trans }}</a></li>#}
                </ul>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h5 class="d-inline-block">{{ 'Daily Chick Price'|trans }}</h5>
                <h5 class="d-inline-block">Reporting Date: {{ "now"|date('d-m-Y') }}</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-block">
                <div class="portlet box">
                    <div class="portlet-body form" style="overflow-y: scroll; height: 500px">
                        <table class="table table-striped table-bordered table-hover dailyChickPriceDetail">
                            <thead class="thead-dark" style="position: sticky; top: -16px; z-index: 99; background-color: rgb(123 123 123)">
                            <tr>
                                <th>Name of Company</th>
                                {% for chickType in chickTypes %}
                                    <th>{{ chickType.name }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for feed in feeds %}
                                <tr>
                                    <td>{{ feed.name }}</td>
                                    {% for chickType in chickTypes %}
                                        <td><input class="form-control" type="number" name="chickPriceDetail[]" data-id="{{ chickPriceDetail[feed.id][chickType.id] is defined ? chickPriceDetail[feed.id][chickType.id].id:'' }}" value="{{ chickPriceDetail[feed.id][chickType.id].price|default(0) }}"></td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/terminalbdcrm/css/crm.css') }}">
{% endblock  %}

{% block javascripts %}
    {#<script>#}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/daily-chick-price.js') }}"></script>

{% endblock %}



























