{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('sonali_standard') }}">  {{ 'Sonali Standard'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Sonali Standard'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('sonali_standard_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                            <a href="{{ path('sonali_standard') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Sonali  Standard'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Age </th>
                            <th scope="col">Feed Intake Per day(gm)</th>
                            <th scope="col">Cumulative Feed Intake(gm)</th>
                            <th scope="col">Target Body Weight(gm)</th>
                            <th scope="col">F.C.R</th>

                            <th scope="col"><i class="feather icon-settings"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set cumulative =0 %}
                        {% for entity in entities %}
                            {% set cumulative =entity.cumulativeFeedIntake  %}
                            {% set fcr =cumulative / entity.targetBodyWeight %}

                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                <a
                                        data-type="text"
                                        class="editable"
                                        id="age-{{ entity.id }}"
                                        data-name="age"
                                        href="javascript:"
                                        data-url="{{ path('inline_update_sonali_age',{'id':entity.id}) }}"
                                        data-pk="{{ entity.id }}"
                                        data-value="{{ entity.age }}"
                                >
                                    {{ entity.age }}
                                </a>
                            </td>
                            <td>
                                <a
                                        data-type="text"
                                        class="editable"
                                        id="feed-intake-day-{{ entity.id }}"
                                        data-name="feed-intake-day"
                                        href="javascript:"
                                        data-url="{{ path('inline_update_sonali_feed_intake_day',{'id':entity.id}) }}"
                                        data-pk="{{ entity.id }}"
                                        data-value="{{ entity.feedIntakePerDay }}"
                                >
                                    {{ entity.feedIntakePerDay }}
                                </a>
                            </td>
                            <td>
                                {{ cumulative|number_format(0,'.','') }}
                            </td>
                            <td>
                                <a
                                        data-type="text"
                                        class="editable"
                                        id="target-body-weight-{{ entity.id }}"
                                        data-name="target-body-weight"
                                        href="javascript:"
                                        data-url="{{ path('inline_update_sonali_target_body_weight',{'id':entity.id}) }}"
                                        data-pk="{{ entity.id }}"
                                        data-value="{{ entity.targetBodyWeight }}"
                                >{{ entity.targetBodyWeight }}

                                </a>
                            </td>
                            <td>{{ fcr | round(2,'ceil') }}</td>

                            <td>
                                <a class="btn btn-mini yellow-bg white-font" href="{{ path('sonali_edit',{'id':entity.id}) }}"><i class="feather icon-edit"></i> Edit</a>
                                <a class="btn  btn-transparent btn-mini red-font remove" href="javascript:" data-action="{{ path('sonali_delete',{'id':entity.id}) }}"><i class="fa fa-remove"></i></a>
                            </td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .editable-click, a.editable-click, a.editable-click:hover {
            text-decoration: none;
            border-bottom: dashed 1px #0088cc;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript"
            src="{{ asset('assets/plugins/bootstrap-editable/js/bootstrap4-editable.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}


    {#        inline edit#}
    $.fn.editable.defaults.mode ='inline';
    {#    $.fn.editable.defaults.mode = 'popover';#}
    $('.editable').editable();


    $('#datatable').DataTable( {
    "pageLength": 25,
    'columnDefs': [ {
    'targets': [0,4],
    'orderable': false
    }]
    });
{% endblock %}
