{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('crm_setting') }}">  {{ 'Settings'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Layer Standard'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            <table class="table">
                                <thead>
                                <tr>
                                    <td>Report</td>
                                    <td>Age</td>
                                    <td>Feed Consum (gm/bird)</td>
                                    <td>Body Weight</td>
                                    <td>Egg Prod %</td>
                                    <td>Egg Weight (gm)</td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        {{ form_widget(form.report) }}
                                    </td>
                                    <td>
                                        {{ form_widget(form.age) }}
                                    </td>
                                    <td>
                                        {{ form_widget(form.target_feed_consumption,{'type':'number'}) }}
                                    </td>
                                    <td>
                                        {{ form_widget(form.target_body_weight,{'type':'number'}) }}
                                    </td>
                                    <td>{{ form_widget(form.target_egg_production,{'type':'number'}) }}</td>
                                    <td>{{ form_widget(form.target_egg_weight,{'type':'number'}) }}</td>
                                    <td>
                                        {{ form_widget(form.SaveAndCreate, {label: 'Add',value:'label.save.continue', attr: { class: 'btn btn-info form-submit btn-sm'}}) }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            {{ form_widget(form._token) }}
                            {{ form_end(form) }}
                        </div>
                        {% for breed in breeds %}

                        <div class="col-md-6">
                            <h4>{{ breed.name }}</h4>
                            <table class="table table-striped table-bordered table-hover" id="datatable">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Feed Consumption(gm)</th>
                                    <th scope="col">Body Weight</th>
                                    <th scope="col">Egg Prod %</th>
                                    <th scope="col">Egg Weight (gm)</th>

                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if entities[breed.id] is defined %}
                                    {% for entity in entities[breed.id] %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>
                                                <a
                                                        data-type="text"
                                                        class="editable"
                                                        id="age-{{ entity.id }}"
                                                        data-name="age"
                                                        href="javascript:"
                                                        data-url="{{ path('inline_update_layer_age',{'id':entity.id}) }}"
                                                        data-pk="{{ entity.id }}"
                                                        data-value="{{ entity.age }}"
                                                >
                                                    {{ entity.age }}

                                                </a>
                                            </td>
                                            <td>
                                                <a
                                                        data-type="text"
                                                        class="editable"
                                                        id="target-feed-consumption-{{ entity.id }}"
                                                        data-name="target-feed-consumption"
                                                        href="javascript:"
                                                        data-url="{{ path('inline_update_layer_target_feed_consumption',{'id':entity.id}) }}"
                                                        data-pk="{{ entity.id }}"
                                                        data-value="{{ entity.targetFeedConsumption }}"
                                                >{{ entity.targetFeedConsumption }}

                                                </a>
                                            </td>
                                            <td>
                                                <a
                                                        data-type="text"
                                                        class="editable"
                                                        id="target-body-weight-{{ entity.id }}"
                                                        data-name="target-body-weight"
                                                        href="javascript:"
                                                        data-url="{{ path('inline_update_layer_target_body_weight',{'id':entity.id}) }}"
                                                        data-pk="{{ entity.id }}"
                                                        data-value="{{ entity.targetBodyWeight }}"
                                                >{{ entity.targetBodyWeight }}

                                                </a>
                                            </td>
                                            <td>
                                                <a
                                                        data-type="text"
                                                        class="editable"
                                                        id="target-egg-production-{{ entity.id }}"
                                                        data-name="target-egg-production"
                                                        href="javascript:"
                                                        data-url="{{ path('inline_update_layer_target_egg_production',{'id':entity.id}) }}"
                                                        data-pk="{{ entity.id }}"
                                                        data-value="{{ entity.targetEggProduction }}"
                                                >{{ entity.targetEggProduction }}

                                                </a>
                                            </td>
                                            <td>
                                                <a
                                                        data-type="text"
                                                        class="editable"
                                                        id="target-egg-weight-{{ entity.id }}"
                                                        data-name="target-egg-weight"
                                                        href="javascript:"
                                                        data-url="{{ path('inline_update_layer_target_egg_weight',{'id':entity.id}) }}"
                                                        data-pk="{{ entity.id }}"
                                                        data-value="{{ entity.targetEggWeight }}"
                                                >{{ entity.targetEggWeight }}

                                                </a>
                                            </td>
                                            <td>
                                                <a class="btn btn-mini yellow-bg white-font" href="{{ path('layer_standard_edit',{'id':entity.id}) }}"><i class="feather icon-edit"></i> Edit</a>
                                                <a class="btn  btn-transparent btn-mini red-font remove" href="javascript:" data-action="{{ path('layer_standard_delete',{'id':entity.id}) }}"><i class="fa fa-remove"></i></a>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .editable-click, a.editable-click, a.editable-click:hover {
            text-decoration: none;
            border-bottom: dashed 1px #0088cc;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript"
            src="{{ asset('assets/plugins/bootstrap-editable/js/bootstrap4-editable.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}

    {#        inline edit#}
    $.fn.editable.defaults.mode ='inline';
    {#    $.fn.editable.defaults.mode = 'popover';#}
    $('.editable').editable();

 {#   $('#datatable').DataTable( {
    "pageLength": 25,
    'columnDefs': [ {
    'targets': [0,4],
    'orderable': false
    }]
    });#}
{% endblock %}
