{% extends 'admin/layout.html.twig' %}
{#{% block body_id 'kpi_domain_new' %}#}
{% block body %}
    <div class="pcoded-inner-content">
        <div class="row">
            <div class="card">
                <div class="portlet box ">
            <div class="portlet-title">
                <div class="caption">{{(companySpeciesWiseFcrs is defined and companySpeciesWiseFcrs is not empty)? companySpeciesWiseFcrs[0].report.name:''}} </div>
            </div>
        {#{{ dump(report) }}#}

            <div class="portlet-body form">
                {#{{ form_start(form, {'attr': {'action': path('chick_new_modal',{'id':crmCustomer.id,'report':report.id }),'class': 'form-horizontal right','id':'chick_life_cycle_form'}}) }}#}
                <div class="form-body">
                    <div class="form-inner-no-space">

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h4>NOURISH POULTRY & HATCHERY LTD</h4>
                                <h5>Uttara, Dhaka.</h5>
                                <h4>{{companySpeciesWiseFcrs[0].report.name}}</h4>
                                <input type="hidden" class="fishCompanySpeciesWiseFcr_id" value="{{ companySpeciesWiseFcrs[0].id }}">

                            </div>

                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <p style="color: #000000">{{ 'Reporting Date'|trans }}: {{ companySpeciesWiseFcrs[0].reportingMonth?companySpeciesWiseFcrs[0].reportingMonth|date("d-m-Y"):'' }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body card-body-inner" style="padding: 0 5px;">
                            <div class="companySpeciesWiseFcrSection">
                                <table class="table table-striped table-bordered table-hover company_species_wise_fcr" id="datatable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th style="width: 150px" scope="col" rowspan="2">Culture Species Name</th>
                                        {% if companySpeciesWiseFcrs is not empty  %}
                                            {% for companySpeciesWiseFcr in companySpeciesWiseFcrs %}
                                                <th class="text-center">{{ companySpeciesWiseFcr.feed.name|default('') }}</th>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        {% if companySpeciesWiseFcrs is not empty  %}
                                            {% for companySpeciesWiseFcr in companySpeciesWiseFcrs %}
                                                <td style="padding: 0!important;" class="text-center">
                                                    <table width="100%" border="1">
                                                        <tr>
                                                            <td style="width: 15%;" scope="col">No of fish</td>
                                                            <td style="width: 20%" scope="col">Total Feed Used (kg)</td>
                                                            <td style="width: 20%" scope="col">Initial Weight (gm)</td>
                                                            <td style="width: 20%" scope="col">Present Weight (gm)</td>
                                                            <td style="width: 20%" scope="col">Survivability (%)</td>
                                                            <td style="width: 5%" scope="col">FCR</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% if mainCultureSpecies is not empty %}
                                        {% for index, species in mainCultureSpecies %}
                                            <tr>
                                                <td>
                                                    {{ species.name }}
                                                </td>
                                                {% for companySpeciesWiseFcr in companySpeciesWiseFcrs %}
                                                    <td style="padding-right: 0px!important;padding-left: 0px!important;">
                                                        <table width="100%" border="0">
                                                            <tr>
                                                                <td style="width: 15%; padding: 0px!important;"><input data-key="NoOfFish" data-entity-id="{{ companySpeciesDetails[companySpeciesWiseFcr.id][species.id].id }}" value="{{ companySpeciesDetails[companySpeciesWiseFcr.id][species.id].noOfFish|default(0) }}" type="number" min="0" class="form-control noOfFish"></td>
                                                                <td style=" padding: 0px!important;"><input data-key="FeedUsedKg" data-entity-id="{{ companySpeciesDetails[companySpeciesWiseFcr.id][species.id].id }}" value="{{ companySpeciesDetails[companySpeciesWiseFcr.id][species.id].feedUsedKg|default(0) }}" type="number" min="0" class="form-control feedUsedKg"></td>
                                                                <td style=" padding: 0px!important;"><input data-key="InitialWeightGm" data-entity-id="{{ companySpeciesDetails[companySpeciesWiseFcr.id][species.id].id }}" value="{{ companySpeciesDetails[companySpeciesWiseFcr.id][species.id].initialWeightGm|default(0) }}" type="number" min="0" class="form-control initialWeightGm"></td>
                                                                <td style=" padding: 0px!important;"><input data-key="PresentWeightGm" data-entity-id="{{ companySpeciesDetails[companySpeciesWiseFcr.id][species.id].id }}" value="{{ companySpeciesDetails[companySpeciesWiseFcr.id][species.id].presentWeightGm|default(0) }}" type="number" min="0" class="form-control presentWeightGm"></td>
                                                                <td style=" padding: 0px!important;"><input data-key="Survivability" data-entity-id="{{ companySpeciesDetails[companySpeciesWiseFcr.id][species.id].id }}" value="{{ companySpeciesDetails[companySpeciesWiseFcr.id][species.id].survivability|default(0) }}" type="number" min="0" class="form-control survivability"></td>
                                                                <td class="text-center fcrQuantity" style="padding: 0px!important; width: 6%">{{ companySpeciesDetails[companySpeciesWiseFcr.id][species.id].quantity|default(0)|number_format(3,'.','') }}</td>
                                                            </tr>
                                                        </table>

                                                    </td>
                                                {% endfor %}

                                            </tr>

                                        {% endfor %}
                                    {% endif %}

                                    </tbody>

                                </table>


                            </div>
                            {#<div class="fullMonthCompanySpeciesWiseFcrSection">
                                <h5>Reporting Month: {{ companySpeciesWiseFcrs[0].reportingMonth?companySpeciesWiseFcrs[0].reportingMonth|date("F' Y"):'' }}</h5>
                                <table class="table table-striped table-bordered table-hover " id="datatable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>SL</th>
                                        <th scope="col">Company Name</th>
                                        <th scope="col">Created Date</th>
                                        {% if mainCultureSpecies is defined and mainCultureSpecies is not empty %}
                                            {% for index, Species in mainCultureSpecies %}
                                                <th>{{ Species.name }}</th>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody class="fullMonthCompanySpeciesWiseFcrBody">

                                    {% if companyWiseFcrs is defined and companyWiseFcrs['records'] is not empty %}
                                        {% set feedTypeId=companySpeciesWiseFcrs[0].feedType?companySpeciesWiseFcrs[0].feedType.id:'' %}
                                        {% set reportingMonth=companySpeciesWiseFcrs[0].reportingMonth?companySpeciesWiseFcrs[0].reportingMonth|date("F Y"):'' %}
#}{#{{ dump(feedTypeId) }}#}{#
                                        {% if companyWiseFcrs['records'][feedTypeId] is defined and companyWiseFcrs['records'][feedTypeId] is not empty %}

                                            {% for monthYear, monthWiseFcrs in companyWiseFcrs['records'][feedTypeId] %}
                                            <tr>
                                                <th colspan="4">{{ monthYear }}</th>
                                            </tr>
                                            {% set recordCount=1 %}
                                            {% for fcrId, fcrDetails in monthWiseFcrs %}
                                                <tr>
                                                    <td>{{ recordCount }}</td>
                                                    <td>{{ companyWiseFcrs['fcrInfo'][feedTypeId][monthYear][fcrId]['feedName'] }}</td>
                                                    <td>{{ companyWiseFcrs['fcrInfo'][feedTypeId][monthYear][fcrId]['createdAt'] }}</td>
                                                    {% if mainCultureSpecies is defined and mainCultureSpecies is not empty %}
                                                        {% for index, Species in mainCultureSpecies %}
                                                            <td>{{ fcrDetails[Species.id].quantity|number_format(3,'.','') }}</td>
                                                        {% endfor %}
                                                    {% endif %}
                                                </tr>

                                                {% set recordCount=recordCount+1 %}
                                            {% endfor %}
                                        {% endfor %}

                                        {% endif %}
                                    {% endif %}

                                    </tbody>

                                </table>


                            </div>#}

                        </div>
                    </div>
                </div>

            </div>
        </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/terminalbdcrm/css/crm.css') }}">
{% endblock  %}
{% block javascripts %}
    {#<script>#}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/fish-company-species-wise-fcr.js') }}"></script>
{% endblock  %}
