{% extends 'admin/layout.html.twig' %}
{#{% block body_id 'kpi_domain_new' %}#}
{% block body %}
    <div class="pcoded-inner-content">
        <div class="row">
            <div class="card">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">{{report.name}} </div>
                    </div>
                    {#{{ dump(report) }}#}

                    <div class="portlet-body form">
                        {#{{ form_start(form, {'attr': {'action': path('chick_new_modal',{'id':crmCustomer.id,'report':report.id }),'class': 'form-horizontal right','id':'chick_life_cycle_form'}}) }}#}
                        <div class="form-body">
                            <div class="form-inner-no-space">
                                {{ form_start(form, {'attr': {'method':'post','class': 'form-horizontal right','id':'fish_life_cycle_form'}}) }}

                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h4>NOURISH POULTRY & HATCHERY LTD</h4>
                                        <h5>Uttara, Dhaka.</h5>
                                        <h4>{{report.name}}</h4>
                                        {#<input type="hidden" class="fishLifeCycle_id" value="{{ id }}">#}
                                    </div>

                                    <div class="col-md-4">
                                        <p style="color: #000000">{{ 'Farmer Name'|trans }}: {{ customer.name }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p style="color: #000000">{{ 'Address'|trans }}: {{ customer.address }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p style="color: #000000">{{ 'Agent'|trans }}: {{ customer.agent.name }}</p>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.reporting_date,'Reporting Date'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>
                                                <div class="date_section">
                                                    {{ form_widget(form.reporting_date) }}
                                                </div>
                                                {{ form_errors(form.reporting_date) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.feed_type,'Feed Type'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                            <div class="col-md-9">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.feed_type) }}
                                                {{ form_errors(form.feed_type) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">

                                        <div class="form-group">
                                            {{ form_label(form.feed,'Feed Company'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                            <div class="col-md-10">
                                                <span class="not-blank"> *</span>
                                                {{ form_widget(form.feed) }}
                                                {{ form_errors(form.feed) }}
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="clearfix"></div>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-6 "></div>
                                        <div class="col-md-6 text-right">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                {{ form_widget(form.Save, {label: 'Save',value:'Save', attr: { class: 'btn btn-primary form-submit'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                {{ form_widget(form._token) }}
                                {{ form_end(form) }}

                            </div>
                        </div>

                    </div>
                </div>

                <div class="portlet box blue">
                    <div class="portlet-body" style="padding-bottom: 15px!important;">
                        {% if feedTypes is not empty %}
                        <ul class="nav nav-tabs" role="tablist">
                            {% for feedType in feedTypes %}
                            <li class="nav-item">
                                <a class="nav-link {{ loop.first?'active':'' }}" data-toggle="tab" href="#tabs-{{ feedType.id }}" role="tab">{{ feedType.name }}</a>
                            </li>
                            {% endfor %}
                        </ul><!-- Tab panes -->
                        <div class="tab-content">
                            {% for feedType in feedTypes %}
                            <div class="tab-pane {{ loop.first?'active':'' }}" id="tabs-{{ feedType.id }}" role="tabpanel">
                                <table class="table table-striped table-bordered table-hover " id="datatable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>SL</th>
                                        <th scope="col">Company Name</th>
                                        <th scope="col">Created Date</th>
                                        {% if mainCultureSpecies is defined and mainCultureSpecies[feedType.id] is not empty %}
                                            {% for index, Species in mainCultureSpecies[feedType.id] %}
                                                <th>{{ Species.name }}</th>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody class="fullMonthCompanySpeciesWiseFcrBody">

                                    {% if companyWiseFcrs is defined and companyWiseFcrs['records'] is defined and companyWiseFcrs['records'] is not empty  and companyWiseFcrs['records'][feedType.id] is defined and companyWiseFcrs['records'][feedType.id] is not empty %}

                                        {% for monthYear, monthWiseFcrs in companyWiseFcrs['records'][feedType.id] %}
                                            <tr>
                                                <th colspan="4">{{ monthYear }}</th>
                                            </tr>
                                            {% set recordCount=1 %}
                                            {% for fcrId, fcrDetails in monthWiseFcrs %}
                                                <tr>
                                                    <td>{{ recordCount }}</td>
                                                    <td>{{ companyWiseFcrs['fcrInfo'][feedType.id][monthYear][fcrId]['feedName'] }}</td>
                                                    <td>{{ companyWiseFcrs['fcrInfo'][feedType.id][monthYear][fcrId]['createdAt'] }}</td>
                                                    {% if mainCultureSpecies is defined and mainCultureSpecies[feedType.id] is not empty %}
                                                        {% for index, Species in mainCultureSpecies[feedType.id] %}
                                                            <td>{{ fcrDetails[Species.id] is defined? fcrDetails[Species.id].quantity|number_format(3,'.',''):'' }}</td>
                                                        {% endfor %}
                                                    {% endif %}
                                                </tr>

                                                {% set recordCount=recordCount+1 %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}

                                    </tbody>

                                </table>
                            </div>
                            {% endfor %}

                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .nav-link{
            color: #000000!important;
        }

    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/jquery.quicksearch.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/core/js/user.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    formSubmitProcess();

    $('#company_species_wise_fcr_form_feed').multiSelect({
    selectableHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='Search...'>",
    selectionHeader: "<input type='text' class='form-control' autocomplete='off' placeholder='Search...'>",
    afterInit: function(ms) {
    var that = this,
    $selectableSearch = that.$selectableUl.prev(),
    $selectionSearch = that.$selectionUl.prev(),
    selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
    selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
    .on('keydown', function(e) {
    if (e.which === 40) {
    that.$selectableUl.focus();
    return false;
    }
    });

    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
    .on('keydown', function(e) {
    if (e.which == 40) {
    that.$selectionUl.focus();
    return false;
    }
    });
    },
    afterSelect: function() {
    this.qs1.cache();
    this.qs2.cache();
    },
    afterDeselect: function() {
    this.qs1.cache();
    this.qs2.cache();
    },
    selectableOptgroup: true
    });

{% endblock %}
