<div class="portlet box">
    <div class="portlet-title">
        <div class="caption">{{report.name}}</div>
    </div>
    {#{{ dump(report) }}#}

    <div class="portlet-body form">
        <div class="row form-body ">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{ 'NOURISH POULTRY & HATCHERY LTD'|trans }}</h4>
                        <h5>{{ 'Uttara, Dhaka.'|trans }}</h5>
                        <h4>{{ 'Monthly Troubleshooting &'|trans }} {{report.name}}</h4>
                    </div>
                </div>
                <div class="complain_different_product_section">
                    {{ form_start(form, {'attr': {'method':'post','action': path('complain_different_product_new_modal',{'id':crmCustomer.id,'report':report.id }),'class': 'form-horizontal right','id':'complain_different_product_form'}}) }}

                    <div class="row">
                        <div class="col-md-6">
                            <h4>Agent: {{ crmCustomer.agent.name|default('') }}</h4>
                        </div>
                        <div class="col-md-6">
                            <h4>Farmer: {{ crmCustomer.name|default('') }}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="">{{ 'Product Name'|trans }}</label>
                                <div class="col-md-8">
                                    <span class="not-blank"> *</span>
                                        {{ form_widget(form.productName) }}
                                        {{ form_errors(form.productName) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="">{{ 'Complain'|trans }}</label>
                                <div class="col-md-8">
                                    <span class="not-blank"> *</span>
                                        {{ form_widget(form.complains) }}
                                        {{ form_errors(form.complains) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="col-md-6 ">
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                <button type="button" class="btn btn-info form-submit complain_different_product_button">{{ 'SaveAndCreate'|trans }}</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {{ form_widget(form._token) }}
                    {{ form_end(form) }}
                </div>

                <div class="complain_different_product_details" style="margin-top: 20px">
                    {% include '@TerminalbdCrm/complainDifferentProduct/details-modal.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>
