{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
{#                        <li class="breadcrumb-item"> <a href="{{ path('crm_chick') }}">  {{ 'Chick Life Cycle'|trans }}</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'API Response List'|trans }}</h5>
                    <div class="btn-group float-right">
                        <a href="{{ path('crm_sync_app_data_sync') }}" class="btn btn-mini purple-bg white-font loader"><i class="fa fa-sync"></i> Process All</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>

                            <th width="50">{{ 'S/N'|trans }}</th>
                            <th>{{ 'Id'| trans }}</th>
                            <th>{{ 'Employee Id'| trans }}</th>
                            <th>{{ 'Employee Name'| trans }}</th>
                            <th>{{ 'Service Mode'| trans }}</th>
                            <th>{{ 'Batch No.'| trans }}</th>
                            <th>{{ 'Created At'| trans }}</th>
                            <th>{{ 'Status'| trans }}</th>
                            <th class="text-center"><i class="feather icon-settings"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if records is defined and records is not empty %}
                            {% for record in records %}
{#                                {% set count = loop.index + (records.itemNumberPerPage * records.currentPageNumber) - records.itemNumberPerPage %}#}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ record.id }}</td>
                                    <td>{{ record.employee ? record.employee.userId : '' }}</td>
                                    <td>{{ record.employee.name|default('') }}</td>
                                    <td>{{ record.employee.serviceMode.name|default('') }}</td>
                                    <td>{{ record.batchNo|default('') }}</td>
                                    <td>{{ record.createdAt ? record.createdAt|date('d-m-Y h:i A') : '' }}</td>
                                    <td>{{ record.status == 1 ? 'Yes':'No' }}</td>
                                    <td align="center">
                                        <div class="btn-group">
                                            <a href="{{ path('crm_sync_app_data_sync', {id: record.id}) }}" class="btn btn-mini purple-bg white-font loader"><i class="fa fa-sync"></i> Process</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="7" align="center"> {{ 'No records Found!'|trans }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
{#                    <div class="row">#}
{#                        <div class="col-md-3">#}
{#                            <div class="count">#}
{#                                Total Records: {{ records.getTotalItemCount }}#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-9 navigation" style="padding-right: 0;">#}
{#                            {{ knp_pagination_render(records) }}#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .pagination{
            float: right;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#datatable').DataTable( {
    "pageLength": 25,
    'columnDefs': [ {
    'targets': [0,4],
    'orderable': false
    }]
    });
{% endblock %}
