<div class="portlet box">
    <div class="portlet-title">
        <div class="caption">{{report.name}}</div>
    </div>
    {#{{ dump(report) }}#}

    <div class="portlet-body form antibiotic_free_farm_section">
        <div class="row form-body ">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{ 'NOURISH POULTRY & HATCHERY LTD'|trans }}</h4>
                        <h5>{{ 'Uttara, Dhaka.'|trans }}</h5>
                        <h4>{{ 'Monthly Troubleshooting &'|trans }} {{report.name}}</h4>
                    </div>
                </div>
                <div class="disease_mapping_section">
                    {{ form_start(form, {'attr': {'method':'post','action': path('disease_mapping_new_modal',{'id':crmCustomer.id,'report':report.id,'visit':visit.id }),'class': 'form-horizontal right','id':'disease_mapping_form'}}) }}
                    <table class="table table-bordered disease_mapping_table" id="datatable">
                        <thead>
                        <tr>
                            <th>{{ 'Agent Name'|trans }}</th>
                            <th>{{ 'Farmer Name'|trans }}</th>
                            <th style="width: 120px">{{ 'Visting Date'|trans }}</th>
                            {% if report.slug!='disease-mapping-report-cattle' %}
                            <th style="width: 150px">{{ 'Hatchery'|trans }}</th>
                            {% endif %}
                            <th style="width: 150px">{{ 'Feed'|trans }}</th>
                            <th style="width: 150px">{{ 'Breed'|trans }}</th>
                            <th style="width: 150px">{{ 'Type of Species'|trans }}</th>
                            {% if report.slug=='disease-mapping-report-fish' %}
                                <th style="width: 100px">{{ 'No. of Fish (Pcs)'|trans }}</th>
                                <th style="width: 100px">{{ 'Culture Area (decimal)'|trans }}</th>
                                <th style="width: 100px">{{ 'Dencity'|trans }}</th>
                                <th style="width: 100px">{{ 'Avg Weight(g)'|trans }}</th>
                            {% else %}
                               <th>{{ 'Capacity'|trans }}</th>
                            {% endif %}
                            {% if report.slug!='disease-mapping-report-fish' %}
                            <th>{{ 'Age'|trans }}</th>
                            <th style="width: 75px">{{ 'Unit'|trans }}</th>
                            {% endif %}
                            {% if report.slug=='disease-mapping-report-fish' %}
                                <th style="width: 200px">{{ 'Tentative Diagnosis'|trans }}</th>
                            {% else %}
                                <th style="width: 200px">{{ 'Presumptive Diagnosis'|trans }}</th>
                            {% endif %}
                            {% if report.slug=='disease-mapping-report-fish' %}
                            <th style="width: 200px">{{ 'Treatment'|trans }}</th>
                            <th style="width: 200px">{{ 'Remarks'|trans }}</th>
                            {% endif %}

                            <th>{{ 'Action'|trans }}</th>
                        </tr>
                        <tr>
                            <td>{{ crmCustomer.agent.name }}</td>
                            <td>{{ crmCustomer.name }}</td>
                            <td>
                                <div class="date_section">
                                    {{ form_widget(form.visitingDate) }}
                                </div>
                            </td>
                            {% if report.slug!='disease-mapping-report-cattle' %}
                            <td>{{ form_widget(form.hatchery) }}</td>
                            {% endif %}
                            <td>{{ form_widget(form.feed) }}</td>
                            <td>{{ form_widget(form.breed) }}</td>
                            <td>{{ form_widget(form.farmType) }}</td>
                            <td>{{ form_widget(form.flockSizeOrCapacity,{'type':'number'}) }}</td>
                            {% if report.slug=='disease-mapping-report-fish' %}
                            <td>{{ form_widget(form.cultureAreaForFish,{'type':'number'}) }}</td>
                                <td></td>
                            <td>{{ form_widget(form.averageWeightForFish,{'type':'number'}) }}</td>
                            {% endif %}
                            {% if report.slug!='disease-mapping-report-fish' %}
                            <td>{{ form_widget(form.ageDays,{'type':'number'}) }}</td>
                            <td>{{ form_widget(form.ageUnitType) }}</td>
                            {% endif %}
                            <td>{{ form_widget(form.disease) }}</td>
                            {% if report.slug=='disease-mapping-report-fish' %}
                            <td>{{ form_widget(form.treatment) }}</td>
                            <td>{{ form_widget(form.remarks) }}</td>
                            {% endif %}
                            <td>
                                <button title="Save" type="button" class="btn btn-primary btn-sm disease_mapping_button"><i class="fa fa-save"></i></button>
                            </td>
                        </tr>
                        </thead>
                        <tbody class="disease_mapping_detail">
                        {% include '@TerminalbdCrm/diseaseMapping/details-modal.html.twig' %}
                        </tbody>
                    </table>

                    {{ form_widget(form._token) }}
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>
</div>
