{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">

        <div class="row">
            <div class="card">
                <div class="card-block">

                    <table class="table table-striped table-bordered table-hover download-excel">
                        <thead class="thead-dark">
                        <tr>
                            <th class="border-0" data-a-h="center" colspan="{{ species|length+9 }}"><h5 class="text-center">UTTARA, DHAKA.</h5></th>
                        </tr>
                        <tr>
                            <th class="border-0" data-a-h="center" colspan="{{ species|length+9 }}"><h3 class="text-center">NOURISH POULTRY AND HATCHERY LTD</h3></th>
                        </tr>
                        <tr>
                            <th class="border-0" data-a-h="center" colspan="{{ species|length+9 }}"><h6 class="text-center">Farmer Type: {{ customerType|upper }}</h6></th>
                        </tr>
                        <tr>
                            <th data-a-v="middle" rowspan="2" scope="col">SL.</th>
                            <th data-a-v="middle" rowspan="2" scope="col">Name</th>
                            <th data-a-v="middle" rowspan="2" scope="col">Mobile</th>
                            <th data-a-v="middle" rowspan="2" scope="col">Address</th>
                            <th data-a-v="middle" rowspan="2" scope="col">Location</th>
                            <th data-a-v="middle" rowspan="2" scope="col">Agent ID</th>
                            <th data-a-v="middle" rowspan="2" scope="col">Agent Name</th>
                            <th  data-a-v="middle" rowspan="2" scope="col">Agent Location</th>
                            <th data-a-v="middle" rowspan="2" scope="col">Feed</th>
                            <th data-a-h="center" class="text-center" colspan="{{ species|length }}" scope="col">Capacity</th>
                        </tr>
                        <tr>
                            {% if species is defined and species is not empty %}

                                {% for specie in species %}

                                    <th>{{ specie.name }}</th>
                                {% endfor %}
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}

                            {% set cultureSpeciesItemAndQty = entity.cultureSpeciesItemAndQty|json_decode %}

                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ entity.name }}</td>
                                <td>{{ entity.mobile }}</td>
                                <td>{{ entity.address }}</td>
                                <td>{{ entity.locationName }}</td>
                                <td>{{ entity.agentId }}</td>
                                <td>{{ entity.agentName }}</td>
                                <td>
                                    {{ (entity.thanaName|default('')) ~
                                    (entity.thanaName and entity.districtName ? ',' : '') ~
                                    (entity.districtName|default('')) }}
                                </td>
                                <td>{{ entity.feedName|default('') }}</td>
                                {% if species is defined and species is not empty %}

                                    {% for specie in species %}

                                        <td data-t="n">{{ cultureSpeciesItemAndQty[specie.id]|default('') }}</td>
                                    {% endfor %}
                                {% endif %}

                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>

                </div>


            </div>
        </div>

        <!-- [ Main Content ] end -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/tableToExcel.js') }}"></script>

    <script>
        // let button = document.querySelector("#button-excel");

        window.addEventListener("load", e => {
            e.preventDefault();
            let table = document.querySelector(".download-excel");
            TableToExcel.convert(table, {
                name: "{{ customerType }}_customer.xlsx",
                sheet: {
                    name: "Sheet 1"
                }
            });
            // window.close();
        });
    </script>
{% endblock %}
