{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="javascript:void(0)">  {{ 'Farmers'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Farmers'|trans }}</h5>

                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">

                            <a target="_blank" href="{{ path('crm_customer', {'customerType': customerType, 'mode': 'excel'}) }}"
                               class="btn btn-sm blue-bg white-font button-excel">
                                <i class="fa fa-download"></i>{{ 'All Customer'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">

                    <h3 class="text-center">NOURISH POULTRY AND HATCHERY LTD</h3>
                    <h5 class="text-center">UTTARA, DHAKA.</h5>
                    <h6 class="text-center">Farmer Type: {{ customerType|upper }}</h6>

                    {{ form_start(form) }}
                    <table class="table table-bordered ">
                        <thead class="thead-dark">
                        <tr role="row" class="filter">
                            <th colspan="2">
                                {{ form_label(form.customerName, 'Name') }}
                                {{ form_widget(form.customerName) }}
                            </th>
                            <th colspan="2">
                                {{ form_label(form.customerMobile, 'Mobile') }}
                                {{ form_widget(form.customerMobile) }}
                            </th>
                            <th colspan="2">
                                {{ form_label(form.customerAddress, 'Address/Upazilla') }}
                                {{ form_widget(form.customerAddress) }}
                            </th>
                            <th colspan="2">
                                {{ form_label(form.feedCompany, 'Feed') }}
                                {{ form_widget(form.feedCompany) }}
                            </th>

                            <th colspan="1">
                                <div class="btn-group" style="margin-top: 25px">
                                    <button type="submit" name="search" class="btn btn-primary btn-sm"
                                            title="Search" value="search"><i
                                                class="fa fa-search" aria-hidden="true"></i></button>
                                    <a href="{{ path('crm_customer', {'customerType': customerType}) }}" class="btn purple-bg btn-sm white-font" title="Reset"
                                       value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                </div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                    {{ form_end(form) }}

                    <table class="table table-striped table-bordered table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th rowspan="2" scope="col">SL.</th>
                            <th rowspan="2" scope="col">Name</th>
                            <th rowspan="2" scope="col">Mobile</th>
                            <th rowspan="2" scope="col">Address</th>
                            <th rowspan="2" scope="col">Location</th>
                            <th rowspan="2" scope="col">Agent ID</th>
                            <th rowspan="2" scope="col">Agent Name</th>
                            <th rowspan="2" scope="col">Agent Location</th>
                            <th rowspan="2" scope="col">Feed</th>
                            <th class="text-center" colspan="{{ species|length }}" scope="col">Capacity</th>
                            <th rowspan="2">Action</th>

                        </tr>
                        <tr>
                            {% if species is defined and species is not empty %}

                                {% for specie in species %}

                                    <th>{{ specie.name }}</th>
                                {% endfor %}
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}

                            {% set cultureSpeciesItemAndQty = entity.cultureSpeciesItemAndQty|json_decode %}

                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ entity.name }}</td>
                                <td>{{ entity.mobile }}</td>
                                <td>{{ entity.address }}</td>
                                <td>{{ entity.locationName }}</td>
                                <td>{{ entity.agentId }}</td>
                                <td>{{ entity.agentName }}</td>

                                <td>
                                    {{ (entity.thanaName|default('')) ~
                                    (entity.thanaName and entity.districtName ? ',' : '') ~
                                    (entity.districtName|default('')) }}
                                </td>

                                <td>{{ entity.feedName|default('') }}</td>
                                {% if species is defined and species is not empty %}

                                    {% for specie in species %}

                                        <td>{{ cultureSpeciesItemAndQty[specie.id]|default('') }}</td>
                                    {% endfor %}
                                {% endif %}

                                <td>
                                    <a class="btn btn-mini yellow-bg white-font" href="{{path('crm_customer_edit', {id: entity.id})}}"><i class="feather icon-edit"></i> Edit</a>
                                    <a class="btn btn-transparent btn-mini red-font removeWithMessage" href="javascript:" data-action="{{ path('customer_delete',{id:entity.id}) }}"><i class="fa fa-remove"></i></a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="count">
                                Total Records: {{ entities.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-6 navigation">
                            {{ knp_pagination_render(entities) }}
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        div.dataTables_wrapper div.dataTables_info {
            float: left;
            width: auto;
        }
        div.dataTables_wrapper div.dataTables_paginate {
            float: right;
            width: auto;
        }
        div.dataTables_wrapper div.dataTables_filter {
            float: right;
            display: inline-block;
        }
        div.dataTables_wrapper div.dataTables_length {
            float: left;
            display: inline-block;
        }
        .navigation nav{
            float: right;
        }
        .navigation .pagination{
            margin-bottom: 0px!important;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{#    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>#}

{% endblock  %}
