<div class="portlet box" style="overflow-x: scroll">
    <div class="portlet-title">
        <div class="caption">{{ layerLifeCycle.report.name }} </div>
    </div>
    {#{{ dump(report) }}#}

    <div class="portlet-body form">
        {#{{ form_start(form, {'attr': {'action': path('layer_new_modal',{'id':crmCustomer.id,'report':report.id }),'class': 'form-horizontal right','id':'layer_life_cycle_form'}}) }}#}
        <div class="">
            <div class="form-inner-no-space">

                <div class="row">
                    <div class="col-md-12">
                        <h4>{{ layerLifeCycle.report.name|default('') }}</h4>
                        <input type="hidden" class="layerLifeCycle_id" value="{{ layerLifeCycle.id }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-left" style="color: #000000; margin-bottom: 5px"><strong>{{ 'Agent Name'|trans }}:</strong> {{ layerLifeCycle.customer.agent.name|default('') }}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="text-left" style="color: #000000; margin-bottom: 5px">{{ 'Farmer Name'|trans }}: {{ layerLifeCycle.customer.name|default('') }}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="text-left" style="color: #000000; margin-bottom: 5px">{{ 'Address'|trans }}: {{ layerLifeCycle.customer.address|default('') }}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="text-left" style="color: #000000; margin-bottom: 5px">{{ 'Mobile'|trans }}: {{ layerLifeCycle.customer.mobile|default('') }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <p class="text-left" style="color: #000000; margin-bottom: 5px">{{ 'Hatchery'|trans }}: {{ layerLifeCycle.hatchery.name|default('') }}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="text-left" style="color: #000000; margin-bottom: 5px">{{ 'Breed'|trans }}: {{ layerLifeCycle.breed.name|default('') }}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="text-left" style="color: #000000; margin-bottom: 5px">{{ 'Feed'|trans }}: {{ layerLifeCycle.feed.name|default('') }}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="text-left" style="color: #000000; margin-bottom: 5px">{{ 'Hatching Date'|trans }}
                            : {{ layerLifeCycle.hatcheryDate?layerLifeCycle.hatcheryDate|date("d-m-Y"):'' }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-left" style="color: #000000; margin-bottom: 5px">{{ 'Total Birds'|trans }}: {{ layerLifeCycle.totalBirds }}</p>
                    </div>
                </div>
                <div class="card-body-inner sticky_section">
                    <div class="layerLifeCycleDetails_section">
                        <table class="table table-striped table-bordered table-hover layerLifeCycleDetails"
                               id="datatable">
                            <thead class="thead-dark sticky_header">
                            <tr>
                                <th scope="col" rowspan="2">S/N</th>
                                <th scope="col" rowspan="2" style="width: 55px">Age (Week)</th>
                                <th scope="col" rowspan="2" width="105px">VisitingDate</th>
                                <th scope="col" colspan="3">Birds</th>
                                <th scope="col" colspan="2">Weight</th>
                                <th scope="col" rowspan="2">Uniformity (%)</th>
                                <th scope="col" colspan="2">Feed</th>
                                <th scope="col" colspan="3">Egg Production</th>
                                <th scope="col" colspan="2">Egg Weight</th>
                                <th scope="col" colspan="4">Feed Information</th>
                                <th style="width: 200px;" scope="col" rowspan="2">Vaccine</th>
                                <th style="width: 300px;" scope="col" rowspan="2">Remarks</th>
                            </tr>
                            <tr>
                                <th scope="col"><pre style="font-size: 100%; margin: 0px;">Total Birds</pre></th>
                                <th scope="col"><pre style="font-size: 100%; margin: 0px">Dead Birds</pre></th>
                                <th scope="col"><pre style="font-size: 100%; margin: 0px">Present Birds</pre></th>
                                <th scope="col">Avg.wt (gm)</th>
                                <th scope="col">Target.Wt (gm)</th>
                                <th scope="col">Feed/bird (gm)</th>
                                <th scope="col">Target Feed/bird (gm)</th>
                                <th scope="col"><pre style="font-size: 100%; margin: 0px">Total Eggs</pre></th>
                                <th scope="col">Egg Prod(%)</th>
                                <th scope="col"><pre style="font-size: 100%; margin: 0px">Target Egg</pre> Prod (%)</th>
                                <th style="width: 70px;" scope="col"> Actual</th>
                                <th scope="col">Standard</th>
                                <th style="width: 150px;" scope="col">FeedType</th>
                                <th width="105px" scope="col">P.Date</th>
                                <th style="width: 200px" scope="col">Batch No</th>
                                <th style="width: 150px" scope="col">FeedMill</th>
                            </tr>
                            </thead>
                            <tbody class="layerLifeCycleDetailsBody">
                            {% include '@TerminalbdCrm/layerLifeCycle/partial/layer-details-table-body.html.twig' %}
                            </tbody>
                        </table>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6 text-right">
                                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                        <button type="button" data-layer-life-cycle-id="{{ layerLifeCycle.id }}"
                                                class="btn btn-info form-submit report_complete_layer"><i
                                                    class="fa fa-save"></i> Complete
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
