{% if fishLifeCycleDetailsByReportingMonth is not empty %}

    {% for index, detail in fishLifeCycleDetailsByReportingMonth %}
        <tr>
            <td class="feedType">{{ detail.feedType.name|default('') }}</td>
            <td class="customer">{{ detail.customer.name|default('') }}</td>
            <td class="mobile">{{ detail.customer.mobile|default('') }}</td>
            <td class="mainCultureSpecies">{{ detail.mainCultureSpecies.name|default('') }}</td>
            <td>{{ detail.feed.name|default('') }}</td>
            <td>{{ detail.hatchery.name|default('') }}</td>
            <td>{{ detail.stockingDate|date("d-m-Y") }}</td>
            <td>{{ detail.harvestDate|date("d-m-Y") }}</td>

            <td class="cultureAreaDecimal">{{ detail.cultureAreaDecimal|default('') }}</td>

            <td>{{ detail.noOfInitialFish|default('') }}</td>
            <td>{{ detail.totalInitialWeight|default('') }}</td>
            <td class="averageInitialWeight">{{ detail.averageInitialWeight|default('') }}</td>

            <td class="noOfFinalFish">{{ detail.noOfFinalFish }}</td>
            <td class="finalWeightKg">{{ detail.finalWeightKg }}</td>
            <td class="finalWeightGm">{{ detail.finalWeightGm }}</td>

            <td class="totalFeedConsumptionKg">{{ detail.totalFeedConsumptionKg }}</td>
            <td class="totalDayOfCulture">{{ detail.totalDayOfCulture }}</td>
            <td class="finalAdg">{{ detail.finalAdg }}</td>
            <td class="finalFcr">{{ detail.finalFcr }}</td>
            <td class="srPercentage">{{ detail.srPercentage }}</td>
            <td class="totalSeedCost">{{ detail.totalSeedCost|number_format(2,'.',',') }}</td>
            <td class="totalSeedCost">{{ detail.totalFeedCost|number_format(2,'.',',') }}</td>
            <td class="feedCostPerKgFish">{{ detail.feedCostPerKgFish|number_format(2,'.',',') }}</td>
            <td class="totalOtherCost">{{ detail.totalOtherCost|number_format(2,'.',',') }}</td>
            <td class="totalCost">{{ detail.totalCost|number_format(2,'.',',') }}</td>
            <td class="productionCostPerKgFish">{{ detail.productionCostPerKgFish|number_format(2,'.',',') }}</td>
            <td class="totalIncome">{{ detail.totalIncome|number_format(2,'.',',') }}</td>
            <td class="netProfitOrLoss">{{ detail.netProfitOrLoss|number_format(2,'.',',') }}</td>
            <td class="retuneOverInvestment">{{ detail.retuneOverInvestment|number_format(2,'.',',') }}</td>
            <td class="farmerRemarks">{{ detail.farmerRemarks }}</td>
            <td class="employeeRemarks">{{ detail.employeeRemarks }}</td>
            <td>
                <a data-action="{{ path('fish_life_cycle_detail_delete',{id:detail.id}) }}" class="btn btn-danger btn-sm remove">x</a>
            </td>
        </tr>
    {% endfor %}

{% endif %}


