<table class="table table-striped table-bordered table-hover download-excel" id="fcrReportDetails">
    <thead>
    <tr>
        <th data-a-h="center" class="border-0" colspan="15"><h3 class="text-center">NOURISH POULTRY AND HATCHERY LTD</h3></th>
    </tr>
    <tr>
        <th data-a-h="center" class="border-0" colspan="15"><h5 class="text-center">UTTARA, DHAKA.</h5></th>
    </tr>

    <tr>
        <td data-a-h="center" class="border-0" colspan="15" align="center"><h6>{{ reportSlug is defined ? reportSlug|replace({'-': ' '}) |upper:'' }}</h6></td>
    </tr>
    </thead>
    {% if entities is defined and entities['records'] is defined and entities['records'] is not empty %}
        <thead class="thead-dark">
        <tr>
            <th scope="col" width="50">S/N</th>
            <th scope="col">Parameter</th>
            <th scope="col">Quantity</th>
            <th scope="col">Observation</th>
        </tr>
        </thead>

    {% endif %}
</table>

