{% extends 'admin/layout.html.twig' %}
{% block body %}

    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header hidden-print">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('crm_expense') }}">  {{ 'Expense'|trans }}</a></li>
                        <li class="breadcrumb-item"> <a href="javascript:">{{ 'Details'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row hidden-print">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Monthly Expense'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
{#                            <a href="{{ path('crm_expense_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>#}
                            <a href="{{ path('crm_expense') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Expense'|trans }}</a>
                            {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_LINE_MANAGER') or is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_CRM_AQUA_ADMIN') or is_granted('ROLE_CRM_SALES_MARKETING_ADMIN') %}
                                <a style="margin-left: 5px" href="{{ path('crm_expense_batch') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Expense for Process'|trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box ">
                    <div class="portlet-title">
                        <div class="caption">{{ 'Monthly Expense'|trans }} </div>
                        {% if expenseBatch%}
                        <div style="float: right; padding-right: 15px" class="caption hidden-print">
                            <div class="pull-right">
                                <button class="btn btn-info btn-sm" id="windowPrint"><i class="fa fa-print"></i> </button>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    <div class="portlet-body form expense_form_section expense_body" id="expense_form_section">

                        <div style="text-align: center">
                            <h4>Nourish Poultry & Hatchery Ltd.</h4>
                            <h6>Uttara, Dhaka</h6>
                            <h6>Monthly TA DA Bill</h6>
                            <h6>Month: {{ yearMonth|date('F Y') }}</h6>
                        </div>
                        <div class="">
                            <div class="col-md-6">
                                <h6>Name: {{ employee.name|default('')}}</h6>
                                <h6>Designation: {{employee.designation.name|default('')}}</h6>

                            </div>
                            <div class="col-md-6 text-center">
                                <h6>Employee Id: {{ employee.userId|default('') }}</h6>
                                <h6>Vehicle Type: {{ employee.typeOfVehicle|default('')|capitalize }} /  No: {{ employee.vehicleNo|default('') }}</h6>
                            </div>
                        </div>
                        {% if statusIsOneEntities is defined and statusIsOneEntities|length > 0 %}
                        <form class="form-horizontal right" method="post" enctype="multipart/form-data" action="{{ path('crm_expense_process',{'employee':employee.id}) }}">
                            <input type="hidden" name="monthYear" value="{{ yearMonth }}">
                      {% endif %}
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th rowspan="2" class="hidden-print">SL</th>
                                <th class="w-80" rowspan="2">Date</th>
                                <th rowspan="2" class="hidden-print">Schedule</th>
                                <th rowspan="2">Visiting Area</th>
                                <th rowspan="2">Area</th>
                                {% if areaWiseExpenseParticulars is defined and areaWiseExpenseParticulars['areaName'] is defined and areaWiseExpenseParticulars['areaName'] is iterable %}
                                    {% for areaId, expenseParticularAttribute in areaWiseExpenseParticulars['areaName'] %}
                                        <th colspan="{{ areaWiseExpenseParticulars['chartDetails'][areaId]|length }}" class="text-center" scope="col">{{ expenseParticularAttribute }}</th>
                                    {% endfor %}
                                {% endif %}

                                {% if typeOfVehicles is not empty %}
                                    {% for typeOfVehicle in typeOfVehicles%}
                                        <th rowspan="2">{{ typeOfVehicle.name }}</th>
                                    {% endfor %}
                                {% endif %}

                                <th rowspan="2">Total Milage (Tk.)</th>
                                <th rowspan="2">Total Milage (Km)</th>
                                <th rowspan="2">Total</th>
                                <th rowspan="2" class="hidden-print" scope="col text-center"><i class="feather icon-settings"></i></th>
                            </tr>
                            <tr>
                                {% if areaWiseExpenseParticulars is defined and areaWiseExpenseParticulars['areaName'] is defined and areaWiseExpenseParticulars['areaName'] is iterable %}
                                    {% for areaId, expenseParticularAttribute in areaWiseExpenseParticulars['areaName'] %}
                                        {% if areaWiseExpenseParticulars is defined and areaWiseExpenseParticulars['chartDetails'] is defined and areaWiseExpenseParticulars['chartDetails'][areaId] is defined and areaWiseExpenseParticulars['chartDetails'][areaId] is iterable %}
                                            {% for expenseChart in areaWiseExpenseParticulars['chartDetails'][areaId] %}
                                                <th class="text-center" scope="col">{{ expenseChart.particularName }}</th>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </tr>
                            </thead>
                            {% if entities is defined %}
                            <tbody>
                                {% set totalLineTotal=0 %}
                                {% set grandTotalMilage=0 %}
                                {% if entities is defined and entities is not empty %}
                                    {% for entity in entities %}
                                    {% set lineTotal= 0 %}
                                        <tr class="expense_id_{{ entity.id }}">
                                            <td class="hidden-print">
                                                {{ loop.index }}

                                            </td>
                                            <td class="w-80">{{ entity.expenseDate|date('d-m-Y') }}</td>
                                            <td class="hidden-print">{{ entity.scheduleVisit }}</td>
                                            <td>{{ entity.visitLocation|default('') }}</td>
                                            <td>{{ entity.workingArea.name|default('') }}</td>

                                            {% if areaWiseExpenseParticulars is defined and areaWiseExpenseParticulars['areaName'] is defined and areaWiseExpenseParticulars['areaName'] is iterable %}
                                                {% for areaId, expenseParticularAttribute in areaWiseExpenseParticulars['areaName'] %}
                                                    {% if areaWiseExpenseParticulars is defined and areaWiseExpenseParticulars['chartDetails'] is defined and areaWiseExpenseParticulars['chartDetails'][areaId] is defined and areaWiseExpenseParticulars['chartDetails'][areaId] is iterable %}
                                                        {% for chartDetailsId, expenseChart in areaWiseExpenseParticulars['chartDetails'][areaId] %}
                                                            {% set expenseParticularId = expensePaticularAmount['inLine'] is defined and expensePaticularAmount['inLine'][entity.employee.id][entity.id][chartDetailsId][expenseChart.particularId] is defined ? expensePaticularAmount['inLine'][entity.employee.id][entity.id][chartDetailsId][expenseChart.particularId]['expenseParticularId']:'' %}
                                                            {% set amount = expensePaticularAmount['inLine'] is defined and expensePaticularAmount['inLine'][entity.employee.id][entity.id][chartDetailsId][expenseChart.particularId] is defined ? expensePaticularAmount['inLine'][entity.employee.id][entity.id][chartDetailsId][expenseChart.particularId]['amount']|number_format(2,'.',''):0 %}
                                                            {% set lineTotal = lineTotal + amount %}

                                                            <td class="text-right">
                                                                {% if expensePaticularAmount['inLine'] is defined and expensePaticularAmount['inLine'][entity.employee.id][entity.id][chartDetailsId][expenseChart.particularId] is defined and expensePaticularAmount['inLine'][entity.employee.id][entity.id][chartDetailsId][expenseChart.particularId]['path'] is not empty%}
                                                                    <a title="Attachment Available" href="{{ asset('uploads/expense/'~expensePaticularAmount['inLine'][entity.employee.id][entity.id][chartDetailsId][expenseChart.particularId]['path']) }}" download>
                                                                        {{ expensePaticularAmount['inLine'] is defined? expensePaticularAmount['inLine'][entity.employee.id][entity.id][chartDetailsId][expenseChart.particularId]['amount']|number_format(2,'.',','):'0.00' }}
                                                                    </a>
                                                                {% else %}
                                                                    {{ amount|number_format(2,'.',',') }}
{#                                                                    == {{ expenseParticularId }}#}
                                                                {% endif %}
                                                            </td>

                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}

                                            {% set totalMilage = 0 %}
                                            {% if typeOfVehicles is not empty %}
                                                {% for typeOfVehicle in typeOfVehicles%}
                                                    <td class="text-right">
                                                        {% set conveyanceAmount = conveyanceDetailsTotalAmount['data'] is defined and conveyanceDetailsTotalAmount['data'][entity.id] is defined and conveyanceDetailsTotalAmount['data'][entity.id][typeOfVehicle.slug] is defined?conveyanceDetailsTotalAmount['data'][entity.id][typeOfVehicle.slug]['totalAmount']|number_format(2,'.',''):0 %}

                                                        {% if typeOfVehicle.slug=='motorcycle' %}
                                                            {% set totalMileageKm = conveyanceDetailsTotalAmount['data'] is defined and conveyanceDetailsTotalAmount['data'][entity.id] is defined and conveyanceDetailsTotalAmount['data'][entity.id][typeOfVehicle.slug] is defined?conveyanceDetailsTotalAmount['data'][entity.id][typeOfVehicle.slug]['totalMileage']:0 %}
                                                            {% set totalMilage = totalMilage + totalMileageKm %}
                                                            {% set grandTotalMilage=grandTotalMilage+totalMilage %}

                                                        {% endif %}
                                                        {% set lineTotal = lineTotal + conveyanceAmount %}

                                                        {{ conveyanceAmount|number_format(2,'.',',') }}
                                                    </td>
                                                {% endfor %}
                                            {% endif %}

                                            <td class="text-right">
                                                {{ (totalMilage*3.5)|number_format(2,'.',',') }}
                                            </td>
                                            <td class="text-right">{{ totalMilage }}</td>
                                            <td class="text-right">{{ (lineTotal+(totalMilage*3.5))|number_format(2,'.',',') }}</td>
                                            <td class="hidden-print">
                                                {% if entity.status==1 %}
                                                    <input type="hidden" name="expense[{{ entity.id }}]" value="{{ entity.id }}">
                                                <div class="btn-group">
                                                <a style="margin-right: 2px" class="btn btn-primary btn-mini white-font" href="{{ path('crm_expense_edit',{'id':entity.id}) }}"><i class="fa fa-edit"></i></a>
{#                                                <a class="btn btn-danger btn-mini white-font removeReload" href="javascript:" data-action="{{ path('crm_expense_delete',{'id':entity.id}) }}"><i class="fa fa-remove"></i></a>#}
                                                </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                <tr class="text-right">
                                    <th class="text-right hidden show-print" colspan="3">Total</th>
                                    <th class="text-right hidden-print" colspan="5">Total</th>
                                    {% if areaWiseExpenseParticulars is defined and areaWiseExpenseParticulars['areaName'] is defined and areaWiseExpenseParticulars['areaName'] is iterable %}
                                        {% for areaId, expenseParticularAttribute in areaWiseExpenseParticulars['areaName'] %}
                                            {% if areaWiseExpenseParticulars is defined and areaWiseExpenseParticulars['chartDetails'] is defined and areaWiseExpenseParticulars['chartDetails'][areaId] is defined and areaWiseExpenseParticulars['chartDetails'][areaId] is iterable %}
                                                {% for chartDetailsId, expenseChart in areaWiseExpenseParticulars['chartDetails'][areaId] %}
                                                    {% set totalAmount = expensePaticularAmount['grandTolalPerColumn'] is defined and expensePaticularAmount['grandTolalPerColumn'][chartDetailsId] is defined ?expensePaticularAmount['grandTolalPerColumn'][chartDetailsId][expenseChart.particularId]|arraySumColWise('amount')|number_format(2,'.',''):0 %}
                                                    {% set totalLineTotal = totalLineTotal + totalAmount %}
                                                    <td class="text-right">{{ totalAmount|number_format(2,'.',',') }}</td>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if typeOfVehicles is not empty %}
                                        {% for typeOfVehicle in typeOfVehicles%}
                                            <td class="text-right">
                                                {% set conveyanceTotalAmount = conveyanceDetailsTotalAmount['grandTotal'] is defined and conveyanceDetailsTotalAmount['grandTotal'][typeOfVehicle.slug] is defined ? conveyanceDetailsTotalAmount['grandTotal'][typeOfVehicle.slug]|arraySum()|number_format(2,'.',''):0 %}

                                                {% set totalLineTotal = totalLineTotal + conveyanceTotalAmount %}

                                                {{ conveyanceTotalAmount|number_format(2,'.',',') }}
                                            </td>
                                        {% endfor %}
                                    {% endif %}

                                    <td>{{ (grandTotalMilage*3.5)|number_format(2,'.',',') }}</td>
                                    <td>{{ grandTotalMilage }}</td>
                                    <th class="text-right">{{ (totalLineTotal+(grandTotalMilage*3.5))|number_format(2,'.',',') }}</th>
                                    <th class="hidden-print"></th>

                                </tr>
                            </tbody>
                            {% endif %}

                        </table>
{#                            {% if expenseBatch is null %}#}
                            {% if statusIsOneEntities is defined and statusIsOneEntities|length > 0 %}
                            <div class="hidden-print" style="padding-bottom: 20px">

                                <div class="col-md-12 text-right">
                                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                                        <button type="submit" value="process" class="btn btn-sm btn-primary">Process</button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                        {% endif %}
                    </div>

                    {% if expenseBatch is not null and expenseBatch.status>1 %}
                        <table width="100%" class="no-bordered" style="margin-bottom: 20px; margin-top: 30px">
                            <tr>
                                <th style="text-align: center; color: #000">{{ expenseBatch.employee.name|default('') }}</th>
                                <th style="text-align: center; color: #000">{{ expenseBatch.approvedBy.name|default('') }}</th>
                                <th style="text-align: center; color: #000"></th>
                                <th style="text-align: center; color: #000"></th>
                                <th style="text-align: center; color: #000"></th>
                                <th style="text-align: center; color: #000"></th>
                                <th style="text-align: center; color: #000"></th>
                                <th style="text-align: center; color: #000"></th>
                            </tr>
                            <tr>
                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Submited by</span></th>
                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Approved By</span></th>
                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Cheked by(H/O)</span></th>
                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Hr & Admin</span></th>
                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Junior AGM(MKT Info )</span></th>
                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Senior DGM (S&S)</span></th>
                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">GM (S&M)</span></th>
                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">AVP (S&M)</span></th>
                            </tr>
                        </table>
                    {% endif %}
                </div>

                <style>
                    #expense_form_vehicle .checkbox{
                        width: unset;
                        padding-right: 30px;
                    }
                </style>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
     <style>
         @media print {
             .hidden-print {
                 display: none!important;
             }
             .show-print {
                 display: table-cell!important;
             }

             .expense_body{
                 min-height: 1250px!important;
             }
             .w-80{
                    width: 80px!important;
             }
         }
     </style>
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script>
        $('#windowPrint').on('click', function () {
            window.print();
        })
    </script>
{% endblock  %}