{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <strong>{{ 'Expense Status'|trans }}</strong></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-block">

                    <div class="row">
                        <div class="col-md-10">
                            {{ form_start(form, { 'attr' : { 'class': 'sales_marketing_search_form' } }) }}
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_widget(form.visitDate) }}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_widget(form.employee, {'attr': {'required': false }, 'required': false}) }}
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    {{ form_widget(form._token) }}
                                    <button type="submit" name="search" class="btn btn-primary btn-sm" title="Search" value="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            </form>
                        </div>
                        <div class="col-md-2 text-right">
                            <button type="button" name="excel" class="btn blue-bg btn-sm white-font" title="Excel" value="excel" id="button-excel"><i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'Excel'|trans }}</button>
                        </div>
                    </div>
                    <h5 class="text-center">{{ ('01-'~requestDate)|date('F, Y') }}</h5>
                    <table class="table table-striped table-bordered table-hover download-excel" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th rowspan="2" style="width: 3%" scope="col">Line Manager</th>
                            <th rowspan="2" style="width: 3%" scope="col">S/N</th>
                            <th colspan="2" scope="col">{{ 'Employee'|trans }}</th>
                            {% if arrayDays is defined and arrayDays is not empty %}
                                {% for day, arrayDay in arrayDays %}
                                    <th rowspan="2" data-entity-date="{{ day }}" class="text-center" scope="col">{{ arrayDay }}</th>
                                {% endfor %}
                            {% endif %}
                        </tr>
                        <tr>
                            <th style="width: 5%" scope="col">{{ 'Id'|trans }}</th>
                            <th style="width: 12%" scope="col">{{ 'Name'|trans }}</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% if employees is defined and  employees is not empty %}
                            {% for lineManagerId, lineManagerData in employees %}
                                {% if lineManagerData is not empty %}
                                    {% for index, employee in lineManagerData %}
                                        <tr>
                                            {% if loop.first %}
                                                <td rowspan="{{ lineManagerData|length }}">{{ employee.lineManagerName }}</td>
                                            {% endif %}
{#                                            <td>{{ employee.lineManagerName }} == {{ lineManagerData|length }}</td>#}
                                            <td>{{ index+1 }}</td>
                                            <td>{{ employee.userId }}</td>
                                            <td>{{ employee.name }}</td>
                                            {% if arrayDays is defined and arrayDays is not empty %}
                                                {% for day, arrayDay in arrayDays %}
                                                    <td data-entity-date="{{ day }}" class="text-center" scope="col">
                                                        {{ entities is defined and entities is not empty and entities[employee.id] is defined and entities[employee.id][day] is defined and entities[employee.id][day] is not empty ? '<span style="color:green; font-weight:bold;font-size:14px">Y</span>' : '<span style="color:red">X</span>'}}
                                                    </td>
                                                {% endfor %}
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            {% else %}
                            
                            <tr>
                                <td colspan="35" class="text-center">No data found</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/terminalbdcrm/css/crm.css') }}">
    <style>
        .editable-click, a.editable-click, a.editable-click:hover {
            text-decoration: none;
            border-bottom: dashed 1px #0088cc;
        }

        .hide-calendar .ui-datepicker-calendar{
            display: none;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/plugins/bootstrap-editable/js/bootstrap4-editable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/tableToExcel.js') }}"></script>

    <script type="text/javascript">
        $('.monthYearPicker').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'mm-yy',
            autoClose:true,
            onClose: function() {
                $(this).datepicker('widget').removeClass('hide-calendar');
                $("#ui-datepicker-div").removeClass('monthYearPicker');
                var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
            },

            beforeShow: function(input) {
                $(input).datepicker("widget").addClass('hide-calendar');
                $("#ui-datepicker-div").addClass('monthYearPicker');
                // console.log($(this).val());
                if ((selDate = $(this).val()).length > 0)
                {
                    iYear = selDate.substring(selDate.length - 4, selDate.length);
                    iMonth = selDate.substring(0, 2);
                    // iMonth = jQuery.inArray(selDate.substring(1, 2), $(this).datepicker('option', 'monthNames'));
                    // console.log(iMonth);
                    iMonth = iMonth-1;
                    $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
                    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
                }
            }
        });


        let button = document.querySelector("#button-excel");

        if(button){
            button.addEventListener("click", e => {
                e.preventDefault();
                let table = document.querySelector(".download-excel");
                TableToExcel.convert(table, {
                    name: "tour-plan-summery.xlsx",
                    sheet: {
                        name: "Sheet 1"
                    }
                });
            });
        }

    </script>

{% endblock  %}

{% block documentready %}
    {{ parent() }}
{#    <script>#}
    $.fn.editable.defaults.mode ='inline';
    {#    $.fn.editable.defaults.mode = 'popover';#}
    $('.editable').editable();
{% endblock %}
