{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('crm_expense_particular_type') }}">  {{ 'Particular'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Settings'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('crm_expense_vehicle_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                            <a href="{{ path('crm_expense_particular_type') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Particular'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Name</th>
                            <th scope="col">Slug</th>
                            <th scope="col">Type</th>
                            <th scope="col">Payment Type</th>
                            <th scope="col">Sort Order</th>
                            <th scope="col">Status</th>
                            <th scope="col text-center"><i class="feather icon-settings"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.slug|default('') }}</td>
                            <td>
                                {{ entity.settingType=='DAILY_EXPENSE_PARTICULAR'? 'Daily':'' }}
                                {{ entity.settingType=='MONTHLY_EXPENSE_PARTICULAR'? 'Monthly':'' }}
                            </td>
                            <td>{{ entity.expensePaymentType is not empty ? entity.expensePaymentType|default(''):'' }}</td>
                            <td>
                                <a
                                        data-type="number"
                                        class="editable"
                                        id="sort_order-{{ entity.id }}"
                                        data-name="sort_order"
                                        href="javascript:"
                                        data-url="{{ path('crm_setting_sort_order_update',{'id':entity.id}) }}"
                                        data-pk="{{ entity.id }}"
                                        data-value="">{{ entity.sortOrder }}</a>
                                </td>
                            {#<td>{% if entity.settingType is defined and  entity.settingType is not empty %}{{ entity.settingType.name }}{% endif %}</td>#}
                            <td>{% if entity.status is not empty %}Yes {% else %}No {% endif %}</td>
                            <td>
                                <a class="btn btn-mini yellow-bg white-font" href="{{ path('crm_expense_vehicle_edit',{'id':entity.id}) }}"><i class="feather icon-edit"></i> Edit</a>
                                <a class="btn  btn-transparent btn-mini red-font remove" href="javascript:" data-action="{{ path('crm_setting_delete',{'id':entity.id}) }}"><i class="fa fa-remove"></i></a>
                            </td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/plugins/bootstrap-editable/js/bootstrap4-editable.js') }}"></script>
{% endblock  %}
{% block documentready %}
{#<script>#}
    {{ parent() }}

    $.fn.editable.defaults.mode ='inline';
    {#    $.fn.editable.defaults.mode = 'popover';#}
    $('.editable').editable();

    $('#datatable').DataTable( {
    "pageLength": 25,
    'columnDefs': [ {
    'targets': [0,4,5,6],
    'orderable': false
    }],
        rowCallback: function (row, data, index) {
            if ( data[6]==='No' ) {
                $(row).addClass('disabled');
                $(row).attr('title','This item is disabled');
            }
        },
    });
{% endblock %}
