{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('crm_expense') }}">  {{ 'Expense'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Monthly Expense'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
{#                            <a style="margin-right: 5px" class="btn btn-primary btn-sm" href='{{ path('crm_expense_new') }}' id='' >{{ 'Add Expense' }}</a>#}
                            <a href="{{ path('crm_expense') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Expense'|trans }}</a>

                            {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_LINE_MANAGER') or is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_CRM_AQUA_ADMIN') or is_granted('ROLE_CRM_SALES_MARKETING_ADMIN') %}
                            <a style="margin-left: 5px" href="{{ path('crm_expense_batch') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Expense for Approval'|trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th rowspan="2" scope="col">S/N</th>
                            <th rowspan="2" scope="col">Employee Name</th>
                            <th rowspan="2" scope="col">Expense Month</th>
{#                            <th scope="col">Purpose</th>#}
                            {% if areaWiseExpenseParticulars is defined and areaWiseExpenseParticulars['areaName'] is defined and areaWiseExpenseParticulars['areaName'] is iterable %}
                                {% for areaId, expenseParticularAttribute in areaWiseExpenseParticulars['areaName'] %}
                                <th colspan="{{ areaWiseExpenseParticulars['chartDetails'][areaId]|length }}" class="text-center" scope="col">{{ expenseParticularAttribute }}</th>
                                {% endfor %}
                            {% endif %}

                            {% if typeOfVehicles is not empty %}
                                {% for typeOfVehicle in typeOfVehicles%}
                                    <th rowspan="2">{{ typeOfVehicle.name }}</th>
                                {% endfor %}
                            {% endif %}
                            {% if employeeVehicleType == 'motorcycle' %}
                            <th rowspan="2">Total Milage (Tk.)</th>
                            {% endif %}

                            <th rowspan="2">Total</th>

                            <th rowspan="2" scope="col text-center"><i class="feather icon-settings"></i></th>
                        </tr>
                        <tr>
                            {% if areaWiseExpenseParticulars is defined and areaWiseExpenseParticulars['areaName'] is defined and areaWiseExpenseParticulars['areaName'] is iterable %}
                                {% for areaId, expenseParticularAttribute in areaWiseExpenseParticulars['areaName'] %}
                                    {% if areaWiseExpenseParticulars is defined and areaWiseExpenseParticulars['chartDetails'] is defined and areaWiseExpenseParticulars['chartDetails'][areaId] is defined and areaWiseExpenseParticulars['chartDetails'][areaId] is iterable %}
                                        {% for expenseChart in areaWiseExpenseParticulars['chartDetails'][areaId] %}
                                            <th class="text-center" scope="col">{{ expenseChart.particularName }}</th>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </tr>


                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            {% set totalAmount=0 %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ entity.employeeName }}</td>
                                <td>{{ entity.expenseMonthYear|date('M Y')}}</td>

                                {% if areaWiseExpenseParticulars is defined and areaWiseExpenseParticulars['areaName'] is defined and areaWiseExpenseParticulars['areaName'] is iterable %}
                                    {% for areaId, expenseParticularAttribute in areaWiseExpenseParticulars['areaName'] %}
                                        {% if areaWiseExpenseParticulars is defined and areaWiseExpenseParticulars['chartDetails'] is defined and areaWiseExpenseParticulars['chartDetails'][areaId] is defined and areaWiseExpenseParticulars['chartDetails'][areaId] is iterable %}
                                            {% for chartDetailsId, expenseChart in areaWiseExpenseParticulars['chartDetails'][areaId] %}
                                                {% set amount = expensePaticularTotalAmount[entity.employeeAutoId] is defined  and
                                                    expensePaticularTotalAmount[entity.employeeAutoId][entity.expenseMonthYear|date('Y-m')] is defined and
                                                    expensePaticularTotalAmount[entity.employeeAutoId][entity.expenseMonthYear|date('Y-m')][chartDetailsId] is defined  and
                                                    expensePaticularTotalAmount[entity.employeeAutoId][entity.expenseMonthYear|date('Y-m')][chartDetailsId][expenseChart.particularId] is defined ? expensePaticularTotalAmount[entity.employeeAutoId][entity.expenseMonthYear|date('Y-m')][chartDetailsId][expenseChart.particularId]['totalAmount']|number_format(2,'.',''):'0.00' %}
                                                {% set totalAmount= totalAmount +  amount%}
                                                <td class="text-right">{{ amount|number_format(2,'.',',') }}</td>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                {% set totalMilage = 0 %}

                                {% if typeOfVehicles is not empty %}
                                    {% for typeOfVehicle in typeOfVehicles%}
                                        <td class="text-right">
                                            {% set conveyanceAmount = conveyenceTotalAmount is defined and
                                                conveyenceTotalAmount[entity.employeeAutoId] is defined and
                                                conveyenceTotalAmount[entity.employeeAutoId][entity.expenseMonthYear|date('Y-m')] is defined and
                                                conveyenceTotalAmount[entity.employeeAutoId][entity.expenseMonthYear|date('Y-m')][typeOfVehicle.slug] is defined ? conveyenceTotalAmount[entity.employeeAutoId][entity.expenseMonthYear|date('Y-m')][typeOfVehicle.slug]['totalAmount']|number_format(2,'.',''):0 %}

                                            {% if typeOfVehicle.slug=='motorcycle' %}
                                                {% set milage = conveyenceTotalAmount is defined and
                                                    conveyenceTotalAmount[entity.employeeAutoId] is defined and
                                                    conveyenceTotalAmount[entity.employeeAutoId][entity.expenseMonthYear|date('Y-m')] is defined and
                                                    conveyenceTotalAmount[entity.employeeAutoId][entity.expenseMonthYear|date('Y-m')][typeOfVehicle.slug] is defined ? conveyenceTotalAmount[entity.employeeAutoId][entity.expenseMonthYear|date('Y-m')][typeOfVehicle.slug]['totalMileage']|number_format(2,'.',''):0 %}

                                                {% set totalMilage = totalMilage + milage %}
                                            {% endif %}

                                            {% set totalAmount= totalAmount +  conveyanceAmount%}

                                            {{ conveyanceAmount|number_format(2,'.',',') }}
                                        </td>
                                    {% endfor %}
                                {% endif %}

                                {% if employeeVehicleType == 'motorcycle' %}
                                    <td>
                                        {{ (totalMilage*3.5)|number_format(2,'.',',') }}
                                    </td>
                                {% endif %}

                                <td class="text-right">
                                    {{ (totalAmount+(totalMilage*3.5))|number_format(2,'.',',') }}
                                </td>
                                <td>
                                    <a title="Details" class="btn btn-mini blue-bg white-font" href="{{ path('crm_expense_details',{'employee':entity.employeeAutoId, 'monthYear':entity.expenseMonthYear}) }}"><i class="feather icon-eye"></i> Details</a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}

