<div class="portlet box ">
    <div class="portlet-title">
        <div class="caption">{{ 'Expense'|trans }} </div>
    </div>

    <div class="portlet-body form expense_form_section" id="expense_form_section">
        {{ form_start(form, {'attr': {'action': path('crm_expense_edit',{'id':entity.id}), 'id':'expense_form','method':'post','class': 'form-horizontal right'}}) }}
        <div class="row form-body expense_form_body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.schedule_visit, 'Schedule Visit'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                            <div class="col-md-10">
                                <span class="not-blank"> *</span>

                                {{ form_widget(form.schedule_visit) }}
                                {{ form_errors(form.schedule_visit) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.expenseDate, 'Date'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                            <div class="col-md-10">
                                <span class="not-blank"> *</span>
                                <div class="date_section">
                                {{ form_widget(form.expenseDate) }}
                                {{ form_errors(form.expenseDate) }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(form.purpose, 'Purpose'|trans, {'label_attr': {'class': 'col-md-1'}}) }}
                            <div class="col-md-11">
                                <span class="not-blank"> *</span>

                                {{ form_widget(form.purpose) }}
                                {{ form_errors(form.purpose) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(form.vehicle, 'Vehicle: '|trans, {'label_attr': {'class': 'col-md-1','style': 'margin-top: -10px; text-align:left'}}) }}
                            <div class="col-md-11">
                                {{ form_widget(form.vehicle) }}
                                {{ form_errors(form.vehicle) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="card-header grey-bg inner-header">
                    <h5>Conveyance</h5>
                    <div class="card-header-right">
                    </div>
                </div>
                <div class="card-body card-body-inner">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.conveyance, 'Conveyance '|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                <div class="col-md-8">
                                    {#<span class="not-blank"> *</span>#}
                                    {{ form_widget(form.conveyance) }}
                                    {{ form_errors(form.conveyance) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.daily_allowance, 'Daily Allowance '|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.daily_allowance) }}
                                    {{ form_errors(form.daily_allowance) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.hotel_rent, 'Hotel Rent '|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.hotel_rent) }}
                                    {{ form_errors(form.hotel_rent) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.photostate, 'Photostate '|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.photostate) }}
                                    {{ form_errors(form.photostate) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.courier, 'Courier '|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                <div class="col-md-8">
                                    {#<span class="not-blank"> *</span>#}

                                    {{ form_widget(form.courier) }}
                                    {{ form_errors(form.courier) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.food, 'Food '|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.food) }}
                                    {{ form_errors(form.food) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.mobile, 'Mobile '|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.mobile) }}
                                    {{ form_errors(form.mobile) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.maintenace, 'Maintenace '|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.maintenace) }}
                                    {{ form_errors(form.maintenace) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.toll_bill, 'Toll bill '|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.toll_bill) }}
                                    {{ form_errors(form.toll_bill) }}
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.service_charge, 'Service charge '|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.service_charge) }}
                                    {{ form_errors(form.service_charge) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.others, 'Others '|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.others) }}
                                    {{ form_errors(form.others) }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-actions">
                    <div class="col-md-6 ">

                    </div>
                    <div class="col-md-6 text-right">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                            {{ form_widget(form.SaveAndCreate, {type: 'button',label: 'label.save.continue',value:'label.save.continue', attr: { class: 'btn btn-info form-submit expense_form_button'}}) }}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        {{ form_widget(form._token) }}
        {{ form_end(form) }}
    </div>
</div>

<style>
    #expense_form_vehicle .checkbox{
        width: unset;
        padding-right: 30px;
    }
</style>