{% extends 'admin/layout.html.twig' %}
{#{% block body_id 'kpi_domain_new' %}#}
{% block body %}

    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('crm_expense') }}">  {{ 'Expense'|trans }}</a></li>
                        <li class="breadcrumb-item"> <a href="javascript:">{{ 'Add New'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Daily Expense'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
{#                            <a href="{{ path('crm_expense_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>#}
                            <a href="{{ path('crm_expense') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Expense'|trans }}</a>
                            {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_LINE_MANAGER') or is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_CRM_AQUA_ADMIN') or is_granted('ROLE_CRM_SALES_MARKETING_ADMIN') %}
                                <a style="margin-left: 5px" href="{{ path('crm_expense_batch') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Expense for Approval'|trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box ">
                    <div class="portlet-title">
                        <div class="caption">{{ 'Daily Expense'|trans }} </div>
                    </div>

                    <div class="portlet-body form expense_form_section" id="expense_form_section">
                        {{ form_start(form, {'attr': {'action': path('crm_expense_edit',{'id':entity.id}), 'id':'expense_form','method':'post','class': 'form-horizontal right','enctype':'multipart/form-data'}}) }}
                        <div class="row form-body expense_form_body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.schedule_visit, 'Schedule Visit'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>

                                                {{ form_widget(form.schedule_visit) }}
                                                {{ form_errors(form.schedule_visit) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.expenseDate, 'Date'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>
                                                <div class="date_section">
                                                    {{ form_widget(form.expenseDate) }}
                                                    {{ form_errors(form.expenseDate) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.visitLocation, 'Location'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.visitLocation) }}
                                                {{ form_errors(form.visitLocation) }}
                                                <span>Enter your locations (,) separate</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.workingArea, 'Area'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> *</span>

                                                {{ form_widget(form.workingArea) }}
                                                {{ form_errors(form.workingArea) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>Conveyance</h5>
                                    <div class="card-header-right">
                                    </div>
                                </div>

                                <div class="card-body card-body-inner">
                                    <div class="row">
                                        {% if fixedDailyExpenseParticular is defined and fixedDailyExpenseParticular is not empty %}
                                            <div class="col-md-6">
                                                <table class="table table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th width="5%">#</th>
                                                        <th width="50%">Particular Name</th>
                                                        <th width="45%">Amount (TK)</th>
{#                                                        <th>Attachment (pdf/image)</th>#}
{#                                                        <th></th>#}
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for dailyExpenseParticular in fixedDailyExpenseParticular %}
                                                        <tr>
                                                            <td>
                                                                <input type="checkbox" name="particular_id[{{ entity.id }}][{{ dailyExpenseParticular.expenseChartDetailId }}][{{ dailyExpenseParticular.particularId }}]" value="{{ expenseParticulars[entity.id][dailyExpenseParticular.expenseChartDetailId][dailyExpenseParticular.particularId] is defined ? expenseParticulars[entity.id][dailyExpenseParticular.expenseChartDetailId][dailyExpenseParticular.particularId]['amount']: dailyExpenseParticular.amount }}" {{ expenseParticulars[entity.id][dailyExpenseParticular.expenseChartDetailId][dailyExpenseParticular.particularId] is defined ? 'checked="checked"':'' }}>
                                                            </td>
                                                            <td>
                                                                {{ dailyExpenseParticular.particularName }} ( for {{ dailyExpenseParticular.areaName }})
                                                            </td>
                                                            <td>
                                                                <input class="form-control" type="number" min="0" step="any" name="amount[{{ entity.id }}][{{ dailyExpenseParticular.expenseChartDetailId }}][{{ dailyExpenseParticular.particularId }}]" value="{{ expenseParticulars[entity.id][dailyExpenseParticular.expenseChartDetailId][dailyExpenseParticular.particularId] is defined ? expenseParticulars[entity.id][dailyExpenseParticular.expenseChartDetailId][dailyExpenseParticular.particularId]['amount']: dailyExpenseParticular.amount }}">
                                                            </td>
                                                            <td>
                                                                {% if expenseParticulars[entity.id][dailyExpenseParticular.expenseChartDetailId][dailyExpenseParticular.particularId] is defined %}
                                                                    <a onclick="return confirm('Press a button!')" href="{{ path('crm_expense_particular_delete',
                                                                        {
                                                                            'expense':entity.id,
                                                                            'id': expenseParticulars[entity.id][dailyExpenseParticular.expenseChartDetailId][dailyExpenseParticular.particularId]['id']
                                                                        }) }}" class="btn btn-sm btn-danger">
                                                                        X
                                                                    </a>

                                                                {% endif %}
                                                            </td>
                                                            {#<td style="vertical-align: middle">
                                                                <div style="height: 30px" class="custom-file">
                                                                    <input type="file" name="files[{{ entity.id }}][{{ dailyExpenseParticular.expenseChartDetailId }}][{{ dailyExpenseParticular.particularId }}]" class="custom-file-input" style="z-index: 0; height: 30px" id="file_{{ dailyExpenseParticular.particularId }}" aria-describedby="file">
                                                                    <label style="margin-bottom: 0px; height: 30px" class="custom-file-label" for="file_{{ dailyExpenseParticular.particularId }}">Choose file</label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                {% if expenseParticulars[dailyExpenseParticular.id]['path'] is defined and expenseParticulars[dailyExpenseParticular.id]['path'] is not empty %}
                                                                    <a href="{{ asset('uploads/expense/'~expenseParticulars[dailyExpenseParticular.id]['path']|default('')) }}" download>Download</a>
                                                                {% endif %}
                                                            </td>#}
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>

                                        {% endif %}


                                        {% if userDefineDailyExpenseParticular is defined and userDefineDailyExpenseParticular is not empty %}
                                            <div class="col-md-6">
                                                <table class="table table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th width="5%">#</th>
                                                        <th width="50%">Particular Name</th>
                                                        <th width="45%">Amount (TK)</th>
{#                                                        <th>Attachment (pdf/image)</th>#}
{#                                                        <th></th>#}
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for dailyExpenseParticular in userDefineDailyExpenseParticular %}
                                                        <tr>
                                                            <td>
                                                                <input type="checkbox" name="particular_id[{{ entity.id }}][{{ dailyExpenseParticular.expenseChartDetailId }}][{{ dailyExpenseParticular.particularId }}]" value="{{ dailyExpenseParticular.amount }}" {{ expenseParticulars[entity.id][dailyExpenseParticular.expenseChartDetailId][dailyExpenseParticular.particularId] is defined ? 'checked="checked"':'' }}>
                                                            </td>
                                                            <td>
                                                                {{ dailyExpenseParticular.particularName }}
                                                            </td>
                                                            <td>
                                                                <input class="form-control" type="number" min="0" step="any" name="amount[{{ entity.id }}][{{ dailyExpenseParticular.expenseChartDetailId }}][{{ dailyExpenseParticular.particularId }}]" value="{{ expenseParticulars[entity.id][dailyExpenseParticular.expenseChartDetailId][dailyExpenseParticular.particularId] is defined ? expenseParticulars[entity.id][dailyExpenseParticular.expenseChartDetailId][dailyExpenseParticular.particularId].amount:'' }}">
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>

                                        {% endif %}

                                    </div>
                                    {% if typeOfVehicles is not empty and expenseConveyanceDetails is not empty %}

                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>Vehicle Type</th>
                                                    <th>Total Mileage (TK)</th>
                                                    <th>Local Conveyance</th>
                                                    <th>Mobil Bill</th>
                                                    <th>Maintenance Bill</th>
                                                    <th>Servicing Bill</th>
                                                    <th>Toll Bill</th>
                                                    <th>Fuel Bill</th>
                                                    <th>Parking Bill</th>
                                                    <th>Others Bill</th>
                                                    <th>Total Amount</th>
                                                </tr>
                                                </thead>
                                                <tbody>
{#                                                {{ dump(typeOfVehicles) }}#}
                                                    {% for typeOfVehicle in typeOfVehicles%}
                                                        {% if expenseConveyanceDetails[typeOfVehicle.slug] is defined %}
                                                            {% for expenseConveyanceDetail in expenseConveyanceDetails[typeOfVehicle.slug] %}
                                                                {% set totalMileageAmount =  typeOfVehicle.slug=='motorcycle' ? expenseConveyanceDetail.totalMileage * 3.5 : 0 %}
                                                            <tr>
                                                                <td>
                                                                    {{ typeOfVehicle.name }}
                                                                </td>
                                                                <td>
                                                                    {{ totalMileageAmount }}
                                                                </td>
                                                                <td>
                                                                    <a
                                                                            data-type="text"
                                                                            class="editable"
                                                                            id="amount-{{ expenseConveyanceDetail.id|default('') }}"
                                                                            data-name="Amount"
                                                                            href="#"
                                                                            data-url="{{ path('crm_expense_convence_details',{'id':expenseConveyanceDetail.id}) }}"
                                                                            data-pk="{{ expenseConveyanceDetail.id|default('') }}"
                                                                            data-value="{{ expenseConveyanceDetail.amount|default('') }}"
                                                                            data-original-title="Enter amount">
                                                                        {{ expenseConveyanceDetail.amount }}
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <a
                                                                            data-type="text"
                                                                            class="editable"
                                                                            id="mobilBill-{{ expenseConveyanceDetail.id|default('') }}"
                                                                            data-name="MobilBill"
                                                                            href="#"
                                                                            data-url="{{ path('crm_expense_convence_details',{'id':expenseConveyanceDetail.id}) }}"
                                                                            data-pk="{{ expenseConveyanceDetail.id|default('') }}"
                                                                            data-value="{{ expenseConveyanceDetail.mobilBill|default('') }}"
                                                                            data-original-title="Enter amount">
                                                                        {{ expenseConveyanceDetail.mobilBill }}
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <a
                                                                            data-type="text"
                                                                            class="editable"
                                                                            id="maintenanceBill-{{ expenseConveyanceDetail.id|default('') }}"
                                                                            data-name="MaintenanceBill"
                                                                            href="#"
                                                                            data-url="{{ path('crm_expense_convence_details',{'id':expenseConveyanceDetail.id}) }}"
                                                                            data-pk="{{ expenseConveyanceDetail.id|default('') }}"
                                                                            data-value="{{ expenseConveyanceDetail.maintenanceBill|default('') }}"
                                                                            data-original-title="Enter amount">
                                                                        {{ expenseConveyanceDetail.maintenanceBill }}
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <a
                                                                            data-type="text"
                                                                            class="editable"
                                                                            id="servicingBill-{{ expenseConveyanceDetail.id|default('') }}"
                                                                            data-name="ServicingBill"
                                                                            href="#"
                                                                            data-url="{{ path('crm_expense_convence_details',{'id':expenseConveyanceDetail.id}) }}"
                                                                            data-pk="{{ expenseConveyanceDetail.id|default('') }}"
                                                                            data-value="{{ expenseConveyanceDetail.servicingBill|default('') }}"
                                                                            data-original-title="Enter amount">
                                                                        {{ expenseConveyanceDetail.servicingBill }}
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <a
                                                                            data-type="text"
                                                                            class="editable"
                                                                            id="covnence-{{ expenseConveyanceDetail.id|default('') }}"
                                                                            data-name="TollBill"
                                                                            href="#"
                                                                            data-url="{{ path('crm_expense_convence_details',{'id':expenseConveyanceDetail.id}) }}"
                                                                            data-pk="{{ expenseConveyanceDetail.id|default('') }}"
                                                                            data-value="{{ expenseConveyanceDetail.tollBill|default('') }}"
                                                                            data-original-title="Enter amount">
                                                                        {{ expenseConveyanceDetail.tollBill }}
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <a
                                                                            data-type="text"
                                                                            class="editable"
                                                                            id="fuelBill-{{ expenseConveyanceDetail.id|default('') }}"
                                                                            data-name="FuelBill"
                                                                            href="#"
                                                                            data-url="{{ path('crm_expense_convence_details',{'id':expenseConveyanceDetail.id}) }}"
                                                                            data-pk="{{ expenseConveyanceDetail.id|default('') }}"
                                                                            data-value="{{ expenseConveyanceDetail.fuelBill|default('') }}"
                                                                            data-original-title="Enter amount">
                                                                        {{ expenseConveyanceDetail.fuelBill }}
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <a
                                                                            data-type="text"
                                                                            class="editable"
                                                                            id="parkingBill-{{ expenseConveyanceDetail.id|default('') }}"
                                                                            data-name="ParkingBill"
                                                                            href="#"
                                                                            data-url="{{ path('crm_expense_convence_details',{'id':expenseConveyanceDetail.id}) }}"
                                                                            data-pk="{{ expenseConveyanceDetail.id|default('') }}"
                                                                            data-value="{{ expenseConveyanceDetail.parkingBill|default('') }}"
                                                                            data-original-title="Enter amount">
                                                                        {{ expenseConveyanceDetail.parkingBill }}
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <a
                                                                            data-type="text"
                                                                            class="editable"
                                                                            id="othersBill-{{ expenseConveyanceDetail.id|default('') }}"
                                                                            data-name="OthersBill"
                                                                            href="#"
                                                                            data-url="{{ path('crm_expense_convence_details',{'id':expenseConveyanceDetail.id}) }}"
                                                                            data-pk="{{ expenseConveyanceDetail.id|default('') }}"
                                                                            data-value="{{ expenseConveyanceDetail.othersBill|default('') }}"
                                                                            data-original-title="Enter amount">
                                                                        {{ expenseConveyanceDetail.othersBill }}
                                                                    </a>
                                                                </td>
                                                                <td class="totalAmount">
                                                                    {{ expenseConveyanceDetail.totalAmount + totalMileageAmount }}
                                                                </td>
                                                            </tr>
                                                           {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    {% endif %}

                                </div>

{#                                {% if entity and entity.status==1 %}#}
                                    <div class="form-actions">
                                        <div class="col-md-6 ">

                                        </div>
                                        <div class="col-md-6 text-right">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                {{ form_widget(form.SaveAndCreate, {type: 'submit',label: 'label.save.continue',value:'label.save.continue', attr: { class: 'btn btn-info form-submit expense_form_button'}}) }}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
{#                                {% endif %}#}
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>
                </div>

                <style>
                    #expense_form_vehicle .checkbox{
                        width: unset;
                        padding-right: 30px;
                    }
                </style>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
     <style type="text/css">
         .hidden{
             display: none!important;
         }

         .editable-click, a.editable-click, a.editable-click:hover {
             text-decoration: none;
             border-bottom: dashed 1px #0088cc;
         }

         .hide-calendar .ui-datepicker-calendar{
             display: none;
         }
     </style>
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/plugins/bootstrap-editable/js/bootstrap4-editable.js') }}"></script>

    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {

            $('.expense_date').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd-mm-yy",
                yearRange: "2020:" + new Date().getFullYear(),
                showOn: "both",
                showButtonPanel: true,
                buttonImage: "/assets/images/icon-calendar-green.png",
                buttonImageOnly: true,
                maxDate: 0,
                autoclose: true,
                orientation: "bottom",
            });

            var count = 0;
            var countId = 1;
            var countIdx = 1;
            $('.addFile').click(function(e){
                var $el = $(this);
                var $cloneBlock = $('#clone-block');
                var $clone = $cloneBlock.find('.clone:eq(0)').clone();
                $clone.find('.custom-file-input').attr('id', "file-"+(countId++));
                $clone.find('.custom-file-label').attr('for', "file-"+(countIdx++));
                $clone.find(':text,textarea,file' ).val("");
                $clone.find('.custom-file-label' ).html("Choose file");
                $clone.attr('id', "added"+(++count));
                $clone.find('.row-remove').removeClass('hidden');
                $cloneBlock.append($clone);
            });

            $('#clone-block').on('click', '.row-remove', function(){
                $(this).closest('.clone').remove();
            });

            $(document).on('click', '.existing-row-remove', function () {
                var element=$(this);
                var entityId=$(element).attr('data-entity-id');
                if(entityId==''){
                    return false;
                }

                $.get(Routing.generate('crm_expense_attachment_delete',{'id':entityId}),{'status':status})
                    .done(function(response){
                        console.log(response)
                        if(response.status==200){
                            $(element).closest('.addedAttachmentItem').remove();
                        }

                    });
            })

            $.fn.editable.defaults.mode ='inline';
            {#    $.fn.editable.defaults.mode = 'popover';#}
            $('.editable').editable(
                {
                    success: function(response) {
                        if(response.status==200){
                            $(this).closest('tr').find('.totalAmount').html(response.totalAmount);
                            console.log(response)
                        }
                    }
                }
            );
        });
    </script>
{% endblock  %}