{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header hidden-print">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('crm_expense') }}">  {{ 'Expense'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row hidden-print">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Monthly Expense'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('crm_expense') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Expense'|trans }}</a>
                            {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_LINE_MANAGER') or is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_CRM_AQUA_ADMIN') or is_granted('ROLE_CRM_SALES_MARKETING_ADMIN') %}
                                <a style="margin-left: 5px" href="{{ path('crm_expense_batch') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Expense for Process'|trans }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">

                <div class="card-block">
                    <h4>Expense Batch List</h4>
                    <div class="row hidden-print">
                        <div class="col-md-12">
                            {{ form_start(form, {'attr' : { 'class': 'sales_marketing_search_form' } }) }}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_widget(form.employee, {'attr': {'required': false }, 'required': false}) }}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        {{ form_widget(form.visitDate, {'attr': {'required': false }, 'required': false}) }}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        {{ form_widget(form.status) }}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    {{ form_widget(form._token) }}
                                    <button type="submit" name="search" class="btn btn-primary btn-sm" title="Search" value="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                    <h5 class="text-center">{{ requestFormatedDate }}</h5>

                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th rowspan="2" style="width: 15%" scope="col">Line Manager</th>
                            <th rowspan="2" style="width: 3%" scope="col">S/N</th>
                            <th colspan="2" scope="col">{{ 'Employee'|trans }}</th>
                            <th rowspan="2" scope="col">Expense Month</th>
                            <th rowspan="2" scope="col">Status</th>
                            <th class="text-center hidden-print" rowspan="2" scope="col"><i class="feather icon-settings"></i></th>
                        </tr>
                        <tr>
                            <th style="width: 5%" scope="col">{{ 'Id'|trans }}</th>
                            <th style="width: 25%" scope="col">{{ 'Name'|trans }}</th>
                        </tr>
                        {#<tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Employee Name</th>
                            <th scope="col">Expense Month</th>
                            <th scope="col">Status</th>
                            <th scope="col text-center"><i class="feather icon-settings"></i></th>
                        </tr>#}
                        </thead>
                        <tbody>

                        {% if employees is defined and  employees is not empty %}
                            {% for lineManagerId, lineManagerData in employees %}
                                {% if lineManagerData is not empty %}
                                    {% for index, employee in lineManagerData %}
                                        <tr>
                                            {% if loop.first %}
                                                <td rowspan="{{ lineManagerData|length }}">{{ employee.lineManagerName }}</td>
                                            {% endif %}
                                            {#                                            <td>{{ employee.lineManagerName }} == {{ lineManagerData|length }}</td>#}
                                            <td>{{ index+1 }}</td>
                                            <td>{{ employee.userId }}</td>
                                            <td>{{ employee.name }}</td>
                                            <td class="text-center" scope="col">
                                                {{ entities is defined and entities is not empty and entities[requestDate] is defined and entities[requestDate][employee.id] is defined and entities[requestDate][employee.id]  is not empty ? entities[requestDate][employee.id]['expenseMonth']|date('F, Y') : '<span style="color:red">X</span>'}}
                                            </td>
                                            <td>
                                                {% if entities is defined and entities is not empty and entities[requestDate] is defined and entities[requestDate][employee.id] is defined and entities[requestDate][employee.id]  is not empty %}
                                                    {% if entities[requestDate][employee.id]['status'] == 1 %}
                                                        <span class="badge badge-primary px-2 py-1">Waiting for approved</span>
                                                    {% elseif entities[requestDate][employee.id]['status'] == 2 %}
                                                        <span class="badge badge-success px-2 py-1">Approved</span>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td class="hidden-print">
                                                {% if entities is defined and entities is not empty and entities[requestDate] is defined and entities[requestDate][employee.id] is defined and entities[requestDate][employee.id]  is not empty %}
                                                <a title="Details" class="btn btn-mini blue-bg white-font" href="{{ path('crm_expense_batch_details',{'id':entities is defined and entities is not empty and entities[requestDate] is defined and entities[requestDate][employee.id] is defined and entities[requestDate][employee.id]  is not empty?entities[requestDate][employee.id]['id']:""}) }}"><i class="feather icon-eye"></i> Details</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% else %}

                            <tr>
                                <td colspan="8" class="text-center">No data found</td>
                            </tr>
                        {% endif %}

                        </tbody>
                    </table>
                    {#<div class="row">
                        <div class="col-md-6">
                            <div class="count">
                                Total Records: {{ entities.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-6 navigation" style="text-align: right">
                            {{ knp_pagination_render(entities) }}
                        </div>
                    </div>#}
                </div>

            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <style>
        .navigation nav .pagination{
            float: right!important;
        }
        .hide-calendar .ui-datepicker-calendar{
            display: none;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script>
        $(document).ready(function () {

            $('.monthYearPicker').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'mm-yy',
                autoClose:true,
                onClose: function() {
                    $(this).datepicker('widget').removeClass('hide-calendar');
                    $("#ui-datepicker-div").removeClass('monthYearPicker');
                    var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
                },

                beforeShow: function(input) {
                    $(input).datepicker("widget").addClass('hide-calendar');
                    $("#ui-datepicker-div").addClass('monthYearPicker');
                    // console.log($(this).val());
                    if ((selDate = $(this).val()).length > 0)
                    {
                        iYear = selDate.substring(selDate.length - 4, selDate.length);
                        iMonth = selDate.substring(0, 2);
                        // iMonth = jQuery.inArray(selDate.substring(1, 2), $(this).datepicker('option', 'monthNames'));
                        // console.log(iMonth);
                        iMonth = iMonth-1;
                        $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
                        $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
                    }
                }
            });
        });
    </script>
{% endblock  %}

