{% extends 'admin/layout.html.twig' %}
{% block body %}

    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header hidden-print">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('crm_expense_batch_list') }}">  {{ 'Expense Batch'|trans }}</a></li>
                        <li class="breadcrumb-item"> <a href="javascript:">{{ 'Details'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row hidden-print">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Monthly Expense'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('crm_expense_batch_list') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Monthly Expense'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box">
                    <div class="portlet-title hidden-print">
                        <div class="caption ">{{'Monthly Expense Details'|trans}} </div>
                        {% if expenseBatch.status>1 %}
                            <div style="float: right; padding-right: 15px" class="caption hidden-print">
                                <div class="pull-right">
                                    <button class="btn btn-info btn-sm" id="windowPrint"><i class="fa fa-print"></i> </button>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="portlet-body form expense_body" id="expense_form_section">

                        <div style="text-align: center">
                            <h4>Nourish Poultry & Hatchery Ltd.</h4>
                            <h6>Uttara, Dhaka</h6>
                            <h6>Monthly TA DA Bill</h6>
                            <h6>Month: {{ expenseBatch.expenseMonth|date('F Y') }}</h6>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-borderless" border="0">
                                    <tr>
                                        <td>
                                            <strong>Name:</strong> {{ expenseBatch.employee.name|default('') }}
                                        </td>
                                        <td class="text-center">
                                            <strong>Employee Id:</strong> {{ expenseBatch.employee.userId|default('') }}
                                        </td>
                                        <td>
                                            <strong>Working Station:</strong> {{ expenseBatch.employee.address|default('') }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Designation:</strong> {{ expenseBatch.employee.designation.name|default('') }}
                                        </td>
                                        <td class="text-center">
                                            <strong>Vehicle Type:</strong> {{ expenseBatch.employee.typeOfVehicle|default('')|capitalize }} /  No: {{ expenseBatch.employee.vehicleNo|default('') }}
                                        </td>
                                        <td>
                                            <strong>Responsible of:</strong> {{ expenseBatch.employee.responsibleOf.name|default('') }}
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th rowspan="2">SL</th>
                                <th rowspan="2">Date</th>
                                <th rowspan="2" class="hidden-print">Schedule</th>
                                <th rowspan="2">Visiting Area</th>
                                <th rowspan="2">Area</th>
                                {% if areaWiseExpenseParticulars is defined and areaWiseExpenseParticulars['areaName'] is defined and areaWiseExpenseParticulars['areaName'] is iterable %}
                                    {% for areaId, expenseParticularAttribute in areaWiseExpenseParticulars['areaName'] %}
                                        <th colspan="{{ areaWiseExpenseParticulars['chartDetails'][areaId]|length }}" class="text-center" scope="col">{{ expenseParticularAttribute }}</th>
                                    {% endfor %}
                                {% endif %}


                                {% if typeOfVehicles is not empty %}
                                    {% for typeOfVehicle in typeOfVehicles%}
                                        <th rowspan="2">{{ typeOfVehicle.name }}</th>
                                    {% endfor %}
                                {% endif %}

                                {#{% if dailyExpenseParticularAttributes is defined and dailyExpenseParticularAttributes is iterable %}
                                    {% for dailyExpenseParticularAttribute in dailyExpenseParticularAttributes %}
                                        <th scope="col">{{ dailyExpenseParticularAttribute.name }}</th>
                                    {% endfor %}
                                {% endif %}#}
                                <th rowspan="2" title="Total">Total Milage (Km)</th>
                                <th rowspan="2" title="Total">Total (TK.)</th>
                                <th class="hidden-print" rowspan="2"></th>
                            </tr>
                            <tr>
                                {% if areaWiseExpenseParticulars is defined and areaWiseExpenseParticulars['areaName'] is defined and areaWiseExpenseParticulars['areaName'] is iterable %}
                                    {% for areaId, expenseParticularAttribute in areaWiseExpenseParticulars['areaName'] %}
                                        {% if areaWiseExpenseParticulars is defined and areaWiseExpenseParticulars['chartDetails'] is defined and areaWiseExpenseParticulars['chartDetails'][areaId] is defined and areaWiseExpenseParticulars['chartDetails'][areaId] is iterable %}
                                            {% for expenseChart in areaWiseExpenseParticulars['chartDetails'][areaId] %}
                                                <th class="text-center" scope="col">{{ expenseChart.particularName }}</th>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </tr>
                            </thead>
                            {% if expenseBatch is defined and expenseBatch.expenses is not empty %}
                                <tbody>

                                {% set totalLineTotal=0 %}
                                {% set totalMilage=0 %}
                                {% for entity in expenseBatch.expenses %}
                                    {% set lineTotal = 0 %}

                                    {#                                    {% set lineTotal= expensePaticularAmount['inLine'] is defined? expensePaticularAmount['inLine'][entity.employee.id][entity.id]|arraySumColWise('amount'):'0.00' %}#}
                                    {##}
                                    {#                                    {% set totalLineTotal=totalLineTotal+lineTotal %}#}
                                    <tr>
                                        <td class="show-print">
                                            {{ loop.index }}

                                        </td>
                                        <td>{{ entity.expenseDate|date('d-m-Y') }}</td>
                                        <td class="hidden-print">{{ entity.scheduleVisit }}</td>
                                        <td>{{ entity.visitLocation|default('') }}</td>
                                        <td>{{ entity.workingArea.name|default('') }}</td>

                                        {% if areaWiseExpenseParticulars is defined and areaWiseExpenseParticulars['areaName'] is defined and areaWiseExpenseParticulars['areaName'] is iterable %}
                                            {% for areaId, expenseParticularAttribute in areaWiseExpenseParticulars['areaName'] %}
                                                {% if areaWiseExpenseParticulars is defined and areaWiseExpenseParticulars['chartDetails'] is defined and areaWiseExpenseParticulars['chartDetails'][areaId] is defined and areaWiseExpenseParticulars['chartDetails'][areaId] is iterable %}
                                                    {% for chartDetailsId, expenseChart in areaWiseExpenseParticulars['chartDetails'][areaId] %}
                                                        {% set expenseParticularId = expensePaticularAmount['inLine'] is defined and expensePaticularAmount['inLine'][entity.employee.id][entity.id][chartDetailsId][expenseChart.particularId] is defined ? expensePaticularAmount['inLine'][entity.employee.id][entity.id][chartDetailsId][expenseChart.particularId]['expenseParticularId']:'' %}
                                                        {% set amount = expensePaticularAmount['inLine'] is defined and expensePaticularAmount['inLine'][entity.employee.id][entity.id][chartDetailsId][expenseChart.particularId] is defined ? expensePaticularAmount['inLine'][entity.employee.id][entity.id][chartDetailsId][expenseChart.particularId]['amount']|number_format(2,'.',''):0 %}
                                                        {% set lineTotal = lineTotal + amount %}

                                                        <td class="text-right">
                                                            {% if expensePaticularAmount['inLine'] is defined and expensePaticularAmount['inLine'][entity.employee.id][entity.id][chartDetailsId][expenseChart.particularId] is defined and expensePaticularAmount['inLine'][entity.employee.id][entity.id][chartDetailsId][expenseChart.particularId]['path'] is not empty%}
                                                                <a title="Attachment Available" href="{{ asset('uploads/expense/'~expensePaticularAmount['inLine'][entity.employee.id][entity.id][chartDetailsId][expenseChart.particularId]['path']) }}" download>
                                                                    {{ expensePaticularAmount['inLine'] is defined? expensePaticularAmount['inLine'][entity.employee.id][entity.id][chartDetailsId][expenseChart.particularId]['amount']|number_format(2,'.',','):'0.00' }}
                                                                </a>
                                                            {% else %}
                                                                {{ amount|number_format(2,'.',',') }}
                                                                {#                                                                    == {{ expenseParticularId }}#}
                                                            {% endif %}
                                                        </td>

                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% set lineTotalMilage=0 %}
                                        {% if typeOfVehicles is not empty %}
                                            {% for typeOfVehicle in typeOfVehicles%}
                                                <td class="text-right">
                                                    {% set conveyanceAmount = conveyanceDetailsTotalAmount['data'] is defined and conveyanceDetailsTotalAmount['data'][entity.id] is defined and conveyanceDetailsTotalAmount['data'][entity.id][typeOfVehicle.slug] is defined?conveyanceDetailsTotalAmount['data'][entity.id][typeOfVehicle.slug]['totalAmount']|number_format(2,'.',''):0 %}
                                                    {% if typeOfVehicle.slug=='motorcycle' %}
                                                        {% set totalMileageKm = conveyanceDetailsTotalAmount['data'] is defined and conveyanceDetailsTotalAmount['data'][entity.id] is defined and conveyanceDetailsTotalAmount['data'][entity.id][typeOfVehicle.slug] is defined?conveyanceDetailsTotalAmount['data'][entity.id][typeOfVehicle.slug]['totalMileage']:0 %}
                                                        {% set totalMilage = totalMilage + totalMileageKm %}
                                                        {% set lineTotalMilage = lineTotalMilage + totalMileageKm %}
                                                    {% endif %}

                                                    {% set lineTotal = lineTotal + conveyanceAmount %}
                                                    {#                                                {% set totalLineTotal = totalLineTotal + conveyanceAmount %}#}

                                                    {{ conveyanceAmount|number_format(2,'.',',') }}
                                                </td>
                                            {% endfor %}
                                        {% endif %}
                                        {#                                    {% set totalLineTotal = totalLineTotal + lineTotal %}#}

                                        <td class="text-right">{{ lineTotalMilage }}</td>
                                        <th class="text-right">{{ lineTotal|number_format(2,'.',',') }}</th>
                                        <td class="hidden-print">
                                            {#                                        {% if expenseBatch.status<2 %}#}
                                            {#                                            <input type="hidden" name="expense[{{ entity.id }}]" value="{{ entity.id }}">#}
                                            <div class="btn-group">
                                                <a style="margin-right: 2px" class="btn btn-primary btn-mini white-font" href="{{ path('crm_expense_edit',{'id':entity.id}) }}"><i class="fa fa-edit"></i></a>
                                                {#                                                <a class="btn btn-danger btn-mini white-font removeReload" href="javascript:" data-action="{{ path('crm_expense_delete',{'id':entity.id}) }}"><i class="fa fa-remove"></i></a>#}
                                            </div>
                                            {#                                        {% endif %}#}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr class="text-right">
                                    {#                                        <th class="text-right hidden show-print" colspan="3">Total</th>#}
                                    <th class="text-right hidden show-print" colspan="{{ 4 }}">Total</th>
                                    <th class="text-right hidden-print" colspan="{{ 5 }}">Total</th>
                                    {% if areaWiseExpenseParticulars is defined and areaWiseExpenseParticulars['areaName'] is defined and areaWiseExpenseParticulars['areaName'] is iterable %}
                                        {% for areaId, expenseParticularAttribute in areaWiseExpenseParticulars['areaName'] %}
                                            {% if areaWiseExpenseParticulars is defined and areaWiseExpenseParticulars['chartDetails'] is defined and areaWiseExpenseParticulars['chartDetails'][areaId] is defined and areaWiseExpenseParticulars['chartDetails'][areaId] is iterable %}
                                                {% for chartDetailsId, expenseChart in areaWiseExpenseParticulars['chartDetails'][areaId] %}
                                                    {% set totalAmount = expensePaticularAmount['grandTolalPerColumn'] is defined and expensePaticularAmount['grandTolalPerColumn'][chartDetailsId] is defined ?expensePaticularAmount['grandTolalPerColumn'][chartDetailsId][expenseChart.particularId]|arraySumColWise('amount')|number_format(2,'.',''):0 %}
                                                    {% set totalLineTotal = totalLineTotal + totalAmount %}
                                                    <td class="text-right">{{ totalAmount|number_format(2,'.',',') }}</td>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if typeOfVehicles is not empty %}
                                        {% for typeOfVehicle in typeOfVehicles%}
                                            <td class="text-right">
                                                {% set conveyanceTotalAmount = conveyanceDetailsTotalAmount['grandTotal'] is defined and conveyanceDetailsTotalAmount['grandTotal'][typeOfVehicle.slug] is defined ? conveyanceDetailsTotalAmount['grandTotal'][typeOfVehicle.slug]|arraySum()|number_format(2,'.',''):0 %}

                                                {% set totalLineTotal = totalLineTotal + conveyanceTotalAmount %}

                                                {{ conveyanceTotalAmount|number_format(2,'.',',') }}
                                            </td>
                                        {% endfor %}
                                    {% endif %}
                                    <td>{{ totalMilage }}</td>
                                    <th>{{ totalLineTotal|number_format(2,'.',',') }}</th>
                                    <th class="hidden-print"></th>
                                </tr>

                                <tr>
                                    <th class="text-right hidden show-print" colspan="{{ 5 + (areaWiseExpenseParticulars['chartDetails'] is defined? areaWiseExpenseParticulars['chartDetails']|multiArrayLength: 0)+ typeOfVehicles|length }}">
                                        Bike Miles Amount (Total reading {{ totalMilage }} KM, Per KM = {{ expenseBatch.perMilesAmount }} Tk.)
                                    </th>
                                    <th class="text-right hidden-print" colspan="{{ 6 + (areaWiseExpenseParticulars['chartDetails'] is defined? areaWiseExpenseParticulars['chartDetails']|multiArrayLength: 0)+ typeOfVehicles|length }}">
                                        Bike Miles Amount (Total reading {{ totalMilage }} KM, Per KM = {{ expenseBatch.perMilesAmount }} Tk.)
                                    </th>
                                    <th class="text-right">{{ (totalMilage*3.5)|number_format(2) }}</th>
                                    <th class="hidden-print"></th>
                                </tr>

                                <tr>
                                    <th class="text-right hidden show-print" colspan="{{ 5 + (areaWiseExpenseParticulars['chartDetails'] is defined? areaWiseExpenseParticulars['chartDetails']|multiArrayLength: 0)+ typeOfVehicles|length }}">
                                        Grand Total
                                    </th>
                                    <th class="text-right hidden-print" colspan="{{ 6 + (areaWiseExpenseParticulars['chartDetails'] is defined? areaWiseExpenseParticulars['chartDetails']|multiArrayLength: 0)+ typeOfVehicles|length }}">
                                        Grand Total
                                    </th>

                                    {#                                    <th colspan="{{ dailyExpenseParticularAttributes|length + typeOfVehicles|length }}" class="text-right hidden-print">Grand Total</th>#}
                                    <th class="text-right">{{ (totalLineTotal+(totalMilage*3.5))|number_format(2,'.',',') }}</th>
                                    <th class="hidden-print"></th>
                                </tr>
                                </tfoot>
                            {% endif %}

                        </table>
                        {% if expenseBatch.status<2 %}
                            <div class="hidden-print" style="padding-bottom: 20px">
                                <div class="col-md-12 text-right">
                                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                        <a class="btn btn-sm btn-primary" href="{{ path('crm_expense_batch_approved',{'id':expenseBatch.id}) }}">Approved</a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        {% endif %}


                    </div>
                    {% if expenseBatch.status>1 %}
                        <table width="100%" class="no-bordered" style="margin-bottom: 20px">
                            <tr>
                                <th style="text-align: center; color: #000">{{ expenseBatch.employee.name|default('') }}</th>
                                <th style="text-align: center; color: #000">{{ expenseBatch.approvedBy.name|default('') }}</th>
                                <th style="text-align: center; color: #000"></th>
                                <th style="text-align: center; color: #000"></th>
                                <th style="text-align: center; color: #000"></th>
                                <th style="text-align: center; color: #000"></th>
                                <th style="text-align: center; color: #000"></th>
                                <th style="text-align: center; color: #000"></th>
                            </tr>
                            <tr>
                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Submited by</span></th>
                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Approved By</span></th>
                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Cheked by(H/O)</span></th>
                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Hr & Admin</span></th>
                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Junior AGM(MKT Info )</span></th>
                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Senior DGM (S&S)</span></th>
                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">GM (S&M)</span></th>
                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">AVP (S&M)</span></th>
                            </tr>
                        </table>
                    {% endif %}



                    <div class="portlet-body">

                        {% if typeOfVehicles is not empty %}
                            {% for typeOfVehicle in typeOfVehicles %}

                                {% if typeOfVehicle.slug == 'motorcycle' %}

                                    {% if transportTypeConveyanceDetails[typeOfVehicle.slug] is defined and  transportTypeConveyanceDetails[typeOfVehicle.slug] is not empty  %}

                                        {% set presentReadingArray = transportTypeConveyanceDetails[typeOfVehicle.slug]|multiDimensionalArrayCol('meterReadingToConcat') %}

                                        {% set presentReading =  presentReadingArray is defined and presentReadingArray|length >0 and presentReadingArray|last is not null  ? presentReadingArray|last : 0 %}

                                        {% set previousReadingArray = transportTypeConveyanceDetails[typeOfVehicle.slug]|multiDimensionalArrayCol('meterReadingFromConcat') %}

                                        {% set previousReading = previousReadingArray is defined and previousReadingArray|length >0 and previousReadingArray[0] is not null  ? previousReadingArray[0] : 0 %}

                                        {% set usedReadingBill = (transportTypeConveyanceDetails[typeOfVehicle.slug]|arraySumColWise('totalMileage') * 3.5)|number_format(2,'.','') %}
                                        {% set totalMobileBill = transportTypeConveyanceDetails[typeOfVehicle.slug]|arraySumColWise('totalMobileBill')|number_format(2,'.','')   %}
                                        {% set totalMaintenanceBill = transportTypeConveyanceDetails[typeOfVehicle.slug]|arraySumColWise('totalMaintenanceBill')|number_format(2,'.','') %}
                                        {% set totalServicingBill = transportTypeConveyanceDetails[typeOfVehicle.slug]|arraySumColWise('totalServicingBill')|number_format(2,'.','') %}
                                        {% set totalTollBill = transportTypeConveyanceDetails[typeOfVehicle.slug]['tollBill']|arraySumColWise('totalTollBill')|default(0)|number_format(2,'.','') %}
                                        {% set grandTotalBill = usedReadingBill + totalMobileBill + totalMaintenanceBill + totalServicingBill +totalTollBill %}

                                        <div style="page-break-after: always "></div>

                                        <button type="submit" name="excel" class="btn blue-bg btn-sm white-font pull-right hidden-print" title="Excel" value="excel" id="button-excel-motorcycle"><i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'Excel'|trans }}</button>

                                        <div class="expense_body print-margin-top-100">
                                            <table data-cols-width="35,25" class="table table-bordered download-excel-motorcycle">
                                                <thead>
                                                <tr class="border-0">
                                                    <td colspan="2" class="text-center border-0" data-a-h="center">
                                                        <h4>Nourish Poultry & Hatchery Ltd.</h4>
                                                    </td>
                                                </tr>
                                                <tr class="border-0">
                                                    <td colspan="2" class="text-center border-0" data-a-h="center">
                                                        <h6>Uttara, Dhaka</h6>
                                                    </td>
                                                </tr>
                                                <tr class="border-0">
                                                    <td colspan="2" class="text-center border-0" data-a-h="center">
                                                        <h6>{{ typeOfVehicle.name }}</h6>
                                                    </td>
                                                </tr>
                                                <tr class="border-0">
                                                    <td colspan="2" class="text-center border-0" data-a-h="center">
                                                        <h6>Month: {{ expenseBatch.expenseMonth|date('F Y') }}</h6>
                                                    </td>
                                                </tr>
                                                <tr class="border-0">

                                                    <td class="border-0">
                                                        <strong>Employee Id:</strong> {{ expenseBatch.employee.userId|default('') }}
                                                    </td>
                                                    <td class="border-0">
                                                        <strong>Designation:</strong> {{ expenseBatch.employee.designation.name|default('') }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="border-0">
                                                        <strong>Name:</strong> {{ expenseBatch.employee.name|default('') }}
                                                    </td>
                                                    <td class="border-0">
                                                        <strong>Station:</strong> {{ expenseBatch.employee.address|default('') }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th> Particulars</th>
                                                    <th>Amount</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        Present Meter Reading
                                                    </td>
                                                    <td>
                                                        {{ presentReading }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Previous Meter Reading
                                                    </td>
                                                    <td>
                                                        {{ previousReading }}

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Used Reading
                                                    </td>
                                                    <td>
                                                        {{ transportTypeConveyanceDetails[typeOfVehicle.slug]|arraySumColWise('totalMileage')|number_format(0,'.','') }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Used Reading Bill
                                                    </td>
                                                    <td>
                                                        {{ usedReadingBill }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Mobil Bill (After 1000 km)
                                                    </td>
                                                    <td>
                                                        {{ totalMobileBill }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Maintenance Bill (Minimum 1000 km)
                                                    </td>
                                                    <td>
                                                        {{ totalMaintenanceBill }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Servicing Bill (After 2000 km)
                                                    </td>
                                                    <td>
                                                        {{ totalServicingBill }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Toll Bill
                                                    </td>
                                                    <td>
                                                        {{ totalTollBill }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right">
                                                        Total Bill (Taka)
                                                    </td>
                                                    <td>
                                                        {{ grandTotalBill }}
                                                    </td>
                                                </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                        <table width="100%" class="no-bordered" style="margin-bottom: 20px">
                                            <tr>
                                                <th style="text-align: center; color: #000">{{ expenseBatch.employee.name|default('') }}</th>
                                                <th style="text-align: center; color: #000">{{ expenseBatch.approvedBy.name|default('') }}</th>
                                                <th style="text-align: center; color: #000"></th>
                                                <th style="text-align: center; color: #000"></th>
                                                <th style="text-align: center; color: #000"></th>
                                                <th style="text-align: center; color: #000"></th>
                                                <th style="text-align: center; color: #000"></th>
                                                <th style="text-align: center; color: #000"></th>
                                            </tr>
                                            <tr>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Submited by</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Approved By</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Cheked by(H/O)</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Hr & Admin</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Junior AGM(MKT Info )</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Senior DGM (S&S)</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">GM (S&M)</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">AVP (S&M)</span></th>
                                            </tr>
                                        </table>

                                    {% endif %}

                                {% elseif typeOfVehicle.slug == 'car' %}

                                    {% if transportTypeConveyanceDetails[typeOfVehicle.slug] is defined and  transportTypeConveyanceDetails[typeOfVehicle.slug] is not empty  %}
                                        <div style="page-break-after: always "></div>
                                        <button type="submit" name="excel" class="btn blue-bg btn-sm white-font pull-right hidden-print" title="Excel" value="excel" id="button-excel-car"><i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'Excel'|trans }}</button>

                                        <div class="expense_body print-margin-top-100">
                                            <table data-cols-width="8,12,10,10,10,10,15" class="table table-bordered download-excel-car">
                                                <thead>

                                                <tr>
                                                    <td colspan="7" class="text-center border-0" data-a-h="center">
                                                        <h4>Nourish Poultry & Hatchery Ltd.</h4>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="7" class="text-center border-0" data-a-h="center">
                                                        <h6>Uttara, Dhaka</h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="7" class="text-center border-0" data-a-h="center">
                                                        <h6>{{ typeOfVehicle.name }}</h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="7" class="text-center border-0" data-a-h="center">
                                                        <h6>Month: {{ expenseBatch.expenseMonth|date('F Y') }}</h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="border-0" colspan="3">
                                                        <strong>Employee Id:</strong> {{ expenseBatch.employee.userId|default('') }}
                                                    </td>
                                                    <td class="border-0" colspan="3">
                                                        <strong>Designation:</strong> {{ expenseBatch.employee.designation.name|default('') }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="border-0" colspan="4">
                                                        <strong>Name:</strong> {{ expenseBatch.employee.name|default('') }}
                                                    </td>
                                                    <td class="border-0" colspan="4">
                                                        <strong>Station:</strong> {{ expenseBatch.employee.address|default('') }}
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th>SL</th>
                                                    <th>Visiting Date</th>
                                                    <th>Fuel/Gas</th>
                                                    <th>Toll/Ferry</th>
                                                    <th>Parking</th>
                                                    <th>Others</th>
                                                    <th>Total Amount</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for dateIndex, entity in transportTypeConveyanceDetails[typeOfVehicle.slug] %}
                                                    <tr>
                                                        <td>{{ loop.index }}</td>
                                                        <td>
                                                            {{ entity.expenseDate|date('d-m-Y') }}
                                                        </td>
                                                        <td>
                                                            {{ entity.totalFuelBill|default('') }}
                                                        </td>
                                                        <td>
                                                            {{ entity.totalTollBill|default('') }}
                                                        </td>
                                                        <td>
                                                            {{ entity.totalParkingBill|default('') }}
                                                        </td>
                                                        <td>
                                                            {{ entity.totalOthersBill|default('') }}
                                                        </td>
                                                        <td>
                                                            {{ entity.grandTotalAmount|default('') }}
                                                        </td>
                                                    </tr>

                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th class="text-right" colspan="2">Total</th>
                                                    <td>
                                                        {{ transportTypeConveyanceDetails[typeOfVehicle.slug]|arraySumColWise('totalFuelBill')|number_format(2,'.','') }}
                                                    </td>
                                                    <td>
                                                        {{ transportTypeConveyanceDetails[typeOfVehicle.slug]|arraySumColWise('totalTollBill')|number_format(2,'.','') }}
                                                    </td>
                                                    <td>
                                                        {{ transportTypeConveyanceDetails[typeOfVehicle.slug]|arraySumColWise('totalParkingBill')|number_format(2,'.','') }}
                                                    </td>
                                                    <td>
                                                        {{ transportTypeConveyanceDetails[typeOfVehicle.slug]|arraySumColWise('totalOthersBill')|number_format(2,'.','') }}
                                                    </td>
                                                    <td>
                                                        {{ transportTypeConveyanceDetails[typeOfVehicle.slug]|arraySumColWise('grandTotalAmount')|number_format(2,'.','') }}
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>

                                        <table width="100%" class="no-bordered" style="margin-bottom: 20px">
                                            <tr>
                                                <th style="text-align: center; color: #000">{{ expenseBatch.employee.name|default('') }}</th>
                                                <th style="text-align: center; color: #000">{{ expenseBatch.approvedBy.name|default('') }}</th>
                                                <th style="text-align: center; color: #000"></th>
                                                <th style="text-align: center; color: #000"></th>
                                                <th style="text-align: center; color: #000"></th>
                                                <th style="text-align: center; color: #000"></th>
                                                <th style="text-align: center; color: #000"></th>
                                                <th style="text-align: center; color: #000"></th>
                                            </tr>
                                            <tr>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Submited by</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Approved By</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Cheked by(H/O)</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Hr & Admin</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Junior AGM(MKT Info )</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Senior DGM (S&S)</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">GM (S&M)</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">AVP (S&M)</span></th>
                                            </tr>
                                        </table>

                                    {% endif %}

                                {% elseif typeOfVehicle.slug == 'office-car' %}

                                    {% if transportTypeConveyanceDetails[typeOfVehicle.slug] is defined and  transportTypeConveyanceDetails[typeOfVehicle.slug] is not empty  %}
                                        {% if (transportTypeConveyanceDetails[typeOfVehicle.slug]|arraySumColWise('grandTotalAmount') > 0) %}
                                            <div style="page-break-after: always "></div>

                                            <button type="submit" name="excel" class="btn blue-bg btn-sm white-font pull-right hidden-print" title="Excel" value="excel" id="button-excel-office-car"><i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'Excel'|trans }}</button>
                                            <div class="expense_body print-margin-top-100">
                                                <table data-cols-width="8,12,10,10,10,10,15" class="table table-bordered download-excel-office-car">
                                                    <thead>
                                                    <tr>
                                                        <td colspan="7" class="text-center border-0" data-a-h="center">
                                                            <h4>Nourish Poultry & Hatchery Ltd.</h4>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="7" class="text-center border-0" data-a-h="center">
                                                            <h6>Uttara, Dhaka</h6>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="7" class="text-center border-0" data-a-h="center">
                                                            <h6>{{ typeOfVehicle.name }}</h6>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="7" class="text-center border-0" data-a-h="center">
                                                            <h6>Month: {{ expenseBatch.expenseMonth|date('F Y') }}</h6>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="border-0" colspan="4">
                                                            <strong>Employee Id:</strong> {{ expenseBatch.employee.userId|default('') }}
                                                        </td>
                                                        <td class="border-0" colspan="3">
                                                            <strong>Designation:</strong> {{ expenseBatch.employee.designation.name|default('') }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="border-0" colspan="4">
                                                            <strong>Name:</strong> {{ expenseBatch.employee.name|default('') }}
                                                        </td>
                                                        <td class="border-0" colspan="3">
                                                            <strong>Station:</strong> {{ expenseBatch.employee.address|default('') }}
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th>SL</th>
                                                        <th>Visiting Date</th>
                                                        <th>Fuel/Gas</th>
                                                        <th>Toll/Ferry</th>
                                                        <th>Parking</th>
                                                        <th>Others</th>
                                                        <th>Total Amount</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for dateIndex, entity in transportTypeConveyanceDetails[typeOfVehicle.slug] %}
                                                        {% if entity.grandTotalAmount is defined and entity.grandTotalAmount > 0 %}
                                                            <tr>
                                                                <td>{{ loop.index }}</td>
                                                                <td>
                                                                    {{ entity.expenseDate|date('d-m-Y') }}
                                                                </td>
                                                                <td>
                                                                    {{ entity.totalFuelBill|default('') }}
                                                                </td>
                                                                <td>
                                                                    {{ entity.totalTollBill|default('') }}
                                                                </td>
                                                                <td>
                                                                    {{ entity.totalParkingBill|default('') }}
                                                                </td>
                                                                <td>
                                                                    {{ entity.totalOthersBill|default('') }}
                                                                </td>
                                                                <td>
                                                                    {{ entity.grandTotalAmount|default('') }}
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <th class="text-right" colspan="2" data-a-h="right">Total</th>
                                                        <td>
                                                            {{ transportTypeConveyanceDetails[typeOfVehicle.slug]|arraySumColWise('totalFuelBill')|number_format(2,'.','') }}
                                                        </td>
                                                        <td>
                                                            {{ transportTypeConveyanceDetails[typeOfVehicle.slug]|arraySumColWise('totalTollBill')|number_format(2,'.','') }}
                                                        </td>
                                                        <td>
                                                            {{ transportTypeConveyanceDetails[typeOfVehicle.slug]|arraySumColWise('totalParkingBill')|number_format(2,'.','') }}
                                                        </td>
                                                        <td>
                                                            {{ transportTypeConveyanceDetails[typeOfVehicle.slug]|arraySumColWise('totalOthersBill')|number_format(2,'.','') }}
                                                        </td>
                                                        <td>
                                                            {{ transportTypeConveyanceDetails[typeOfVehicle.slug]|arraySumColWise('grandTotalAmount')|number_format(2,'.','') }}
                                                        </td>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>

                                            <table width="100%" class="no-bordered" style="margin-bottom: 20px">
                                                <tr>
                                                    <th style="text-align: center; color: #000">{{ expenseBatch.employee.name|default('') }}</th>
                                                    <th style="text-align: center; color: #000">{{ expenseBatch.approvedBy.name|default('') }}</th>
                                                    <th style="text-align: center; color: #000"></th>
                                                    <th style="text-align: center; color: #000"></th>
                                                    <th style="text-align: center; color: #000"></th>
                                                    <th style="text-align: center; color: #000"></th>
                                                    <th style="text-align: center; color: #000"></th>
                                                    <th style="text-align: center; color: #000"></th>
                                                </tr>
                                                <tr>
                                                    <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Submited by</span></th>
                                                    <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Approved By</span></th>
                                                    <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Cheked by(H/O)</span></th>
                                                    <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Hr & Admin</span></th>
                                                    <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Junior AGM(MKT Info )</span></th>
                                                    <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Senior DGM (S&S)</span></th>
                                                    <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">GM (S&M)</span></th>
                                                    <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">AVP (S&M)</span></th>
                                                </tr>
                                            </table>
                                        {% endif %}

                                    {% endif %}

                                {% elseif typeOfVehicle.slug == 'local-conveyance' %}
                                    {% if transportTypeConveyanceDetails[typeOfVehicle.slug] is defined and  transportTypeConveyanceDetails[typeOfVehicle.slug] is not empty  %}
                                        <div style="page-break-after: always "></div>
                                        <button type="submit" name="excel" class="btn blue-bg btn-sm white-font pull-right hidden-print" title="Excel" value="excel" id="button-excel-local-conveyance"><i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'Excel'|trans }}</button>
                                        <div class="expense_body print-margin-top-100">
                                            <table data-cols-width="8,15,35,35,35,20" class="table table-bordered download-excel-local-conveyance">
                                                <thead>

                                                <tr>
                                                    <td colspan="6" class="text-center border-0" data-a-h="center">
                                                        <h4>Nourish Poultry & Hatchery Ltd.</h4>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="6" class="text-center border-0" data-a-h="center">
                                                        <h6>Uttara, Dhaka</h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="6" class="text-center border-0" data-a-h="center">
                                                        <h6>{{ typeOfVehicle.name }}</h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="6" class="text-center border-0" data-a-h="center">
                                                        <h6>Month: {{ expenseBatch.expenseMonth|date('F Y') }}</h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="border-0" colspan="3">
                                                        <strong>Employee Id:</strong> {{ expenseBatch.employee.userId|default('') }}
                                                    </td>
                                                    <td class="border-0" colspan="3">
                                                        <strong>Designation:</strong> {{ expenseBatch.employee.designation.name|default('') }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="border-0" colspan="3">
                                                        <strong>Name:</strong> {{ expenseBatch.employee.name|default('') }}
                                                    </td>
                                                    <td class="border-0" colspan="3">
                                                        <strong>Station:</strong> {{ expenseBatch.employee.address|default('') }}
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <th>SL</th>
                                                    <th>Visiting Date</th>
                                                    <th>Visiting Area</th>
                                                    <th>All Transports Used <br>
                                                        (Comma separated)</th>
                                                    <th>All Amounts (Details)<br>
                                                        (Comma Separated)</th>
                                                    <th>Amount (TK.)</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for dateIndex, entity in transportTypeConveyanceDetails[typeOfVehicle.slug] %}
                                                    <tr>
                                                        <td>{{ loop.index }}</td>
                                                        <td>
                                                            {{ entity.expenseDate|date('d-m-Y') }}
                                                        </td>
                                                        <td>
                                                            <ol style="margin-bottom: 2px; padding-left: 20px">
                                                                {% if entity.destinationConcat is not empty %}
                                                                    {% for destinations in entity.destinationConcat %}
                                                                        {% for destination in destinations %}
                                                                            <li>{{ 'From: '~ destination['destinationStart']|default('') }} {{ ' To: '~ destination['destinationEnd']|default('')}}</li>
                                                                        {% endfor %}
                                                                    {% endfor %}
                                                                {% endif %}

                                                            </ol>

                                                        </td>
                                                        <td>
                                                            {{ entity.detailsConcat|default('') }}
                                                        </td>
                                                        <td>
                                                            {{ entity.totalAmountConcat|default('') }}
                                                        </td>
                                                        <td>
                                                            {{ entity.grandTotalAmount|default('') }}
                                                        </td>
                                                    </tr>

                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th class="text-right" colspan="5">Total</th>
                                                    <td>
                                                        {{ transportTypeConveyanceDetails[typeOfVehicle.slug]|arraySumColWise('grandTotalAmount')|number_format(2,'.','') }}
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>

                                        <table width="100%" class="no-bordered" style="margin-bottom: 20px">
                                            <tr>
                                                <th style="text-align: center; color: #000">{{ expenseBatch.employee.name|default('') }}</th>
                                                <th style="text-align: center; color: #000">{{ expenseBatch.approvedBy.name|default('') }}</th>
                                                <th style="text-align: center; color: #000"></th>
                                                <th style="text-align: center; color: #000"></th>
                                                <th style="text-align: center; color: #000"></th>
                                                <th style="text-align: center; color: #000"></th>
                                                <th style="text-align: center; color: #000"></th>
                                                <th style="text-align: center; color: #000"></th>
                                            </tr>
                                            <tr>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Submited by</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Approved By</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Cheked by(H/O)</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Hr & Admin</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Junior AGM(MKT Info )</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Senior DGM (S&S)</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">GM (S&M)</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">AVP (S&M)</span></th>
                                            </tr>
                                        </table>

                                    {% endif %}

                                {% elseif typeOfVehicle.slug == 'others' %}

                                    {% if transportTypeConveyanceDetails[typeOfVehicle.slug] is defined and  transportTypeConveyanceDetails[typeOfVehicle.slug] is not empty  %}
                                        <div style="page-break-after: always "></div>
                                        <button type="submit" name="excel" class="btn blue-bg btn-sm white-font pull-right hidden-print" title="Excel" value="excel" id="button-excel-others"><i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'Excel'|trans }}</button>
                                        <div class="expense_body print-margin-top-100">
                                            <table data-cols-width="8,35,35,35,20" class="table table-bordered download-excel-others">
                                                <thead>
                                                <tr>
                                                    <td colspan="5" class="text-center border-0" data-a-h="center">
                                                        <h4>Nourish Poultry & Hatchery Ltd.</h4>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="5" class="text-center border-0" data-a-h="center">
                                                        <h6>Uttara, Dhaka</h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="5" class="text-center border-0" data-a-h="center">
                                                        <h6>{{ typeOfVehicle.name }} bill supportings</h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="5" class="text-center border-0" data-a-h="center">
                                                        <h6>Month: {{ expenseBatch.expenseMonth|date('F Y') }}</h6>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="border-0" colspan="3">
                                                        <strong>Employee Id:</strong> {{ expenseBatch.employee.userId|default('') }}
                                                    </td>
                                                    <td class="border-0" colspan="2">
                                                        <strong>Designation:</strong> {{ expenseBatch.employee.designation.name|default('') }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="border-0" colspan="3">
                                                        <strong>Name:</strong> {{ expenseBatch.employee.name|default('') }}
                                                    </td>
                                                    <td class="border-0" colspan="2">
                                                        <strong>Station:</strong> {{ expenseBatch.employee.address|default('') }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>SL</th>
                                                    <th>Visiting Date</th>
                                                    <th>Particulars</th>
                                                    <th>Particulars (Amount) </th>
                                                    <th>Total Amount</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for dateIndex, entity in transportTypeConveyanceDetails[typeOfVehicle.slug] %}
                                                    <tr>
                                                        <td>{{ loop.index }}</td>
                                                        <td>
                                                            {{ entity.expenseDate|date('d-m-Y') }}
                                                        </td>
                                                        <td>
                                                            {{ entity.detailsConcat|default('') }}
                                                        </td>
                                                        <td>
                                                            {{ entity.totalAmountConcat|default('') }}
                                                        </td>
                                                        <td>
                                                            {{ entity.grandTotalAmount|default('') }}
                                                        </td>
                                                    </tr>

                                                {% endfor %}


                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th class="text-right" colspan="4" data-a-h="right">Total</th>
                                                    <td>
                                                        {{ transportTypeConveyanceDetails[typeOfVehicle.slug]|arraySumColWise('grandTotalAmount')|number_format(2,'.','') }}
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <table width="100%" class="no-bordered" style="margin-bottom: 20px">
                                            <tr>
                                                <th style="text-align: center; color: #000">{{ expenseBatch.employee.name|default('') }}</th>
                                                <th style="text-align: center; color: #000">{{ expenseBatch.approvedBy.name|default('') }}</th>
                                                <th style="text-align: center; color: #000"></th>
                                                <th style="text-align: center; color: #000"></th>
                                                <th style="text-align: center; color: #000"></th>
                                                <th style="text-align: center; color: #000"></th>
                                                <th style="text-align: center; color: #000"></th>
                                                <th style="text-align: center; color: #000"></th>
                                            </tr>
                                            <tr>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Submited by</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Approved By</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Cheked by(H/O)</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Hr & Admin</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Junior AGM(MKT Info )</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">Senior DGM (S&S)</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">GM (S&M)</span></th>
                                                <th style="text-align: center; color: #000"><span style="border-top: 1px solid #000">AVP (S&M)</span></th>
                                            </tr>
                                        </table>

                                    {% endif %}


                                {% endif %}



                            {% endfor %}

                        {% endif %}

                    </div>

                </div>

                <style>
                    #expense_form_vehicle .checkbox{
                        width: unset;
                        padding-right: 30px;
                    }
                </style>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
     <style>
         @media print {
             .border-0 {
                 border: 0!important;
             }
             .hidden-print {
                 display: none!important;
             }
             .show-print {
                 display: table-cell!important;
             }
             .expense_body{
                 min-height: 1250px!important;
             }
             .print-margin-top-100{
                 margin-top: 100px;
             }
             .print-margin-top-80{
                 margin-top: 80px;
             }
             .print-margin-top-50{
                 margin-top: 50px;
             }
         }
     </style>
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script src="{{ asset('assets/js/tableToExcel.js') }}"></script>

    <script>
        $('#windowPrint').on('click', function () {
            window.print();
        })


        let buttonOfficeCar = document.querySelector("#button-excel-office-car");

        if(buttonOfficeCar){
            buttonOfficeCar.addEventListener("click", e => {
                e.preventDefault();
                let table = document.querySelector(".download-excel-office-car");
                TableToExcel.convert(table, {
                    name: "office_car.xlsx",
                    sheet: {
                        name: "Sheet 1"
                    }
                });
            });
        }
        //buttonMotorcycle
        let buttonMotorcycle = document.querySelector("#button-excel-motorcycle");

        if(buttonMotorcycle){
            buttonMotorcycle.addEventListener("click", e => {
                e.preventDefault();
                let table = document.querySelector(".download-excel-motorcycle");
                TableToExcel.convert(table, {
                    name: "motorcycle.xlsx",
                    sheet: {
                        name: "Sheet 1"
                    }
                });
            });
        }
        //buttonCar
        let buttonCar = document.querySelector("#button-excel-car");

        if(buttonCar){
            buttonCar.addEventListener("click", e => {
                e.preventDefault();
                let table = document.querySelector(".download-excel-car");
                TableToExcel.convert(table, {
                    name: "car.xlsx",
                    sheet: {
                        name: "Sheet 1"
                    }
                });
            });
        }
        //buttonLocalConveyance
        let buttonLocalConveyance = document.querySelector("#button-excel-local-conveyance");

        if(buttonLocalConveyance){
            buttonLocalConveyance.addEventListener("click", e => {
                e.preventDefault();
                let table = document.querySelector(".download-excel-local-conveyance");
                TableToExcel.convert(table, {
                    name: "local-conveyance.xlsx",
                    sheet: {
                        name: "Sheet 1"
                    }
                });
            });
        }
        //buttonLocalOthers
        let buttonOthers = document.querySelector("#button-excel-others");

        if(buttonOthers){
            buttonOthers.addEventListener("click", e => {
                e.preventDefault();
                let table = document.querySelector(".download-excel-others");
                TableToExcel.convert(table, {
                    name: "others.xlsx",
                    sheet: {
                        name: "Sheet 1"
                    }
                });
            });
        }
    </script>
{% endblock  %}