{% extends 'admin/layout.html.twig' %}
{#{% block body_id 'kpi_domain_new' %}#}
{% block body %}
    <div class="pcoded-inner-content">
        <div class="row">
            <div class="card">
                <div class="portlet box ">
            <div class="portlet-title">
                <div class="caption">{{fishLifeCycle.report.name}} </div>
            </div>
        {#{{ dump(report) }}#}

            <div class="portlet-body form">
                {#{{ form_start(form, {'attr': {'action': path('chick_new_modal',{'id':crmCustomer.id,'report':report.id }),'class': 'form-horizontal right','id':'chick_life_cycle_form'}}) }}#}
                <div class="form-body">
                    <div class="form-inner-no-space">

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h4>NOURISH POULTRY & HATCHERY LTD</h4>
                                <h5>Uttara, Dhaka.</h5>
                                <h4>{{fishLifeCycle.report.name}}</h4>
                                <input type="hidden" class="fishLifeCycle_id" value="{{ fishLifeCycle.id }}">
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <p style="color: #000000">{{ 'Farmer Name'|trans }}: {{ fishLifeCycle.customer.name }}</p>
                                </div>
                                <div class="col-md-3">
                                    <p style="color: #000000">{{ 'Address'|trans }}: {{ fishLifeCycle.customer.address }}</p>
                                </div>
                                <div class="col-md-3">
                                    <p style="color: #000000">{{ 'Agent'|trans }}: {{ fishLifeCycle.customer.agent.name }}</p>
                                </div>
                                <div class="col-md-3">
                                    <p style="color: #000000">{{ 'Reporting Date'|trans }}: {{ fishLifeCycle.reportingMonth?fishLifeCycle.reportingMonth|date("d-m-Y"):'' }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body card-body-inner" style="padding: 0 5px;">
                            <div class="fishLifeCycleSection">
                                <table class="table table-striped table-bordered table-hover fish_life_cycle" id="datatable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Feed Company Name</th>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <th>{{ feedCompany }}</th>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Hatchery Name</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <th>
                                                    <select data-input-type="select" data-meta-key="Hatchery"  data-entity-id="{{ fishLifeCycleDetails[index].id }}" name="hatchery" class="form-control hatchery">
                                                        <option value="">Choose Hatchery</option>
                                                        {% if hatcheries is not empty %}
                                                            {% for hatchery in hatcheries %}
                                                                <option value="{{ hatchery.id }}" {{fishLifeCycleDetails[index].hatchery is not empty and fishLifeCycleDetails[index].hatchery.id==hatchery.id?'selected="selected"':'' }}>{{ hatchery.name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </th>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>Feed Used Item</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <th style="vertical-align: top">
                                                    {#                                                    {{ dump(fishLifeCycleDetails[index].getFeedItemNameIds) }}#}
                                                    <select id="feedItemName_{{ fishLifeCycleDetails[index].id }}" data-input-type="json" data-meta-key="FeedItemName"  data-entity-id="{{ fishLifeCycleDetails[index].id }}" name="feedItemName" class="form-control select2 feedItemName" multiple>
                                                        <option value="">Choose Feed Type</option>
                                                        {% if productsName is not empty %}
                                                            {% for productName in productsName %}
                                                                <option value="{{ productName.id }}" {{fishLifeCycleDetails[index].getFeedItemNameIds is not empty and productName.id in fishLifeCycleDetails[index].getFeedItemNameIds?'selected="selected"':'' }}>{{ productName.name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                    {#<input type="text" data-input-type="text" data-entity-id="{{ fishLifeCycleDetails[index].id }}"
                                                           data-meta-key="FeedItemName" class="form-control"
                                                           value="{{ fishLifeCycleDetails[index].feedItemName }}">#}
                                                </th>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>


                                    <tr>
                                        <td>Culture Species (Main)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <th>
                                                    <select data-input-type="select" data-meta-key="MainCultureSpecies"  data-entity-id="{{ fishLifeCycleDetails[index].id }}" name="main_culture_species" class="form-control main_culture_species">
                                                        <option value="">Choose Culture Species</option>
                                                        {% if mainCultureSpecies is not empty %}
                                                            {% for mainCultureSpecie in mainCultureSpecies %}
                                                                <option value="{{ mainCultureSpecie.id }}" {{fishLifeCycleDetails[index].mainCultureSpecies is not empty and fishLifeCycleDetails[index].mainCultureSpecies.id==mainCultureSpecie.id?'selected="selected"':'' }}>{{ mainCultureSpecie.name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </th>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>

                                    <tr>
                                        <td>Culture Species (Optional)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <th>
                                                    <select data-input-type="select" data-meta-key="OtherCultureSpecies"  data-entity-id="{{ fishLifeCycleDetails[index].id }}" name="other_culture_species" class="form-control other_culture_species">
                                                        <option value="">Choose Culture Species</option>
                                                        {% if otherCultureSpecies is not empty %}
                                                            {% for otherCultureSpecie in otherCultureSpecies %}
                                                                <option value="{{ otherCultureSpecie.id }}" {{fishLifeCycleDetails[index].otherCultureSpecies is not empty and fishLifeCycleDetails[index].otherCultureSpecies.id==otherCultureSpecie.id?'selected="selected"':'' }}>{{ otherCultureSpecie.name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </th>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>


                                    <tr>
                                        <td>Feed Type</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td>
                                                    <select data-input-type="select" data-meta-key="FeedType"  data-entity-id="{{ fishLifeCycleDetails[index].id }}" name="feed_type" class="form-control feed_type">
                                                        <option value="">Choose Feed Type</option>
                                                        {% if feedTypes is not empty %}
                                                            {% for feedType in feedTypes %}
                                                                <option value="{{ feedType.id }}"  {{fishLifeCycleDetails[index].feedType is not empty and fishLifeCycleDetails[index].feedType.id==feedType.id?'selected="selected"':'' }}>{{ feedType.name }}</option>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </td>

                                            {% endfor %}
                                        {% endif %}
                                    </tr>

                                    <tr>
                                        <td>Total feed consumption (kg)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td>
{#                                                    {{ fishLifeCycleDetails[index].totalFeedConsumptionKg }}#}
                                                    <input type="number" name="totalFeedConsumptionKg" data-input-type="number" data-entity-id="{{ fishLifeCycleDetails[index].id }}"
                                                           data-meta-key="TotalFeedConsumptionKg" class="form-control"
                                                           value="{{ fishLifeCycleDetails[index].totalFeedConsumptionKg }}" min="0">
                                                </td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>

                                    <tr>
                                        <td>Stocking date</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td>
                                                    <div class="date_section">
                                                        <input type="text" data-input-type="datetime" data-entity-id="{{ fishLifeCycleDetails[index].id }}"
                                                               data-meta-key="StockingDate" class="form-control datePicker"
                                                               value="{{ fishLifeCycleDetails[index].stockingDate?fishLifeCycleDetails[index].stockingDate|date('d-m-Y'):'' }}">
                                                    </div>
                                                </td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>Harvest date</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td>
                                                    <div class="date_section">
                                                        <input type="text" data-input-type="datetime" data-entity-id="{{ fishLifeCycleDetails[index].id }}"
                                                               data-meta-key="HarvestDate" class="form-control datePicker"
                                                               value="{{ fishLifeCycleDetails[index].harvestDate?fishLifeCycleDetails[index].harvestDate|date('d-m-Y'):'' }}">
                                                    </div>
                                                </td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>

                                    <tr>
                                        <td>Day Of Culture (DOC)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td class="{{ fishLifeCycleDetails[index].id }}_totalDayOfCulture">{{ fishLifeCycleDetails[index].totalDayOfCulture }}</td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>

                                    <tr>
                                        <td>No.of initial fish (pcs.)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td>
                                                    <input type="number" name="no_of_initial_fish" data-input-type="number" data-entity-id="{{ fishLifeCycleDetails[index].id }}"
                                                           data-meta-key="NoOfInitialFish" class="form-control"
                                                           value="{{ fishLifeCycleDetails[index].noOfInitialFish }}" min="0">
                                                </td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>

                                    <tr>
                                        <td>Culture area (m2)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <th>
                                                    <input type="text" name="culture_area_decimal" data-input-type="text" data-entity-id="{{ fishLifeCycleDetails[index].id }}"
                                                           data-meta-key="CultureAreaDecimal" class="form-control"
                                                           value="{{ fishLifeCycleDetails[index].cultureAreaDecimal }}">
                                                </th>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>


                                    <tr>
                                        <td>Density/decimal (pcs)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td class="{{ fishLifeCycleDetails[index].id }}_stockingDensity">{{ fishLifeCycleDetails[index].stockingDensity }}</td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>Average initial weight (g)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td>
                                                    <input type="number" name="average_initial_weight" data-input-type="number" data-entity-id="{{ fishLifeCycleDetails[index].id }}"
                                                           data-meta-key="AverageInitialWeight" class="form-control"
                                                           value="{{ fishLifeCycleDetails[index].averageInitialWeight }}" min="0">
                                                </td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>Total initial weight (kg)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td class="{{ fishLifeCycleDetails[index].id }}_totalInitialWeight">{{ fishLifeCycleDetails[index].totalInitialWeight }}</td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>

                                    <tr>
                                        <td>No.of Final fish (pcs.)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td>
                                                    <input type="number" name="noOfFinalFish" data-input-type="number" data-entity-id="{{ fishLifeCycleDetails[index].id }}"
                                                           data-meta-key="NoOfFinalFish" class="form-control"
                                                           value="{{ fishLifeCycleDetails[index].noOfFinalFish }}" min="0">
                                                </td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>

                                    <tr>
                                        <td>Average final weight (g)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td class="{{ fishLifeCycleDetails[index].id }}_finalAverageWeightGm">
                                                    <input type="number" name="finalAverageWeightGm" data-input-type="number" data-entity-id="{{ fishLifeCycleDetails[index].id }}"
                                                           data-meta-key="FinalAverageWeightGm" class="form-control"
                                                           value="{{ fishLifeCycleDetails[index].finalAverageWeightGm }}" min="0">
                                                    {#                                                    {{ fishLifeCycleDetails[index].finalWeightGm }}#}
                                                </td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>

                                    <tr>
                                        <td>Total final weight (kg)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td class="{{ fishLifeCycleDetails[index].id }}_finalWeightKg">{{ fishLifeCycleDetails[index].finalWeightKg }}</td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>


                                    <tr>
                                        <td>ADG (g/fish/day)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td class="{{ fishLifeCycleDetails[index].id }}_finalAdg">{{ fishLifeCycleDetails[index].finalAdg }}</td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>FCR</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td class="{{ fishLifeCycleDetails[index].id }}_finalFcr">{{ fishLifeCycleDetails[index].finalFcr|number_format(2,'.',',') }}</td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>Survival Rate (SR)(%)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td class="{{ fishLifeCycleDetails[index].id }}_srPercentage">{{ fishLifeCycleDetails[index].srPercentage|number_format(2,'.',',') }}</td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>Seed cost per pcs</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td>
                                                    <input type="number" name="perPcsSeedCost" data-input-type="number" data-entity-id="{{ fishLifeCycleDetails[index].id }}"
                                                           data-meta-key="PerPcsSeedCost" class="form-control"
                                                           value="{{ fishLifeCycleDetails[index].perPcsSeedCost }}" min="0">
                                                </td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>

                                    <tr>
                                        <td>Total seed cost (Taka)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td class="{{ fishLifeCycleDetails[index].id }}_totalSeedCost">{{ fishLifeCycleDetails[index].totalSeedCost|number_format(0,'.',',') }}</td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>Feed price per kg</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td>
                                                    <input type="number" name="perKgFeedRate" data-input-type="number" data-entity-id="{{ fishLifeCycleDetails[index].id }}"
                                                           data-meta-key="PerKgFeedRate" class="form-control"
                                                           value="{{ fishLifeCycleDetails[index].perKgFeedRate }}" min="0">
                                                </td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>

                                    <tr>
                                        <td>Total feed cost (Taka)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td class="{{ fishLifeCycleDetails[index].id }}_totalFeedCost">{{ fishLifeCycleDetails[index].totalFeedCost }}</td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>

                                    <tr>
                                        <td>Feed Cost/kg fish (tk.)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td class="{{ fishLifeCycleDetails[index].id }}_feedCostPerKgFish">{{ fishLifeCycleDetails[index].feedCostPerKgFish|number_format(2,'.',',') }}</td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>Total Others Cost (tk.)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td>
                                                    <input type="number" name="totalOtherCost" data-input-type="number" data-entity-id="{{ fishLifeCycleDetails[index].id }}"
                                                           data-meta-key="TotalOtherCost" class="form-control"
                                                           value="{{ fishLifeCycleDetails[index].totalOtherCost }}" min="0">
                                                </td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>Total Cost (tk.)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td class="{{ fishLifeCycleDetails[index].id }}_totalCost">{{ fishLifeCycleDetails[index].totalCost|number_format(0,'.',',') }}</td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>Production Cost/Kg fish (tk.)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td class="{{ fishLifeCycleDetails[index].id }}_productionCostPerKgFish">{{ fishLifeCycleDetails[index].productionCostPerKgFish|number_format(2,'.',',') }}</td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>Sales price per kg</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td>
                                                    <input type="number" name="salesPricePerKg" data-input-type="number" data-entity-id="{{ fishLifeCycleDetails[index].id }}"
                                                           data-meta-key="SalesPricePerKg" class="form-control"
                                                           value="{{ fishLifeCycleDetails[index].salesPricePerKg }}" min="0">
                                                </td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>

                                    <tr>
                                        <td>Total income (tk.)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td class="{{ fishLifeCycleDetails[index].id }}_totalIncome">{{ fishLifeCycleDetails[index].totalIncome|number_format(0,'.',',') }}</td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>Profit/Loss (tk.)</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td class="{{ fishLifeCycleDetails[index].id }}_netProfitOrLoss">{{ fishLifeCycleDetails[index].netProfitOrLoss|number_format(0,'.',',') }}</td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>ROI (Retune Over Investment)%</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td class="{{ fishLifeCycleDetails[index].id }}_retuneOverInvestment">{{ fishLifeCycleDetails[index].retuneOverInvestment|number_format(2,'.','') }}</td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>Farmer Comments</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td>
                                                    <input type="text" name="farmer_remarks" data-input-type="text" data-entity-id="{{ fishLifeCycleDetails[index].id }}"
                                                           data-meta-key="FarmerRemarks" class="form-control"
                                                           value="{{ fishLifeCycleDetails[index].farmerRemarks }}">
                                                </td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>Visitor's Comments</td>
                                        {% if feedCompanies is not empty %}
                                            {% for index, feedCompany in feedCompanies %}
                                                <td>
                                                    <input type="text" name="employee_remarks" data-input-type="text" data-entity-id="{{ fishLifeCycleDetails[index].id }}"
                                                           data-meta-key="EmployeeRemarks" class="form-control"
                                                           value="{{ fishLifeCycleDetails[index].employeeRemarks }}">
                                                </td>
                                            {% endfor %}
                                        {% endif %}
                                    </tr>
                                    </tbody>
                                </table>


                            </div>
                            <div style=" overflow-x: scroll">
                                <table class="table table-striped table-bordered table-hover fish_life_cycle" id="datatable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th style="width: 160px" scope="col">Feed Used</th>
                                        <th scope="col">{{ 'Farmar Name'|trans }}</th>
                                        <th scope="col">{{ 'Mobile No.'|trans }}</th>
                                        <th style="width: 150px" scope="col">Species</th>
                                        <th style="width: 150px" scope="col">Feed Company</th>
                                        <th style="width: 150px" scope="col">Hatchery Name</th>
                                        <th style="width: 120px" scope="col">StockingDate</th>
                                        <th style="width: 120px" scope="col">HarvestDate</th>
                                        <th style="width: 150px" scope="col">Culture area (m2)</th>

                                        <th scope="col">No.of initial fish (pcs.)</th>
                                        <th scope="col">Total initial weight (kg)</th>
                                        <th scope="col">Average initial weight (g)</th>

                                        <th scope="col">No.of Final fish (pcs.)</th>
                                        <th scope="col">No. of final (kg)</th>
                                        <th scope="col">Average final weight (g)</th>

                                        <th scope="col">Total feed consumption (kg)</th>
                                        <th scope="col">DOC</th>
                                        <th scope="col">ADG (g/fish/day)</th>
                                        <th scope="col">FCR</th>
                                        <th scope="col">SR (%)</th>

                                        <th scope="col">Total seed cost (Taka)</th>
                                        <th scope="col">Total feed cost (tk.)</th>
                                        <th scope="col">Feed Cost/kg fish (tk.)</th>
                                        <th scope="col">Total Others Cost (tk.)</th>
                                        <th scope="col">Total Cost  (tk.)</th>
                                        <th scope="col">Production Cost/Kg fish (tk.)</th>
                                        <th scope="col">Total income  (tk.)</th>
                                        <th scope="col">Profit/ Loss (tk.)</th>
                                        <th scope="col">ROI (Retune Over Investment) %</th>

                                        <th style="width: 200px" scope="col">Farmer's Comments</th>
                                        <th style="width: 200px" scope="col">Visitor's Comments</th>
                                        <th scope="col"></th>

                                    </tr>

                                    </thead>
                                    <tbody class="fishLifeCycleDetailsSection">
                                    {% include '@TerminalbdCrm/fishLifeCycle/partial/fish-life-cycle-after-sale-details-body.html.twig' %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/terminalbdcrm/css/crm.css') }}">
{% endblock  %}
{% block javascripts %}
    {#<script>#}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/fish-life-cycle.js') }}"></script>
{% endblock  %}
