{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
            <div class="card">
                <div class="card-header">
                    <h5>{{chickLifeCycle.report.name}}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a target="_blank" href="{{ path('crm_chick_report_detail_pdf',{'id':chickLifeCycle.id}) }}" class="btn blue-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> PDF</a>
                            <a target="_blank" href="{{ path('crm_chick_report_detail_excel',{'id':chickLifeCycle.id}) }}" class="btn btn-sm bg-primary white-font"><i class="fa fa-file-excel"></i> Excel</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        <!-- [ Main Content ] start -->
        <div class="portlet box ">

            <div class="portlet-body form">
                {#{{ form_start(form, {'attr': {'action': path('chick_new_modal',{'id':crmCustomer.id,'report':report.id }),'class': 'form-horizontal right','id':'chick_life_cycle_form'}}) }}#}
                <div class="row form-body ">
                    <div class="form-inner-no-space">

                        <div class="row">
                            <div class="col-md-12" style="text-align: center">
                                <h4>{{ 'NOURISH POULTRY AND HATCHERY LTD'|trans }}</h4>
                                <h5>{{ 'UTTARA, DHAKA.'|trans }}</h5>
                                <h4>{{chickLifeCycle.report.name}} {{ 'Report'|trans }}</h4>
                            </div>

                            <div class="col-md-4">
                                <p style="color: #000000">{{ 'Farmer Name'|trans }}: {{ chickLifeCycle.customer.name }}</p>
                            </div>
                            <div class="col-md-4">
                                <p style="color: #000000">{{ 'Address'|trans }}: {{ chickLifeCycle.customer.address }}</p>
                            </div>
                            <div class="col-md-4">
                                <p style="color: #000000">{{ 'Agent'|trans }}: {{ chickLifeCycle.agent.name }}</p>
                            </div>
                            <div class="col-md-4">
                                <p style="color: #000000">{{ 'Reporting Date'|trans }}: {{ chickLifeCycle.reportingDate?chickLifeCycle.reportingDate|date("d-m-Y"):'' }}</p>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <p style="color: #000000">{{ 'Hatching Date'|trans }}: {{ chickLifeCycle.hatchingDate?chickLifeCycle.hatchingDate|date("d-m-Y"):'' }}</p>
                            </div>
                        </div>
                        <div class="card-body-inner">
                            <div class="row">
                                <table class="table table-striped table-bordered table-hover" id="datatable">
                                    <thead class="thead-dark">
                                    <tr>

                                        <th scope="col" rowspan="2">S/N</th>
                                        {#<th scope="col" rowspan="2">Bird Type</th>#}
                                        <th style="width: 100px" scope="col" rowspan="2">Visiting Week</th>
                                        <th scope="col" rowspan="2">Total Birds</th>
                                        <th scope="col" rowspan="2">Age(Day)</th>
                                        <th scope="col" colspan="2">Mortality</th>
                                        <th scope="col" colspan="2">Weight</th>
                                        <th scope="col" colspan="3">Feed Consumption</th>
                                        <th scope="col" colspan="2">FCR</th>
                                        <th scope="col" rowspan="2">Feed Type</th>
                                        <th style="width: 120px" scope="col" rowspan="2">Pro. Date</th>
                                        <th scope="col" rowspan="2">Batch No.</th>
                                        <th scope="col" rowspan="2">Remarks</th>

                                    </tr>
                                    <tr>

                                        <th scope="col">Pes</th>
                                        <th scope="col">%</th>

                                        <th scope="col">Standard</th>
                                        <th scope="col">Achieved</th>

                                        <th scope="col">Total (kg)</th>
                                        <th scope="col">Per bird (gm)</th>
                                        <th scope="col">Standard</th>

                                        <th scope="col">Without  M</th>
                                        <th scope="col">With M</th>

                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% if chickLifeCycle.crmChickLifeCycleDetails is not empty %}

                                        {% for index, detail in chickLifeCycle.crmChickLifeCycleDetails %}
                                            <tr>
                                                <td>{{ index+1 }} </td>
                                                <td>
                                                    {{ detail.visitingWeek }}
                                                </td>
                                                <td>{{ detail.totalBirds }}</td>
                                                <td>{{ detail.ageDays }}</td>
                                                <td>{{ detail.mortalityPes }}</td>
                                                <td class="mortalityPercent">{{ detail.mortalityPercent }} </td>
                                                <td class="weightStandard">{{ detail.weightStandard }}</td>
                                                <td>{{ detail.weightAchieved }}</td>
                                                <td>{{ detail.feedTotalKg }}</td>
                                                <td class="perBird">{{ detail.perBird }}</td>
                                                <td class="feedStandard">{{ detail.feedStandard }}</td>
                                                <td class="withoutMortality">{{ detail.withoutMortality }}</td>
                                                <td class="withMortality">{{ detail.withMortality }}</td>
                                                <td>{{ detail.feedType.name|default('') }}</td>
                                                <td>{{ detail.proDate?detail.proDate|date("d-m-Y"):'' }}</td>
                                                <td>{{ detail.batchNo|default('') }}</td>
                                                <td>{{ detail.remarks|default('') }}</td>
                                            </tr>

                                        {% endfor %}

                                    {% endif %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}

{% endblock %}
