{% if entities['totalRecord'] is defined and entities['totalRecord'] is not empty %}

        <table class="table table-striped table-bordered table-hover download-excel">
            <thead class="thead-dark" style="background-color: #dbdee3">
            <tr>
                <th colspan="27" class="border-0" data-a-h="center"><h3 class="text-center">NOURISH POULTRY AND HATCHERY
                        LTD</h3></th>
            </tr>
            <tr>
                <th colspan="27" class="border-0" data-a-h="center"><h5 class="text-center">UTTARA, DHAKA.</h5></th>
            </tr>
            <tr>
                <th colspan="27" class="border-0" data-a-h="center"><h6
                            class="text-center">{{ report.name|default('') }}</h6></th>
            </tr>

            <tr style="position: sticky; top: -1px; background-color: #dbdee3" class="data-header">
                <th data-a-v="middle" scope="col" rowspan="2" class="text-center">Region</th>
                <th data-a-v="middle" scope="col" rowspan="2" class="text-center">Name Of CSO</th>
                <th data-a-v="middle" scope="col" rowspan="2" class="text-center">SL No.</th>
                <th scope="col" data-a-h="center" colspan="3" class="text-center">Agent Information</th>
                <th scope="col" data-a-h="center" colspan="3" class="text-center">Farmer Information</th>
                <th scope="col" data-a-h="center" colspan="3" class="text-center">DOC Information</th>
                <th scope="col" data-a-h="center" colspan="6" class="text-center">Flock Details</th>
                <th scope="col" data-a-h="center" colspan="3" class="text-center">Cost Details (Total)</th>
                <th scope="col" data-a-h="center" colspan="3" class="text-center">Cost Details (Per Bird)</th>
                <th scope="col" data-a-h="center" colspan="3" class="text-center">Cost Details (Per kg)</th>
            </tr>
            <tr style="position: sticky; top: 28px; background-color: #dbdee3" class="data-header">
                <th class="text-center" scope="col">Agent Name</th>
                <th class="text-center" scope="col">Address</th>
                <th class="text-center" scope="col">Mobile</th>

                <th class="text-center" scope="col">Farmer Name</th>
                <th class="text-center" scope="col">Address</th>
                <th class="text-center" scope="col">Mobile</th>

                <th class="text-center" scope="col">Hatch Date</th>
                <th class="text-center" scope="col">Hatchery</th>
                <th class="text-center" scope="col">Breed</th>

                <th class="text-center" scope="col">Total Chicks (Pcs)</th>
                <th class="text-center" scope="col">Total Feed (Kg)</th>
                <th class="text-center" scope="col">Total Broiler Wt (Kg)</th>
                <th class="text-center" scope="col">Mortality (Pcs)</th>
                <th class="text-center" scope="col">Age (days)</th>
                <th class="text-center" scope="col">FCR</th>

                <th class="text-center" scope="col">Medicine Cost (Total)</th>
                <th class="text-center" scope="col">Vaccine Cost (Total)</th>
                <th class="text-center" scope="col">M & V Cost (Total)</th>

                <th class="text-center" scope="col">Medicine Cost/Bird</th>
                <th class="text-center" scope="col">Vaccine Cost/Bird</th>
                <th class="text-center" scope="col">M & V Cost/Bird</th>

                <th class="text-center" scope="col">Medicine Cost/kg</th>
                <th class="text-center" scope="col">Vaccine Cost/kg</th>
                <th class="text-center" scope="col">M & V Cost/kg</th>
            </tr>
            </thead>
            <tbody>
            {% if entities['details'] is defined and entities['details'] is not empty %}
                {% set totalRecordCount=1 %}
                {% for monthYear, regionDetails in entities['details'] %}
                    <tr>
                        <td colspan="27">{{ monthYear }}</td>
                    </tr>
                    {% for regionId, employeesDetails in regionDetails %}
                        {% set recordCount=1 %}
                        {% for employeeId,details in employeesDetails %}
                        {% for detail in details %}
                            {% set totalStockedChicksPcs = detail['totalStockedChicksPcs']|default(0) %}
                            {% set totalBroilerWeightKg = detail['totalBroilerWeightKg']|default(0) %}
                            {% set medicineCost = detail['medicineTotalCost']|default(0) %}
                            {% set vaccineCost = detail['vaccineTotalCost']|default(0) %}
                            {% set medicineAndVaccineCost = medicineCost+vaccineCost %}
                            {% set medicineCostPerBird = totalStockedChicksPcs>0?(medicineCost/totalStockedChicksPcs):0 %}
                            {% set vaccineCostPerBird = totalStockedChicksPcs>0?(vaccineCost/totalStockedChicksPcs):0 %}
                            {% set medicineAndVaccineCostPerBird = totalStockedChicksPcs>0?(medicineAndVaccineCost/totalStockedChicksPcs):0 %}

                            {% set medicineCostPerKg = totalBroilerWeightKg>0?(medicineCost/totalBroilerWeightKg):0 %}
                            {% set vaccineCostPerKg = totalBroilerWeightKg>0?(vaccineCost/totalBroilerWeightKg):0 %}
                            {% set medicineAndVaccineCostPerKg = totalBroilerWeightKg>0?(medicineAndVaccineCost/totalBroilerWeightKg):0 %}
                            <tr>
                                {% if recordCount==1 %}
                                    <td data-a-v="middle" valign="middle"
                                        rowspan="{{ entities['regionRecord'][monthYear][regionId]|length }}">{{ detail['regionName']|default('') }}</td>
                                {% endif %}
                                {% if loop.first %}
                                    <td data-a-v="middle" valign="middle"
                                        rowspan="{{ details|length }}">{{ detail['employeeName']|default('') }}</td>
                                {% endif %}
                                {#                        <td>{{ monthYear }}</td>#}
                                <td data-a-h="center" data-t="n">{{ totalRecordCount }}</td>
                                <td>{{ detail['agentName']|default('') }}</td>
                                <td>{{ detail['agentAddress']|default('') }}</td>
                                <td data-t="s">{{ detail['agentMobile']|default('') }}</td>

                                <td>{{ detail['customerName']|default('') }}</td>
                                <td>{{ detail['customerAddress']|default('') }}</td>
                                <td data-t="s">{{ detail['customerMobile']|default('') }}</td>

                                <td data-t="s">{{ detail['hatchingDate']|date('d-m-Y') }}</td>
                                <td>{{ detail['hatcheryName']|default('') }}</td>
                                <td>{{ detail['breedBame']|default('') }}</td>

                                <td data-t="n">{{ detail['totalStockedChicksPcs']|default(0) }}</td>
                                <td data-t="n">{{ detail['totalFeedUsedKg']|default(0) }}</td>
                                <td data-t="n">{{ detail['totalBroilerWeightKg']|default(0) }}</td>
                                <td data-t="n">{{ detail['mortality']|default(0) }}</td>
                                <td data-t="n">{{ detail['ageDays']|default(0) }}</td>
                                <td data-t="n">{{ detail['fcr']|default(0)|number_format(2,'.','') }}</td>

                                <td data-t="n">{{ detail['medicineTotalCost']|default(0)|number_format(2,'.','') }}</td>
                                <td data-t="n">{{ detail['vaccineTotalCost']|default(0)|number_format(2,'.','') }}</td>
                                <td data-t="n">{{ medicineAndVaccineCost|number_format(2,'.','') }}</td>

                                <td data-t="n">{{ medicineCostPerBird|number_format(2,'.','') }}</td>
                                <td data-t="n">{{ vaccineCostPerBird|number_format(2,'.','') }}</td>
                                <td data-t="n">{{ medicineAndVaccineCostPerBird|number_format(2,'.','') }}</td>

                                <td data-t="n">{{ medicineCostPerKg|number_format(2,'.','') }}</td>
                                <td data-t="n">{{ vaccineCostPerKg|number_format(2,'.','') }}</td>
                                <td data-t="n">{{ medicineAndVaccineCostPerKg|number_format(2,'.','') }}</td>
                            </tr>
                            {% set totalRecordCount=totalRecordCount+1 %}
                            {% set recordCount=recordCount+1 %}
                        {% endfor %}

                    {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>


{% endif %}