{% if entities is defined and entities['records'] is not empty %}
<table class="table table-striped table-bordered table-hover download-excel">
    <thead class="thead-dark" style="background-color: #dbdee3">
    <tr>
        <th colspan="13" class="border-0" data-a-h="center"><h3 class="text-center">NOURISH POULTRY AND
                HATCHERY LTD</h3></th>
    </tr>
    <tr>
        <th colspan="13" class="border-0" data-a-h="center"><h5 class="text-center">UTTARA, DHAKA.</h5></th>
    </tr>
    <tr>
        <th colspan="13" class="border-0" data-a-h="center"><h6
                    class="text-center">{{ report.name|default('') }}</h6></th>
    </tr>

    <tr style="position: sticky; top: -1px; background-color: #dbdee3" class="data-header">

        <th>{{ 'Region'|trans }}</th>
        <th>{{ 'Name Of CSO'|trans }}</th>
        <th>{{ 'SL'|trans }}</th>
        <th>{{ 'Visting Date'|trans }}</th>
        <th>{{ 'Name of Farmer'|trans }}</th>
        <th>{{ 'Address'|trans }}</th>
        <th>{{ 'Mobile No.'|trans }}</th>
        <th>{{ 'Hatchery'|trans }}</th>
        <th>{{ 'Feed'|trans }}</th>
        <th>{{ 'Type of Birds'|trans }}</th>
        <th>{{ 'Flock Size'|trans }}</th>
        <th>{{ 'Age'|trans }}</th>
        <th>{{ 'Presumptive Diagnosis'|trans }}</th>
    </tr>

    </thead>

    <tbody>

    {% set totalRecordCount=1 %}
    {% for monthYear, monthYearRecords in entities['records'] %}
        <tr>
            <td colspan="13">{{ monthYear }}</td>
        </tr>
        {% for regionId, regionRecords in monthYearRecords %}
            {% set recordCount=1 %}
            {% for employeeId, employeeRecords in regionRecords %}
                {% for detail in employeeRecords['details'] %}
                    <tr>
                        {% if recordCount==1 %}
                            <td data-a-v="middle" valign="middle"
                                rowspan="{{ entities['regionRecords'][monthYear][regionId]|length }}">{{ detail.agentRegionName|default('') }}</td>
                        {% endif %}

                        {% if loop.first %}
                            <td data-a-v="middle" valign="middle"
                                rowspan="{{ employeeRecords['details']|length }}">{{ detail.employeeName|default('') }}</td>
                        {% endif %}
                        <td data-t="n">{{ totalRecordCount }}</td>
                        <td data-t="s">{{ detail['visitingDate']|date('d-M-Y') }}</td>
                        <td>{{ detail['customerName']|default('') }}</td>
                        <td>{{ detail['customerAddress']|default('') }}</td>
                        <td data-t="s">{{ detail['customerMobile']|default('') }}</td>
                        <td>{{ detail['hatcheryName']|default('') }}</td>
                        <td>{{ detail['feedName']|default('') }}</td>
                        <td>{{ detail['feedTypeName']|default('') }}</td>
                        <td data-t="n">{{ detail['flockSizeOrCapacity']|default('') }}</td>
                        <td>{{ detail['ageDays']|default('') ~ ' ' ~ detail['ageUnitType'] }}</td>
                        <td>{{ detail['diseaseName']|default('') }}</td>
                        {#                        <td>{{ detail['remarks']|default('') }}</td>#}
                    </tr>
                    {% set totalRecordCount=totalRecordCount+1 %}
                    {% set recordCount=recordCount+1 %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}

    </tbody>

</table>
{% endif %}