<table class="table table-striped table-bordered table-hover download-excel">
    <thead class="thead-dark" style="background-color: #dbdee3">
    <tr>
        <th data-b-a-s="thin" data-b-a-c="#000000" colspan="2" class="border" style="border-color: #b5b5b5!important">Age of Prod.</th>
        <th data-b-a-s="thin" data-b-a-c="#000000" colspan="3" class="border" style="border-color: #b5b5b5!important">Av. Feed Intake (g)</th>
        <th data-b-a-s="thin" data-b-a-c="#000000" colspan="2" class="border" style="border-color: #b5b5b5!important">Av. Egg Prod.%</th>
        <th colspan="25" class="border-0" data-a-h="center"><h3 class="text-center">NOURISH POULTRY AND HATCHERY LTD</h3></th>
    </tr>
    <tr>
        <th data-b-a-s="thin" data-b-a-c="#000000" colspan="2" class="border" style="border-color: #b5b5b5!important">26 - 40 wks</th>
        <th data-b-a-s="thin" data-b-a-c="#000000" colspan="3" class="text-right border"
            style="border-color: #b5b5b5!important">{{ entities['avgSummery'] is defined and entities['avgSummery']['young_age'] is defined and entities['avgSummery']['young_age']|length>0?(entities['avgSummery']['young_age']|arraySumColWise('feedIntakePerBird')/entities['avgSummery']['young_age']|length)|number_format(0,'.',''):'0' }}</th>
        <th data-b-a-s="thin" data-b-a-c="#000000" colspan="2" class="text-right border"
            style="border-color: #b5b5b5!important">{{ entities['avgSummery'] is defined and entities['avgSummery']['young_age'] is defined and entities['avgSummery']['young_age']|length>0?(entities['avgSummery']['young_age']|arraySumColWise('eggProductionAchieved')/entities['avgSummery']['young_age']|length)|number_format(0,'.',''):'0' }}</th>
        <th colspan="25" class="border-0" data-a-h="center"><h5 class="text-center">UTTARA, DHAKA.</h5></th>
    </tr>
    <tr>
        <th data-b-a-s="thin" data-b-a-c="#000000" colspan="2" class="border" style="border-color: #b5b5b5!important">41 - 60 wks</th>
        <th data-b-a-s="thin" data-b-a-c="#000000" colspan="3" class="text-right border"
            style="border-color: #b5b5b5!important">{{ entities['avgSummery'] is defined and entities['avgSummery']['middle_age'] is defined and entities['avgSummery']['middle_age']|length>0?(entities['avgSummery']['middle_age']|arraySumColWise('feedIntakePerBird')/entities['avgSummery']['middle_age']|length)|number_format(0,'.',''):'0' }}</th>
        <th data-b-a-s="thin" data-b-a-c="#000000" colspan="2" class="text-right border"
            style="border-color: #b5b5b5!important">{{ entities['avgSummery'] is defined and entities['avgSummery']['middle_age'] is defined and entities['avgSummery']['middle_age']|length>0?(entities['avgSummery']['middle_age']|arraySumColWise('eggProductionAchieved')/entities['avgSummery']['middle_age']|length)|number_format(0,'.',''):'0' }}</th>
{#        <th colspan="25" class="border-0" data-a-h="center"></th>#}
        <td colspan="25" class="border-0" data-a-h="center"><h6 class="text-center">{{ report.name|default('') }}</h6></td>

    </tr>
    <tr>
        <th data-b-a-s="thin" data-b-a-c="#000000" colspan="2" class="border" style="border-color: #b5b5b5!important">61 - up to cull</th>
        <th data-b-a-s="thin" data-b-a-c="#000000" colspan="3" class="text-right border"
            style="border-color: #b5b5b5!important">{{ entities['avgSummery'] is defined and entities['avgSummery']['old_age'] is defined and entities['avgSummery']['old_age']|length>0?(entities['avgSummery']['old_age']|arraySumColWise('feedIntakePerBird')/entities['avgSummery']['old_age']|length)|number_format(0,'.',''):'0' }}</th>
        <th data-b-a-s="thin" data-b-a-c="#000000" colspan="2" class="text-right border"
            style="border-color: #b5b5b5!important">{{ entities['avgSummery'] is defined and entities['avgSummery']['old_age'] is defined and entities['avgSummery']['old_age']|length>0?(entities['avgSummery']['old_age']|arraySumColWise('eggProductionAchieved')/entities['avgSummery']['old_age']|length)|number_format(0,'.',''):'0' }}</th>
{#        <td colspan="25" class="border-0" data-a-h="center"><h6 class="text-center">{{ report.name|default('') }}</h6></td>#}
        <th colspan="25" class="border-0" data-a-h="center"></th>

    </tr>

    <tr style="position: sticky; top: -1px; background-color: #dbdee3" class="data-header">
        <th data-a-h="center" scope="col" rowspan="2" class="text-center">Region</th>
        <th data-a-h="center" scope="col" rowspan="2" class="text-center">Name of CSO</th>
        <th data-a-h="center" scope="col" rowspan="2" class="text-center">SL No.</th>
        <th data-a-h="center" scope="col" rowspan="2" class="text-center">Agent's Name</th>
        <th data-a-h="center" scope="col" rowspan="2" class="text-center">Address</th>
        <th data-a-h="center" scope="col" rowspan="2" class="text-center">Farmer's Name</th>
        <th data-a-h="center" scope="col" rowspan="2" class="text-center">Mobile No.</th>
        <th data-a-h="center" scope="col" rowspan="2" class="text-center">Total birds</th>
        <th data-a-h="center" scope="col" rowspan="2" class="text-center">Age (Wk)</th>
        <th data-a-h="center" scope="col" rowspan="2" class="text-center">Age Group</th>
        <th data-a-h="center" scope="col" colspan="2" class="text-center">B.Weight (gm)</th>
        <th data-a-h="center" scope="col" colspan="2" class="text-center">Feed Intake (gm)</th>
        <th data-a-h="center" scope="col" colspan="2" class="text-center">Egg Production %</th>
        <th data-a-h="center" scope="col" colspan="2" class="text-center">Egg weight (gm)</th>
        <th data-a-h="center" scope="col" colspan="4" class="text-center">Feed Information</th>
        <th data-a-h="center" scope="col" colspan="3" class="text-center">Others Information</th>
        <th data-a-h="center" scope="col" rowspan="2" class="text-center">Disease</th>
        <th data-a-h="center" scope="col" rowspan="2" class="text-center">Remarks</th>
        {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_CRM_POULTRY_ADMIN') %}
            <th data-exclude="true" class="text-center" scope="col" rowspan="2">Action</th>
        {% endif %}

    </tr>
    <tr style="position: sticky; top: 28px; background-color: #dbdee3" class="data-header">
        <th data-a-h="center" class="text-center" scope="col">Achieved</th>
        <th data-a-h="center" class="text-center" scope="col">Target</th>
        <th data-a-h="center" class="text-center" scope="col">Feed/bird</th>
        <th data-a-h="center" class="text-center" scope="col">Target</th>
        <th data-a-h="center" class="text-center" scope="col">Achieved</th>
        <th data-a-h="center" class="text-center" scope="col">Target</th>
        <th data-a-h="center" class="text-center" scope="col">Achieved</th>
        <th data-a-h="center" class="text-center" scope="col">Stand</th>
        <th data-a-h="center" class="text-center" scope="col">F.Type</th>
        <th data-a-h="center" class="text-center" scope="col">P.Date</th>
        <th data-a-h="center" class="text-center" scope="col">Batch No.</th>
        <th data-a-h="center" class="text-center" scope="col">Feed Mill</th>
        <th data-a-h="center" class="text-center" scope="col">Hatchery</th>
        <th data-a-h="center" class="text-center" scope="col">Breed</th>
        <th data-a-h="center" class="text-center" scope="col">Color</th>
    </tr>

    </thead>
    <tbody>
{% if entities is not empty %}
    {% set recordCount=1 %}
        {% for monthYear, regionFcrDetails in entities %}
            {% if monthYear is not same as 'avgSummery' %}
            <tr>
                <td colspan="30">{{ monthYear }}</td>
            </tr>
            {% for regionId, employeesDetails in regionFcrDetails %}
            {% set regionRecordCount=1 %}
            {% for employeeId, details in employeesDetails %}
                {% if employeeId is not same as 'recordCount' %}
                    {% for detail in details['details'] %}
                        <tr>
                            {% if regionRecordCount==1 %}
                                <td valign="middle"
                                    rowspan="{{ employeesDetails['recordCount']|length }}">{{ detail['regionName'] }}</td>
                            {% endif %}
                            {% if loop.first %}

                                <td valign="middle"
                                    rowspan="{{ details['details']|length }}">{{ detail['employeeName'] }}</td>
                            {% endif %}
                            <td>{{ recordCount }}</td>
                            <td>{{ detail['agentName']|default('') }}</td>
                            <td>{{ detail['agentAddress']|default('') }}</td>
                            <td>{{ detail['customerName']|default('') }}</td>
                            <td data-t="s">{{ detail['customerMobile']|default('') }}</td>
                            <td data-t="n">{{ detail['totalBirds']|default(0) }}</td>
                            <td data-t="n">{{ detail['ageWeek']|default('') }}</td>
                            <td>{{ detail['ageGroup']|default('') }}</td>
                            <td data-t="n">{{ detail['birdWeightAchieved']|default(0) }}</td>
                            <td data-t="n">{{ detail['birdWeightTarget']|default(0) }}</td>
                            <td data-t="n">{{ detail['feedIntakePerBird']|default(0) }}</td>
                            <td data-t="n">{{ detail['feedTarget']|default(0) }}</td>
                            <td data-t="n">{{ detail['eggProductionAchieved']|default(0) }}</td>
                            <td data-t="n">{{ detail['eggProductionTarget']|default(0) }}</td>
                            <td data-t="n">{{ detail['eggWeightAchieved']|default(0) }}</td>
                            <td data-t="n">{{ detail['eggWeightStand']|default(0) }}</td>
                            <td>{{ detail['feedTypeName']|default('') }}</td>
                            <td data-t="s">{{ detail['productionDate']|date('d-M-Y') }}</td>
                            <td>{{ detail['batch_no']|default('') }}</td>
                            <td>{{ detail['feedMillName']|default('') }}</td>
                            <td>{{ detail['hatcheryName']|default('') }}</td>
                            <td>{{ detail['breedName']|default('') }}</td>
                            <td>{{ detail['colorName']|default('') }}</td>
                            <td>{{ detail['disease']|default('') }}</td>
                            <td>{{ detail['remarks']|default('') }}</td>
                            {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_CRM_POULTRY_ADMIN') %}
                                <td class="text-center" data-exclude="true" >
                                    <a data-action="{{ path('layer_parformance_details_soft_delete_by_admin_user',{id:detail['rId']}) }}" class="btn btn-danger btn-xs record_delete">x</a>
                                </td>
                            {% endif %}
                        </tr>
                        {% set regionRecordCount=regionRecordCount+1 %}
                        {% set recordCount=recordCount+1 %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}

    </tbody>
</table>