<ul class="sub-menu">
    {#{% if is_granted('ROLE_CRM_POULTRY_USER') or is_granted('ROLE_CRM_CATTLE_USER') or is_granted('ROLE_CRM_AQUA_USER') or is_granted('ROLE_CRM_SALES_MARKETING_USER') or is_granted('ROLE_LINE_MANAGER')  or is_granted('ROLE_DEVELOPER') %}

            {% endif %}#}
    <li><a class="dropdown-item" href="{{ path('crm_expense') }}"><i
                    class="feather icon-edit"></i>{{ 'Expense'|trans }}</a></li>
    <li><a class="dropdown-item" href="{{ path('crm_tour_plan') }}"><i
                    class="feather icon-edit"></i>{{ 'Tour Plan'|trans }}</a></li>
    {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_LINE_MANAGER') or is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_CRM_AQUA_ADMIN') or is_granted('ROLE_CRM_SALES_MARKETING_ADMIN') %}
        <li><a class="dropdown-item" href="{{ path('crm_expense_batch') }}"><i
                        class="feather icon-edit"></i>{{ 'Expense For Process'|trans }}</a></li>

        <li><a class="dropdown-item" href="{{ path('crm_expense_batch_list') }}"><i
                        class="feather icon-edit"></i>{{ 'Expense For Approval'|trans }}</a></li>
    {% endif %}
    {% if is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_CRM_AQUA_ADMIN') or is_granted('ROLE_CRM_SALES_MARKETING_ADMIN') or is_granted('ROLE_DEVELOPER') or is_granted('ROLE_LINE_MANAGER') %}
        <li><a class="dropdown-item" href="{{ path('crm_employee_tour_plan') }}"><i
                        class="feather icon-edit"></i>{{ 'Employee Tour Plan'|trans }}</a></li>

        <li><a class="dropdown-item" href="{{ path('crm_employee_tour_plan_summery') }}"><i
                        class="feather icon-edit"></i>{{ 'Tour Plan Status'|trans }}</a></li>

        <li><a class="dropdown-item" href="{{ path('crm_employee_expense_status') }}"><i
                        class="feather icon-edit"></i>{{ 'Expense Status'|trans }}</a></li>
    {% endif %}
    {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_CRM_AQUA_ADMIN') or is_granted('ROLE_CRM_SALES_MARKETING_ADMIN') %}
        <li><a class="dropdown-item" href="{{ path('crm_expense_particular_type') }}"><i
                        class="feather icon-edit"></i>{{ 'Particular Type'|trans }}</a></li>

        <li>

            <a class="dropdown-item" href="javascript:">{{ 'Expense Report'|trans }}</a>
            <ul>
                <li>
                    <a class="dropdown-item" href="{{ path('crm_expense_report') }}"><i
                                class="feather icon-edit"></i>{{ 'Company Wise'|trans }}</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{{ path('crm_expense_line_manager_wise_summery') }}"><i
                                class="feather icon-edit"></i>{{ 'Line Manager Wise'|trans }}</a>
                </li>
            </ul>

        </li>
    {% endif %}
</ul>