<ul class="sub-menu">
    {% if is_granted('ROLE_CRM_POULTRY_USER') or is_granted('ROLE_CRM_CATTLE_USER') or is_granted('ROLE_CRM_AQUA_USER') or is_granted('ROLE_CRM_SALES_MARKETING_USER') or is_granted('ROLE_DEVELOPER') %}
        <li><a class="dropdown-item" href="{{ path('crm_visit') }}"><i
                        class="feather icon-edit"></i>{{ 'CRM Visit'|trans }}</a></li>
        {#<li><a class="dropdown-item" href="{{ path('crm_expense') }}"><i
                        class="feather icon-edit"></i>{{ 'Expense'|trans }}</a></li>#}
    {% endif %}
    {#<li class="">
        <a class="" href="javascript:"><i class="feather icon-file-text"></i>{{ 'Expense'|trans }}</a>
        <ul class="sub-menu">

            <li><a class="dropdown-item" href="{{ path('crm_expense') }}"><i
                            class="feather icon-edit"></i>{{ 'Expense'|trans }}</a></li>
            <li><a class="dropdown-item" href="{{ path('crm_tour_plan') }}"><i
                            class="feather icon-edit"></i>{{ 'Tour Plan'|trans }}</a></li>
            {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_LINE_MANAGER') or is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_CRM_AQUA_ADMIN') or is_granted('ROLE_CRM_SALES_MARKETING_ADMIN') %}
                <li><a class="dropdown-item" href="{{ path('crm_expense_batch') }}"><i
                                class="feather icon-edit"></i>{{ 'Expense For Approval'|trans }}</a></li>
            {% endif %}
            {% if is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_CRM_AQUA_ADMIN') or is_granted('ROLE_CRM_SALES_MARKETING_ADMIN') or is_granted('ROLE_DEVELOPER') or is_granted('ROLE_LINE_MANAGER') %}
                <li><a class="dropdown-item" href="{{ path('crm_employee_tour_plan') }}"><i
                                class="feather icon-edit"></i>{{ 'Tour Plan Status'|trans }}</a></li>
            {% endif %}
            {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_CRM_AQUA_ADMIN') or is_granted('ROLE_CRM_SALES_MARKETING_ADMIN') %}
                <li><a class="dropdown-item" href="{{ path('crm_expense_particular_type') }}"><i
                                class="feather icon-edit"></i>{{ 'Particular Type'|trans }}</a></li>
            {% endif %}
        </ul>
    </li>#}

    {#{% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_LINE_MANAGER') or is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_CRM_AQUA_ADMIN') or is_granted('ROLE_CRM_SALES_MARKETING_ADMIN') %}
        <li><a class="dropdown-item" href="{{ path('crm_expense_batch') }}"><i
                        class="feather icon-edit"></i>{{ 'Expense For Approval'|trans }}</a></li>
    {% endif %}#}

    {% if is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_CRM_AQUA_ADMIN') or is_granted('ROLE_CRM_SALES_MARKETING_ADMIN') or is_granted('ROLE_CRM_REPORT') or is_granted('ROLE_DEVELOPER') or is_granted('ROLE_LINE_MANAGER') %}
        <li class=""><a class="" href="javascript:"><i class="feather icon-file-text"></i>{{ 'Report'|trans }}</a>

            <ul class="sub-menu">

                {% if is_granted('ROLE_CRM_SALES_MARKETING_ADMIN') or is_granted('ROLE_DEVELOPER') or is_granted('ROLE_LINE_MANAGER') %}
                    <li>
                        <a class="dropdown-item" href="javascript:">{{ 'Sales & Marketing'|trans }}</a>
                        <ul>
                            <li><a class="dropdown-item" href="{{ path('sales_marketing_report_index',{'report':'challenges-problem'}) }}">{{ 'Problems'|trans }}</a></li>
                            <li><a class="dropdown-item" href="{{ path('sales_marketing_report_index',{'report':'challenges-idea'}) }}">{{ 'Ideas'|trans }}</a></li>
                            <li><a class="dropdown-item" href="{{ path('sales_marketing_report_index',{'report':'competitors-activity'}) }}">{{ 'Competitors Activity'|trans }}</a></li>
                            <li>
                                <a class="dropdown-item" href="javascript:">{{ 'DOC Price'|trans }}</a>
                                <ul class="sub-menu">
                                    <li><a class="dropdown-item" href="{{ path('sales_marketing_report_index',{'report':'doc-price-monthly'}) }}">{{ 'Employee Wise Monthly'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('sales_marketing_report_index',{'report':'doc-price-daily'}) }}">{{ 'Employee Wise Daily'|trans }}</a></li>

                                    <li><a class="dropdown-item" href="{{ path('sales_marketing_report_index',{'report':'company-wise-doc-price-monthly'}) }}">{{ 'Company Wise Monthly'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('sales_marketing_report_index',{'report':'company-wise-doc-price-daily'}) }}">{{ 'Company Wise Daily'|trans }}</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'farmer-introduce-report-cattle'}) }}">{{ 'New Farmer Introduce (Cattle)'|trans }}</a></li>

                            <li>
                                <a class="dropdown-item" href="javascript:">{{ 'Meat & Egg Price'|trans }}</a>
                                <ul class="sub-menu">
                                    <li><a class="dropdown-item" href="{{ path('sales_marketing_report_index',{'report':'meat-egg-price-monthly'}) }}">{{ 'Monthly'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('sales_marketing_report_index',{'report':'meat-egg-price-daily'}) }}">{{ 'Daily'|trans }}</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-item" href="javascript:">{{ 'Complain'|trans }}</a>
                                <ul class="sub-menu">
                                    <li><a class="dropdown-item" href="{{ path('sales_marketing_report_index',{'report':'doc-complain'}) }}">{{ 'DOC'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('sales_marketing_report_index',{'report':'feed-complain'}) }}">{{ 'Feed'|trans }}</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-item" href="javascript:">{{ 'Company Wise'|trans }}</a>
                                <ul class="sub-menu">
                                    <li><a class="dropdown-item" href="{{ path('sales_marketing_report_index',{'report':'company-wise-layer-chick'}) }}">{{ 'DOC Production'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('sales_marketing_report_index',{'report':'company-wise-feed-sale-poultry'}) }}">{{ 'Poultry Feed Sale'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('sales_marketing_report_index',{'report':'company-wise-feed-sale-cattle'}) }}">{{ 'Cattle Feed Sale'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('sales_marketing_report_index',{'report':'company-wise-feed-sale-fish'}) }}">{{ 'Fish Feed Sale'|trans }}</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_CRM_AQUA_ADMIN') or is_granted('ROLE_CRM_REPORT') or is_granted('ROLE_DEVELOPER') or is_granted('ROLE_LINE_MANAGER')  %}
                    <li>
                        <a class="dropdown-item" href="javascript:">{{ 'Life Cycle Report'|trans }}</a>
                        <ul>
                            {% if is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_DEVELOPER') or is_granted('ROLE_LINE_MANAGER') or (is_granted('ROLE_CRM_POULTRY_USER') and is_granted('ROLE_CRM_REPORT')) %}
                            <li>
                                <a class="dropdown-item" href="javascript:">{{ 'Poultry'|trans }}</a>
                                <ul class="sub-menu">
                                    <li><a class="dropdown-item" href="{{ path('life_cycle_report_index', {'lifeCycleSlug':'boiler-life-cycle'}) }}">{{ 'Boiler'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('life_cycle_report_index', {'lifeCycleSlug':'sonali-life-cycle'}) }}">{{ 'sonali'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('life_cycle_report_index', {'lifeCycleSlug':'layer-life-cycle-brown'}) }}">{{ 'Layer Brown'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('life_cycle_report_index', {'lifeCycleSlug':'layer-life-cycle-white'}) }}">{{ 'Layer White'|trans }}</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            {% if is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_DEVELOPER') or is_granted('ROLE_LINE_MANAGER') or (is_granted('ROLE_CRM_CATTLE_USER') and is_granted('ROLE_CRM_REPORT')) %}
                            <li>
                                <a class="dropdown-item" href="javascript:">{{ 'Cattle'|trans }}</a>
                                <ul class="sub-menu">
                                    <li><a class="dropdown-item" href="{{ path('life_cycle_report_index', {'lifeCycleSlug':'dairy-life-cycle'}) }}">{{ 'Dairy'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('life_cycle_report_index', {'lifeCycleSlug':'fattening-life-cycle'}) }}">{{ 'Fattening'|trans }}</a></li>
                                </ul>
                            </li>

                            {% endif %}
                            {% if is_granted('ROLE_CRM_AQUA_ADMIN') or is_granted('ROLE_DEVELOPER') or is_granted('ROLE_LINE_MANAGER') or (is_granted('ROLE_CRM_AQUA_USER') and is_granted('ROLE_CRM_REPORT')) %}
                            <li>
                                <a class="dropdown-item" href="javascript:">{{ 'Fish'|trans }}</a>
                                <ul class="sub-menu">
                                    <li><a class="dropdown-item" href="{{ path('life_cycle_report_index', {'lifeCycleSlug':'fish-life-cycle-nursing-report'}) }}">{{ 'Nursing'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('life_cycle_report_index', {'lifeCycleSlug':'fish-life-cycle-report'}) }}">{{ 'Culture'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('life_cycle_report_index', {'lifeCycleSlug':'fish-life-cycle-after-sale-report'}) }}">{{ 'Harvest'|trans }}</a></li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </li>

                    <li>
                        <a class="dropdown-item" href="javascript:">{{ 'Monthly Report'|trans }}</a>
                        <ul>
                            {% if is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_DEVELOPER') or is_granted('ROLE_LINE_MANAGER') or (is_granted('ROLE_CRM_POULTRY_USER') and is_granted('ROLE_CRM_REPORT')) %}
                            <li>
                                <a class="dropdown-item" href="javascript:">{{ 'Poultry'|trans }}</a>
                                <ul class="sub-menu">
                                    <li><a class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'antibiotic-free-farm-poultry'}) }}">{{ 'Antibiotic Free Farm'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'less-costing-farm-poultry'}) }}">{{ 'Less Costing Farm'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'disease-mapping-report-poultry'}) }}">{{ 'Disease Mapping Report'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'farmer-introduce-report-poultry'}) }}">{{ 'New Farmer Introduce'|trans }}</a></li>

                                    <li><a class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'farmer-introduce-report-cattle'}) }}">{{ 'New Farmer Introduce (Cattle)'|trans }}</a></li>

                                    <li><a class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'fcr-before-sale-boiler'}) }}">{{ 'Boilar FCR (Before Sale)'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'fcr-after-sale-boiler'}) }}">{{ 'Boilar FCR (After Sale)'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'fcr-before-sale-sonali'}) }}">{{ 'Sonali FCR (Before Sale)'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'fcr-after-sale-sonali'}) }}">{{ 'Sonali FCR (After Sale)'|trans }}</a></li>

                                    <li><a class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'layer-performance-brown'}) }}">{{ 'Layer Performance (Brown)'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'layer-performance-white'}) }}">{{ 'Layer Performance (White)'|trans }}</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            {% if is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_DEVELOPER') or is_granted('ROLE_LINE_MANAGER') or (is_granted('ROLE_CRM_CATTLE_USER') and is_granted('ROLE_CRM_REPORT')) %}
                            <li>
                                <a class="dropdown-item" href="javascript:">{{ 'Cattle'|trans }}</a>
                                <ul class="sub-menu">
                                    <li><a class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'farmer-introduce-report-cattle'}) }}">{{ 'New Farmer Introduce'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'disease-mapping-report-cattle'}) }}">{{ 'Disease Mapping Report'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'cattle-farm-visit-report'}) }}">{{ 'Cattle Farm Visit Report'|trans }}</a></li>

                                    <li><a class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'dairy-performance-report'}) }}">{{ 'Dairy Performance Report'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'fattening-performance-report'}) }}">{{ 'Fattening Performance Report'|trans }}</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            {% if is_granted('ROLE_CRM_AQUA_ADMIN') or is_granted('ROLE_DEVELOPER') or is_granted('ROLE_LINE_MANAGER') or (is_granted('ROLE_CRM_AQUA_USER') and is_granted('ROLE_CRM_REPORT')) %}
                            <li>
                                <a class="dropdown-item" href="javascript:">{{ 'Fish'|trans }}</a>
                                <ul class="sub-menu">
                                    <li><a class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'farmer-introduce-report-fish'}) }}">{{ 'New Farmer Introduce'|trans }}</a></li>

                                    <li><a class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'farmer-introduce-report-cattle'}) }}">{{ 'New Farmer Introduce (Cattle)'|trans }}</a></li>

                                    <li><a class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'less-costing-farm-fish'}) }}">{{ 'Less Costing Farm Fish'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'disease-mapping-report-fish'}) }}">{{ 'Disease Mapping Report'|trans }}</a></li>

                                    <li><a title="{{ 'Company & Species wise Average FCR (Culture)'|trans }}" class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'company-species-wise-average-fcr-before'}) }}">{{ 'Average FCR (Culture)'|trans }}</a></li>
                                    <li><a title="{{ 'Company & Species wise Average FCR (Harvest)'|trans }}" class="dropdown-item" href="{{ path('monthly_report_index', {'reportSlug':'company-species-wise-average-fcr-after'}) }}">{{ 'Average FCR (Harvest)'|trans }}</a></li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </li>

                    <li>
                        <a class="dropdown-item" href="javascript:">{{ 'Others Report'|trans }}</a>
                        <ul>
                            <li>
                                <a class="dropdown-item" href="javascript:">{{ 'Others'|trans }}</a>
                                <ul class="sub-menu">
{#                                    <li><a class="dropdown-item" href="{{ path('others_report_index', {'reportSlug':'expense'}) }}">{{ 'Expense'|trans }}</a></li>#}
                                    <li><a class="dropdown-item" href="{{ path('others_report_index', {'reportSlug':'feed-complain'}) }}">{{ 'Feed Complain'|trans }}</a></li>
                                </ul>
                            </li>
                            {% if is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_DEVELOPER') or is_granted('ROLE_LINE_MANAGER') or (is_granted('ROLE_CRM_POULTRY_USER') and is_granted('ROLE_CRM_REPORT')) %}
                            <li>
                                <a class="dropdown-item" href="javascript:">{{ 'Poultry'|trans }}</a>
                                <ul class="sub-menu">
                                    <li><a class="dropdown-item" href="{{ path('others_report_index', {'reportSlug':'company-wise-feed-sale-poultry'}) }}">{{ 'Company Wise Feed Sale'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('others_report_index', {'reportSlug':'company-wise-layer-chick'}) }}">{{ 'DOC Production'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('others_report_index', {'reportSlug':'farmer-survey-poultry'}) }}">{{ 'Farmer Survey'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('others_report_index', {'reportSlug':'farmer-training-poultry'}) }}">{{ 'Farmer Training'|trans }}</a></li>
                                    <li><a title="FCR Different Companies (Broiler)" class="dropdown-item" href="{{ path('others_report_index', {'reportSlug':'fcr-different-companies-poultry'}) }}">{{ 'FCR Diff. Comp. (Broiler)'|trans }}</a></li>
                                    <li><a title="FCR Different Companies (Sonali)" class="dropdown-item" href="{{ path('others_report_index', {'reportSlug':'fcr-different-companies-sonali'}) }}">{{ 'FCR Diff. Comp. (Sonali)'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('others_report_index', {'reportSlug':'lab-service-poultry'}) }}">{{ 'Lab Service'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('others_report_index', {'reportSlug':'doc-complain'}) }}">{{ 'DOC Complain'|trans }}</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            {% if is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_DEVELOPER') or is_granted('ROLE_LINE_MANAGER') or (is_granted('ROLE_CRM_CATTLE_USER') and is_granted('ROLE_CRM_REPORT')) %}
                            <li>
                                <a class="dropdown-item" href="javascript:">{{ 'Cattle'|trans }}</a>
                                <ul class="sub-menu">
                                    <li><a class="dropdown-item" href="{{ path('others_report_index', {'reportSlug':'new-agent-upgradation-cattle'}) }}">{{ 'New Agent or Upgradation'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('others_report_index', {'reportSlug':'company-wise-feed-sale-cattle'}) }}">{{ 'Company Wise Feed Sale'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('others_report_index', {'reportSlug':'farmer-survey-cattle'}) }}">{{ 'Farmer Survey'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('others_report_index', {'reportSlug':'farmer-training-cattle'}) }}">{{ 'Farmer Training'|trans }}</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            {% if is_granted('ROLE_CRM_AQUA_ADMIN') or is_granted('ROLE_DEVELOPER') or is_granted('ROLE_LINE_MANAGER') or (is_granted('ROLE_CRM_AQUA_USER') and is_granted('ROLE_CRM_REPORT')) %}
                            <li>
                                <a class="dropdown-item" href="javascript:">{{ 'Fish'|trans }}</a>
                                <ul class="sub-menu">
                                    <li><a class="dropdown-item" href="{{ path('others_report_index', {'reportSlug':'new-agent-upgradation-fish'}) }}">{{ 'New Agent or Upgradation'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('others_report_index', {'reportSlug':'company-wise-feed-sale-fish'}) }}">{{ 'Company Wise Feed Sale'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('others_report_index', {'reportSlug':'farmer-survey-fish'}) }}">{{ 'Farmer Survey'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('others_report_index', {'reportSlug':'farmer-training-fish'}) }}">{{ 'Farmer Training'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('others_report_index', {'reportSlug':'fish-sales-price'}) }}">{{ 'Fish Sales Price'|trans }}</a></li>
                                    <li><a class="dropdown-item" href="{{ path('others_report_index', {'reportSlug':'fish-tilapia-fry-sales'}) }}">{{ 'Tilapia Fry Sales'|trans }}</a></li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                <li><a class="dropdown-item" href="{{ path('visit_report') }}">{{ 'Visit Report'|trans }}</a></li>
                <li><a class="dropdown-item" href="{{ path('visit_status') }}">{{ 'Visit Status'|trans }}</a></li>
                <li><a class="dropdown-item" href="{{ path('visit_summery_report') }}">{{ 'Visit Summery Report'|trans }}</a></li>
                <li><a class="dropdown-item" href="{{ path('agent_visit_monitor') }}">{{ 'Agent Visit Monitor'|trans }}</a></li>
            </ul>

        </li>
    {% endif %}


    {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_CRM_AQUA_ADMIN') or is_granted('ROLE_CRM_SALES_MARKETING_ADMIN') %}
        <li class="">
            <a class="" href="javascript:"><i class="feather icon-info"></i>{{ 'Master Data'|trans }}</a>
            <ul class="sub-menu">
                {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_CRM_POULTRY_ADMIN') %}
                    <li><a class="dropdown-item" href="{{ path('broiler_standard') }}">{{ 'Broiler Standard'|trans }}</a>
                    </li>
                    <li><a class="dropdown-item" href="{{ path('sonali_standard') }}">{{ 'Sonali Standard'|trans }}</a></li>
                    <li><a class="dropdown-item" href="{{ path('layer_standard') }}">{{ 'Layer Standard'|trans }}</a></li>
                {% endif %}

                <li><a class="dropdown-item"
                       href="{{ path('crm_setting_life_cycle') }}">{{ 'Life Cycle Setting'|trans }}</a></li>
                <li><a class="dropdown-item" href="{{ path('crm_setting') }}">{{ 'Setting'|trans }}</a></li>
                <li> <a class="dropdown-item loader" href="{{ path('sync_agent') }}"><i class="feather icon-refresh-ccw"></i>{{ 'Sync Agent'|trans }}</a></li>
                {#                <li><a class="dropdown-item" href="{{ path('api_response_list') }}">{{ 'API Response List'|trans }}</a></li>#}
            </ul>
        </li>
    {% endif %}


    {% if is_granted('ROLE_CRM_POULTRY_USER') or is_granted('ROLE_CRM_CATTLE_USER') or is_granted('ROLE_CRM_AQUA_USER') or is_granted('ROLE_DEVELOPER')  or is_granted('ROLE_CRM_SALES_MARKETING_USER') %}
        <li>
            <a class="" href="javascript:"><i class="fa fa-building-o"></i>{{ 'Company Feed Sale'|trans }}</a>
            <ul class="sub-menu">
                {% if is_granted('ROLE_CRM_POULTRY_USER') or is_granted('ROLE_DEVELOPER')  or is_granted('ROLE_CRM_SALES_MARKETING_USER') %}
                    <li><a class="dropdown-item"
                           href="{{ path('company_wise_feed_sale_new',{'breed_name': 'poultry'}) }}">{{ 'Poultry Feed'|trans }}</a>
                    </li>
                    {#<li><a class="dropdown-item"
                           href="{{ path('company_wise_feed_sale_new',{'breed_name': 'poultry-boiler-chicks'}) }}">{{ 'Poultry Boiler Chicks'|trans }}</a>
                    </li>#}
                    <li><a class="dropdown-item"
                           href="{{ path('company_wise_feed_sale_new',{'breed_name': 'poultry-layer-chicks'}) }}">{{ 'DOC Production'|trans }}</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_CRM_CATTLE_USER') or is_granted('ROLE_DEVELOPER')  or is_granted('ROLE_CRM_SALES_MARKETING_USER') %}
                    <li><a class="dropdown-item"
                           href="{{ path('company_wise_feed_sale_new',{'breed_name': 'cattle'}) }}">{{ 'Cattle'|trans }}</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_CRM_AQUA_USER') or is_granted('ROLE_DEVELOPER') or is_granted('ROLE_CRM_SALES_MARKETING_USER') %}
                    <li><a class="dropdown-item"
                           href="{{ path('company_wise_feed_sale_new',{'breed_name': 'fish'}) }}">{{ 'Fish'|trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </li>
    {% endif %}


    {% if is_granted('ROLE_CRM_POULTRY_USER') or is_granted('ROLE_DEVELOPER') %}
        <li>
            <a class="" href="javascript:"><i class="feather icon-percent"></i>{{ 'FCR Different Company'|trans }}</a>
            <ul class="sub-menu">
                <li>
                    <a class="dropdown-item" href='{{ path('fcr_different_company_new_modal',{'breed_name': 'poultry'}) }}'>
                        {{ 'Broiler'|trans }}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href='{{ path('fcr_different_company_new_modal',{'breed_name': 'sonali'}) }}'>
                        {{ 'Sonali'|trans }}
                    </a>
                </li>
            </ul>

        </li>
        <li><a class="dropdown-item" href='{{ path('lab_service_new_modal',{'breed_name': 'poultry'}) }}'><i
                        class="feather icon-filter"></i>{{ 'Lab Service'|trans }}</a></li>
    {% endif %}

    {% if is_granted('ROLE_CRM_AQUA_USER') or is_granted('ROLE_DEVELOPER') %}
        <li><a class="dropdown-item" href="{{ path('fish_sales_price_add') }}"><i
                        class="feather icon-activity"></i>{{ 'Fish Sales Price'|trans }}</a></li>
        <li><a class="dropdown-item" href="{{ path('tilapia_fry_sales_add') }}"><i
                        class="feather icon-activity"></i>{{ 'Tilapia Fry Sales'|trans }}</a></li>
    {% endif %}
    {% if is_granted('ROLE_CRM_SALES_MARKETING_USER') or is_granted('ROLE_DEVELOPER') %}
        <li><a class="dropdown-item" href="{{ path('day_old_chick_price_new') }}"><i
                        class="feather icon-credit-card"></i>{{ 'DOC Price'|trans }}</a></li>
        <li><a class="dropdown-item" href="{{ path('meat_egg_price_new') }}"><i
                        class="feather icon-credit-card"></i>{{ 'Meat and Egg Price'|trans }}</a></li>
    {% endif %}
    {% if is_granted('ROLE_CRM_POULTRY_USER') or is_granted('ROLE_CRM_CATTLE_USER') or is_granted('ROLE_CRM_AQUA_USER') or is_granted('ROLE_CRM_SALES_MARKETING_USER') or is_granted('ROLE_DEVELOPER') %}
        {#        <li><a class="dropdown-item" href="{{ path('crm_expense') }}"><i class="feather icon-credit-card"></i>{{ 'Expense'|trans }}</a></li>#}
        {#    <li><a class="dropdown-item" href="{{ path('crm_employee') }}">{{ 'Employee'|trans }}</a></li>#}
    {% endif %}
    <li>
        <a class="" href="javascript:"><i class="feather icon-users"></i>{{ 'Farmer'|trans }}</a>
        <ul class="sub-menu">
            <li>
                <a class="dropdown-item" href='{{ path('crm_customer',{'customerType': 'poultry'}) }}'>
                    {{ 'Poultry'|trans }}
                </a>
            </li>
            <li>
                <a class="dropdown-item" href='{{ path('crm_customer',{'customerType': 'cattle'}) }}'>
                    {{ 'Cattle'|trans }}
                </a>
            </li>
            <li>
                <a class="dropdown-item" href='{{ path('crm_customer',{'customerType': 'fish'}) }}'>
                    {{ 'Fish'|trans }}
                </a>
            </li>
        </ul>

    </li>

    {% if is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_CRM_AQUA_ADMIN') or is_granted('ROLE_CRM_SALES_MARKETING_ADMIN') or is_granted('ROLE_DEVELOPER') %}
    <li><a class="" href="{{ path('crm_sync_app_data_index') }}"><i
                    class="feather icon-refresh-ccw"></i>{{ 'Process App Data'|trans }}</a>
        {% endif %}

    {% if is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_CRM_AQUA_ADMIN') or is_granted('ROLE_DEVELOPER') %}
    <li><a class="" href="{{ path('training_material_list') }}"><i class="fas fa-gift"></i>{{ 'Training Materials'|trans }}</a>
        {% endif %}
</ul>