{% if entities is defined and entities is not empty %}
  <table class="table table-striped table-bordered table-hover download-excel">
        <thead class="thead-dark">
        <tr>
            <th data-a-h="center" class="border-0" colspan="14"><h3 class="text-center">NOURISH POULTRY AND HATCHERY LTD</h3></th>
        </tr>
        <tr>
            <th data-a-h="center" class="border-0" colspan="14"><h5 class="text-center">UTTARA, DHAKA.</h5></th>
        </tr>

        <tr>
            <th data-a-h="center" class="border-0" colspan="14" align="center"><h6 class="text-center">{{ filterBy['otherReport']|replace({'-': ' '}) |upper }}</h6></th>
        </tr>
        <tr style="position: sticky; top: -1px; background-color: #dbdee3">
            <th data-a-v="middle" scope="col" rowspan="2" width="50">S/N</th>
            <th data-a-v="middle" scope="col" rowspan="2">Name of CSO</th>
            <th data-a-v="middle" scope="col" rowspan="2">Company</th>
            {% if species is defined %}
                {% for key, item in species %}
                    {% if filterBy['otherReport'] in ['company-wise-feed-sale-cattle','company-wise-feed-sale-fish'] %}
                        <th data-a-h="center" scope="col" colspan="{{ (item|length)+1 }}" style="text-align: center">{{ key }}</th>
                    {% else %}
                        <th data-a-h="center" scope="col" colspan="{{ (item|length) }}" style="text-align: center">{{ key }}</th>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <th data-a-v="middle" scope="col" rowspan="2" width="100">Market Share (%)</th>

        </tr>
        <tr style="position: sticky; top: 28px; background-color: #dbdee3">
            {% if species is defined %}
                {% for item in species %}
                    {% for child in item %}
                        <th scope="col" style="text-align: center">{{ child.name }}</th>
                    {% endfor %}

                    {% if filterBy['otherReport'] in ['company-wise-feed-sale-cattle','company-wise-feed-sale-fish'] %}
                        <th scope="col" style="text-align: center">Total</th>
                    {% endif %}

                {% endfor %}
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for monthYear, monthlyRecords in entities %}
            <tr>
                <th colspan="3">{{ monthYear }}</th>
            </tr>
            {% for employeeId, entity in monthlyRecords %}

                {% set breedWiseTotalQty = [] %}


                {% set fullTotal = 0 %}
                {% set totalPercentage = 0 %}

                {% for details in entity.details %}
                    {% set fullTotal = fullTotal + details.totalQty %}

                    {% set productWiseQty = details.productWiseQty is not empty ? details.productWiseQty|json_decode : [] %}
                    <tr>
                        <td align="center">{{ loop.index }}</td>
                        <td>{{ details.employeeName }}</td>
                        <td>{{ details.feedCompanyName }}</td>

                        {% if species is defined %}
                            {% for item in species %}
                                {% set total = 0 %}
                                {% for child in item %}
                                    {% if productWiseQty[child.id] is defined %}
                                        {% set total = total + productWiseQty[child.id] %}

                                        <td data-t="n" align="right">{{ productWiseQty[child.id] }}</td>
                                        {% if breedWiseTotalQty['#' ~ child.id] is defined %}
                                            {% set breedWiseTotalQty = breedWiseTotalQty|merge({ ('#' ~ (child.id)) : (breedWiseTotalQty['#' ~ child.id] + productWiseQty[child.id]) }) %}
                                        {% else %}
                                            {% set breedWiseTotalQty = breedWiseTotalQty|merge({ ('#' ~ (child.id)): (productWiseQty[child.id]) }) %} {# chile.id is not copatible as key. To make string add '#' before that is#}

                                        {% endif %}

                                    {% else %}
                                        <td data-t="n" align="right">0</td>
                                    {% endif %}
                                {% endfor %}
                                {% if filterBy['otherReport'] in ['company-wise-feed-sale-cattle','company-wise-feed-sale-fish'] %}
                                    <td data-t="n" align="right">{{ total }}</td>
                                {% endif %}


                            {% endfor %}
                        {% endif %}

                        {#                <td align="right">{{ details.totalQty }}</td>#}
                        <td data-t="n" align="right">{{ entity.companyTotalQty > 0 ? ((details.totalQty * 100) / entity.companyTotalQty)|number_format(2) : 0 }}</td>
                        {% set percentage=entity.companyTotalQty > 0 ? ((details.totalQty * 100) / entity.companyTotalQty)|number_format(2) : 0 %}
                        {% set totalPercentage=totalPercentage+percentage %}
                    </tr>
                {% endfor %}
                <tr>
                    <th style="text-align: center" colspan="3">Total</th>


                    {% if species is defined %}
                        {% for item in species %}
                            {% set total = 0 %}
                            {% for child in item %}
                                {% if breedWiseTotalQty['#' ~ child.id] is defined %}
                                    <th data-t="n" align="right" style="text-align: right">{{ breedWiseTotalQty['#' ~ child.id] }}</th>
                                {% else %}
                                    <th data-t="n" align="right" style="text-align: right">0</th>
                                {% endif %}
                            {% endfor %}
                            {% if filterBy['otherReport'] in ['company-wise-feed-sale-cattle','company-wise-feed-sale-fish'] %}
                                <th align="right" style="text-align: right"> </th>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {#            <th align="right" style="text-align: right">{{ fullTotal }}</th>#}
                    <th data-t="n" align="right" style="text-align: right">{{ totalPercentage|number_format(0) }}</th>

                </tr>

            {% endfor %}

            <tr>
                <td colspan="8" style="height: 25px"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
