{% if entities is defined and entities['records'] is not empty %}

<table class="table table-striped table-bordered table-hover download-excel">
    <thead class="thead-dark">
    <tr>
        <th data-a-h="center" class="border-0" colspan="14"><h3 class="text-center">NOURISH POULTRY AND HATCHERY LTD</h3></th>
    </tr>
    <tr>
        <th data-a-h="center" class="border-0" colspan="14"><h5 class="text-center">UTTARA, DHAKA.</h5></th>
    </tr>

    <tr>
        <th data-a-h="center" class="border-0" colspan="14" align="center"><h6 class="text-center">{{ 'FCR Different Companies'|upper }} {{ filterBy['otherReport'] is defined and filterBy['otherReport']=='fcr-different-companies-sonali'?"(SONALI)":'' }}{{ filterBy['otherReport'] is defined and filterBy['otherReport']=='fcr-different-companies-poultry'?"(BROILER)":'' }}</h6></th>
    </tr>

    </thead>
    <tbody>
    {% for employeeId, employeeRecord in entities['records'] %}

        <tr>
            <th colspan="4">Officer's ID: {{ entities['employeeInfo'] is defined and entities['employeeInfo'][employeeId] is defined ? entities['employeeInfo'][employeeId]['userId'] : '' }}</th>
            <th colspan="5">Officer's Name: {{ entities['employeeInfo'] is defined and entities['employeeInfo'][employeeId] is defined ? entities['employeeInfo'][employeeId]['employeeName'] : '' }}</th>
            <th colspan="5">Designation: {{ entities['employeeInfo'] is defined and entities['employeeInfo'][employeeId] is defined ? entities['employeeInfo'][employeeId]['designationName'] : '' }}</th>
{#            <th>Region: {{ employee and employee.regional ? employee.regional.name : '' }}</th>#}
{#            <th>Month: {{ monthYear|split('-')[2] ~ '-' ~ monthYear|split('-')[0] }}</th>#}
        </tr>
        <tr>
            <th scope="col">Company</th>
            {% for month in 1..12 %}
                {% set date = '01-' ~ month ~ '-2021' %}
                <th scope="col" style="text-align: center">{{ date|date('F') }}</th>
            {% endfor %}
            <th scope="col" style="text-align: center">Average</th>
        </tr>
    {% for data in employeeRecord %}
        {% set yearTotal = 0 %}
        <tr>
            <td>{{ data.companyName }}</td>
            {% set count=0 %}
            {% for month in 1..12 %}
                {% set date = '01-' ~ month ~ '-2021' %}
                {% set monthName = date|date('F')|lower %}
                {% set value =  data[monthName]|default(0) %}
                {% if value>0 %}
                {% set count=count+1 %}
                {% endif %}
                {% set yearTotal = yearTotal + value %}
                <td data-t="n" align="center">{{ value|number_format(2,'.','') }}</td>
            {% endfor %}
            <td data-t="n" align="right">{{ (yearTotal/count)|number_format(2,'.','') }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="14"></td>
    </tr>

    {% endfor %}
    </tbody>
</table>
{% endif %}