<div class="portlet box ">
    <div class="portlet-title">
        <div class="caption">{{cattleLifeCycle.report.name}} </div>
    </div>
{#{{ dump(report) }}#}

    <div class="portlet-body form">
        {#{{ form_start(form, {'attr': {'action': path('chick_new_modal',{'id':crmCustomer.id,'report':report.id }),'class': 'form-horizontal right','id':'chick_life_cycle_form'}}) }}#}
        <div class="">
            <div class="form-inner-no-space">

                <div class="row">
                    <div class="col-md-12">
                        <h4>NOURISH POULTRY & HATCHERY LTD</h4>
                        <h5>Uttara, Dhaka.</h5>
                        <h4>{{cattleLifeCycle.report.name}}</h4>
                        <input type="hidden" class="cattleLifeCycle_id" value="{{ cattleLifeCycle.id }}">
                    </div>

                    <div class="col-md-4">
                        <p style="color: #000000">{{ 'Agent'|trans }}: {{ cattleLifeCycle.agent.name }}</p>
                    </div>
                    <div class="col-md-4">
                        <p style="color: #000000">{{ 'Farmer Name'|trans }}: {{ cattleLifeCycle.customer.name }}</p>
                    </div>
                    <div class="col-md-4">
                        <p style="color: #000000">{{ 'Address'|trans }}: {{ cattleLifeCycle.customer.address }}</p>
                    </div>
                    <div class="col-md-4">
                        <p style="color: #000000">{{ 'Breed Type'|trans }}: {{ cattleLifeCycle.breedType.name|default('')}}</p>
                    </div>
                </div>
                <div class="card-body card-body-inner" style="padding: 0 5px; overflow-x: scroll">
                    <div class="cattleLifeCycleSection">
                        {{ form_start(form, {'attr': {'method':'post','action': path('cattle_life_cycle_details_modal',{'id':cattleLifeCycle.id }),'class': 'form-horizontal right','id':'cattle_life_cycle_form'}}) }}
                        {#<form id="chick_life_cycle_form" method="post" action="{{ path('cattle_life_cycle_details_modal',{id:cattleLifeCycle.id}) }}">#}
                        <table class="table table-striped table-bordered table-hover cattle_life_cycle" id="datatable">
                            <thead class="thead-dark">
                            <tr>

                                <th scope="col" rowspan="2">S/N</th>
                                {#<th scope="col" rowspan="2">Bird Type</th>#}
                                <th style="width: 120px" scope="col" rowspan="2">Visiting Date</th>
                                <th scope="col" rowspan="2">Age of Cow (Month)</th>
                                <th scope="col" rowspan="2">Previous Body  Weight (Kg)</th>
                                <th scope="col" rowspan="2">Present Body  Weight (Kg)</th>
                                <th scope="col" rowspan="2">Body Weight Difference (Kg)</th>
                                <th scope="col" rowspan="2">Duration of Bwt Difference (days)</th>
                                <th scope="col" rowspan="2">Av. Weight Gain Per Day (Kg)</th>
                                <th scope="col" rowspan="2">Av. Weight Gain Per Kg Con. Feed (Kg)</th>
                                <th scope="col" rowspan="2">Av. Weight Gain Per Kg DM (Kg)</th>

                                <th scope="col" colspan="3">Con. Feed Intake (Kg)</th>
                                <th scope="col" colspan="2">Fodder (Kg)</th>
                                <th scope="col" colspan="2">DM of Fodder (Kg)</th>

                                <th scope="col" rowspan="2">Total DM (Kg)</th>

                                <th style="width: 120px" scope="col" rowspan="2">DM Requirement (Kg)</th>
                                <th scope="col" rowspan="2">Name of Ready Feed</th>
                                <th scope="col" rowspan="2">Remarks</th>
                                <th scope="col" rowspan="2"></th>

                            </tr>
                            <tr>
                                <th scope="col">Ready Feed</th>
                                <th scope="col">Conventional </th>
                                <th scope="col">Total</th>

                                <th scope="col">Gr. Grass</th>
                                <th scope="col">Straw</th>

                                <th scope="col">Gr. Grass</th>
                                <th scope="col">Straw</th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="date_section">
                                        {{ form_widget(form.visiting_date) }}
                                    </div>
                                </td>
                                <td>
                                    {{ form_widget(form.age_of_cattle_month,{'type':'number'}) }}
                                </td>
                                <td>
                                    {{ form_widget(form.previous_body_weight,{'type':'number'}) }}
                                </td>
                                <td>
                                    {{ form_widget(form.present_body_weight,{'type':'number'}) }}
                                </td>
                                <td></td>
                                <td>
                                    {{ form_widget(form.duration_of_bwt_difference,{'type':'number'}) }}
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    {{ form_widget(form.consumption_feed_intake_ready_feed,{'type':'number'}) }}
                                </td>
                                <td>
                                    {{ form_widget(form.consumption_feed_intake_conventional,{'type':'number'}) }}
                                </td>
                                <td></td>
                                <td>
                                    {{ form_widget(form.fodder_green_grass_kg,{'type':'number'}) }}
                                </td>
                                <td>
                                    {{ form_widget(form.fodder_straw_kg,{'type':'number'}) }}
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    {{ cattleLifeCycle.feedType.name|default('') }}
                                    {#{{ form_widget(form.name_of_ready_feed,{'type':'text'}) }}#}
                                </td>
                                <td>
                                    {{ form_widget(form.remarks,{'type':'text'}) }}
                                </td>
                                <td>
                                    <button title="Save" type="button" class="btn btn-primary btn-sm cattle_life_cycle_details_button"><i class="fa fa-save"></i></button>
                                </td>
                            </tr>
                            </thead>
                            <tbody class="dairyLifeCycleDetailsSection">
                            {% include '@TerminalbdCrm/cattleLifecycle/partial/fattening-life-cycle.html.twig' %}
                            </tbody>
                        </table>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6 text-right">
                                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                        <button type="button" data-cattle-life-cycle-id="{{ cattleLifeCycle.id }}" class="btn btn-info form-submit cattle_report_complete"><i class="fa fa-save"></i> Complete</button>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
