<table class="table table-striped table-bordered table-hover download-excel">
    {% if entities is defined %}
        <thead>
        <tr>
            <th data-a-h="center" class="border-0" colspan="{{ entities['monthRange'] is defined ? entities['monthRange']|length+2 :0 }}"><h3 class="text-center">NOURISH POULTRY AND HATCHERY LTD</h3></th>
        </tr>
        <tr>
            <th data-a-h="center" class="border-0" colspan="{{ entities['monthRange'] is defined ? entities['monthRange']|length+2 :0 }}"><h5 class="text-center">UTTARA, DHAKA.</h5></th>
        </tr>

        <tr>
            <td data-a-h="center" class="border-0" colspan="{{ entities['monthRange'] is defined ? entities['monthRange']|length+2 :0 }}" align="center"><h6>DOC Price Monthly (Company Wise)</h6></td>
        </tr>
        <tr>
            <td data-a-h="center" class="border-0" colspan="{{ entities['monthRange'] is defined ? entities['monthRange']|length+2 :0 }}" align="center"><h6>{{ filterBy['startMonth'] is defined? 'Month: '~ filterBy['startMonth']|date('F-Y'):'' }} {{ filterBy['endMonth'] is defined? ' To '~ filterBy['endMonth']|date('F-Y'):'' }}</h6></td>
        </tr>
        </thead>
        {% if entities['records'] is defined and entities['records'] is not empty %}
            {% for chickType, entity in entities['records'] %}
                <thead class="thead-dark">
                <tr>
                    <th scope="col" colspan="{{ entities['monthRange'] is defined ? entities['monthRange']|length+2 :0 }}" style="text-align: left; background-color: yellow; font-size: 20px">{{ chickType|replace({' (Pcs)': ''}) }} Doc</th>
                </tr>
                <tr>

                    <th scope="col">Company</th>
                    <th scope="col">Avg. Price</th>
                    {% if entities['monthRange'] is defined and entities['monthRange'] is not empty %}
                        {% for month in entities['monthRange'] %}
                            <th scope="col" style="text-align: center"><span style="display:block; transform: rotate(-30deg);text-align: center; min-width: 65px; padding: 0!important;">{{ month|date('F') }}</span></th>
                        {% endfor %}
                    {% endif %}
                </tr>
                </thead>
                <tbody>

                    {% for company, details in entity %}
                        <tr>

                            <td>{{ entities['feedCompany'][chickType][company]|default('') }}</td>
                            <td data-t="n" >
                                {{ details|length>0?((details|arraySum)/(details|length))|number_format(2,'.',''):'' }}
                            </td>
                            {% if entities['monthRange'] is defined and entities['monthRange'] is not empty %}
                                {% for month in entities['monthRange'] %}
                                    <td data-t="n" align="center">
                                        {% if details[month|date('F-Y')] is defined %}
                                            {{ details[month|date('F-Y')]|number_format(2,'.','') }}
                                        {% else %}
                                            0
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            {% endif %}
                        </tr>
                    {% endfor %}

                </tbody>
            {% endfor %}
            {% else %}
            <tbody>
            <tr>
                <td colspan="{{ entities['monthRange'] is defined ? entities['monthRange']|length+2 :0 }}">No record found.</td>
            </tr>
            </tbody>
        {% endif %}
    {% endif %}
</table>
