{% extends 'admin/layout.html.twig' %}
{#{% block body_id 'kpi_domain_new' %}#}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="portlet box">
                    <div class="portlet-body form">
                        <div class="row form-body" style="padding-top: 0!important;">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h4 class="h4">{{ 'NOURISH POULTRY & HATCHERY LTD'|trans }}</h4>
                                        <h5 class="h5">{{ 'Uttara, Dhaka.'|trans }}</h5>
                                        <h6 class="h6">{{ 'FCR REPORT OF DIFFERENT COMPANIES'|trans }} {{ breed_name=='poultry'?"BROILER": breed_name|upper }}</h6>
                                    </div>
                                </div>
                                <div class="fcr_different_company_section">

                                    <table class="table table-bordered fcr_different_company_table" style="table-layout: fixed;" id="datatable">
                                        <thead>
                                        <tr>
                                            <th>{{ 'Company'|trans }}</th>
                                            {% for month in 1..12 %}
                                                {% set date = month ~ "/1" %}
                                                <td align="center">{{ date|date("F") }}</td>
                                            {% endfor %}
                                            <td align="center">{{ 'Total'|trans }}-{{ "now"|date('Y') }}</td>
                                        </tr>
                                        </thead>

                                        <tbody>

                                        {% for company in hatcheries %}
                                            {% set total = 0 %}
                                            <tr>
                                                <td>{{ company.name }}</td>

                                                {% for month in 1..12 %}
                                                    {% set datea = month ~ "/1" %}
                                                    {% set monthName =datea|date("F")|lower %}
                                                    {% set monthNameDigit =datea|date("m") %}
                                                    {% set currentMonth = "now"|date('m') %}
                                                    <td class="text-center">
                                                        {% set total = total+fcrDifferentCompanies[company.id][monthName]['value'] %}
                                                        {% if currentMonth==monthNameDigit or currentMonth-1==monthNameDigit %}
                                                            <input class="form-control month_{{ month }}" type="number" min="0" data-meta-key="{{ monthName }}" data-entity-id="{{ fcrDifferentCompanies[company.id][monthName]['id'] }}" value="{{ fcrDifferentCompanies[company.id][monthName]['value'] }}">
                                                        {% else %}
                                                            {{ fcrDifferentCompanies[company.id][monthName]['value'] }}
                                                            <input class="form-control month_{{ month }}" type="hidden" min="0" value="{{ fcrDifferentCompanies[company.id][monthName]['value'] }}">
                                                        {% endif %}
                                                    </td>
                                                {% endfor %}
                                                <td class="total">{{ total|number_format(2,'.','') }}</td>

                                            </tr>

                                        {% endfor %}

                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td>{{ 'Total'|trans }}</td>
                                            {% for month in 1..12 %}
                                                <td class="total_month_{{ month }}"></td>
                                            {% endfor %}

                                            <td class="grand_total"></td>

                                        </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- [ Main Content ] end -->
    </div>

    <style>

    </style>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
     <link rel="stylesheet" href="{{ asset('bundles/terminalbdcrm/css/crm.css') }}">
 {% endblock  %}
{% block javascripts %}
    {#<script>#}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/fcr-different-company.js') }}"></script>
{% endblock  %}
