{% if entity.crmVisitDetails is not empty %}
    {% for details in entity.crmVisitDetails  %}
        {% if details.process == "agent" %}
            <tr>

                <td>
                    {% set purposes=details.purposeMultiple|json_decode  %}
                    <ol>
                        {% for purpose in purposes %}
                            <li>{{ purpose }}</li>
                        {% endfor %}
                    </ol>
                    {#                    {{ details.purposeMultiple is not empty?purposeName:'' }}#}
                </td>
                <td>
                    {{ details.purpose is not empty?details.purpose.name:'' }}
                </td>
                <td>
                    {{ details.agent is not empty?details.agent.name:'' }}
                </td>
                <td>
                    {% if details.agent is not empty  %} {{ details.agent.address }} {% endif %}
                </td>
                <td>
                    {% if details.agent is not empty  %} {{ details.agent.mobile }} {% endif %}
                </td>
                <td>
                    {{ details.comments }}
                </td>
                <td>
                    {% if app.user.serviceMode is not empty and app.user.serviceMode.slug!='sales-marketing' and details.process=='agent' and details.purpose is not empty and details.purpose.slug in ['farmer-training'] %}
                        <a class="btn blue-bg btn-sm text-white" data-action='{{ path('farmer_training_report_new_modal',{'id': details.agent is not empty?details.agent.id:'', 'purpose':details.purpose is not empty? details.purpose.id:''}) }}' href='?process=postView_{{ details.id }}_{{ details.purpose is not empty? details.purpose.id:'' }}&report={{ details.purpose is not empty? details.purpose.slug:'' }}&check=show#modal' id='postView_{{ details.id }}_{{ details.purpose is not empty? details.purpose.id:'' }}' >{{ 'Report'|trans }}</a>
                    {% endif %}
                    {% if details.process=='agent' and details.purpose is not empty and details.purpose.slug in ['agent-upgradation'] %}
                        <a class="btn blue-bg btn-sm text-white" data-action='{{ path('agent_upgradation_report_new_modal',{'id': details.agent is not empty?details.agent.id:'', 'purpose':details.purpose is not empty? details.purpose.id:''}) }}' href='?process=postView_{{ details.id }}_{{ details.purpose is not empty? details.purpose.id:'' }}&report={{ details.purpose is not empty? details.purpose.slug:'' }}&check=show#modal' id='postView_{{ details.id }}_{{ details.purpose is not empty? details.purpose.id:'' }}' >{{ 'Report'|trans }}</a>
                    {% endif %}
                    {% if details.process=='agent' and details.purpose is not empty and details.purpose.slug in ['fcr-report-after-sale'] and details.purpose.settingType=='AGENT_PURPOSE' %}
                        {% for report in fcr_after_reports %}
                            <a style="margin-right: 5px; margin-bottom: 5px" class="btn blue-bg btn-sm text-white" data-action='{{ path('fcr_after_new',{'report':report is not empty? report.id:'','afterBefore':'after','visit':entity.id}) }}' href='?process=postView_fcr_after_{{ report.id }}&report={{ report is not empty? report.slug:'' }}&check=show#modal' id='postView_fcr_after_{{ report is not empty? report.id:'' }}' >{{ report.name }}</a>
                        {% endfor %}
                    {% endif %}

                </td>
                <td>
                    <a data-id="{{ details.id }}" class="btn btn-sm btn-transparent red-font row-remove">
                        <i class="fa fa-remove"></i>
                    </a>
                </td>
            </tr>

        {% endif %}
    {% endfor %}
{% endif %}