{% if entity.crmVisitDetails is not empty %}
    {% for details in entity.crmVisitDetails  %}
        {% if details.process == "sub-agent" %}
            <tr>
                <td>
                    {% set purposes=details.purposeMultiple|json_decode  %}
                    <ol>
                        {% for purpose in purposes %}
                            <li>{{ purpose }}</li>
                        {% endfor %}
                    </ol>
                </td>
                <td>
                    {{ details.agent is not empty?details.agent.name:'' }}
                </td>
                <td>
                    {% if details.agent is not empty  %} {{ details.agent.address }} {% endif %}
                </td>
                <td>
                    {% if details.agent is not empty  %} {{ details.agent.mobile }} {% endif %}
                </td>
                <td>
                    {{ details.comments }}
                </td>
                <td>
                    <a data-id="{{ details.id }}" class="btn btn-sm btn-transparent red-font row-remove">
                        <i class="fa fa-remove"></i>
                    </a>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
{% endif %}

