{% if entities is defined and entities is not empty %}
{#    <table>
        <thead>
        <tr>
            <th colspan="26">NOURISH POULTRY AND HATCHERY LTD</th>
        </tr>
        <tr>
            <th colspan="26">UTTARA, DHAKA.</th>
        </tr>
        <tr>
            <th colspan="26">{{ lifeCycleSlug|replace({'-': ' '})|upper }}</th>
        </tr>
        <tr>
            <th colspan="5">Officer's ID: {{ employee ? employee.userId : '' }}</th>
            <th colspan="5">Officer's Name: {{ employee ? employee.name : '' }}</th>
            <th colspan="5">Designation: {{ employee and employee.designation ? employee.designation.name : '' }}</th>
            <th colspan="5">Region: {{ employee and employee.regional ? employee.regional.name : '' }}</th>
        </tr>
        </thead>
    </table>#}

{% if lifeCycleSlug is same as 'boiler-life-cycle' %}
    {% include '@TerminalbdCrm/report/lifeCycle/inc/_broiler.html.twig'%}

{% elseif lifeCycleSlug is same as 'sonali-life-cycle' %}
    {% include '@TerminalbdCrm/report/lifeCycle/inc/_sonali.html.twig'%}

{% elseif lifeCycleSlug is same as 'layer-life-cycle-brown' %}
    {% include '@TerminalbdCrm/report/lifeCycle/inc/_layer.html.twig'%}

{% elseif lifeCycleSlug is same as 'layer-life-cycle-white' %}
    {% include '@TerminalbdCrm/report/lifeCycle/inc/_layer.html.twig'%}

{% elseif lifeCycleSlug is same as 'dairy-life-cycle' %}
    {% include '@TerminalbdCrm/report/lifeCycle/inc/_dairy.html.twig'%}

{% elseif lifeCycleSlug is same as 'fattening-life-cycle' %}
    {% include '@TerminalbdCrm/report/lifeCycle/inc/_fattening.html.twig'%}

{% elseif lifeCycleSlug is same as 'fish-life-cycle-report' %}
    {% include '@TerminalbdCrm/report/lifeCycle/inc/_fish_before.html.twig'%}

{% elseif lifeCycleSlug is same as 'fish-life-cycle-after-sale-report' %}
{% endif %}

{% endif %}
