{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        {#<div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="javascript:void(0)">  {{ 'Life Cycle'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>#}
        <!-- [ breadcrumb ] end -->
        <div class="row">
            <div class="col-md-12">
                <table class="table ">
                    <thead class="thead-dark">
                    {{ form_start(form) }}
                    {% if lifeCycleSlug =='fish-life-cycle-report' or lifeCycleSlug =='fish-life-cycle-after-sale-report' %}
                        <tr>
                            <th style="min-width: 200px">
                                {{ form_label(form.employee, 'Employee:') }}
                                {{ form_widget(form.employee) }}
                            </th>
                            <th style="min-width: 200px">
                                {{ form_label(form.employeeWiseFarmer, 'Farmer:') }}
                                {{ form_widget(form.employeeWiseFarmer) }}
                                <input type="hidden" class="selected_farmer_id" value="{{ filterBy['farmerId'] is defined?filterBy['farmerId']:'' }}">
                            </th>
                            <th style="min-width: 100px">
                                {{ form_label(form.startDate, 'Start Date:') }}
                                {{ form_widget(form.startDate) }}
                            </th>
                            <th style="min-width: 100px">
                                {{ form_label(form.endDate, 'End Date:') }}
                                {{ form_widget(form.endDate) }}
                            </th>
                            <th style="min-width: 150px">
                                {{ form_label(form.feedTypeFishLifeCycle, 'Feed Type:') }}
                                {{ form_widget(form.feedTypeFishLifeCycle) }}
                            </th>
                            <th style="min-width: 150px">
                                {{ form_label(form.region, 'Region:') }}
                                {{ form_widget(form.region) }}
                            </th>
                            <th>
                                <div class="btn-group" style="margin-top: 25px">
                                    <button type="submit" name="search" class="btn btn-primary btn-sm" title="Search" value="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    <a href="{{ path('life_cycle_report_index', {'lifeCycleSlug':lifeCycleSlug}) }}" class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    {% if entities is defined and entities is not empty %}
                                        {% set filterBy = filterBy|merge({"lifeCycle" : lifeCycleSlug}) %}

                                        <button type="submit" name="excel" class="btn blue-bg btn-sm white-font" title="Excel" value="excel" id="button-excel"><i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'Excel'|trans }}</button>

                                    {% endif %}
                                </div>
                            </th>

                        </tr>

                    {% elseif  lifeCycleSlug =='dairy-life-cycle' or lifeCycleSlug =='fattening-life-cycle' %}

                        <tr>
                            <th style="min-width: 200px">
                                {{ form_label(form.employee, 'Employee:') }}
                                {{ form_widget(form.employee) }}
                            </th>
                            <th style="min-width: 200px">
                                {{ form_label(form.employeeWiseFarmer, 'Farmer:') }}
                                {{ form_widget(form.employeeWiseFarmer) }}
                                <input type="hidden" class="selected_farmer_id" value="{{ filterBy['farmerId'] is defined?filterBy['farmerId']:'' }}">
                            </th>
                            <th style="min-width: 100px">
                                {{ form_label(form.startDate, 'Start Date:') }}
                                {{ form_widget(form.startDate) }}
                            </th>
                            <th style="min-width: 100px">
                                {{ form_label(form.endDate, 'End Date:') }}
                                {{ form_widget(form.endDate) }}
                            </th>
                            <th style="min-width: 150px">
                                {{ form_label(form.reportStatus, 'Report Status:') }}
                                {{ form_widget(form.reportStatus) }}
                            </th>
                            <th>
                                <div class="btn-group" style="margin-top: 25px">
                                    <button type="submit" name="search" class="btn btn-primary btn-sm" title="Search" value="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    <a href="{{ path('life_cycle_report_index', {'lifeCycleSlug':lifeCycleSlug}) }}" class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    {% if entities is defined and entities is not empty %}
                                        {% set filterBy = filterBy|merge({"lifeCycle" : lifeCycleSlug}) %}

                                        <button type="submit" name="excel" class="btn blue-bg btn-sm white-font" title="Excel" value="excel" id="button-excel"><i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'Excel'|trans }}</button>

                                    {% endif %}
                                </div>
                            </th>

                        </tr>

                    {% elseif  lifeCycleSlug =='layer-life-cycle-brown' or lifeCycleSlug =='layer-life-cycle-white' %}

                        <tr>
                            <th style="min-width: 200px">
                                {{ form_label(form.employee, 'Employee:') }}
                                {{ form_widget(form.employee) }}
                            </th>
                            <th style="min-width: 200px">
                                {{ form_label(form.employeeWiseFarmer, 'Farmer:') }}
                                {{ form_widget(form.employeeWiseFarmer) }}
                                <input type="hidden" class="selected_farmer_id" value="{{ filterBy['farmerId'] is defined?filterBy['farmerId']:'' }}">
                            </th>
                            <th style="min-width: 100px">
                                {{ form_label(form.startDate, 'Start Date:') }}
                                {{ form_widget(form.startDate) }}
                            </th>
                            <th style="min-width: 100px">
                                {{ form_label(form.endDate, 'End Date:') }}
                                {{ form_widget(form.endDate) }}
                            </th>
                            <th style="min-width: 150px">
                                {{ form_label(form.reportStatus, 'Report Status:') }}
                                {{ form_widget(form.reportStatus) }}
                            </th>
                            <th>
                                <div class="btn-group" style="margin-top: 25px">
                                    <button type="submit" name="search" class="btn btn-primary btn-sm" title="Search" value="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    <a href="{{ path('life_cycle_report_index', {'lifeCycleSlug':lifeCycleSlug}) }}" class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    {% if entities is defined and entities is not empty %}
                                        {% set filterBy = filterBy|merge({"lifeCycle" : lifeCycleSlug}) %}

                                        <button type="submit" name="excel" class="btn blue-bg btn-sm white-font" title="Excel" value="excel" id="button-excel"><i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'Excel'|trans }}</button>

                                    {% endif %}
                                </div>
                            </th>

                        </tr>

                    {% else %}
                        <tr>
                            <th style="min-width: 200px">
                                {{ form_label(form.employee, 'Employee:') }}
                                {{ form_widget(form.employee) }}
                            </th>
                            <th style="min-width: 200px">
                                {{ form_label(form.employeeWiseFarmer, 'Farmer:') }}
                                {{ form_widget(form.employeeWiseFarmer) }}
                                <input type="hidden" class="selected_farmer_id" value="{{ filterBy['farmerId'] is defined?filterBy['farmerId']:'' }}">
                            </th>
                            <th style="min-width: 100px">
                                {{ form_label(form.startDate, 'Start Date:') }}
                                {{ form_widget(form.startDate) }}
                            </th>
                            <th style="min-width: 100px">
                                {{ form_label(form.endDate, 'End Date:') }}
                                {{ form_widget(form.endDate) }}
                            </th>
                            <th style="min-width: 150px">
                                {{ form_label(form.reportStatus, 'Report Status:') }}
                                {{ form_widget(form.reportStatus) }}
                            </th>
                            <th>
                                <div class="btn-group" style="margin-top: 25px">
                                    <button type="submit" name="search" class="btn btn-primary btn-sm" title="Search" value="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    <a href="{{ path('life_cycle_report_index', {'lifeCycleSlug':lifeCycleSlug}) }}" class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                    {% if entities is defined and entities is not empty %}
                                        {% set filterBy = filterBy|merge({"lifeCycle" : lifeCycleSlug}) %}

                                        <button type="submit" name="excel" class="btn blue-bg btn-sm white-font" title="Excel" value="excel" id="button-excel"><i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'Excel'|trans }}</button>

                                    {% endif %}
                                </div>
                            </th>

                        </tr>

                    {% endif %}

{#                    </form>#}
                    </thead>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="card" style="overflow: scroll; max-height: 75vh">
                <div id="data-load" class="card-body p-0">
                    {% if entities is defined and entities is not empty %}
                        {% if lifeCycleSlug is same as 'boiler-life-cycle' %}
                            {% include '@TerminalbdCrm/report/lifeCycle/inc/_broiler.html.twig'%}

                        {% elseif lifeCycleSlug is same as 'sonali-life-cycle' %}
                            {% include '@TerminalbdCrm/report/lifeCycle/inc/_sonali.html.twig'%}

                        {% elseif lifeCycleSlug in ['layer-life-cycle-brown','layer-life-cycle-white'] %}
                            {% include '@TerminalbdCrm/report/lifeCycle/inc/_layer.html.twig'%}

                            {#            {% elseif lifeCycleSlug is same as 'layer-life-cycle-white' %}
                                            {% include '@TerminalbdCrm/report/lifeCycle/inc/_layer.html.twig'%}#}

                        {% elseif lifeCycleSlug is same as 'dairy-life-cycle' %}
                            {% include '@TerminalbdCrm/report/lifeCycle/inc/_dairy.html.twig'%}

                        {% elseif lifeCycleSlug is same as 'fattening-life-cycle' %}
                            {% include '@TerminalbdCrm/report/lifeCycle/inc/_fattening.html.twig'%}

                        {% elseif lifeCycleSlug  is same as 'fish-life-cycle-report' %}
                            {% include '@TerminalbdCrm/report/lifeCycle/inc/_fish_before.html.twig'%}

                        {% elseif lifeCycleSlug is same as 'fish-life-cycle-after-sale-report' %}
                            {% include '@TerminalbdCrm/report/lifeCycle/inc/_fish_after.html.twig'%}

                        {% elseif lifeCycleSlug is same as 'fish-life-cycle-nursing-report' %}
                            {% include '@TerminalbdCrm/report/lifeCycle/inc/_fish_nursing.html.twig'%}
                        {% endif %}

                    {% else %}

                            <div style="background-color: #dbdee3; width: 100%; height: 100%; padding: 25px 10px">
                                <h3 class="text-center">NOURISH POULTRY AND HATCHERY LTD</h3>
                                <h5 class="text-center">UTTARA, DHAKA.</h5>
                                <h6 class="text-center">
                                    {% if lifeCycleSlug=='fish-life-cycle-after-sale-report' %}
                                        {{ 'Fish Life Cycle (Harvest) Report'|trans }}
                                    {% elseif lifeCycleSlug=='fish-life-cycle-report' %}
                                        {{ 'Fish Life Cycle (Culture) Report'|trans }}
                                    {% else %}
                                        {{ lifeCycleSlug|replace({'-': ' '}) |upper }}
                                    {% endif %}
                                </h6>
                            </div>

                    {% endif %}
                </div>
            </div>
        </div>








        <!-- [ Main Content ] end -->
    </div>
{% endblock %}

{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        table.filter-result thead.thead-dark {
            position: sticky;
            top: -1px;
            background-color: #dbdee3 !important;
            border-bottom: 2px solid #4C9EE7!important;
        }
        table thead tr.data-header th{

            border: 2px solid #b5b5b5 !important;
            border-bottom-color: #b5b5b5 !important;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script src="{{ asset('assets/js/tableToExcel.js') }}"></script>
    <script>
        $("#search_filter_form_employee").on('change', function () {
            var employeeId = $(this).val();
            if(employeeId==''){
                return false;
            }
            $.ajax({
                url: Routing.generate('get_farmer_by_employee_location',{'id':employeeId}),
                type: 'post',
                dataType: 'json',
                success: function (res) {
                    console.log(res)
                    var selected_farmer_id= $('.selected_farmer_id').val();
                    $("#search_filter_form_employeeWiseFarmer").find('option').remove();
                    var dataOption='<option value="">Select Farmer</option>';
                    // $("#search_filter_form_employeeWiseFarmer").append($('<option>', {value:'', text:'Select Farmer'}));
                    $.each(res, function (id, name) {
                        if(selected_farmer_id==id){
                            var selected= 'selected="selected"'
                        }else{
                            var selected='';
                        }
                        dataOption += '<option value="'+id+'" '+selected+'>'+name+'</option>';

                    })
                    $("#search_filter_form_employeeWiseFarmer").append($(dataOption))
                }
            })
        }).change();

        $('.datepicker').datepicker(
            {
                changeMonth: true,
                changeYear: true,
                yearRange: "2020:" + new Date().getFullYear(),
                dateFormat: 'dd-mm-yy'
            }
        );


        let button = document.querySelector("#button-excel");

        if(button){
            button.addEventListener("click", e => {
                e.preventDefault();
                let table = document.querySelector(".download-excel");
                TableToExcel.convert(table, {
                    name: "{{ lifeCycleSlug is defined and lifeCycleSlug is not null ? lifeCycleSlug : ''}}-{{ filterBy['startDate'] is defined ? filterBy['startDate']:'' }} {{ filterBy['endDate'] is defined ? ' to '~filterBy['endDate']:'' }}.xlsx",
                    sheet: {
                        name: "Sheet 1"
                    }
                });
            });
        }

    </script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}