{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
{#        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="javascript:void(0)">  {{ 'Monthly Report'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>#}
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->

        <div class="row">
            <div class="col p-0">
                <table class="table">
                    <thead class="thead-dark">
                    {{ form_start(form, { 'attr' : { 'class': 'sales_marketing_search_form' } }) }}
                    <tr>

                        {% if report=='company-wise-doc-price-daily' or report =='company-wise-doc-price-monthly' %}
                            <th>
                                {{ form_label(form.region, 'Region:') }}
                                {{ form_widget(form.region) }}
                            </th>
                            <th>
                                {{ form_label(form.hatchery, 'Company:') }}
                                {{ form_widget(form.hatchery) }}
                            </th>
                            <th>
                                {{ form_label(form.chickType, 'Doc Type:') }}
                                {{ form_widget(form.chickType) }}
                            </th>
                        {% else %}
                        <th>
                            {{ form_label(form.employee, 'Employee:') }}
                            {{ form_widget(form.employee) }}
                        </th>
                        {% endif %}
                        {% if report=='doc-price-daily' or report =='doc-price-monthly' %}
                        <th>
                            {{ form_label(form.region, 'Region:') }}
                            {{ form_widget(form.region) }}
                        </th>
                        <th>
                            {#{{ form_label(form.poultryFramType, 'Doc Type:') }}
                            {{ form_widget(form.poultryFramType) }}#}
                            {{ form_label(form.chickType, 'Doc Type:') }}
                            {{ form_widget(form.chickType) }}
                        </th>
                        {% endif %}
                        {% if report=='meat-egg-price-daily' or report=='meat-egg-price-monthly' %}
                        <th>
                            {{ form_label(form.region, 'Region:') }}
                            {{ form_widget(form.region) }}
                        </th>
                        <th>
                            {{ form_label(form.meatEggBreedType, 'Type:') }}
                            {{ form_widget(form.meatEggBreedType) }}
                        </th>
                        {% endif %}

                        {% if report =='doc-price-monthly' or report =='company-wise-doc-price-monthly' or report=='meat-egg-price-monthly' %}
                            <th>
                                {{ form_label(form.startMonth, 'Start Month:') }}
                                {{ form_widget(form.startMonth) }}
                            </th>
                            <th>
                                {{ form_label(form.endMonth, 'End Month:') }}
                                {{ form_widget(form.endMonth) }}
                            </th>
                        {% else %}

                            <th>
                                {{ form_label(form.startDate, 'Start Date:') }}
                                {{ form_widget(form.startDate) }}
                            </th>
                            <th>
                                {{ form_label(form.endDate, 'End Date:') }}
                                {{ form_widget(form.endDate) }}
                            </th>
                        {% endif %}

                        {% if report!="doc-price-daily" and report!="doc-price-monthly" and report!="company-wise-doc-price-daily" and report!="company-wise-doc-price-monthly" and report!="meat-egg-price-daily" and report!="meat-egg-price-monthly"  and report!="challenges-problem" and report!="challenges-idea" and report!="competitors-activity" and report!="doc-complain" and report!="feed-complain" %}
                        <th>
                            {{ form_label(form.year, 'Year:') }}
                            {{ form_widget(form.year) }}
                        </th>
                        <th>
                            {{ form_label(form.month, 'Month:') }}
                            {{ form_widget(form.month) }}
                        </th>
                        {% endif %}
                        <th style="vertical-align: bottom!important;">
                            <div class="btn-group float-right">
                                {{ form_widget(form._token) }}
                                <button type="submit" name="search" class="btn btn-primary btn-sm" title="Search" value="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                                <a title="reset" href="{{ path('sales_marketing_report_index',{'report':reportSlug}) }}" name="reset" class="btn purple-bg btn-sm white-font"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                <button type="submit" name="excel" class="btn blue-bg btn-sm white-font" title="Excel" value="excel" id="button-excel"><i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'Excel'|trans }}</button>
                            </div>
                        </th>
                    </tr>
                    <tr>


{#                        <th></th>#}
                    </tr>
                    </form>
                    </thead>
                </table>
            </div>
        </div>
        {% if entities is defined %}
            <div class="row">
                <div class="card" style="overflow-x: scroll; max-height: 75vh">
                    <div class="card-body p-0">
                        {% if reportSlug is same as 'challenges-problem' %}
                            {% include '@TerminalbdCrm/report/salesAndMarketing/inc/challenger/problems.twig'%}

                        {% elseif reportSlug is same as 'challenges-idea' %}
                            {% include '@TerminalbdCrm/report/salesAndMarketing/inc/challenger/ideas.twig'%}


                        {% elseif reportSlug is same as 'competitors-activity' %}
                            {% include '@TerminalbdCrm/report/salesAndMarketing/inc/challenger/competitors-activity.twig'%}

                        {% elseif reportSlug is same as 'doc-price-monthly' %}
                            {% include '@TerminalbdCrm/report/salesAndMarketing/inc/doc-price/_doc_price.html.twig'%}

                        {% elseif reportSlug is same as 'doc-price-daily' %}
                            {% include '@TerminalbdCrm/report/salesAndMarketing/inc/doc-price/_daily_doc_price.html.twig'%}

                        {% elseif reportSlug is same as 'company-wise-doc-price-monthly' %}
                            {% include '@TerminalbdCrm/report/salesAndMarketing/inc/doc-price/_doc_price_company_wise.html.twig'%}

                        {% elseif reportSlug is same as 'company-wise-doc-price-daily' %}
                            {% include '@TerminalbdCrm/report/salesAndMarketing/inc/doc-price/_daily_doc_price_company_wise.html.twig'%}

                        {% elseif reportSlug is same as 'meat-egg-price-monthly' %}
                            {% include '@TerminalbdCrm/report/salesAndMarketing/inc/meat-egg/_meat_egg_price.html.twig'%}

                        {% elseif reportSlug is same as 'meat-egg-price-daily' %}
                            {% include '@TerminalbdCrm/report/salesAndMarketing/inc/meat-egg/_meat_egg_price_daily.html.twig'%}


                        {% elseif reportSlug in ['doc-complain'] %}
                            {% include '@TerminalbdCrm/report/salesAndMarketing/inc/_doc_complain.html.twig'%}

                        {% elseif reportSlug in ['feed-complain'] %}
                            {% include '@TerminalbdCrm/report/salesAndMarketing/inc/_feed_complain.html.twig'%}

                        {% elseif reportSlug in ['company-wise-feed-sale-poultry','company-wise-boiler-chick','company-wise-layer-chick','company-wise-feed-sale-cattle','company-wise-feed-sale-fish'] %}
                            {% include '@TerminalbdCrm/report/salesAndMarketing/inc/_company_wise_feed_sale.html.twig'%}

                        {% endif %}

                    </div>
                </div>
            </div>
        {% endif %}





        <!-- [ Main Content ] end -->
    </div>
{% endblock %}

{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
/*        table.filter-result thead {
            position: sticky;
            top: -1px;
            background-color: #dbdee3 !important;
            border-bottom: 2px solid #4C9EE7!important;
        }*/
        table thead tr.data-header th{

            border: 2px solid #b5b5b5 !important;
            border-bottom-color: #b5b5b5 !important;
        }

        .hide-calendar .ui-datepicker-calendar{
            display: none;
        }

        /*.ui-datepicker-calendar {
            display: none
        }*/
/*        table.filter thead th{
            border: 0 !important;
        }*/
    </style>

{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script src="{{ asset('assets/js/tableToExcel.js') }}"></script>

    <script>
        $("#search_filter_form_employee").on('change', function () {
            var employeeId = $(this).val();
            if(employeeId==''){
                return false;
            }
            $.ajax({
                url: Routing.generate('get_farmer_by_employee_location',{'id':employeeId}),
                type: 'post',
                dataType: 'json',
                success: function (res) {
                    console.log(res)
                    $("#search_filter_form_employeeWiseFarmer").find('option').remove();
                    $("#search_filter_form_employeeWiseFarmer").append($('<option>', {value:'', text:'Select Farmer'}));
                    $.each(res, function (id, name) {
                        $("#search_filter_form_employeeWiseFarmer").append($('<option>', {value:id, text:name}))
                    })
                }
            })
        })

        $('#search_filter_form_for_sales_and_marketing_startDate, #search_filter_form_for_sales_and_marketing_endDate').datepicker(
            {
                changeMonth: true,
                changeYear: true,
                yearRange: "2020:" + new Date().getFullYear(),
                dateFormat: 'dd-mm-yy'
            }
        );

        $('.monthYearPicker').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'mm-yy',
            autoClose:true,
            onClose: function() {
                $(this).datepicker('widget').removeClass('hide-calendar');
                $("#ui-datepicker-div").removeClass('monthYearPicker');
                var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
            },

            beforeShow: function(input) {
                $(input).datepicker("widget").addClass('hide-calendar');
                $("#ui-datepicker-div").addClass('monthYearPicker');
                // console.log($(this).val());
                if ((selDate = $(this).val()).length > 0)
                {
                    iYear = selDate.substring(selDate.length - 4, selDate.length);
                    iMonth = selDate.substring(0, 2);
                    // iMonth = jQuery.inArray(selDate.substring(1, 2), $(this).datepicker('option', 'monthNames'));
                    // console.log(iMonth);
                    iMonth = iMonth-1;
                    $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
                    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
                }
            }
        });

        let button = document.querySelector("#button-excel");

        if(button){
            button.addEventListener("click", e => {
                e.preventDefault();
                let table = document.querySelector(".download-excel");
                TableToExcel.convert(table, {
                    name: "{{ report is defined and report is not null ? report : ''}} ({{filterBy['startDate'] is defined ? filterBy['startDate']:'' }}{{ filterBy['startMonth'] is defined ? filterBy['startMonth']:'' }}{{ filterBy['endDate'] is defined and filterBy['endDate'] is not empty ? ' to '~filterBy['endDate']:'' }} {{ filterBy['endMonth'] is defined and filterBy['endMonth'] is not empty ? ' to '~filterBy['endMonth']:'' }}).xlsx",
                    sheet: {
                        name: "Sheet 1"
                    }
                });
            });
        }


    </script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}