<table class="table table-striped table-bordered table-hover download-excel" id="fcrReportDetails">
    <thead>
    <tr>
        <th data-a-h="center" class="border-0" colspan="5"><h3 class="text-center">NOURISH POULTRY AND HATCHERY LTD</h3></th>
    </tr>
    <tr>
        <th data-a-h="center" class="border-0" colspan="5"><h5 class="text-center">UTTARA, DHAKA.</h5></th>
    </tr>

    <tr>
        <td data-a-h="center" class="border-0" colspan="5" align="center">
            <h6>{{ report=='challenges-idea'?'Idea':'' }}</h6>
        </td>
    </tr>
    </thead>
    <thead class="thead-dark" style="background-color: #dbdee3">
    <tr>
        <th>Created Date</th>
        <th>Details</th>
        <th>Report From</th>
        <th>Designation</th>
        <th>Month</th>
    </tr>

    </thead>
    <tbody>
    {% if entities is not empty %}
        {% for monthYear, monthYearData in entities %}
            {% for entity in monthYearData %}
                <tr>
                    <td>{{ entity.createdAt|date('d-m-Y') }}</td>
                    <td>{{ entity.description }}</td>
                    <td>{{ entity.employeeName|default('') }}</td>
                    <td>{{ entity.designationName|default('') }}</td>
                    <td>{{ entity.createdAt|date('F, Y') }}</td>
                </tr>
            {% endfor %}
        {% endfor %}

    {% endif %}
    </tbody>
</table>