<table class="table table-striped table-bordered table-hover download-excel" id="fcrReportDetails">
    <thead>
    <tr>
        <th data-a-h="center" class="border-0" colspan="7"><h3 class="text-center">NOURISH POULTRY AND HATCHERY LTD</h3></th>
    </tr>
    <tr>
        <th data-a-h="center" class="border-0" colspan="7"><h5 class="text-center">UTTARA, DHAKA.</h5></th>
    </tr>

    <tr>
        <td data-a-h="center" class="border-0" colspan="7" align="center">
            <h6>{{ report=='challenges-problem'?'Problems':'' }}</h6>
        </td>
    </tr>
    </thead>
    <thead class="thead-dark" style="background-color: #dbdee3">

    <tr>
        <th style="width: 90px">Created Date</th>
        <th style="width: 150px">Problem On</th>
        <th>Details</th>
        <th>Report From</th>
        <th>Designation</th>
        <th style="width: 100px">Month</th>
    </tr>

    </thead>
    <tbody>
    {% if entities is not empty %}
        {% for monthYear, monthYearData in entities %}
            {% for entity in monthYearData %}
            <tr>
                <td>{{ entity.createdAt|date('d-m-Y') }}</td>
                <td>{{ entity.problemOn ? entity.problemOn : entity.feedName|default('') }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.employeeName|default('') }}</td>
                <td>{{ entity.designationName|default('') }}</td>
                <td>{{ entity.createdAt|date('M, Y') }}</td>
            </tr>
            {% endfor %}
        {% endfor %}

    {% endif %}
    </tbody>
</table>