
    <div class="row">
        <div class="col-md-12">
           <h3 class="text-right">Month: {{ antibioticFreeFarm.reportingMonth|date('F, Y') }}</h3>
        </div>
        <div class="col-md-12" style="text-align: left">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>{{ 'Name of CSO'|trans }}: {{ antibioticFreeFarm.employee.name|default('') }}</td>
                    <td>{{ 'Designation'|trans }}: {{ antibioticFreeFarm.employee.designation.name|default('') }}</td>
                    <td>{{ 'Region'|trans }}: {{ antibioticFreeFarm.employee.regional.name|default('') }}</td>
                </tr>
                <tr>
                    <td>{{ 'Agent Name'|trans }}: {{ antibioticFreeFarm.agent.name|default('') }}</td>
                    <td>{{ 'Address'|trans }}: {{ antibioticFreeFarm.agent.address|default('') }}</td>
                    <td>{{ 'Mobile'|trans }}: {{ antibioticFreeFarm.agent.mobile|default('') }}</td>
                </tr>
                <tr>
                    <td>{{ 'Farmer Name'|trans }}: {{ antibioticFreeFarm.customer.name|default('') }}</td>
                    <td>{{ 'Address'|trans }}: {{ antibioticFreeFarm.customer.address|default('') }}</td>
                    <td>{{ 'Mobile'|trans }}: {{ antibioticFreeFarm.customer.mobile|default('') }}</td>
                </tr>
                <tr>
                    <td>{{ 'Hatch Date'|trans }}: {{ antibioticFreeFarm.hatchingDate|date('d-m-Y') }}</td>
                    <td>{{ 'Hatchery'|trans }}: {{ antibioticFreeFarm.hatchery.name|default('') }}</td>
                    <td>{{ 'Breed'|trans }}: {{ antibioticFreeFarm.breed.name|default('') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>{{'SL NO'|trans }}</th>
                    <th>{{'Particulars'|trans}}</th>
                    <th>{{'Quantity'|trans }}</th>
                    <th>{{'Particulars'|trans}}</th>
                    <th>{{'Quantity'|trans }}</th>
                    <th>{{'Particulars'|trans}}</th>
                    <th>{{'Quantity'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ '1'|trans }}</td>
                    <td class="text-left">{{ 'Total Chicks (Pcs)'|trans }}</td>
                    <td class="text-left">{{ antibioticFreeFarm.totalStockedChicksPcs|default('') }}</td>
                    <td class="text-left">{{ 'Total Feed (Kg)'|trans }}</td>
                    <td class="text-left">{{ antibioticFreeFarm.totalFeedUsedKg|default('') }}</td>
                    <td class="text-left">{{ 'Age (days)' }}</td>
                    <td class="text-left">{{ antibioticFreeFarm.ageDays|default('') }}</td>
                </tr>
                <tr>
                    <td>{{ '2'|trans}}</td>
                    <td class="text-left">{{ 'Mortality (Pcs)'|trans }}</td>
                    <td class="text-left">{{ antibioticFreeFarm.mortality|default('') }}</td>
                    <td class="text-left">{{ 'Total Broiler Wt (Kg)'|trans }}</td>
                    <td class="text-left">{{ antibioticFreeFarm.totalBroilerWeightKg|default('') }}</td>
                    <td class="text-left">{{ 'FCR'|trans }}</td>
                    <td class="fcrCalculationValue text-left">{{ antibioticFreeFarm.fcr|number_format(2,'.','') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <h3 class="text-left">{{ 'Medicine & Viccine Cost'|trans }}: ({{ "Please don't fill up"|trans }})</h3>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>{{'SL NO'|trans }}</th>
                    <th>{{'Particulars'|trans}}</th>
                    <th>{{'Price (TK)'|trans }}</th>
                    <th>{{'Particulars'|trans}}</th>
                    <th>{{'Price (TK)'|trans }}</th>
                    <th>{{'Particulars'|trans}}</th>
                    <th>{{'Price (TK)'|trans }}</th>
                </tr>
                </thead>
                <tbody class="medicine_vaccine_cost_section">
                <tr>
                    <td class="text-right">{{ '1'|trans }}</td>
                    <td class="text-left">{{ 'Medicine Cost (Total)'|trans }}</td>
                    <td class="text-right">{{ antibioticFreeFarm.calculateMedicineTotalCost|number_format(2,'.','') }}</td>
                    <td class="text-left">{{ 'Medicine Cost/Bird'|trans }}</td>
                    <td class="text-right">{{ antibioticFreeFarm.calculateMedicineCostPerBird|number_format(2,'.','') }}</td>
                    <td class="text-left">{{ 'Medicine Cost/Kg'|trans }}</td>
                    <td class="text-right">{{ antibioticFreeFarm.calculateMedicineCostPerKg|number_format(2,'.','') }}</td>
                </tr>
                <tr>
                    <td class="text-right">{{ '2'|trans }}</td>
                    <td class="text-left">{{ 'Vaccine Cost (Total)'|trans }}</td>
                    <td class="text-right">{{ antibioticFreeFarm.calculateVaccineTotalCost|number_format(2,'.','') }}</td>
                    <td class="text-left">{{ 'Vaccine Cost/Bird'|trans }}</td>
                    <td class="text-right">{{ antibioticFreeFarm.calculateVaccineCostPerBird|number_format(2,'.','') }}</td>
                    <td class="text-left">{{ 'Vaccine Cost/Kg'|trans }}</td>
                    <td class="text-right">{{ antibioticFreeFarm.calculateVaccineCostPerKg|number_format(2,'.','') }}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td class="text-right">{{ '3'|trans }}</td>
                    <td class="text-left">{{ 'M & V Cost (Total)'|trans }}</td>
                    <td class="text-right">{{ antibioticFreeFarm.calculateMedicineAndVaccineTotalCost|number_format(2,'.','') }}</td>
                    <td class="text-left">{{ 'M & V Cost/Bird'|trans }}</td>
                    <td class="text-right">{{ antibioticFreeFarm.calculateMedicineAndVaccineCostPerBird|number_format(2,'.','') }}</td>
                    <td class="text-left">{{ 'M & V Cost/Kg'|trans }}</td>
                    <td class="text-right">{{ antibioticFreeFarm.calculateMedicineAndVaccineCostPerKg|number_format(2,'.','') }}</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
