{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header hidden-print">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <strong>{{ 'Tour Plan'|trans }}</strong></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row hidden-print">
                        <div class="col-md-10">
                            {{ form_start(form, { 'attr' : { 'class': 'sales_marketing_search_form' } }) }}
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_widget(form.visitDate) }}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_widget(form.employee) }}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    {{ form_widget(form._token) }}
                                    <button type="submit" name="search" class="btn btn-primary btn-sm" title="Search" value="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            </form>
                        </div>
                        <div class="col-md-2 text-right">
                            <button type="button" name="excel" class="btn blue-bg btn-sm white-font" title="Excel" value="excel" id="button-excel"><i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'Excel'|trans }}</button>
                        </div>

                    </div>
                    <table class="table table-striped table-bordered table-hover download-excel" id="datatable">
                        <thead>

                        {% if entities is defined and entities['employeeInfo'] is defined and entities['employeeInfo'] is not empty %}
                            <tr>
                                <th data-a-h="center" class="text-center border-0" align="center" colspan="6">
                                    Nourish Poultry & Hatchery Ltd.
                                </th>
                            </tr>
                            <tr>
                                <th data-a-h="center" class="text-center border-0" align="center" colspan="6">
                                    Month: {{ requestFormatedDate }}
                                </th>
                            </tr>
                        <tr>
                            <th colspan="2">
                                Employee ID:  {{ entities['employeeInfo']['userId'] }}
                            </th>
                            <th colspan="2">
                                Employee Name: {{ entities['employeeInfo']['name'] }}
                            </th>
                            <th colspan="2">
                                Employee Designation: {{ entities['employeeInfo']['designationName'] }}
                            </th>
                        </tr>
                        {% endif %}
                        <tr>
                            <th style="width: 5%" scope="col">S/N</th>
                            <th style="width: 10%" scope="col">{{ 'Visiting Date'|trans }}</th>
                            <th style="width: 20%" scope="col">Working Mode</th>
                            <th style="width: 20%" scope="col">Purpose</th>
                            <th style="width: 30%" scope="col">Agent List</th>
                            <th style="width: 30%" scope="col">Area List</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if entities is defined and entities['data'] is defined and entities['data'] is not empty %}
                            {% for monthWiseData in entities['data'] %}
                                {% for visitingDate, entity in monthWiseData  %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ visitingDate|date('d-m-Y') }}</td>
                                        <td>
                                            {#{% if visitingDate|date('d-m-Y') >= currentDate|date('d-m-Y') %}
                                            <a
                                                    data-type="select"
                                                    class="editable"
                                                    id="workingMode-{{ entity.workingMode.id|default('') }}"
                                                    data-name="workingMode"
                                                    href="#"
                                                    data-source="{{ path('working_mode_select') }}"
                                                    data-url="{{ path('working_mode_inline_update',{id:entity.id}) }}"
                                                    data-pk="{{ entity.workingMode.id|default('') }}"
                                                    data-value="{{ entity.workingMode.id|default('') }}"
                                                    data-original-title="Select Working Mode">
                                                {{ entity.workingMode.name|default('') }}
                                            </a>
                                                {% else %}
                                                {{ entity.workingMode.name|default('') }}
                                            {% endif %}#}
                                            {{ entity.workingMode.name|default('') }}

                                        </td>
                                        <td>
                                            {#{% if visitingDate|date('d-m-Y') >= currentDate|date('d-m-Y') %}
                                            <a
                                                    data-type="text"
                                                    class="editable"
                                                    id="visitingArea-{{ entity.id }}"
                                                    data-name="visitingArea"
                                                    href="javascript:"
                                                    data-url="{{ path('inline_visiting_area_using_ajax',{'id':entity.id}) }}"
                                                    data-pk="{{ entity.id }}"
                                                    data-value="{{ entity.visitingArea|default('') }}">
                                                {{ entity.visitingArea }}
                                            </a>
                                            {% else %}
                                                {{ entity.visitingArea|default('') }}
                                            {% endif %}#}
                                            {{ entity.visitingArea|default('') }}

                                        </td>
                                        <td>
                                            {{  entity.agentInfo|default('') }}
                                        </td>
                                        <td>
                                            {{  entity.areaNameList|default('') }}
                                        </td>
                                        {#<td>
                                            <a
                                                    data-type="select2"
                                                    class="editable"
                                                    id="reportMode-{{ entity.id }}"
                                                    data-name="reportMode"
                                                    href="#"
                                                    data-source="{{ path('core_employee_location') }}"
                                                    data-url=""
#}{#                                                    data-pk="{{ entity.id }}"#}{#
#}{#                                                    data-value="{{ entity.reportModeId }}"#}{#
                                                    data-original-title="Select Upozila">
                                                {{ entity.areaList|default('') }}
                                            </a>
                                        </td>#}

                                    </tr>
                                {% endfor %}

                            {% endfor %}
                            {% else %}
                            
                            <tr>
                                <td colspan="6" class="text-center">No data found</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/terminalbdcrm/css/crm.css') }}">
    <style>
        .editable-click, a.editable-click, a.editable-click:hover {
            text-decoration: none;
            border-bottom: dashed 1px #0088cc;
        }

        .hide-calendar .ui-datepicker-calendar{
            display: none;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/plugins/bootstrap-editable/js/bootstrap4-editable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/tableToExcel.js') }}"></script>

    <script type="text/javascript">
        $('.monthYearPicker').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'mm-yy',
            autoClose:true,
            onClose: function() {
                $(this).datepicker('widget').removeClass('hide-calendar');
                $("#ui-datepicker-div").removeClass('monthYearPicker');
                var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
            },

            beforeShow: function(input) {
                $(input).datepicker("widget").addClass('hide-calendar');
                $("#ui-datepicker-div").addClass('monthYearPicker');
                // console.log($(this).val());
                if ((selDate = $(this).val()).length > 0)
                {
                    iYear = selDate.substring(selDate.length - 4, selDate.length);
                    iMonth = selDate.substring(0, 2);
                    // iMonth = jQuery.inArray(selDate.substring(1, 2), $(this).datepicker('option', 'monthNames'));
                    // console.log(iMonth);
                    iMonth = iMonth-1;
                    $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
                    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
                }
            }
        });


        let button = document.querySelector("#button-excel");

        if(button){
            button.addEventListener("click", e => {
                e.preventDefault();
                let table = document.querySelector(".download-excel");
                TableToExcel.convert(table, {
                    name: "tour-plan-status.xlsx",
                    sheet: {
                        name: "Sheet 1"
                    }
                });
            });
        }
    </script>

{% endblock  %}

{% block documentready %}
    {{ parent() }}
{#    <script>#}
    $.fn.editable.defaults.mode ='inline';
    {#    $.fn.editable.defaults.mode = 'popover';#}
    $('.editable').editable();
{% endblock %}
