{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        {#<li class="breadcrumb-item"> <a href="{{ path('kpi_setup') }}">  {{ 'Employee Sales'|trans }}</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Crm Visit'|trans }}</h5>
                    <div class="card-header-right">
                        {% if is_granted('ROLE_CRM_POULTRY_USER') or is_granted('ROLE_CRM_CATTLE_USER') or is_granted('ROLE_CRM_AQUA_USER') or is_granted('ROLE_CRM_SALES_MARKETING_USER')  or is_granted('ROLE_USER')  or is_granted('ROLE_CORE') %}
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('crm_tour_plan_create') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                            <a href="{{ path('crm_tour_plan') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'CRM Tour Plan'|trans }}</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <form action="{{ path('crm_tour_plan') }}">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control datepicker monthYearPicker" id="fromDate" name="date" value="{{ requestDate|default('') }}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-sm btn-success" type="submit" value="search" name="search">
                                    <i class="fa fa-search"></i>
                                    {{ 'Search'|trans }}
                                </button>
                            </div>
                        </div>
                    </form>
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th style="width: 5%" scope="col">S/N</th>
                            <th style="width: 10%" scope="col">{{ 'Visiting Date'|trans }}</th>
                            <th style="width: 20%" scope="col">Working Mode</th>
                            <th style="width: 20%" scope="col">Purpose</th>
                            <th style="width: 30%" scope="col">Agent List</th>
                            <th style="width: 30%" scope="col">Area List</th>
                            <th style="width: 5%" scope="col" class="text-center" width="5%"><i class="feather icon-settings"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if entities is defined and entities['data'] is defined and entities['data'] is not empty %}
                            {% for monthWiseData in entities['data'] %}
                                {% for visitingDate, entity in monthWiseData  %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ visitingDate|date('d-m-Y') }}</td>
                                        <td>
                                            {#{% if visitingDate|date('d-m-Y') >= currentDate|date('d-m-Y') %}
                                            <a
                                                    data-type="select"
                                                    class="editable"
                                                    id="workingMode-{{ entity.workingMode.id|default('') }}"
                                                    data-name="workingMode"
                                                    href="#"
                                                    data-source="{{ path('working_mode_select') }}"
                                                    data-url="{{ path('working_mode_inline_update',{id:entity.id}) }}"
                                                    data-pk="{{ entity.workingMode.id|default('') }}"
                                                    data-value="{{ entity.workingMode.id|default('') }}"
                                                    data-original-title="Select Working Mode">
                                                {{ entity.workingMode.name|default('') }}
                                            </a>
                                                {% else %}
                                                {{ entity.workingMode.name|default('') }}
                                            {% endif %}#}
                                            {{ entity.workingMode.name|default('') }}

                                        </td>
                                        <td>
                                            {#{% if visitingDate|date('d-m-Y') >= currentDate|date('d-m-Y') %}
                                            <a
                                                    data-type="text"
                                                    class="editable"
                                                    id="visitingArea-{{ entity.id }}"
                                                    data-name="visitingArea"
                                                    href="javascript:"
                                                    data-url="{{ path('inline_visiting_area_using_ajax',{'id':entity.id}) }}"
                                                    data-pk="{{ entity.id }}"
                                                    data-value="{{ entity.visitingArea|default('') }}">
                                                {{ entity.visitingArea }}
                                            </a>
                                            {% else %}
                                                {{ entity.visitingArea|default('') }}
                                            {% endif %}#}
                                            {{ entity.visitingArea|default('') }}

                                        </td>
                                        <td>
                                            {{  entity.agentInfo|default('') }}
                                        </td>
                                        <td>
                                            {{  entity.areaNameList|default('') }}
                                        </td>
                                        {#<td>
                                            <a
                                                    data-type="select2"
                                                    class="editable"
                                                    id="reportMode-{{ entity.id }}"
                                                    data-name="reportMode"
                                                    href="#"
                                                    data-source="{{ path('core_employee_location') }}"
                                                    data-url=""
#}{#                                                    data-pk="{{ entity.id }}"#}{#
#}{#                                                    data-value="{{ entity.reportModeId }}"#}{#
                                                    data-original-title="Select Upozila">
                                                {{ entity.areaList|default('') }}
                                            </a>
                                        </td>#}
                                        <td>
                                            {% if visitingDate|date('Y-m') >= currentDate|date('Y-m') %}
                                            <a title="Edit" class="btn btn-transparent btn-sm" href="{{ path('crm_tour_plan_update',{'id':entity.id}) }}"><i class="fa fa-edit"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}

                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/terminalbdcrm/css/crm.css') }}">
    <style>
        .editable-click, a.editable-click, a.editable-click:hover {
            text-decoration: none;
            border-bottom: dashed 1px #0088cc;
        }

        .hide-calendar .ui-datepicker-calendar{
            display: none;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/plugins/bootstrap-editable/js/bootstrap4-editable.js') }}"></script>
    <script type="text/javascript">
        $('.monthYearPicker').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'mm-yy',
            autoClose:true,
            onClose: function() {
                $(this).datepicker('widget').removeClass('hide-calendar');
                $("#ui-datepicker-div").removeClass('monthYearPicker');
                var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
            },

            beforeShow: function(input) {
                $(input).datepicker("widget").addClass('hide-calendar');
                $("#ui-datepicker-div").addClass('monthYearPicker');
                // console.log($(this).val());
                if ((selDate = $(this).val()).length > 0)
                {
                    iYear = selDate.substring(selDate.length - 4, selDate.length);
                    iMonth = selDate.substring(0, 2);
                    // iMonth = jQuery.inArray(selDate.substring(1, 2), $(this).datepicker('option', 'monthNames'));
                    // console.log(iMonth);
                    iMonth = iMonth-1;
                    $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
                    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
                }
            }
        });
    </script>

{% endblock  %}

{% block documentready %}
    {{ parent() }}
{#    <script>#}
    $.fn.editable.defaults.mode ='inline';
    {#    $.fn.editable.defaults.mode = 'popover';#}
    $('.editable').editable();
{% endblock %}
