<table class="table table-striped table-bordered table-hover fcrReportDetails download-excel" id="fcrReportDetails">
    <thead class="thead-dark" style="background-color: #dbdee3">
    <tr>
        <th colspan="32" class="border-0" data-a-h="center"><h3 class="text-center">NOURISH POULTRY AND HATCHERY LTD</h3></th>
    </tr>
    <tr>
        <th colspan="32" class="border-0" data-a-h="center"><h5 class="text-center">UTTARA, DHAKA.</h5></th>
    </tr>
    <tr>
        <th  colspan="32" class="border-0" data-a-h="center"><h6 class="text-center">{{ report.name|default('') }}  &nbsp; &nbsp;
                &nbsp; {{ filterBy['startDate'] is defined and filterBy['startDate'] is not empty?filterBy['startDate']:'' }} {{ filterBy['endDate'] is defined and filterBy['endDate'] is not empty?' to '~filterBy['endDate']:'' }}</h6></th>
    </tr>
    <tr>
        <th colspan="32" class="border-0" data-a-h="center"><h6 class="text-center">Reporting Date : {{ "now"|date('d-m-Y') }}</h6></th>
    </tr>
    <tr style="position: sticky; top: -1px; background-color: #dbdee3" class="data-header">
        <th data-a-v="middle" rowspan="2">Region</th>
        <th data-a-v="middle" rowspan="2">Name Of CSO</th>
        <th data-a-v="middle" rowspan="2">S/L</th>
        <th data-a-v="middle" rowspan="2">Created At</th>
        <th data-a-v="middle" rowspan="2">Name of Agent</th>
        <th data-a-h="center" colspan="3" style="text-align: center">Farmer</th>
        <th data-a-v="middle" rowspan="2">Breed Type</th>
        <th data-a-v="middle" rowspan="2">Age of Cow(Month)</th>
        <th data-a-v="middle" rowspan="2">Present Body Weight(Kg)</th>
        <th data-a-v="middle" rowspan="2">Lactation No</th>
        <th data-a-v="middle" rowspan="2">Age of Lactation(Week)</th>
        <th data-a-v="middle" rowspan="2">Av. Milk Yield Per Day (L)</th>
        <th data-a-v="middle" rowspan="2">Av. Milk Yield Per Kg Con. Feed (L)</th>
        <th data-a-v="middle" rowspan="2">Av. Milk Yield Per Kg DM (L)</th>
        <th data-a-v="middle" rowspan="2">Milk Fat %</th>
        <th data-a-h="center" colspan="3">Con. Feed Intake (Kg)</th>
        <th data-a-h="center" colspan="2">Fodder (Kg)</th>
        <th data-a-h="center" colspan="2">DM of Fodder (Kg)</th>
        <th data-a-v="middle" rowspan="2">Total DM (Kg)</th>
        <th data-a-v="middle" rowspan="2">DM Requirement (Kg)</th>
        <th data-a-v="middle" scope="col" rowspan="2">Feed Company</th>
        <th data-a-v="middle" scope="col" rowspan="2">Feed Type</th>
        <th data-a-v="middle" scope="col" rowspan="2">Feed Mill</th>
        <th data-a-v="middle" scope="col" rowspan="2">Prod. Date</th>
        <th data-a-v="middle" scope="col" rowspan="2">Batch No</th></th>
        <th data-a-v="middle" rowspan="2">Remarks</th>
    </tr>
    <tr style="position: sticky; top: 76px; background-color: #dbdee3" class="data-header">
        <th>Name</th>
        <th>Address</th>
        <th>Mobile</th>
        <th>Ready Feed</th>
        <th>Conventional</th>
        <th>Total</th>
        <th>Gr. Grass</th>
        <th>Straw</th>
        <th>Gr. Grass</th>
        <th>Straw</th>
    </tr>
    </thead>
    <tbody>

    {% if entities['records'] is defined and entities['records'] is not empty %}
        {% set totalRecordCount=1 %}
    {% for monthYear, monthYearData in entities['records'] %}
        <tr>
            <td colspan="32">{{ monthYear }}</td>
        </tr>
        {% for regionId, regionData in monthYearData %}
            {% set recordCount=1 %}
            {% for employeeId, employeeData in regionData %}

                {% for item in employeeData['data'] %}
                    <tr>
                        {% if recordCount==1 %}
                            <td data-a-v="middle" valign="middle"
                                rowspan="{{ entities['regionRecords'][monthYear][regionId]|length }}">{{ item.regionName }}</td>
                        {% endif %}
                        {% if loop.first %}
                            <td data-a-v="middle" valign="middle"
                                rowspan="{{ employeeData['data']|length }}">{{ item.employeeName }}</td>
                        {% endif %}
                        <td data-t="n">{{ totalRecordCount }}</td>
                        <td data-t="s">{{ item.createdAt|date('d-m-Y') }}</td>
                        <td>{{ item.agentName }}</td>
                        <td>{{ item.farmerName }}</td>
                        <td>{{ item.farmerAddress }}</td>
                        <td>{{ item.farmerMobile }}</td>
                        <td>{{ item.breedTypeName }}</td>
                        <td data-t="n">{{ item.ageOfCattleMonth|number_format(2,'.','') }}</td>
                        <td data-t="n">{{ item.presentBodyWeight|number_format(2,'.','') }}</td>
                        <td data-t="n">{{ item.lactationNo|number_format(0) }}</td>
                        <td data-t="n">{{ item.ageOfLactation|number_format(0) }}</td>
                        <td data-t="n">{{ item.averageWeightPerDay|number_format(2,'.','') }}</td>
                        <td data-t="n">{{ item.averageWeightPerKgConsumptionFeed|number_format(2,'.','') }}</td>
                        <td data-t="n">{{ item.averageWeightPerKgDm|number_format(2,'.','') }}</td>
                        <td data-t="n">{{ item.milkFatPercentage|number_format(2,'.','') }}</td>
                        <td data-t="n">{{ item.consumptionFeedIntakeReadyFeed|number_format(2,'.','') }}</td>
                        <td data-t="n">{{ item.consumptionFeedIntakeConventional|number_format(2,'.','') }}</td>
                        <td data-t="n">{{ item.consumptionFeedIntakeTotal|number_format(2,'.','') }}</td>
                        <td data-t="n">{{ item.fodderGreenGrassKg|number_format(2,'.','') }}</td>
                        <td data-t="n">{{ item.fodderStrawKg|number_format(2,'.','') }}</td>
                        <td data-t="n">{{ item.dmOfFodderGreenGrassKg|number_format(2,'.','') }}</td>
                        <td data-t="n">{{ item.dmOfFodderStrawKg|number_format(2,'.','') }}</td>
                        <td data-t="n">{{ item.totalDmKg|number_format(2,'.','') }}</td>
                        <td data-t="n">{{ item.dmRequirementByBwtKg|number_format(2,'.','') }}</td>
                        <td>{{ item.feedName }}</td>
                        <td>{{ item.feedTypeName }}</td>
                        <td>{{ item.feedMillName }}</td>
                        <td>{{ item.productionDate ? item.productionDate|date('d-m-Y'):'' }}</td>
                        <td>{{ item.batchNo }}</td>
                        <td>{{ item.remarks }}</td>
                    </tr>
                    {% set recordCount=recordCount+1 %}
                    {% set totalRecordCount=totalRecordCount+1 %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}

    {% endif %}


    </tbody>
</table>

