{% if entities is defined and entities['records'] is not empty %}
<table class="table table-striped table-bordered table-hover download-excel">
    <thead class="thead-dark" style="background-color: #dbdee3">
    <tr>
        <th colspan="18" class="border-0" data-a-h="center"><h3 class="text-center">NOURISH POULTRY AND
                HATCHERY LTD</h3></th>
    </tr>
    <tr>
        <th colspan="18" class="border-0" data-a-h="center"><h5 class="text-center">UTTARA, DHAKA.</h5></th>
    </tr>
    <tr>
        <th  colspan="18" class="border-0" data-a-h="center"><h6 class="text-center">{{ report.name|default('') }}  &nbsp; &nbsp;
                &nbsp; ({{ filterBy['startDate'] is defined and filterBy['startDate'] is not empty ?filterBy['startDate']:'' }} {{ filterBy['endDate'] is defined and filterBy['endDate'] is not empty?' to '~filterBy['endDate']:'' }})</h6></th>
    </tr>

    <tr style="position: sticky; top: -1px; background-color: #dbdee3" class="data-header">
        <th rowspan="2">{{ 'Region'|trans }}</th>
        <th rowspan="2">{{ 'Name Of CSO'|trans }}</th>
        <th rowspan="2">S/L</th>
        <th rowspan="2">Visiting Date</th>
        <th rowspan="2">Name of Farmer</th>
        <th rowspan="2">Mobile Number</th>
        <th rowspan="2">Address</th>
        <th colspan="3">Cattle Population</th>
        <th rowspan="2">Avg Milk Yield (Ltr.) per day</th>
        <th rowspan="2">Conception Rate (%)</th>
        <th colspan="2">Fodder (Yes/No)</th>
        <th rowspan="2">Type of Concentrate Feed</th>
        <th colspan="2">Market Price</th>
        <th rowspan="2">Comment</th>
    </tr>
    <tr style="position: sticky; top: 47px; background-color: #dbdee3" class="data-header">
        <th>OX</th>
        <th>Cow</th>
        <th>Calf</th>

        <th>Green Grass</th>
        <th>Straw</th>

        <th>Milk (per Liter) TK</th>
        <th>Meat (per Kg) TK</th>
    </tr>
    </thead>

    <tbody>
    {% set totalRecordCount=1 %}
    {% for monthYear, monthYearRecords in entities['records'] %}
        <tr>
            <td colspan="13">{{ monthYear }}</td>
        </tr>
        {% for regionId, regionRecords in monthYearRecords %}
            {% set recordCount=1 %}
            {% for employeeId, employeeRecords in regionRecords %}
                {% for item in employeeRecords['data'] %}
                    <tr>
                        {% if recordCount==1 %}
                            <td data-a-v="middle" valign="middle"
                                rowspan="{{ entities['regionRecords'][monthYear][regionId]|length }}">{{ item.regionName|default('') }}</td>
                        {% endif %}

                        {% if loop.first %}
                            <td data-a-v="middle" valign="middle"
                                rowspan="{{ employeeRecords['data']|length }}">{{ item.employeeName|default('') }}</td>
                        {% endif %}
                        <td data-t="n">{{ totalRecordCount }}</td>
                        <td data-t="s">{{ item.visitingDate|date('d-m-Y') }}</td>
                        <td>{{ item.farmerName }}</td>
                        <td>{{ item.farmerMobile }}</td>
                        <td>{{ item.farmerAddress }}</td>
                        <td data-t="n">{{ item.cattlePopulationOx|number_format(2,'.','') }}</td>
                        <td data-t="n">{{ item.cattlePopulationCow|number_format(2,'.','') }}</td>
                        <td data-t="n">{{ item.cattlePopulationCalf|number_format(2,'.','') }}</td>

                        <td data-t="n">{{ item.avgMilkYieldPerDay|number_format(2,'.','') }}</td>
                        <td data-t="n">{{ item.conceptionRate|number_format(2,'.','') }}</td>
                        <td>{{ item.fodderGreenGrassKg }}</td>
                        <td>{{ item.fodderStrawKg }}</td>
                        <td>{{ item.typeOfConcentrateFeed }}</td>
                        <td data-t="n">{{ item.marketPriceMilkPerLiter }}</td>
                        <td data-t="n">{{ item.marketPriceMeatPerKg }}</td>
                        <td>{{ item.remarks }}</td>
                    </tr>
                    {% set totalRecordCount=totalRecordCount+1 %}
                    {% set recordCount=recordCount+1 %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

{% endif %}
