#fcrReportDetails .form-control{
    padding: 0px!important;
}
#fcrReportDetails thead td{
    padding-left: 1px!important;
    padding-right: 1px!important;
}

/* Chrome, Safari, Edge, Opera */
#fcrReportDetails input::-webkit-outer-spin-button,

#fcrReportDetails input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

}

/* Firefox */
#fcrReportDetails input[type=number] {
    -moz-appearance: textfield;

}
/*layer_performance_details*/
.layer_performance_details .form-control{
    padding: 0 0 0 2px!important;
}
.layer_performance_details thead th, .layer_performance_details thead td{
    padding-left: 1px!important;
    padding-right: 1px!important;
}

/* Chrome, Safari, Edge, Opera */
.layer_performance_details input::-webkit-outer-spin-button,

.layer_performance_details input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

}

/* Firefox */
.layer_performance_details input[type=number] {
    -moz-appearance: textfield;

}

#datatable .form-control{
    padding: 0 0 0 2px!important;
}
/*#datatable thead td, #datatable thead th, #datatable tbody td{
    padding-left: 1px!important;
    padding-right: 1px!important;
}*/

/* Chrome, Safari, Edge, Opera */
#datatable input::-webkit-outer-spin-button,

#datatable input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#datatable input[type=number] {
    -moz-appearance: textfield;

}

.layerLifeCycleDetails thead th, .layerLifeCycleDetails tbody td{
    padding: 1px!important;

}

.chickLifeCycleDetails, .fcrReportDetails, .layer_performance_details, .cattle_performance_report, .fish_life_cycle{
    width: 1920px;
}

.sticky_section{
    height: 90vh; overflow-x: scroll;margin-right: -20px;
}

.sticky_section .table {
    width: 1920px;
    position: relative;
}
.sticky_section .table thead th pre {
    color: #0d0c0c;
}

.table thead th pre {
    font-family: "Open Sans", sans-serif !important;
}
.sticky_section .table thead.sticky th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgba(0,0,0,.7);
    color: #fff;
}

.sticky_section .table thead.sticky th pre{
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

.sticky_section .table thead.sticky th[scope=row] {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 999;
}

input.is-invalid, select.is-invalid {
    border-color: #dc3545!important;
}

.monthYearPicker .ui-datepicker-calendar, .monthYearPickerForPreviousTwoMonthEnabled .ui-datepicker-calendar {
    display: none!important;
}
.hide{
    display: none!important;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav-tabs>li>a.active, .nav-tabs>li>a.active:hover, .nav-tabs>li>a.active:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

#exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

#exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}
