{% extends 'admin/layout.html.twig' %}
{#{% block body_id 'kpi_domain_new' %}#}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="portlet box">
                    <div class="portlet-body form">
                        <div class="row form-body" style="padding-top: 0!important;">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h4>{{ 'NOURISH POULTRY & HATCHERY LTD'|trans }}</h4>
                                        <h5>{{ 'Uttara, Dhaka.'|trans }}</h5>
                                        {% if breedType is defined and breedType=='layer' %}
                                            <h4>{{ 'Company Wise DOC Production'|trans }}</h4>
                                        {% else %}
                                            <h4>{{ 'Company Wise Feed Sale Report'|trans }}</h4>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 companyWiseFeedSale_section">

                                        {% if arrayMonthRange is not empty %}
                                            {% for year in yearRange %}
                                                {% for month in arrayMonthRange %}
                                                    {% set grand_total_percentage = 0 %}
                                                    {% set grand_total =allFeedSales['grand_total'][year][month] %}

                                                    <h5>{{ 'Month'|trans }}: {{ month }}-{{ year }}</h5>
                                                    <table class="table table-bordered companyWiseFeedSale_table" id="datatable">
                                                        <thead>
                                                        <tr>
                                                            <th>{{ 'SL No'|trans }}</th>
                                                            <th>{{ 'Company'|trans }}</th>
                                                            {% for productName in productsName %}
                                                                <th>{{ productName.name }}</th>
                                                            {% endfor %}
                                                            <th>{{ 'Total'|trans }}</th>
                                                            <th>{{ 'Market Share By Nourish (%)'|trans }}</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody class="companyWiseFeedSale_body_section">
                                                        {% if feedCompanies is not empty %}
                                                            {% for index, feedCompany in feedCompanies %}
                                                                {% set line_total=0 %}
                                                                {% set quantity = allFeedSales['items'][year][month][feedCompany.id].productWiseQty|json_decode  %}
                                                                <tr>
                                                                    <td>{{ index+1 }}</td>
                                                                    <td>{{ feedCompany.name|default('') }}</td>
                                                                    {% for productName in productsName %}
                                                                        {% set line_total=line_total+quantity[productName.id]|default(0) %}
                                                                        <td><input type="number" class="form-control productAndQty product_{{ productName.id }}" min="0" name="productAndQty[]" value="{{ quantity[productName.id]|default(0) }}" data-entity-id="{{ allFeedSales['items'][year][month][feedCompany.id].id }}" data-product-id="{{ productName.id }}"></td>
                                                                    {% endfor %}
                                                                    <td class="line_total">{{ line_total }}</td>
                                                                    <td class="lineMarketShare">{{ grand_total>0?((line_total*100)/grand_total)|number_format(3,'.',''):0 }}</td>
                                                                </tr>
                                                                {% set grand_total_percentage = grand_total_percentage+(grand_total>0?(line_total*100)/grand_total:0) %}
                                                            {% endfor %}
                                                        {% endif %}
                                                        </tbody>

                                                        <tfoot>
                                                        <tr>
                                                            <td colspan="2">{{ 'Total'|trans }}</td>
                                                            {% for productName in productsName %}
                                                                <td data-product-id="{{ productName.id }}" class="col_total col_total_{{ productName.id }}">{{ productName.name }}</td>
                                                            {% endfor %}
                                                            <td class="grand_total">{{ grand_total }}</td>
                                                            <td>{{ grand_total_percentage|number_format(2,'.','') }}</td>
                                                        </tr>
                                                        </tfoot>


                                                    </table>
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>

{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
     <link rel="stylesheet" href="{{ asset('bundles/terminalbdcrm/css/crm.css') }}">
 {% endblock  %}
{% block javascripts %}
    {#<script>#}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('bundles/terminalbdcrm/js/crm/company-wise-feed-sale.js') }}"></script>
{% endblock  %}


