<div class="portlet box " style="height: 95vh; overflow-x: scroll;">
    <div class="portlet-title">
        <div class="caption">{{chickLifeCycle.report.name}} </div>
    </div>
{#{{ dump(report) }}#}

    <div class="portlet-body form">
        {#{{ form_start(form, {'attr': {'action': path('chick_new_modal',{'id':crmCustomer.id,'report':report.id }),'class': 'form-horizontal right','id':'chick_life_cycle_form'}}) }}#}
        <div class="">
            <div class="form-inner-no-space">

                <div class="row">
                    <div class="col-md-12">
                        <h4>{{chickLifeCycle.report.name}}</h4>
                    </div>

                    <div class="col-md-4">
                        <p style="color: #000000">{{ 'Farmer Name'|trans }}: {{ chickLifeCycle.customer.name }}</p>
                    </div>
                    <div class="col-md-4">
                        <p style="color: #000000">{{ 'Address'|trans }}: {{ chickLifeCycle.customer.address }}</p>
                    </div>
                    <div class="col-md-4">
                        <p style="color: #000000">{{ 'Agent'|trans }}: {{ chickLifeCycle.agent.name }}</p>
                    </div>
                    <div class="col-md-4">
                        <p style="color: #000000">{{ 'Total Birds'|trans }}: {{ chickLifeCycle.totalBirds|default('') }}</p>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <p style="color: #000000">{{ 'Hatching Date'|trans }}: {{ chickLifeCycle.hatchingDate?chickLifeCycle.hatchingDate|date("d-m-Y"):'' }}</p>
                    </div>
                </div>
                <div class="card-body-inner">
                    <div class="chickLifeCycleDetails_section" style="overflow-x: scroll">
                        <table class="table table-striped table-bordered table-hover chickLifeCycleDetails" id="datatable">
                            <thead class="thead-dark">
                            <tr>

                                <th scope="col" rowspan="2">S/N</th>
                                {#<th scope="col" rowspan="2">Bird Type</th>#}
                                <th style="width: 90px" scope="col" rowspan="2">Visiting Week</th>
                                <th style="width: 100px" scope="col" rowspan="2">Visiting Date</th>
                                <th scope="col" rowspan="2"><pre style="font-size: 100%; margin: 0px">Total Birds</pre></th>
                                <th scope="col" rowspan="2">Age(Day)</th>
                                <th scope="col" colspan="2">Mortality</th>
                                <th scope="col" colspan="2">Weight</th>
                                <th scope="col" colspan="3">Feed Consumption</th>
                                <th scope="col" colspan="2">FCR</th>
                                <th style="width: 70px" scope="col" rowspan="2">Hatch.</th>
                                <th style="width: 70px" scope="col" rowspan="2">Breed</th>
                                <th style="width: 70px" scope="col" rowspan="2">Feed</th>
                                <th style="width: 150px" scope="col" rowspan="2">FeedType</th>
                                <th style="width: 100px" scope="col" rowspan="2">Pro. Date</th>
                                <th style="width: 200px" scope="col" rowspan="2">BatchNo.</th>
                                <th style="width: 300px" scope="col" rowspan="2">Remarks</th>

                            </tr>
                            <tr>

                                <th scope="col">Pes</th>
                                <th style="width: 70px" scope="col">%</th>

                                <th scope="col">Std.</th>
                                <th scope="col">Achi.</th>

                                <th scope="col">Total (kg)</th>
                                <th scope="col">Per bird (gm)</th>
                                <th scope="col">Std.</th>

                                <th scope="col">Without  M</th>
                                <th scope="col">With M</th>

                            </tr>
                            </thead>
                            <tbody>

                            {% if chickLifeCycle.crmChickLifeCycleDetails is not empty %}

                                {% for index, detail in chickLifeCycle.crmChickLifeCycleDetails %}
                                    <tr>
                                        <td>{{ index+1 }} </td>
                                        <td>
                                            {{ detail.visitingWeek|week }}
                                            <input type="hidden" class="crmChickLifeCycleDetails" value="{{ detail.id }}">
                                        </td>
                                        <td>
                                            <div class="date_section">
                                                <input type="text" class="form-control reportingDate datePicker" value="{{ detail.reportingDate?detail.reportingDate|date("d-m-Y"):'' }}">
                                            </div>
                                        </td>
                                        <td>{{ detail.totalBirds }}</td>
                                        <td><input type="number" class="form-control ageDays" value="{{ detail.ageDays }}"> </td>
                                        <td><input type="number" class="form-control mortalityPes" value="{{ detail.mortalityPes }}"> </td>
                                        <td class="mortalityPercent">{{ detail.mortalityPercent }} </td>
                                        <td class="weightStandard">{{ detail.weightStandard }}</td>
                                        <td><input type="number" class="form-control weightAchieved" value="{{ detail.weightAchieved }}"> </td>
                                        <td><input type="number" class="form-control feedTotalKg" value="{{ detail.feedTotalKg }}"> </td>
                                        <td class="perBird">{{ detail.perBird }}</td>
                                        <td class="feedStandard">{{ detail.feedStandard }}</td>
                                        <td class="withoutMortality">{{ detail.withoutMortality }}</td>
                                        <td class="withMortality">{{ detail.withMortality }}</td>
                                        <td>
                                            {{ detail.crmChickLifeCycle.hatchery.name|default('') }}
                                        </td>
                                        <td>
                                            {{ detail.crmChickLifeCycle.breed.name|default('') }}
                                        </td>
                                        <td>
                                            {{ detail.crmChickLifeCycle.feed.name|default('') }}
                                        </td>
                                        <td>
                                            <select name="feedType" class="form-control feedType">
                                                <option value="">Choose Feed Type</option>
                                                {% if feedTypes is not empty %}
                                                    {% for feedType in feedTypes %}
                                                        <option value="{{ feedType.id }}" {{detail.feedType is not empty and detail.feedType.id==feedType.id?'selected="selected"':'' }}>{{ feedType.name }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                            {#<input type="text" class="form-control feedType" value="{{ detail.feedType?detail.feedType:'' }}">#}
                                        </td>
                                        <td>
                                            <div class="date_section">
                                                <input type="text" class="form-control proDate datePicker" value="{{ detail.proDate?detail.proDate|date("d-m-Y"):'' }}">
                                            </div>
                                        </td>
                                        <td><input type="text" class="form-control batchNo" value="{{ detail.batchNo?detail.batchNo:'' }}"> </td>
                                        <td><input type="text" class="form-control remarks" value="{{ detail.remarks? detail.remarks:'' }}"> </td>
                                    </tr>

                                {% endfor %}

                            {% endif %}

                            </tbody>
                        </table>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6 text-right">
                                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                        <button type="button" data-chick-life-cycle-id="{{ chickLifeCycle.id }}" class="btn btn-info form-submit report_complete"><i class="fa fa-save"></i> Complete</button>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
