{% if arrayMonthRange is not empty %}
    {% for month in arrayMonthRange %}
        <tr>
            <th colspan="20">{{ month }}</th>
        </tr>
        {% if competitorsTilapiaFrySales['agents'][month] is defined %}
            {% for agentId ,agent in competitorsTilapiaFrySales['agents'][month] %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ agent|default('') }}</td>
                    {% set lineTotal=0 %}
                    {% for feedId, feed in competitorsTilapiaFrySales['feeds'] %}
                        <td class="text-right">{{competitorsTilapiaFrySales['items'][month][agentId][feedId].qty|default(0)|number_format(2,'.',',')}}</td>
                        {% set lineTotal=lineTotal+competitorsTilapiaFrySales['items'][month][agentId][feedId].qty|default(0) %}
                    {% endfor %}
                    <td class="text-right">{{ lineTotal|number_format(2,'.',',') }}</td>
                </tr>
            {% endfor %}

        {% endif %}
        <tr>
            <th colspan="2"> Grand Total</th>
            {% set grandTotal=0 %}
            {% if competitorsTilapiaFrySales['feeds'] is defined %}
            {% for feedId, feed in competitorsTilapiaFrySales['feeds'] %}
                <th class="text-right">
                    {% if competitorsTilapiaFrySales['grandTotal'][month][feedId] is defined  %}
                        {{competitorsTilapiaFrySales['grandTotal'][month][feedId]|arraySum|number_format(2,'.',',')}}

                        {% set grandTotal=grandTotal+competitorsTilapiaFrySales['grandTotal'][month][feedId]|arraySum %}
                    {% else %}
                        {{ 0|number_format(2,'.',',') }}
                    {% endif %}
                </th>
            {% endfor %}
            {% endif %}
            <th class="text-right">{{ grandTotal|number_format(2,'.',',') }}</th>
        </tr>
    {% endfor %}
{% endif %}
