<table class="table table-striped table-bordered table-hover filter-result download-excel" width="100%">
    <thead>
    <tr>
        <td data-a-h="center" colspan="29" align="center" class="border-0 text-center"><h3>NOURISH POULTRY AND HATCHERY LTD</h3></td>
    </tr>
    <tr>
        <td data-a-h="center" colspan="29" align="center" class="border-0 text-center"><h5>UTTARA, DHAKA.</h5></td>
    </tr>
    <tr>
        <td data-a-h="center" colspan="29" align="center" class="border-0 text-center"><h6>{{ lifeCycleSlug|replace({'-': ' '})|upper }}</h6></td>
    </tr>
    <tr>
        <td data-a-h="center" colspan="29" align="center" class="border-0 text-center"><h6>{{ 'Reporting Date: '~ "now"|date('d-m-Y') }}</h6></td>
    </tr>
    <tr>
        <th colspan="6" class="border-0 text-center">Officer's ID: {{ employee ? employee.userId : '' }}</th>
        <th colspan="7" class="border-0 text-center">Officer's Name: {{ employee ? employee.name : '' }}</th>
        <th colspan="8" class="border-0 text-center">Designation: {{ employee and employee.designation ? employee.designation.name : '' }}</th>
        <th colspan="8" class="border-0 text-center">Region: {{ employee and employee.regional ? employee.regional.name : '' }}</th>
    </tr>
    </thead>
    {% for month, entity in entities %}
        <thead class="thead-dark">
        <tr>
            <th colspan="29"><h4 class="bg-secondary text-center p-1">{{ month }}</h4>
            </th>
        </tr>
        <tr class="data-header">
            <th data-a-v="middle" scope="col" rowspan="2">Report Status</th>
            <th data-a-h="center" scope="col" colspan="2" class="text-center">Agent</th>
            <th data-a-h="center" scope="col" colspan="3" class="text-center">Farmer</th>
            <th data-a-v="middle" scope="col" rowspan="2">H.Date</th>
            <th data-a-v="middle" scope="col" rowspan="2">Visiting Date</th>
            <th data-a-v="middle" scope="col" rowspan="2">VisitingWeek</th>
            <th data-a-v="middle" scope="col" rowspan="2">Total Birds</th>
            <th data-a-v="middle" scope="col" rowspan="2">Age (Day)</th>
            <th data-a-h="center" scope="col" colspan="2" class="text-center">Mortality</th>
            <th data-a-h="center" scope="col" colspan="2" class="text-center">Weight (gm)</th>
            <th data-a-h="center" scope="col" colspan="3" class="text-center">Feed Consumption</th>
            <th data-a-h="center" scope="col" colspan="3" class="text-center">F.C.R</th>
            <th data-a-v="middle" scope="col" rowspan="2">Hatchery</th>
            <th data-a-v="middle" scope="col" rowspan="2">Breed</th>
            <th data-a-v="middle" scope="col" rowspan="2">Feed</th>
            <th data-a-v="middle" scope="col" rowspan="2">Feed Mill</th>
            <th data-a-v="middle" scope="col" rowspan="2">Feed Type</th>
            <th data-a-v="middle" scope="col" rowspan="2">Pro. Date</th>
            <th data-a-v="middle" scope="col" rowspan="2">Batch No.</th>
            <th data-a-v="middle" scope="col" rowspan="2">Remarks</th>
        </tr>

        <tr class="data-header">
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Mobile</th>
            <th scope="col">Pes</th>
            <th scope="col">%</th>
            <th scope="col">Standard</th>
            <th scope="col">Achieved</th>
            <th scope="col">Total (kg)</th>
            <th scope="col">Per Bird (gm)</th>
            <th scope="col">Standard</th>
            <th scope="col">Without M</th>
            <th scope="col">With M</th>
            <th scope="col">Standard</th>
        </tr>
        </thead>

        <tbody>
        {% for lifeCycle in entity %}
            {% set presentBird=0 %}
            {% set currentTotalBird=0 %}
            {% for detail in lifeCycle.details %}
                {% set cureentMortalityPes=detail.mortalityPes|default(0) %}
                {% set presentBird=lifeCycle.parent.totalBirds|default(0)-cureentMortalityPes %}
                {% set currentTotalBird=lifeCycle.parent.totalBirds|default(0) %}
                {% set mortalityPercentage = currentTotalBird>0?((cureentMortalityPes*100)/currentTotalBird):0 %}
                {% set totalFeedKg = detail.feedTotalKg|default(0) %}
                {% set perBirdGm = currentTotalBird>0?((totalFeedKg/currentTotalBird)*1000):0 %}
                {% set weightAchieved = detail.weightAchieved|default(0) %}
                {% set calculateWithoutMortality = currentTotalBird>0 and weightAchieved>0?(((totalFeedKg/currentTotalBird)/weightAchieved)*1000):0 %}
                {% set calculateWithMortality = presentBird>0 and weightAchieved>0?(((totalFeedKg/presentBird)/weightAchieved)*1000):0 %}

                <tr>
                    {% if loop.first %}
                        <td data-a-v="middle" valign="middle"
                            rowspan="{{ lifeCycle.details|length }}">{{ lifeCycle.parent.lifeCycleState == 'COMPLETE' ? 'COMPLETE': 'IN PROGRESS' }}</td>
                    {% endif %}
                    {% if loop.first %}
                        <td data-a-v="middle" valign="middle"
                            rowspan="{{ lifeCycle.details|length }}">{{ lifeCycle.parent.agentName }}</td>
                    {% endif %}
                    {% if loop.first %}
                        <td data-a-v="middle" valign="middle"
                            rowspan="{{ lifeCycle.details|length }}">{{ lifeCycle.parent.agentAddress }}</td>
                    {% endif %}
                    {% if loop.first %}
                        <td data-a-v="middle" valign="middle"
                            rowspan="{{ lifeCycle.details|length }}">{{ lifeCycle.parent.customerName }}</td>
                    {% endif %}
                    {% if loop.first %}
                        <td data-a-v="middle" valign="middle"
                            rowspan="{{ lifeCycle.details|length }}">{{ lifeCycle.parent.customerAddress }}</td>
                    {% endif %}
                    {% if loop.first %}
                        <td data-t="s" data-a-v="middle" valign="middle"
                            rowspan="{{ lifeCycle.details|length }}">{{ lifeCycle.parent.customerMobile }}</td>
                    {% endif %}
                    {% if loop.first %}
                        <td data-t="s" data-a-v="middle" valign="middle"
                            rowspan="{{ lifeCycle.details|length }}">{{ lifeCycle.parent.hatchingDate|date('d-m-Y') }}</td>
                    {% endif %}

                    <td data-t="s">{{ detail.reportingDate?detail.reportingDate|date('d M Y'):"" }}</td>
                    <td data-t="s">{{ detail.visitingWeek|week|default('N/A') }}</td>
                    <td data-t="n">{{ currentTotalBird }}</td>
                    <td data-t="n">{{ detail.ageDays|default(0) }}</td>
                    <td data-t="n">{{ detail.mortalityPes|number_format(0)|default(0) }}</td>
                    <td data-t="n">{{ mortalityPercentage|number_format(2,'.','') }}</td>
                    <td data-t="n">{{ detail.weightStandard|number_format(2,'.','')|default(0) }}</td>
                    <td data-t="n">{{ detail.weightAchieved|number_format(2,'.','')|default(0) }}</td>
                    <td data-t="n">{{ totalFeedKg|number_format(0) }}</td>
                    <td data-t="n">{{ perBirdGm|number_format(3,'.','') }}</td>
                    <td data-t="n">{{ detail.feedStandard|number_format(2,'.','')|default(0) }}</td>
                    <td data-t="n">{{ calculateWithoutMortality|number_format(3,'.','') }}</td>
                    <td data-t="n">{{ calculateWithMortality|number_format(3,'.','') }}</td>
                    <td data-t="n">{{ detail.weightStandard>0?(detail.feedStandard/detail.weightStandard)|number_format(2,'.','')|default(0):'' }}</td>
                    {% if loop.first %}
                        <td data-a-v="middle" valign="middle"
                            rowspan="{{ lifeCycle.details|length }}">{{ lifeCycle.parent.hatcheryName }}</td>
                    {% endif %}
                    {% if loop.first %}
                        <td data-a-v="middle" valign="middle"
                            rowspan="{{ lifeCycle.details|length }}">{{ lifeCycle.parent.breedName }}</td>
                    {% endif %}
                    {% if loop.first %}
                        <td data-a-v="middle" valign="middle"
                            rowspan="{{ lifeCycle.details|length }}">{{ lifeCycle.parent.feedName }}</td>
                    {% endif %}
                    {% if loop.first %}
                        <td data-a-v="middle" valign="middle"
                            rowspan="{{ lifeCycle.details|length }}">{{ lifeCycle.parent.feedMillName }}</td>
                    {% endif %}

                    <td>{{ detail.feedTypeName }}</td>
                    <td data-t="s">{{ detail.proDate?detail.proDate|date('d-m-Y'):'' }}</td>
                    <td>{{ detail.batchNo|default('N/A') }}</td>
                    <td>{{ detail.remarks|default('N/A') }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    {% endfor %}
</table>
