<table class="table table-striped table-bordered table-hover filter-result download-excel" width="100%">
    <thead class="thead-dark">
    <tr>
        <th data-a-h="center" colspan="27" align="center" class="border-0 text-center"><h3>NOURISH POULTRY AND HATCHERY LTD</h3></th>
    </tr>
    <tr>
        <th data-a-h="center" colspan="27" align="center" class="border-0 text-center"><h5>UTTARA, DHAKA.</h5></th>
    </tr>
    <tr>
        <th data-a-h="center" colspan="27" align="center" class="border-0 text-center"><h6>{{ lifeCycleSlug|replace({'-': ' '})|upper }}</h6></th>
    </tr>
    <tr>
        <th class="border-0" colspan="6">Officer's ID: {{ employee ? employee.userId : '' }}</th>
        <th class="border-0" colspan="7">Officer's Name: {{ employee ? employee.name : '' }}</th>
        <th class="border-0" colspan="7">Designation: {{ employee and employee.designation ? employee.designation.name : '' }}</th>
        <th class="border-0" colspan="7">Region: {{ employee and employee.regional ? employee.regional.name : '' }}</th>
    </tr>
    </thead>

    <thead class="thead-dark">
    <tr>
        <th data-a-h="center" scope="col" colspan="3" style="text-align: center">Farmer</th>
        <th data-a-v="middle" scope="col" rowspan="2">Visiting Date</th>
        <th data-a-v="middle" scope="col" rowspan="2">Age of Cow(Month)</th>
        <th data-a-v="middle" scope="col" rowspan="2">Present Body Weight(Kg)</th>
        <th data-a-v="middle" scope="col" rowspan="2">Lactation No</th>
        <th data-a-v="middle" scope="col" rowspan="2">Age of Lactation</th>
        <th data-a-v="middle" scope="col" rowspan="2">Av. Milk Yield Per Day (L)</th>
        <th data-a-v="middle" scope="col" rowspan="2">Av. Milk Yield Per Kg Con. Feed (L)</th>
        <th data-a-v="middle" scope="col" rowspan="2">Av. Milk Yield Per Kg DM (L)</th>
        <th data-a-v="middle" scope="col" rowspan="2">Milk Fat %</th>
        <th data-a-h="center" scope="col" colspan="3" style="text-align: center">Con. Feed Intake (Kg)</th>
        <th data-a-h="center" scope="col" colspan="2" style="text-align: center">Fodder (Kg)</th>
        <th data-a-h="center" scope="col" colspan="2" style="text-align: center">DM of Fodder (Kg)</th>
        <th data-a-v="middle" scope="col" rowspan="2">Total DM (Kg)</th>
        <th data-a-v="middle" scope="col" rowspan="2">DM Requirement (Kg)</th>
        <th data-a-v="middle" scope="col" rowspan="2">Breed Type</th>
        <th data-a-v="middle" scope="col" rowspan="2">Feed Company</th>
        <th data-a-v="middle" scope="col" rowspan="2">Feed Type</th>
        <th data-a-v="middle" scope="col" rowspan="2">Feed Mill</th>
        <th data-a-v="middle" scope="col" rowspan="2">Prod. Date</th>
        <th data-a-v="middle" scope="col" rowspan="2">Batch No</th>
        <th data-a-v="middle" scope="col" rowspan="2">Remarks</th>
    </tr>

    <tr>
        <th scope="col">Name</th>
        <th scope="col">Mobile</th>
        <th scope="col">Address</th>
        <th scope="col">Ready Feed</th>
        <th scope="col">Conventional</th>
        <th scope="col">Total</th>
        <th scope="col">Gr. Grass</th>
        <th scope="col">Straw</th>
        <th scope="col">Gr. Grass</th>
        <th scope="col">Straw</th>
    </tr>
    </thead>

    <tbody>
    {% for entity in entities %}
        {% for details in entity.details %}
            {% set avgMilkYieldConsumptionFeed = details.consumptionFeedIntakeTotal > 0 ? (details.averageWeightPerDay / details.consumptionFeedIntakeTotal) : 0 %}
            {% set avgMilkYieldDm = details.totalDmKg > 0 ? (details.averageWeightPerDay / details.totalDmKg) : 0 %}
            <tr>
                {% if loop.first %}
                    <td data-a-v="middle" valign="middle"
                        rowspan="{{ entity.details|length }}">{{ entity.parent.customerName }}</td>
                {% endif %}
                {% if loop.first %}
                    <td data-a-v="middle" valign="middle"
                        rowspan="{{ entity.details|length }}">{{ entity.parent.customerMobile }}</td>
                {% endif %}
                {% if loop.first %}
                    <td data-a-v="middle" valign="middle"
                        rowspan="{{ entity.details|length }}">{{ entity.parent.customerAddress }}</td>
                {% endif %}

                <td data-t="s">{{ details.visitingDate ? details.visitingDate|date('d-m-Y') : '' }}</td>
                <td data-t="n">{{ details.ageOfCattleMonth }}</td>
                <td data-t="n">{{ details.presentBodyWeight|number_format(2,'.','') }}</td>
                <td data-t="n">{{ details.lactationNo|number_format(2,'.','') }}</td>
                <td data-t="n">{{ details.ageOfLactation|number_format(2,'.','') }}</td>
                <td data-t="n">{{ details.averageWeightPerDay|number_format(2,'.','') }}</td>
                <td data-t="n">{{ avgMilkYieldConsumptionFeed|number_format(2,'.','') }}</td>
                <td data-t="n">{{ avgMilkYieldDm|number_format(2,'.','') }}</td>
                <td data-t="n">{{ details.milkFatPercentage|number_format(2,'.','') }}</td>
                <td data-t="n">{{ details.consumptionFeedIntakeReadyFeed|number_format(2,'.','') }}</td>
                <td data-t="n">{{ details.consumptionFeedIntakeConventional|number_format(2,'.','') }}</td>
                <td data-t="n">{{ details.consumptionFeedIntakeTotal|number_format(2,'.','') }}</td>
                <td data-t="n">{{ details.fodderGreenGrassKg|number_format(2,'.','') }}</td>
                <td data-t="n">{{ details.fodderStrawKg|number_format(2,'.','') }}</td>
                <td data-t="n">{{ details.dmOfFodderGreenGrassKg|number_format(2,'.','') }}</td>
                <td data-t="n">{{ details.dmOfFodderStrawKg|number_format(2,'.','') }}</td>
                <td data-t="n">{{ details.totalDmKg|number_format(2,'.','') }}</td>
                <td data-t="n">{{ details.dmRequirementByBwtKg|number_format(2,'.','') }}</td>
                <td>{{ details.breedTypeName }}</td>
                <td>{{ details.feedName }}</td>
                <td>{{ details.feedTypeName }}</td>
                <td>{{ details.feedMillName }}</td>
                <td>{{ details.productionDate ? details.productionDate|date('d-m-Y'):'' }}</td>
                <td>{{ details.batchNo }}</td>
                <td>{{ details.remarks }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
