{% if entities is defined and entities['records'] is not empty %}
    <table class="table table-striped table-bordered table-hover filter-result download-excel" width="100%">
        <thead>
        <tr>
            <td class="border-0" data-a-h="center" colspan="41" align="center"><h3>NOURISH POULTRY AND HATCHERY LTD</h3></td>
        </tr>
        <tr>
            <td class="border-0" data-a-h="center" colspan="41" align="center"><h5>UTTARA, DHAKA.</h5></td>
        </tr>
        <tr>
            <td class="border-0" data-a-h="center" colspan="41" align="center"><h6>{{ lifeCycleSlug=='fish-life-cycle-nursing-report'?'Fish Life Cycle (Nursing) Report':'' }}</h6></td>
        </tr>

        <tr style="position: sticky; top: -1px; background-color: #dbdee3" class="data-header">
            <th data-a-v="middle" scope="col" rowspan="2">Officer ID</th>
            <th data-a-v="middle" scope="col" rowspan="2">Officer Name</th>
            <th data-a-v="middle" scope="col" rowspan="2">Region</th>
            <th data-a-v="middle" scope="col" rowspan="2">Month</th>

            <th data-a-h="center" scope="col" colspan="2" style="text-align: center">Farmer</th>

            <th data-a-v="middle" scope="col" rowspan="2">Pond Number</th>
            <th data-a-v="middle" scope="col" rowspan="2">Reporting Date</th>
            <th data-a-v="middle" scope="col" rowspan="2">Feed Company</th>
            <th data-a-v="middle" scope="col" rowspan="2">Hatchery Name</th>
            <th data-a-v="middle" scope="col" rowspan="2">Feed Used Item</th>
            <th data-a-v="middle" scope="col" rowspan="2">Feed Type</th>
            <th data-a-v="middle" scope="col" rowspan="2">Culture Species (Main)</th>
            <th data-a-v="middle" scope="col" rowspan="2">Culture Species (Other)</th>
            <th data-a-v="middle" scope="col" rowspan="2">Culture area (m2) or decimal</th>

            <th data-a-v="middle" scope="col" rowspan="2">Stocking date</th>
            <th data-a-v="middle" scope="col" rowspan="2">No.of initial fish (pcs.)</th>
            <th data-a-v="middle" scope="col" rowspan="2">Density /decimal (pcs)</th>
            <th data-a-v="middle" scope="col" rowspan="2">Average initial weight (g)</th>
            <th data-a-v="middle" scope="col" rowspan="2">Total initial weight (kg)</th>
            <th data-a-v="middle" scope="col" rowspan="2">Previous Sampling date</th>
            <th data-a-v="middle" scope="col" rowspan="2">Present Sampling date</th>
            <th data-a-v="middle" scope="col" rowspan="2">Culture days (During sampling)</th>
            <th data-a-v="middle" scope="col" rowspan="2">Average Present weight (g)</th>
            <th data-a-v="middle" scope="col" rowspan="2">Average Weight gain (g)</th>
            <th data-a-v="middle" scope="col" rowspan="2">Current Survival Rate (C_SR)</th>
            <th data-a-v="middle" scope="col" rowspan="2">Total weight gain (kg)</th>
            <th data-a-v="middle" scope="col" rowspan="2">Current feed consumption (kg)</th>
            <th data-a-v="middle" scope="col" rowspan="2">Current FCR</th>
            <th data-a-v="middle" scope="col" rowspan="2">Current ADG (g/fish/day)</th>
            <th data-a-v="middle" scope="col" rowspan="2">Total DOC (Day Of Culture)</th>
            <th data-a-v="middle" scope="col" rowspan="2">Final Survival Rate (%)</th>
            <th data-a-v="middle" scope="col" rowspan="2">No.of Final fish (pcs.)</th>
            <th data-a-v="middle" scope="col" rowspan="2">Final Average weight (g)</th>
            <th data-a-v="middle" scope="col" rowspan="2">Final weight gain per pcs (g)</th>
            <th data-a-v="middle" scope="col" rowspan="2">Final total weight gain (kg)</th>

            {#                            <th data-a-v="middle" scope="col" rowspan="2">Previous Feed Consumption (kg)</th>#}
            {#                            <th data-a-v="middle" scope="col" rowspan="2">Total feed consumption (kg)</th>#}
            <th data-a-v="middle" scope="col" rowspan="2">Cumulative FCR</th>
            <th data-a-v="middle" scope="col" rowspan="2">Cumulative ADG (g/fish/day)</th>
            <th scope="col" data-a-v="middle" rowspan="2">Culture Species Description</th>
            <th data-a-v="middle" scope="col" rowspan="2">Farmer Comments</th>
            <th data-a-v="middle" scope="col" rowspan="2">Visitor's Comments</th>
        </tr>
        <tr style="position: sticky; top: 38px; background-color: #dbdee3" class="data-header">
            <th scope="col">Farmer Name</th>
            <th scope="col">Mobile No.</th>
        </tr>
        </thead>

        {% for month, monthWiseRecords in entities['records'] %}
            {% set monthYear = month|split('-') %}

            {% for employeeId, employeeWiseRecords in monthWiseRecords %}

                <tbody>
                {% for details in employeeWiseRecords %}
                    {% if details.fishLifeCycleNursingDetails is not empty %}
                        {% for index, cultureDetails in details.fishLifeCycleNursingDetails %}
                            <tr>
                                {#                                        {% if loop.first %}#}
                                <td data-a-v="middle">{{ entities['employeeInfo'] is not empty ? entities['employeeInfo'][month][employeeId]['employeeUserId'] : '' }}</td>
                                <td data-a-v="middle">{{ entities['employeeInfo'] is not empty ? entities['employeeInfo'][month][employeeId]['name'] : '' }}</td>
                                <td data-a-v="middle">{{ entities['employeeInfo'] is not empty ? entities['employeeInfo'][month][employeeId]['regionName'] : '' }}</td>
                                <td data-a-v="middle">{{ monthYear is defined and monthYear[1] is defined ? monthYear[1]:'' }}</td>
                                <td data-a-v="middle">{{ details.customer.name }}</td>
                                <td data-a-v="middle">{{ details.customer.mobile }}</td>


                                <td data-a-v="middle" data-t="n">{{ details.pondNumber|default('') }}</td>
                                <td data-a-v="middle" data-t="s">{{ details.reportingDate|date('d M Y') }}</td>
                                <td data-a-v="middle">{{ details.feed.name|default('') }}</td>
                                <td data-a-v="middle">{{ details.hatchery.name|default('') }}</td>
                                <td data-a-v="middle">
                                    {% if details.feed is defined and details.feed.name=="Nourish" %}
                                        {% if details.feedItemName is not empty %}

                                            {% set feedItems = details.feedItemName|json_decode %}
                                            {% if feedItems is not empty %}

                                                {% for feedItem in feedItems %}
                                                    {{ feedItem['feedTypeName'] }}
                                                    {% if loop.last %}
                                                        {{ '' }}
                                                    {% else %}
                                                        {{ ' + ' }}
                                                    {% endif %}
                                                {% endfor %}

                                            {% endif %}
                                        {% endif %}

                                    {% else %}
                                        {{ details.feedItemName|default('') }}
                                    {% endif %}

                                </td>
                                <td data-a-v="middle">{{ details.feedType.name|default('') }}</td>
                                <td data-a-v="middle">{{ details.mainCultureSpecies.name|default('') }}</td>
                                <td data-a-v="middle">{{ details.otherCultureSpecies.name|default('') }}</td>
                                <td data-a-v="middle" data-t="n">{{ details.cultureAreaDecimal|number_format(2,'.','') }}</td>

                                <td data-a-v="middle" data-t="s">{{ details.stockingDate ? details.stockingDate|date('d-m-Y') : '' }}</td>
                                <td data-a-v="middle" data-t="n">{{ details.noOfInitialFish|number_format(2,'.','') }}</td>
                                <td data-a-v="middle" data-t="n">{{ details.stockingDensity|number_format(2,'.','') }}</td>
                                <td data-a-v="middle" data-t="n">{{ details.averageInitialWeightGm|number_format(2,'.','') }}</td>
                                <td data-a-v="middle" data-t="n">{{ details.totalInitialWeightKg|number_format(2,'.','') }}</td>
                                {#                                        {% endif %}#}
                                <td data-t="s">
                                    {% if loop.first %}
                                        {{ details.stockingDate|date('Y-m-d') }}
                                    {% else %}
                                        {{ details.fishLifeCycleNursingDetails[index-1].samplingDate|date('Y-m-d') }}
                                    {% endif %}
                                </td>

                                <td data-t="s">{{ cultureDetails.samplingDate|date('Y-m-d') }}</td>
                                <td data-t="n">{{ cultureDetails.currentCultureDays|default('') }}</td>
                                <td data-t="n">{{ cultureDetails.averagePresentWeight|number_format(3,'.','')|default('') }}</td>
                                <td data-t="n">{{ cultureDetails.avgWeightGainGm|number_format(3,'.','')|default('') }}</td>
                                <td data-t="n">{{ cultureDetails.srPercentage|default('') }}</td>
                                <td data-t="n">{{ cultureDetails.totalWeightGainKg|number_format(3,'.','')|default('') }}</td>
                                <td data-t="n">{{ cultureDetails.currentFeedConsumptionKg|default('') }}</td>
                                <td data-t="n">{{ cultureDetails.currentFcr|number_format(3,'.','') }}</td>
                                <td data-t="n">{{ cultureDetails.currentAdg|number_format(3,'.','') }}</td>
                                {#                                        <td data-t="n">{{ details.totalDayOfCulture|default("") }}</td>#}
                                {#                                        {% if loop.first %}#}
                                <td data-a-v="middle" data-t="n">
                                    {{ details.totalDayOfCulture|default(0) }}
                                </td>
                                <td data-a-v="middle" data-t="n">
                                    {{ details.fishLifeCycleNursingDetails[details.fishLifeCycleNursingDetails|length-1].srPercentage|default('') }}
                                </td>
                                <td data-a-v="middle" data-t="n">
                                    {{ details.fishLifeCycleNursingDetails[details.fishLifeCycleNursingDetails|length-1].noOfFinalFish|number_format(0,'.','')|default(0) }}
                                </td>
                                <td data-a-v="middle" data-t="n">
                                    {{ details.fishLifeCycleNursingDetails[details.fishLifeCycleNursingDetails|length-1].averagePresentWeight|number_format(2)|default(0) }}
                                </td>
                                <td data-a-v="middle" data-t="n">
                                    {{ details.fishLifeCycleNursingDetails[details.fishLifeCycleNursingDetails|length-1].avgWeightGainGm|number_format(2)|default(0) }}
                                </td>
                                <td data-a-v="middle" data-t="n">
                                    {{ details.fishLifeCycleNursingDetails[details.fishLifeCycleNursingDetails|length-1].totalWeightGainKg|number_format(2)|default(0) }}
                                </td>
                                <td data-a-v="middle" data-t="n">
                                    {{ details.finalFcr|number_format(3)|default(0) }}
                                </td>
                                <td data-a-v="middle" data-t="n">
                                    {{ details.finalAdg|number_format(3)|default(0) }}
                                </td>
                                <td data-a-v="middle" data-t="s">
                                    {{ details.speciesDescription|default("") }}
                                </td>
                                {#                                        {% endif %}#}

                                <td data-t="s">{{ cultureDetails.farmerRemarks|default("") }}</td>
                                <td data-t="s">{{ cultureDetails.employeeRemarks|default("") }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tbody>
            {% endfor %}

        {% endfor %}

    </table>
{% endif %}

