{% if entities is defined and entities['records'] is not empty %}
    <table class="table table-striped table-bordered table-hover filter-result download-excel" width="100%">
        <thead>
        <tr>
            <td class="border-0" data-a-h="center" colspan="42" align="center"><h3>NOURISH POULTRY AND HATCHERY LTD</h3></td>
        </tr>
        <tr>
            <td class="border-0" data-a-h="center" colspan="42" align="center"><h5>UTTARA, DHAKA.</h5></td>
        </tr>
        <tr>
            <td class="border-0" data-a-h="center" colspan="42" align="center"><h6>{{ lifeCycleSlug=='fish-life-cycle-after-sale-report'?'Fish Life Cycle (Harvest) Report':'' }}</h6></td>
        </tr>

        <tr style="position: sticky; top: -1px; background-color: #dbdee3" class="data-header">
            <th data-a-v="middle" scope="col" rowspan="2">Officer ID</th>
            <th data-a-v="middle" scope="col" rowspan="2">Officer Name</th>
            <th data-a-v="middle" scope="col" rowspan="2">Region</th>
            <th data-a-v="middle" scope="col" rowspan="2">Month</th>
            <th data-a-h="center" scope="col" colspan="2" style="text-align: center">Farmer</th>
            <th scope="col" data-a-v="middle" rowspan="2">Feed Company</th>
            <th scope="col" data-a-v="middle" rowspan="2">Hatchery Name</th>

            <th scope="col" data-a-v="middle" rowspan="2">Feed Used Item</th>
            <th scope="col" data-a-v="middle" rowspan="2">Feed Type</th>

            <th scope="col" data-a-v="middle" rowspan="2">Main Species</th>
            <th scope="col" data-a-v="middle" rowspan="2">Other Species</th>
            {#                    <th scope="col" data-a-v="middle" rowspan="2">Feed Item Name</th>#}

            <th scope="col" data-a-v="middle" rowspan="2">Stocking date</th>
            <th scope="col" data-a-v="middle" rowspan="2">Harvest date</th>
            <th scope="col" data-a-v="middle" rowspan="2">Culture area (decimal)</th>
            <th scope="col" data-a-v="middle" rowspan="2">Density/ decimal (pcs)</th>
            <th scope="col" data-a-v="middle" rowspan="2">No.of initial fish (pcs.)</th>
            <th scope="col" data-a-v="middle" rowspan="2">Total initial weight (kg)</th>
            <th scope="col" data-a-v="middle" rowspan="2">Average initial weight (g)</th>
            <th scope="col" data-a-v="middle" rowspan="2">No.of final fish (pcs.)</th>
            <th scope="col" data-a-v="middle" rowspan="2">Total final weight (kg)</th>
            <th scope="col" data-a-v="middle" rowspan="2">Average final weight (g)</th>
            <th scope="col" data-a-v="middle" rowspan="2">Total feed consumption (kg)</th>
            <th scope="col" data-a-v="middle" rowspan="2">Day of Culture (DOC)</th>
            <th scope="col" data-a-v="middle" rowspan="2">ADG (g/fish/day)</th>
            <th scope="col" data-a-v="middle" rowspan="2">Survival Rate (%)</th>
            <th scope="col" data-a-v="middle" rowspan="2">FCR</th>
            <th scope="col" data-a-v="middle" rowspan="2">Seed Cost Per pcs</th>
            <th scope="col" data-a-v="middle" rowspan="2">Total seed cost (Taka)</th>
            <th scope="col" data-a-v="middle" rowspan="2">Feed Price Per kg</th>
            <th scope="col" data-a-v="middle" rowspan="2">Total feed cost (tk.)</th>
            <th scope="col" data-a-v="middle" rowspan="2">Feed Cost/kg fish (tk.)</th>
            <th scope="col" data-a-v="middle" rowspan="2">Total Others Cost (tk.)</th>
            <th scope="col" data-a-v="middle" rowspan="2">Total Cost  (tk.)</th>
            <th scope="col" data-a-v="middle" rowspan="2">Production Cost/Kg fish (tk.)</th>
            <th scope="col" data-a-v="middle" rowspan="2">Sales Price per kg</th>
            <th scope="col" data-a-v="middle" rowspan="2">Total income  (tk.)</th>
            <th scope="col" data-a-v="middle" rowspan="2">Profit/ Loss (tk.)</th>
            <th scope="col" data-a-v="middle" rowspan="2">ROI (Retune Over Investment) %</th>
            <th scope="col" data-a-v="middle" rowspan="2">Culture Species Description</th>
            <th scope="col" data-a-v="middle" rowspan="2">Farmer Comments</th>
            <th scope="col" data-a-v="middle" rowspan="2">Visitor's Comments</th>
        </tr>
        <tr style="position: sticky; top: 30px; background-color: #dbdee3" class="data-header">
            <th scope="col">Farmer Name</th>
            <th scope="col">Mobile No.</th>
        </tr>

        </thead>
        <tbody>
            {% for month, monthWiseRecords in entities['records'] %}
                {% set monthYear = month|split('-') %}

                {% for employeeId, employeeWiseRecords in monthWiseRecords %}


                    {% for details in employeeWiseRecords %}
                        <tr>
                            <td data-a-v="middle">{{ entities['employeeInfo'] is not empty ? entities['employeeInfo'][month][employeeId]['employeeUserId'] : '' }}</td>
                            <td data-a-v="middle">{{ entities['employeeInfo'] is not empty ? entities['employeeInfo'][month][employeeId]['name'] : '' }}</td>
                            <td data-a-v="middle">{{ entities['employeeInfo'] is not empty ? entities['employeeInfo'][month][employeeId]['regionName'] : '' }}</td>
                            <td data-a-v="middle">{{ monthYear is defined and monthYear[1] is defined ? monthYear[1]:'' }}</td>
                            <td>{{ details.customer.name }}</td>
                            <td>{{ details.customer.mobile }}</td>
                            <td>{{ details.feed.name|default('') }}</td>
                            <td>{{ details.hatchery.name|default('') }}</td>
                            <td>{{ details.getFormattedFeedItemName|default() }}</td>

                            <td>{{ details.feedType.name|default('') }}</td>
                            {#                        <td>{{ details.feedItemName }}</td>#}
                            <td>{{ details.mainCultureSpecies.name|default('') }}</td>
                            <td>{{ details.otherCultureSpecies.name|default('') }}</td>

                            <td data-t="s">{{ details.stockingDate ? details.stockingDate|date('d-m-Y') : '' }}</td>
                            <td data-t="s">{{ details.harvestDate ? details.harvestDate|date('d-m-Y') : '' }}</td>
                            <td data-t="n">{{ details.cultureAreaDecimal|number_format(2,'.','') }}</td>
                            <td data-t="n">{{ details.stockingDensity|number_format(2,'.','') }}</td>
                            <td data-t="n">{{ details.noOfInitialFish|number_format(2,'.','') }}</td>
                            <td data-t="n">{{ details.totalInitialWeight|number_format(2,'.','') }}</td>
                            <td data-t="n">{{ details.averageInitialWeight|number_format(2,'.','') }}</td>
                            <td data-t="n">{{ details.noOfFinalFish|number_format(2,'.','') }}</td>
                            <td data-t="n">{{ details.finalWeightKg|number_format(2,'.','') }}</td>
                            <td data-t="n">{{ details.finalAverageWeightGm|number_format(2,'.','') }}</td>
                            <td data-t="n">{{ details.totalFeedConsumptionKg|number_format(2,'.','') }}</td>
                            <td data-t="n">{{ details.totalDayOfCulture|number_format(2,'.','') }}</td>
                            <td data-t="n">{{ details.finalAdg|number_format(3,'.','') }}</td>
                            <td data-t="n">{{ details.srPercentage|number_format(2,'.','') }}</td>
                            <td data-t="n">{{ details.finalFcr|number_format(3,'.','') }}</td>
                            <td data-t="n">{{ details.perPcsSeedCost|number_format(5,'.','') }}</td>
                            <td data-t="n">{{ details.totalSeedCost|number_format(2,'.','') }}</td>
                            <td data-t="n">{{ details.perKgFeedRate|number_format(5,'.','') }}</td>
                            <td data-t="n">{{ details.totalFeedCost|number_format(2,'.','') }}</td>
                            <td data-t="n">{{ details.feedCostPerKgFish|number_format(5,'.','') }}</td>
                            <td data-t="n">{{ details.totalOtherCost|number_format(2,'.','') }}</td>
                            <td data-t="n">{{ details.totalCost|number_format(2,'.','') }}</td>
                            <td data-t="n">{{ details.productionCostPerKgFish|number_format(5,'.','') }}</td>
                            <td data-t="n">{{ details.salesPricePerKg|number_format(5,'.','') }}</td>
                            <td data-t="n">{{ details.totalIncome|number_format(2,'.','') }}</td>
                            <td data-t="n">{{ details.netProfitOrLoss|number_format(2,'.','') }}</td>
                            <td data-t="n">{{ details.retuneOverInvestment|number_format(2,'.','') }}</td>
                            <td>{{ details.speciesDescription }}</td>
                            <td>{{ details.farmerRemarks }}</td>
                            <td>{{ details.employeeRemarks }}</td>
                        </tr>
                    {% endfor %}


                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endif %}
