<table class="table table-striped table-bordered table-hover filter-result download-excel" width="100">
    <thead class="thead-dark">
    <tr>
        <td data-a-h="center" colspan="21" align="center" class="border-0 text-center"><h3>NOURISH POULTRY AND HATCHERY LTD</h3></td>
    </tr>
    <tr>
        <td data-a-h="center" colspan="21" align="center" class="border-0 text-center"><h5>UTTARA, DHAKA.</h5></td>
    </tr>
    <tr>
        <td data-a-h="center" colspan="21" align="center" class="border-0 text-center"><h6>{{ lifeCycleSlug|replace({'-': ' '})|upper }}</h6></td>
    </tr>
    </thead>
    {% for lifeCycle in entities %}

        <thead class="thead-dark">
        <tr><th colspan="21" class="border-0"></th></tr>
        <tr>
            <th colspan="3">Farmer Name: {{ lifeCycle.parent.customerName }}</th>
            <th colspan="3">Address: {{ lifeCycle.parent.customerAddress }}</th>
            <th colspan="3">Mobile: {{ lifeCycle.parent.customerMobile }}</th>
            <th colspan="3">Total Birds: {{ lifeCycle.parent.totalBirds }}</th>
            <th colspan="3">Hatchery Date: {{ lifeCycle.parent.hatchingDate ? lifeCycle.parent.hatchingDate|date('d-m-Y') : '' }}</th>
            <th colspan="3">Hatchery: {{ lifeCycle.parent.hatcheryName }}</th>
            <th colspan="3">Breed: {{ lifeCycle.parent.breedName }}</th>
        </tr>
        {#<tr>
            <th colspan="26"><h4 class="bg-secondary text-center p-1">{{ monthYear[1]~'-'~monthYear[2] }}</h4></th>
        </tr>#}
        <tr>
            {#                            <th scope="col" rowspan="2">Status</th>#}
            <th data-a-v="middle" scope="col" rowspan="2">Visiting Date</th>
            <th data-a-v="middle" scope="col" rowspan="2">Age(wk)</th>
            <th data-a-h="center" scope="col" colspan="3" style="text-align: center">Birds</th>
            <th data-a-h="center" scope="col" colspan="2" style="text-align: center">Weight (gm)</th>
            <th data-a-v="middle" scope="col" rowspan="2" style="text-align: center">Uniformity%</th>
            <th data-a-h="center" scope="col" colspan="2" style="text-align: center">Feed</th>
            <th data-a-h="center" scope="col" colspan="3" style="text-align: center">Egg Production</th>
            <th data-a-h="center" scope="col" colspan="2" style="text-align: center">Egg Weight</th>
            <th data-a-h="center" scope="col" colspan="4" style="text-align: center">Feed Information</th>
            <th data-a-v="middle" scope="col" rowspan="2">Vaccine / Medicine</th>
            <th data-a-v="middle" scope="col" rowspan="2">Remarks</th>
        </tr>

        <tr>
            <th scope="col">Total Birds</th>
            <th scope="col">Dead bird</th>
            <th scope="col">Present Bird</th>
            <th scope="col">Avg. wt (gm)</th>
            <th scope="col">Target wt (gm)</th>
            <th scope="col">Feed/bird (gm)</th>
            <th scope="col">Target feed/bird</th>
            <th scope="col">Total Eggs</th>
            <th scope="col">Egg Prod%</th>
            <th scope="col">Target egg prod%</th>
            <th scope="col">Actual</th>
            <th scope="col">Standard</th>
            <th scope="col">Feed Type</th>
            <th scope="col">P. Date</th>
            <th scope="col">Batch No</th>
            <th scope="col">Feed Mill</th>
        </tr>
        </thead>

        <tbody>

        {% set deadBird = 0 %}
        {% for detail in lifeCycle.details %}
            {% set deadBird = deadBird + detail.deadBird|default(0) %}
            {% set presentBird = (lifeCycle.parent.totalBirds >= deadBird) ? (lifeCycle.parent.totalBirds - deadBird) : 0 %}
            {% set eggProductionPercentage = (presentBird > 0) ? ((detail.totalEggs * 100) / presentBird) : 0 %}

            <tr>
                {#{% if loop.first %}
                    <td valign="middle" rowspan="{{ lifeCycle.details|length }}">{{ lifeCycle.parent.lifeCycleState == 'COMPLETE' ? 'COMPLETE': 'IN PROGRESS' }}</td>
                {% endif %}#}

                <td data-t="s">{{ detail.visitingDate ? detail.visitingDate|date('d-m-Y') : '' }}</td>
                <td data-t="s">{{ detail.ageWeek|week|default('N/A') }}</td>
                <td data-t="n">{{ lifeCycle.parent.totalBirds|default(0) }}</td>
                <td data-t="n">{{ detail.deadBird|default(0) }}</td>
                <td data-t="n">{{ presentBird|default(0) }}</td>
                <td data-t="n">{{ detail.avgWeight|number_format(2,'.','')|default(0) }}</td>
                <td data-t="n">{{ detail.targetWeight|number_format(2,'.','')|default(0) }}</td>
                <td data-t="n">{{ detail.uniformity|number_format(2,'.','')|default(0) }}</td>
                <td data-t="n">{{ detail.feedPerBird|number_format(2,'.','')|default(0) }}</td>
                <td data-t="n">{{ detail.targetFeedPerBird|number_format(2,'.','')|default(0) }}</td>
                <td data-t="n">{{ detail.totalEggs|number_format(2,'.','')|default(0) }}</td>
                <td data-t="n">{{ eggProductionPercentage|number_format(2,'.','') }}</td>
                <td data-t="n">{{ detail.targetEggProduction|number_format(2,'.','')|default(0) }}</td>
                <td data-t="n">{{ detail.eggWeightActual|number_format(2,'.','')|default(0) }}</td>
                <td data-t="n">{{ detail.eggWeightStandard|number_format(2,'.','')|default(0) }}</td>
                <td>{{ detail.feedTypeName|default(0) }}</td>
                <td data-t="s">{{ detail.productionDate|date('d-m-Y')|default(0) }}</td>
                <td>{{ detail.batch_no|default(0) }}</td>
                <td>{{ detail.feedMillName|default(0) }}</td>
                <td>{{ detail.medicine|default(0) }}</td>
                <td>{{ detail.remarks|default('N/A') }}</td>
            </tr>
        {% endfor %}
        </tbody>

    {% endfor %}
</table>

