{% for lifeCycle in entities %}
    <table width="100%" style="border: 0">
        <tbody>
        <tr>
            <td colspan="21" align="center"><h3>NOURISH POULTRY AND HATCHERY LTD</h3></td>
        </tr>
        <tr>
            <td colspan="21" align="center"><h5>UTTARA, DHAKA.</h5></td>
        </tr>
        <tr>
            <td colspan="21" align="center"><h6>{{ lifeCycleSlug|replace({'-': ' '})|upper }}</h6></td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="card" style="overflow-x: scroll">
            <table width="100" class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Farmer Name: {{ lifeCycle.parent.customerName }}</th>
                <th>Address: {{ lifeCycle.parent.customerAddress }}</th>
                <th>Mobile: {{ lifeCycle.parent.customerMobile }}</th>
                <th>Total Birds: {{ lifeCycle.parent.totalBirds }}</th>
                <th>Hatchery Date: {{ lifeCycle.parent.hatchingDate ? lifeCycle.parent.hatchingDate|date('d-m-Y') : '' }}</th>
                <th>Hatchery: {{ lifeCycle.parent.hatcheryName }}</th>
                <th>Breed: {{ lifeCycle.parent.breedName }}</th>
            </tr>
            </thead>
        </table>


            {#            {% for month, entity in entities %}#}
            {#                {% set monthYear = month|split('-') %}#}
            {#    <h4 class="bg-secondary text-center p-1">{{ monthYear[1]~'-'~monthYear[2] }}</h4>#}
            <table class="table table-striped table-bordered table-hover" width="100">
                <thead class="thead-dark">
                {#<tr>
                    <th colspan="26"><h4 class="bg-secondary text-center p-1">{{ monthYear[1]~'-'~monthYear[2] }}</h4></th>
                </tr>#}
                <tr>
                    {#                            <th scope="col" rowspan="2">Status</th>#}
                    <th scope="col" rowspan="2">Visiting Date</th>
                    <th scope="col" rowspan="2">Age(wk)</th>
                    <th scope="col" colspan="3" style="text-align: center">Birds</th>
                    <th scope="col" colspan="2" style="text-align: center">Weight (gm)</th>
                    <th scope="col" rowspan="2" style="text-align: center">Uniformity%</th>
                    <th scope="col" colspan="2">Feed</th>
                    <th scope="col" colspan="3">Egg Production</th>
                    <th scope="col" colspan="2">Egg Weight</th>
                    <th scope="col" colspan="4">Feed Information</th>
                    <th scope="col" rowspan="2">Vaccine / Medicine</th>
                    <th scope="col" rowspan="2">Remarks</th>
                </tr>

                <tr>
                    <th scope="col">Total Birds</th>
                    <th scope="col">Dead bird</th>
                    <th scope="col">Present Bird</th>
                    <th scope="col">Avg. wt (gm)</th>
                    <th scope="col">Target wt (gm)</th>
                    <th scope="col">Feed/bird (gm)</th>
                    <th scope="col">Target feed/bird</th>
                    <th scope="col">Total Eggs</th>
                    <th scope="col">Egg Prod%</th>
                    <th scope="col">Target egg prod%</th>
                    <th scope="col">Actual</th>
                    <th scope="col">Standard</th>
                    <th scope="col">Feed Type</th>
                    <th scope="col">P. Date</th>
                    <th scope="col">Batch No</th>
                    <th scope="col">Feed Mill</th>
                </tr>
                </thead>

                <tbody>

                {% set deadBird = 0 %}
                {% for detail in lifeCycle.details %}
                    {% set deadBird = deadBird + detail.deadBird %}
                    {% set presentBird = (lifeCycle.parent.totalBirds >= deadBird) ? (lifeCycle.parent.totalBirds - deadBird) : 0 %}
                    {% set eggProductionPercentage = (presentBird > 0) ? ((detail.totalEggs * 100) / presentBird) : 0 %}

                    <tr>
                        {#{% if loop.first %}
                            <td valign="middle" rowspan="{{ lifeCycle.details|length }}">{{ lifeCycle.parent.lifeCycleState == 'COMPLETE' ? 'COMPLETE': 'IN PROGRESS' }}</td>
                        {% endif %}#}

                        <td>{{ detail.visitingDate ? detail.visitingDate|date('d-m-Y') : '' }}</td>
                        <td>{{ detail.ageWeek|week|default('N/A') }}</td>
                        <td>{{ lifeCycle.parent.totalBirds|default(0) }}</td>
                        <td>{{ detail.deadBird|default(0) }}</td>
                        <td>{{ presentBird|number_format(2) }}</td>
                        <td>{{ detail.avgWeight|number_format(2)|default(0) }}</td>
                        <td>{{ detail.targetWeight|number_format(2)|default(0) }}</td>
                        <td>{{ detail.uniformity|number_format(2)|default(0) }}</td>
                        <td>{{ detail.feedPerBird|number_format(2)|default(0) }}</td>
                        <td>{{ detail.targetFeedPerBird|number_format(2)|default(0) }}</td>
                        <td>{{ detail.totalEggs|number_format(2)|default(0) }}</td>
                        <td>{{ eggProductionPercentage|number_format(2) }}</td>
                        <td>{{ detail.targetEggProduction|number_format(2)|default(0) }}</td>
                        <td>{{ detail.eggWeightActual|number_format(2)|default(0) }}</td>
                        <td>{{ detail.eggWeightStandard|number_format(2)|default(0) }}</td>
                        <td>{{ detail.feedTypeName|default(0) }}</td>
                        <td>{{ detail.productionDate|date('d-m-Y')|default(0) }}</td>
                        <td>{{ detail.batch_no|default(0) }}</td>
                        <td>{{ detail.feedMillName|default(0) }}</td>
                        <td>{{ detail.medicine|default(0) }}</td>
                        <td>{{ detail.remarks|default('N/A') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {#            {% endfor %}#}
        </div>
    </div>
{% endfor %}

