<div class="portlet box">
    <div class="portlet-title">
        <div class="caption">{{report.name}}</div>
    </div>
    {#{{ dump(report) }}#}

    <div class="portlet-body form less_costing_farm_section">
        <div class="row form-body ">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-12">
                        <h4>NOURISH POULTRY & HATCHERY LTD</h4>
                        <h5>Uttara, Dhaka.</h5>
                        <h4>{{ 'Medicine & Vaccine Cost for'|trans }} {{report.name}}</h4>
                    </div>
                </div>
                <div class="less_costing_farm_details_section">
                    {{ form_start(form, {'attr': {'method':'post','action': path('cost_benefit_analysis_less_costing_farm_new_modal',{'id':crmCustomer.id,'report':report.id,'parentParent':report.parent.parent.id }),'class': 'form-horizontal right','id':'less_costing_farm_form'}}) }}

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="">{{ 'Agent'|trans }}</label>
                                <div class="col-md-8">
                                    <span class="not-blank"> *</span>
                                    <p style="text-align: left" class="form-control">{{ crmCustomer.agent.name }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="">{{ 'Farmer Name'|trans }}</label>
                                <div class="col-md-8">
                                    <span class="not-blank"> *</span>
                                    <p style="text-align: left" class="form-control">{{ crmCustomer.name }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="">{{ 'Reporting Month'|trans }}</label>
                                <div class="col-md-8">
                                    <span class="not-blank"> *</span>
                                    <div class="date_section">
                                        {{ form_widget(form.reporting_month) }}
                                        {{ form_errors(form.reporting_month) }}
                                        {#<input autocomplete="off" type="text" name="hatching_date" class="form-control datePicker" value="{{ entity.hatchingDate?entity.hatchingDate|date("d-m-Y"):'' }}">#}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.species, 'Fish Species'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.species) }}
                                    {{ form_errors(form.species) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.hatchery, 'Fry Source'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.hatchery) }}
                                    {{ form_errors(form.hatchery) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.feed, 'Feed'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.feed) }}
                                    {{ form_errors(form.feed) }}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.fingerlingSize, 'Fingerling Size (gm)'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.fingerlingSize,{'type':'number'}) }}
                                    {{ form_errors(form.fingerlingSize) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.harvestingSize, 'Harvesting Size (gm)'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                <div class="col-md-8">
                                    {{ form_widget(form.harvestingSize,{'type':'number'}) }}
                                    {{ form_errors(form.harvestingSize) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="">{{ 'Pond Size'|trans }}</label>
                                <div class="col-md-8">
                                    {{ form_widget(form.pondSize) }}
                                    {{ form_errors(form.pondSize) }}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>{{'SL NO'|trans }}</th>
                                    <th>{{'Particulars'|trans}}</th>
                                    <th>{{'Quantity'|trans }}</th>
                                    <th>{{'Particulars'|trans}}</th>
                                    <th>{{'Quantity'|trans }}</th>
                                    <th>{{'Particulars'|trans}}</th>
                                    <th>{{'Quantity'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ '1'|trans }}</td>
                                    <td>{{ 'Total Stocked Fingerling (Pcs)'|trans }}</td>
                                    <td>{{ form_widget(form.totalStockedChicksPcs,{'type':'number'}) }}</td>
                                    <td>{{ 'Average Fingerling Price (Pcs)'|trans }}</td>
                                    <td>{{ form_widget(form.itemPricePerPcs,{'type':'number'}) }}</td>
                                    <td>{{ 'Pont Rent)'|trans }}</td>
                                    <td>{{ form_widget(form.litterOrPondRentCost,{'type':'number'}) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ '2'|trans}}</td>
                                    <td>{{ 'Total Feed Used (Kg)'|trans }}</td>
                                    <td>{{ form_widget(form.totalFeedUsedKg,{'type':'number'}) }}</td>
                                    <td>{{ 'Average Feed Price (Kg)'|trans }}</td>
                                    <td>{{ form_widget(form.feedPricePerKg,{'type':'number'}) }}</td>
                                    <td>{{ 'Electricity & Fuel Cost'|trans }}</td>
                                    <td>{{ form_widget(form.electricityAndFuelCost,{'type':'number'}) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ '3'|trans}}</td>
                                    <td>{{ 'Total Fish Weight (Kg)'|trans }}</td>
                                    <td>{{ form_widget(form.totalBroilerWeightKg,{'type':'number'}) }}</td>
                                    <td>{{ 'Selling Fish Price (Kg)'|trans }}</td>
                                    <td>{{ form_widget(form.broilerOrFishPricePerKg,{'type':'number'}) }}</td>
                                    <td>{{ 'Labour Cost'|trans }}</td>
                                    <td>{{ form_widget(form.labourCost,{'type':'number'}) }}</td>
                                </tr>

                                <tr>
                                    <td>{{ '4'|trans}}</td>
                                    <td>{{ 'Mortality (Pcs)'|trans }}</td>
                                    <td>{{ form_widget(form.mortality,{'type':'number'}) }}</td>
                                    <td>{{ 'Pond Preparation Cost (Total)'|trans }}</td>
                                    <td>{{ form_widget(form.totalPondPreparationCost,{'type':'number'}) }}</td>
                                    <td>{{ 'Transport Cost'|trans }}</td>
                                    <td>{{ form_widget(form.transportCost,{'type':'number'}) }}</td>

                                </tr>
                                <tr>
                                    <td>{{ '5'|trans}}</td>
                                    <td>{{ 'Culture Days'|trans }}</td>
                                    <td>{{ form_widget(form.ageDays,{'type':'number'}) }}</td>
                                    <td>{{ 'Medicine Cost (Total)'|trans }}</td>
                                    <td>{{ form_widget(form.totalMedicineCost,{'type':'number'}) }}</td>
                                    <td>{{ 'Others'|trans }}</td>
                                    <td>{{ form_widget(form.otherCost,{'type':'number'}) }}</td>
                                </tr>
                                <tr>
                                    <td>{{ '6'|trans}}</td>
                                    <td>{{ 'FCR'|trans }}</td>
                                    <td class="fcrCalculationValue"></td>
                                    <td>{{ 'Used Bag Selling Price (Pcs)'|trans }}</td>
                                    <td>{{ form_widget(form.usedBagPricePerPcs,{'type':'number'}) }}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="col-md-6 ">
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue',value:'label.save.continue', attr: { class: 'btn btn-info form-submit less_costing_farm_button'}}) }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {{ form_widget(form._token) }}
                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>
</div>
