<table class="table table-striped table-bordered table-hover download-excel" width="100%">
    {% if entities is defined and entities['records'] is defined and entities['records'] is not empty %}
        {% set totalColSpan = 10 %}
        {% if filterBy['feedType'] is defined and filterBy['feedType']==""  %}
            {% set totalColSpan = totalColSpan + (species['Floating']|length>species['Sinking']|length?species['Floating']|length:species['Sinking']|length)|number_format(0) %}
        {% else %}
            {% if 'Floating' in entities['feedTypeIds'] %}
                {% set totalColSpan = totalColSpan + (species['Floating']|length)|number_format(0) %}
            {% elseif 'Sinking' in entities['feedTypeIds'] %}
                {% set totalColSpan = totalColSpan + (species['Sinking']|length)|number_format(0) %}
            {% endif %}
        {% endif %}

        <thead class="thead-dark" style="background-color: #dbdee3">
        <tr>
            <th data-a-h="center"
                colspan="{{ totalColSpan }}"
                class="border-0"><h3 class="text-center">NOURISH POULTRY AND HATCHERY LTD</h3></th>
        </tr>
        <tr>
            <th data-a-h="center"
                colspan="{{ totalColSpan }}"
                class="border-0"><h5 class="text-center">UTTARA, DHAKA.</h5></th>
        </tr>
        <tr>
            <th data-a-h="center"
                colspan="{{ totalColSpan }}"
                class="border-0"><h6 class="text-center">{{ report.name|default('') }}</h6></th>
        </tr>
        </thead>
        {% if entities['feedTypeIds'] is defined %}

            {% for feedTypeId, feedType in entities['feedTypeIds'] %}
                {#<tr>
                            <th colspan="{{ totalColSpan }}">{{ feedType }}</th>
                        </tr>#}
                <tr>

                    <th scope="col">Offiecr Id</th>
                    <th scope="col">Officer Name</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Month</th>
                    <th scope="col">Year</th>
                    <th scope="col">Feed Type</th>
                    <th scope="col">S/L</th>
                    <th scope="col">Reporting Date</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Company Name</th>
                    {% if species and species[feedType] is defined %}
                        {% for item in species[feedType] %}
                            <th scope="col">{{ item.name }}</th>
                        {% endfor %}
                    {% endif %}
                </tr>

                {% if entities['records'][feedTypeId] is defined %}

                    {% for fcrId, fcrRecords in entities['records'][feedTypeId] %}
                        {#                                {{ dump(fcrRecords) }}#}
                        <tr>

                            <td>{{ entities['fcrInfo'] is defined? entities['fcrInfo'][feedTypeId][fcrId]['userId']:'' }}</td>
                            <td>{{ entities['fcrInfo'] is defined? entities['fcrInfo'][feedTypeId][fcrId]['name']:'' }}</td>
                            <td>{{ entities['fcrInfo'] is defined? entities['fcrInfo'][feedTypeId][fcrId]['designation']:'' }}</td>
{#                            <td>{{ entities['employeeInfo'] is defined? entities['employeeInfo'][employeeId]['name']:'' }}</td>#}
{#                            <td>{{ entities['employeeInfo'] is defined? entities['employeeInfo'][employeeId]['designation']:'' }}</td>#}
                            <td>{{ entities['fcrInfo'][feedTypeId][fcrId]['month']|default('') }}</td>
                            <td>{{ entities['fcrInfo'][feedTypeId][fcrId]['year']|default('') }}</td>
                            <td>{{ feedType }}</td>
                            <td data-t="n">{{ loop.index }}</td>
                            <td>{{ entities['fcrInfo'][feedTypeId][fcrId]['reportingMonth']|default('') }}</td>
                            <td>{{ entities['fcrInfo'][feedTypeId][fcrId]['createdAt']|default('') }}</td>
                            <td>{{ entities['fcrInfo'][feedTypeId][fcrId]['feedName']|default('') }}</td>

                            {% if species and species[feedType] is defined %}
                                {% for item in species[feedType] %}
                                    <th data-t="n" scope="col">{{ fcrRecords[item.id] is defined? fcrRecords[item.id]['quantity']|number_format(2,'.',''):'0.00' }}</th>
                                {% endfor %}
                            {% endif %}
                        </tr>

                    {% endfor %}

                {% endif %}

            {% endfor %}

        {% endif %}
    {% endif %}
</table>

