{% if entities is defined and entities['records'] is not empty %}
    <table class="table table-striped table-bordered table-hover download-excel">
        <thead class="thead-dark" style="background-color: #dbdee3">
        <tr>
            <th colspan="20" class="border-0" data-a-h="center"><h3 class="text-center">NOURISH POULTRY AND
                    HATCHERY LTD</h3></th>
        </tr>
        <tr>
            <th colspan="20" class="border-0" data-a-h="center"><h5 class="text-center">UTTARA, DHAKA.</h5></th>
        </tr>
        <tr>
            <th colspan="20" class="border-0" data-a-h="center"><h6
                        class="text-center">{{ report.name|default('') }}</h6></th>
        </tr>

        <tr>
            <th>{{ 'Region'|trans }}</th>
            <th>{{ 'Officer Id'|trans }}</th>
            <th>{{ 'Officer Name'|trans }}</th>
            <th>{{ 'Designation'|trans }}</th>
            <th>{{ 'SL'|trans }}</th>
            <th>{{ 'Name of Farmer'|trans }}</th>
            <th>{{ 'Address'|trans }}</th>
            <th>{{ 'Mobile No.'|trans }}</th>
            <th>{{ 'Visting Date'|trans }}</th>
            <th>{{ 'Hatchery'|trans }}</th>
            <th>{{ 'Feed'|trans }}</th>
            <th>{{ 'Breed'|trans }}</th>
            <th>{{ 'Type of Species'|trans }}</th>
            <th>{{ 'No. of Fish (Pcs)'|trans }}</th>
            <th>{{ 'Culture Area (decimal)'|trans }}</th>
            <th>{{ 'Dencity'|trans }}</th>
            <th>{{ 'Avg Weight(g)'|trans }}</th>
            <th>{{ 'Tentative Diagnosis'|trans }}</th>
            <th>{{ 'Treatment'|trans }}</th>
            <th>{{ 'Remarks'|trans }}</th>
        </tr>

        </thead>

        <tbody>

        {% set totalRecordCount=1 %}
        {% for monthYear, monthYearRecords in entities['records'] %}
            <tr>
                <td colspan="20">{{ monthYear }}</td>
            </tr>
            {% for regionId, regionRecords in monthYearRecords %}
                {% set recordCount=1 %}
                {% for employeeId, employeeRecords in regionRecords %}
                    {% for detail in employeeRecords['details'] %}
                        <tr>
                            {#{% if recordCount==1 %}
                                <td data-a-v="middle" valign="middle"
                                    rowspan="{{ entities['regionRecords'][monthYear][regionId]|length }}">{{ detail.agentRegionName|default('') }}</td>
                            {% endif %}

                            {% if loop.first %}
                                <td data-a-v="middle" valign="middle"
                                    rowspan="{{ employeeRecords['details']|length }}">{{ detail.employeeName|default('') }}</td>
                            {% endif %}#}
                            <td data-a-v="middle" valign="middle">{{ detail.agentRegionName|default('') }}</td>
                            <td data-a-v="middle" valign="middle">{{ detail.employeeUserId|default('') }}</td>
                            <td data-a-v="middle" valign="middle">{{ detail.employeeName|default('') }}</td>
                            <td data-a-v="middle" valign="middle">{{ detail.employeeDesignationName|default('') }}</td>
                            <td data-t="n">{{ totalRecordCount }}</td>
                            <td>{{ detail['customerName']|default('') }}</td>
                            <td>{{ detail['customerAddress']|default('') }}</td>
                            <td>{{ detail['customerMobile']|default('') }}</td>
                            <td>{{ detail['visitingDate']|date('d-m-Y') }}</td>
                            <td>{{ detail['hatcheryName']|default('') }}</td>
                            <td>{{ detail['feedName']|default('') }}</td>
                            <td>{{ detail['breedName']|default('') }}</td>
                            <td>{{ detail['feedTypeName']|default('') }}</td>
                            <td>{{ detail['flockSizeOrCapacity']|default('') }}</td>
                            <td>{{ detail['cultureAreaForFish']|default('')}}</td>
                            <td>{{ detail['dencityForFish']|number_format(2,'.','')|default('')}}</td>
                            <td>{{ detail['averageWeightForFish']|default('')}}</td>
                            <td>{{ detail['diseaseName']|default('') }}</td>
                            <td>{{ detail['treatment']|default('') }}</td>
                            <td>{{ detail['remarks']|default('') }}</td>
                        </tr>
                        {% set totalRecordCount=totalRecordCount+1 %}
                        {% set recordCount=recordCount+1 %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </tbody>

    </table>

{% endif %}

