{% if entities['totalRecord'] is defined and entities['totalRecord'] is not empty %}
    <table class="table table-striped table-bordered table-hover download-excel">


            <thead class="thead-dark" style="background-color: #dbdee3">
                <tr>
                    <th colspan="44" class="border-0" data-a-h="center"><h3 class="text-center">NOURISH POULTRY AND
                            HATCHERY LTD</h3></th>
                </tr>
                <tr>
                    <th colspan="44" class="border-0" data-a-h="center"><h5 class="text-center">UTTARA, DHAKA.</h5></th>
                </tr>
                <tr>
                    <td colspan="44" class="border-0" data-a-h="center"><h6
                                class="text-center">{{ report.name|default('') }}</h6></td>
                </tr>

            <tr style="position: sticky; top: -1px; background-color: #dbdee3" class="data-header">
                <th data-a-v="middle" scope="col" rowspan="2" class="text-center">Region</th>
                <th data-a-v="middle" scope="col" rowspan="2" class="text-center">Officer Id</th>
                <th data-a-v="middle" scope="col" rowspan="2" class="text-center">Officer Name</th>
                <th data-a-v="middle" scope="col" rowspan="2" class="text-center">Designation</th>
                <th data-a-v="middle" scope="col" rowspan="2" class="text-center">SL No.</th>
                <th scope="col" data-a-h="center" colspan="3" class="text-center">Agent Information</th>
                <th scope="col" data-a-h="center" colspan="3" class="text-center">Farmer Information</th>
                <th scope="col" data-a-h="center" colspan="6" class="text-center">Fish Information</th>
                <th scope="col" data-a-h="center" colspan="6" class="text-center">Fry Details</th>
                <th scope="col" data-a-h="center" colspan="3" class="text-center">Price Details</th>
                <th scope="col" data-a-h="center" colspan="9" class="text-center">Cost Details</th>
                <th scope="col" data-a-h="center" colspan="3" class="text-center">Production Cost</th>
                <th scope="col" data-a-h="center" colspan="3" class="text-center">Selling Price</th>
                <th scope="col" data-a-h="center" colspan="3" class="text-center">Net Profit</th>
            </tr>
            <tr style="position: sticky; top: 29px; background-color: #dbdee3" class="data-header">
                <th scope="col">Agent Name</th>
                <th scope="col">Address</th>
                <th scope="col">Mobile</th>

                <th scope="col">Farmer Name</th>
                <th scope="col">Address</th>
                <th scope="col">Mobile</th>

                <th scope="col">Fish Species</th>
                <th scope="col">Fry Source</th>
                <th scope="col">Feed</th>
                <th scope="col">Fingerling Size (gm)</th>
                <th scope="col">Harvesting Size (gm)</th>
                <th scope="col">Pond Size</th>

                <th scope="col">Total Stocked Fingerling (Pcs)</th>
                <th scope="col">Total Feed Used (Kg)</th>
                <th scope="col">Total Fish Weight (Kg)</th>
                <th scope="col">Mortality (Pcs)</th>
                <th scope="col">Culture Days</th>
                <th scope="col">FCR</th>

                <th scope="col">Average Fingerling Price (Pcs)</th>
                <th scope="col">Average Feed Price (Kg)</th>
                <th scope="col">Selling Fish Price (Kg)</th>

                <th scope="col">Fingerling Cost (Total)</th>
                <th scope="col">Feed Cost (Total)</th>
                <th scope="col">Medicine Cost (Total)</th>
                <th scope="col">Pond Preparation Cost (Total)</th>
                <th scope="col">Pond Rent</th>
                <th scope="col">Electricity & Fuel Cost</th>
                <th scope="col">Labour Cost</th>
                <th scope="col">Transport Cost</th>
                <th scope="col">Other Cost</th>

                <th scope="col">Total Costing</th>
                <th scope="col">Costing/Unit</th>
                <th scope="col">Costing/Kg</th>

                <th scope="col">Total Fish Price</th>
                <th scope="col">Fish Price/Unit</th>
                <th scope="col">Fish Price/Kg</th>

                <th scope="col">Total Profit</th>
                <th scope="col">Profit/Unit</th>
                <th scope="col">Profit/Kg</th>
            </tr>

            </thead>
            <tbody>
            {% if entities['details'] is defined and entities['details'] is not empty %}
                {% set totalRecordCount=1 %}
                {% for monthYear, regionDetails in entities['details'] %}
                    <tr>
                        <td colspan="44">{{ monthYear }}</td>
                    </tr>
                    {% for regionId, employeesDetails in regionDetails %}
                        {% set recordCount=1 %}
                        {% for employeeId,details in employeesDetails %}

                            {% for detail in details %}
                                {% set totalStockedChicksPcs = detail['totalStockedChicksPcs']|default(0) %}
                                {% set totalFeedUsedKg = detail['totalFeedUsedKg']|default(0) %}
                                {% set totalBroilerWeightKg = detail['totalBroilerWeightKg']|default(0) %}

                                {% set itemPricePerPcs = detail['itemPricePerPcs']|default(0) %}
                                {% set feedPricePerKg = detail['feedPricePerKg']|default(0) %}
                                {% set broilerOrFishPricePerKg = detail['broilerOrFishPricePerKg']|default(0) %}

                                {% set totalChickCost = totalStockedChicksPcs*itemPricePerPcs %}
                                {% set totalFeedCost = totalFeedUsedKg*feedPricePerKg %}
                                {% set totalMedicineCost = detail['totalMedicineCost']|default(0) %}
                                {% set totalPondPreparationCost = detail['totalPondPreparationCost']|default(0) %}
                                {% set litterOrPondRentCost = detail['litterOrPondRentCost']|default(0) %}
                                {% set electricityAndFuelCost = detail['electricityAndFuelCost']|default(0) %}
                                {% set labourCost = detail['labourCost']|default(0) %}
                                {% set transportCost = detail['transportCost']|default(0) %}
                                {% set otherCost = detail['otherCost']|default(0) %}

                                {% set totalCosting= totalChickCost+totalFeedCost+totalMedicineCost+totalPondPreparationCost+litterOrPondRentCost+electricityAndFuelCost+labourCost+transportCost+otherCost %}
                                {% set totalCostingUnit = totalStockedChicksPcs>0?(totalCosting/totalStockedChicksPcs):0 %}
                                {% set totalCostingKg = totalBroilerWeightKg>0?(totalCosting/totalBroilerWeightKg):0 %}

                                {% set totalBroilerPrice = totalBroilerWeightKg*broilerOrFishPricePerKg %}
                                {% set broilerPricePerUnit = totalStockedChicksPcs>0?(totalBroilerPrice/totalStockedChicksPcs):0 %}
                                {% set broilerPricePerKg = totalBroilerWeightKg>0?(totalBroilerPrice/totalBroilerWeightKg):0 %}


                                {% set totalProfit = totalBroilerPrice-totalCosting %}
                                {% set totalProfitPerUnit = totalStockedChicksPcs>0?(totalProfit/totalStockedChicksPcs):0 %}
                                {% set totalProfitPerKg = totalBroilerWeightKg>0?(totalProfit/totalBroilerWeightKg):0 %}

                                <tr>
                                    {#{% if recordCount==1 %}
                                        <td data-a-v="middle" valign="middle"
                                            rowspan="{{ entities['regionRecord'][monthYear][regionId]|length }}">{{ detail['regionName']|default('') }}</td>
                                    {% endif %}
                                    {% if loop.first %}
                                        <td data-a-v="middle" valign="middle"
                                            rowspan="{{ details|length }}">{{ detail['employeeName']|default('') }}</td>
                                    {% endif %}#}
                                    <td data-a-v="middle" valign="middle">{{ detail['regionName']|default('') }}</td>
                                    <td data-a-v="middle" valign="middle">{{ detail['employeeUserId']|default('') }}</td>
                                    <td data-a-v="middle" valign="middle">{{ detail['employeeName']|default('') }}</td>
                                    <td data-a-v="middle" valign="middle">{{ detail['employeeDesignationName']|default('') }}</td>
                                    <td data-a-h="center" data-t="n">{{ totalRecordCount }}</td>
                                    <td>{{ detail['agentName']|default('') }}</td>
                                    <td>{{ detail['agentAddress']|default('') }}</td>
                                    <td data-t="s">{{ detail['agentMobile']|default('') }}</td>

                                    <td>{{ detail['customerName']|default('') }}</td>
                                    <td>{{ detail['customerAddress']|default('') }}</td>
                                    <td data-t="s">{{ detail['customerMobile']|default('') }}</td>

                                    <td>{{ detail['speciesName']|default('') }}</td>
                                    <td>{{ detail['hatcheryName']|default('') }}</td>
                                    <td>{{ detail['feedName']|default('') }}</td>
                                    <td data-t="n">{{ detail['fingerlingSize']|default('') }}</td>
                                    <td data-t="n">{{ detail['harvestingSize']|default('') }}</td>
                                    <td data-t="n">{{ detail['pondSize']|default('') }}</td>

                                    <td data-t="n">{{ totalStockedChicksPcs|number_format(2,'.','') }}</td>
                                    <td data-t="n">{{ totalFeedUsedKg|number_format(2,'.','') }}</td>
                                    <td data-t="n">{{ totalBroilerWeightKg|number_format(2,'.','') }}</td>
                                    <td data-t="n">{{ detail['mortality']|default(0) }}</td>
                                    <td data-t="n">{{ detail['ageDays']|default(0) }}</td>
                                    <td data-t="n">{{ detail['fcr']|default(0)|number_format(2,'.','') }}</td>

                                    <td data-t="n">{{ itemPricePerPcs|number_format(2,'.','') }}</td>
                                    <td data-t="n">{{ feedPricePerKg|number_format(2,'.','') }}</td>
                                    <td data-t="n">{{ broilerOrFishPricePerKg|number_format(2,'.','') }}</td>

                                    <td data-t="n">{{ totalChickCost|number_format(2,'.','') }}</td>
                                    <td data-t="n">{{ totalFeedCost|number_format(2,'.','') }}</td>
                                    <td data-t="n">{{ totalMedicineCost|number_format(2,'.','') }}</td>
                                    <td data-t="n">{{ totalPondPreparationCost|number_format(2,'.','') }}</td>
                                    <td data-t="n">{{ litterOrPondRentCost|number_format(2,'.','') }}</td>
                                    <td data-t="n">{{ electricityAndFuelCost|number_format(2,'.','') }}</td>
                                    <td data-t="n">{{ labourCost|number_format(2,'.','') }}</td>
                                    <td data-t="n">{{ transportCost|number_format(2,'.','') }}</td>
                                    <td data-t="n">{{ otherCost|number_format(2,'.','') }}</td>

                                    <td data-t="n">{{ totalCosting|number_format(2,'.','') }}</td>
                                    <td data-t="n">{{ totalCostingUnit|number_format(2,'.','') }}</td>
                                    <td data-t="n">{{ totalCostingKg|number_format(2,'.','') }}</td>

                                    <td data-t="n">{{ totalBroilerPrice|number_format(2,'.','') }}</td>
                                    <td data-t="n">{{ broilerPricePerUnit|number_format(2,'.','') }}</td>
                                    <td data-t="n">{{ broilerPricePerKg|number_format(2,'.','') }}</td>

                                    <td data-t="n">{{ totalProfit|number_format(2,'.','') }}</td>
                                    <td data-t="n">{{ totalProfitPerUnit|number_format(2,'.','') }}</td>
                                    <td data-t="n">{{ totalProfitPerKg|number_format(2,'.','') }}</td>
                                </tr>
                                {% set totalRecordCount=totalRecordCount+1 %}
                                {% set recordCount=recordCount+1 %}
                            {% endfor %}

                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
            </tbody>


    </table>

{% endif %}