{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        {#<div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="javascript:void(0)">  {{ 'Others Report'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>#}
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col p-0">
                {{ form_start(form) }}
                <table class="table ">
                    <thead class="thead-dark">

                    <tr>
                        <th style="min-width: 200px">
                            {{ form_label(form.employee, 'Employee:') }}
                            {{ form_widget(form.employee) }}
                        </th>
                        {% if reportSlug=='lab-service-poultry'
                            or reportSlug=='fcr-different-companies-poultry'
                            or reportSlug=='fcr-different-companies-sonali'
                            or reportSlug=='company-wise-feed-sale-poultry'
                            or reportSlug=='company-wise-boiler-chick'
                            or reportSlug=='company-wise-layer-chick'
                            or reportSlug=='company-wise-feed-sale-cattle'
                            or reportSlug=='company-wise-feed-sale-fish'
                            or reportSlug=='fish-sales-price'
                            or reportSlug=='fish-tilapia-fry-sales' %}
                            <th>
                                {{ form_label(form.year, 'Year:') }}
                                {{ form_widget(form.year) }}
                            </th>
                        {% endif %}
                        {% if reportSlug=='company-wise-feed-sale-poultry'
                            or reportSlug=='company-wise-boiler-chick'
                            or reportSlug=='company-wise-layer-chick'
                            or reportSlug=='company-wise-feed-sale-cattle'
                            or reportSlug=='company-wise-feed-sale-fish'  %}
                            <th>
                                {{ form_label(form.month, 'Month:') }}
                                {{ form_widget(form.month) }}
                            </th>
                        {% endif %}
                        {% if reportSlug=='lab-service-poultry' %}
                            <th>
                                {{ form_label(form.lab, 'Lab:') }}
                                {{ form_widget(form.lab) }}
                            </th>
                        {% endif %}

                        {% if reportSlug=='farmer-survey-poultry'
                            or reportSlug=='farmer-survey-cattle'
                            or reportSlug=='farmer-survey-fish'
                            or reportSlug=='farmer-training-fish'
                            or reportSlug=='farmer-training-poultry'
                            or reportSlug=='farmer-training-cattle'
                            or reportSlug=='doc-complain'
                            or reportSlug=='feed-complain'
                            or reportSlug=='new-agent-upgradation-cattle'
                            or reportSlug=='new-agent-upgradation-fish' %}
                        <th>
                            {{ form_label(form.startDate, 'Start Date:') }}
                            {{ form_widget(form.startDate,{'id':'start-date', 'attr':{'placeholder': 'dd-mm-YYYY'}}) }}
                        </th>
                        <th>
                            {{ form_label(form.endDate, 'End Date:') }}
                            {{ form_widget(form.endDate,{'id':'end-date', 'attr':{'placeholder': 'dd-mm-YYYY'}}) }}
                        </th>

                        {% endif %}

                        <th colspan="1">
                            <div class="btn-group" style="margin-top: 25px">
                                <button type="submit" name="search" class="btn btn-primary btn-sm" title="Search" value="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                                <a href="{{ path('others_report_index', {'reportSlug': reportSlug}) }}" class="btn purple-bg btn-sm white-font" title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                {% if entities is defined and entities is not empty %}
                                    <button type="submit" name="excel" class="btn blue-bg btn-sm white-font" title="Excel" value="excel" id="button-excel"><i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'Excel'|trans }}</button>

                                    {#                                    <button type="submit" name="excel" class="btn blue-bg btn-sm white-font" title="Excel" value="excel"><i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'Excel'|trans }}</button>#}
                                    {#                                    <a target="_blank" href="{{ path('life_cycle_pdf', {filterBy: filterBy}) }}" class="btn blue-bg btn-sm white-font"><i class="fa fa-download" aria-hidden="true"></i> {{ 'PDF'|trans }}</a>#}
                                    {#                                    <a target="_blank" href="{{ path('life_cycle_excel', {filterBy: filterBy}) }}" class="btn blue-bg btn-sm white-font"><i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'Excel'|trans }}</a>#}
                                {% endif %}
                            </div>
                        </th>
                        {#<th>
                            {{ form_label(form.year, 'Year:') }}
                            {{ form_widget(form.year) }}
                        </th>
                        <th>
                            {{ form_label(form.month, 'Month:') }}
                            {{ form_widget(form.month) }}
                        </th>#}
                    </tr>
                    {#<tr>
                        <th>
                            {{ form_label(form.region, 'Region:') }}
                            {{ form_widget(form.region) }}
                        </th>
                        <th>
                            {{ form_label(form.zone, 'Zone:') }}
                            {{ form_widget(form.zone) }}
                        </th>
                        <th>
                            {{ form_label(form.feedMill, 'Mill:') }}
                            {{ form_widget(form.feedMill) }}
                        </th>
                        <th>
                            {{ form_label(form.breed, 'Breed:') }}
                            {{ form_widget(form.breed) }}
                        </th>
                        <th>
                            {{ form_label(form.lab, 'Lab:') }}
                            {{ form_widget(form.lab) }}
                        </th>

                    </tr>#}

                    </thead>
                </table>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="card" style="overflow-x: scroll; max-height: 90vh">
                <div id="data-load" class="card-body p-0">
                    {% if entities is defined and entities is not empty %}
                        {% if filterBy['otherReport'] in ['farmer-survey-poultry','farmer-survey-cattle','farmer-survey-fish'] %}
                            {% include '@TerminalbdCrm/report/others/inc/_farmer_survey.html.twig'%}

                        {% elseif filterBy['otherReport'] is same as 'lab-service-poultry' %}
                            {% include '@TerminalbdCrm/report/others/inc/_lab_service.html.twig'%}

                        {% elseif filterBy['otherReport'] is same as 'fcr-different-companies-poultry' %}
                            {% include '@TerminalbdCrm/report/others/inc/_fcr_different_companies.html.twig'%}

                        {% elseif filterBy['otherReport'] is same as 'fcr-different-companies-sonali' %}
                            {% include '@TerminalbdCrm/report/others/inc/_fcr_different_companies.html.twig'%}

                        {% elseif filterBy['otherReport'] in ['company-wise-feed-sale-poultry','company-wise-boiler-chick','company-wise-layer-chick','company-wise-feed-sale-cattle','company-wise-feed-sale-fish'] %}
                            {% include '@TerminalbdCrm/report/others/inc/_company_wise_feed_sale.html.twig'%}

                        {% elseif filterBy['otherReport'] in ['farmer-training-poultry','farmer-training-cattle','farmer-training-fish'] %}
                            {% include '@TerminalbdCrm/report/others/inc/_farmer_training.html.twig'%}

                        {% elseif filterBy['otherReport'] is same as 'doc-price' %}
                            {% include '@TerminalbdCrm/report/others/inc/_doc_price.html.twig'%}

                        {% elseif filterBy['otherReport'] is same as 'doc-price-daily' %}
                            {% include '@TerminalbdCrm/report/others/inc/_daily_doc_price.html.twig'%}

                        {% elseif filterBy['otherReport'] is same as 'meat-egg-price-monthly' %}
                            {% include '@TerminalbdCrm/report/others/inc/_meat_egg_price.html.twig'%}

                        {% elseif filterBy['otherReport'] is same as 'expense' %}
                            {% include '@TerminalbdCrm/report/others/inc/_expense.html.twig'%}

                        {% elseif filterBy['otherReport'] in ['new-agent-upgradation-cattle','new-agent-upgradation-fish'] %}
                            {% include '@TerminalbdCrm/report/others/inc/_agent_upgradation.html.twig'%}

                        {% elseif filterBy['otherReport'] is same as 'fish-sales-price' %}
                            {% include '@TerminalbdCrm/report/others/inc/_fish_sales_price.html.twig'%}

                        {% elseif filterBy['otherReport'] is same as 'fish-tilapia-fry-sales' %}
                            {% include '@TerminalbdCrm/report/others/inc/_fish_tilapia_fry_sales.html.twig'%}

                        {% elseif filterBy['otherReport'] is same as 'feed-complain' %}
                            {% include '@TerminalbdCrm/report/others/inc/_feed_complain.html.twig'%}

                        {% elseif filterBy['otherReport'] in ['doc-complain'] %}
                            {% include '@TerminalbdCrm/report/others/inc/_doc_complain.html.twig'%}

                        {% endif %}
                    {% else %}
                        <div style="background-color: #dbdee3; width: 100%; height: 100%">
                            <h3 class="text-center">NOURISH POULTRY AND HATCHERY LTD</h3>
                            <h5 class="text-center">UTTARA, DHAKA.</h5>
                            <h6 class="text-center">
                                {% if reportSlug=='company-wise-feed-sale-fish' %}
                                {{ 'COMPANY WISE FEED SALE FISH'|trans }}
                                {% elseif reportSlug=='company-wise-layer-chick' %}
                                {{ 'COMPANY WISE LAYER CHICK'|trans }}
                                 {% else %}
                                     {{ reportSlug|replace({'-': ' '}) |upper }}
                                {% endif %}
                            </h6>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- [ Main Content ] end -->
    </div>
{% endblock %}

{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">

    <style>
        /*        table.filter-result thead {
                    position: sticky;
                    top: -1px;
                    background-color: #dbdee3 !important;
                    border-bottom: 2px solid #4C9EE7!important;
                }*/
        table thead tr.data-header th{

            border: 2px solid #b5b5b5 !important;
            border-bottom-color: #b5b5b5 !important;
        }
        /*        table.filter thead th{
                    border: 0 !important;
                }*/
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script src="{{ asset('assets/js/tableToExcel.js') }}"></script>
    <script>
        $("#search_filter_form_employee").on('change', function () {
            var employeeId = $(this).val();
            if(employeeId==''){
                return false;
            }
            $.ajax({
                url: Routing.generate('get_farmer_by_employee_location',{'id':employeeId}),
                type: 'post',
                dataType: 'json',
                success: function (res) {
                    console.log(res)
                    $("#search_filter_form_employeeWiseFarmer").find('option').remove();
                    $("#search_filter_form_employeeWiseFarmer").append($('<option>', {value:'', text:'Select Farmer'}));
                    $.each(res, function (id, name) {
                        $("#search_filter_form_employeeWiseFarmer").append($('<option>', {value:id, text:name}))
                    })
                }
            })
        })

        $('#start-date, #end-date').datepicker(
            {
                changeMonth: true,
                changeYear: true,
                yearRange: "2020:" + new Date().getFullYear(),
                dateFormat: 'dd-mm-yy'
            }
        );


        let button = document.querySelector("#button-excel");

        button.addEventListener("click", e => {
            e.preventDefault();
            let table = document.querySelector(".download-excel");
            TableToExcel.convert(table, {
                name: "{{ report is defined and report is not null ? report : ''}}{{ filterBy['startDate'] is defined and filterBy['startDate'] is not empty ? '('~filterBy['startDate']:'' }} {{ filterBy['endDate'] is defined and filterBy['endDate'] is not empty ? ' to '~filterBy['endDate']~')':'' }}{{ filterBy['year'] is defined and filterBy['year'] is not empty ? '('~filterBy['year']~')':'' }}.xlsx",
                sheet: {
                    name: "Sheet 1"
                }
            });
        });
    </script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}