{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:">  {{ 'Visit Report'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Visit Report'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <button type="submit" name="excel" class="btn blue-bg btn-sm white-font" title="Excel" value="excel" id="button-excel"><i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'Excel'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if entities is defined and entities is not empty %}
            <table data-cols-width="12,5,25,25,20,30,25" class="table table-striped table-bordered download-excel">
                <thead>
                <tr>
                    <th data-a-h="center" class="border-0" colspan="11"><h3 class="text-center" style="margin: 0px;">{{ 'NOURISH POULTRY AND HATCHERY LTD'|trans }}</h3></th>
                </tr>
                <tr>
                    <th data-a-h="center" class="border-0" colspan="11"><h5 class="text-center" style="margin: 0px;">{{ 'UTTARA, DHAKA.'|trans }}</h5></th>
                </tr>
                <tr>
                    <th data-a-h="center" class="border-0" colspan="11">
                        {% if entities is defined and entities is not empty %}
                            <h6 class="text-center" style="margin: 0 0 10px;">
                                {{ 'VISIT REPORT'|trans }} :
                                {% if entities.visitCreatedDate.begin|date('d-m-Y') is not empty %}
                                    {{ entities.visitCreatedDate.begin|date('d-m-Y') }} - {{ entities.visitCreatedDate.end|date('d-m-Y') }}
                                {% endif %}
                            </h6>
                        {% endif %}
                    </th>
                </tr>
                </thead>
                {% for employeeId, employee in entities %}
                    {% if employeeId is not same as 'visitCreatedDate' %}
                        <thead style="background-color: #CCCCCC">
                        <tr>
                            <th colspan="4"><h5>{{ 'Employee ID'|trans }}: {{ employeeId }}</h5></th>
                            <th colspan="4"><h5>{{ 'Employee Name'|trans }}
                                    : {{ entities[employeeId]['employeeName']|default }}</h5></th>
                            <th colspan="3">
                                <h5>
                                    {{ 'Date'|trans }}:
                                    {% if entities.visitCreatedDate.begin|date('d-m-Y') is not empty %}
                                        {{ entities.visitCreatedDate.begin|date('d-m-Y') }} - {{ entities.visitCreatedDate.end|date('d-m-Y') }}
                                    {% else %}
                                        {{ entities.visitCreatedDate.begin|date('d-m-Y') }}
                                    {% endif %}
                                </h5>
                            </th>
                        </tr>
                        </thead>

                        {% if employee['farmer'] is defined and employee['farmer'] is iterable %}
                            <thead style="background-color: #CCCCCC">
                            <tr>
                                <th data-a-h="center" colspan="11" class="text-center"><h4>Farmer Section</h4></th>
                            </tr>
                            <tr>
                                <th>Created Date</th>
                                <th width="50">S/N</th>
                                <th>Visited Date</th>
                                <th>Visited Time</th>
                                <th>{{ 'Visited Farmer\'s Name'|trans }}</th>
                                <th>{{ 'Address'|trans }}</th>
                                <th>{{ 'Phone'|trans }}</th>
                                <th>{{ 'Purpose'|trans }}</th>
                                <th>{{ 'Farm Capacity'|trans }}</th>
                                <th colspan="2">{{ 'Comments'|trans }}</th>
                            </tr>
                            </thead>
                        {% for dateMonthYear, entity in employee['farmer'] %}
                            {% if entity is not empty %}
                                <tbody>
                                {% for data in entity %}
                                    <tr>
                                        {% if loop.first %}
                                            <td data-a-v="middle" rowspan="{{ entity|length }}">{{ dateMonthYear }}</td>
                                        {% endif %}
                                        <td data-a-h="center" data-t="n" align="center">{{ loop.index }}</td>
                                        <td>{{ data.visitDate|date('d-m-Y') }}</td>
                                        <td>{{ data.visitTime|default('') }}</td>
                                        <td>{{ data.farmerName }}</td>
                                        <td>{{ data.farmerAddress }}</td>
                                        <td data-t="s">{{ data.farmerMobile }}</td>
                                        <td>
                                            {% if data.purposeMultiple is not empty %}
                                                {% set purposes=data.purposeMultiple|json_decode %}
                                                {% for purpose in purposes %}
                                                    {{ loop.index }}{{ '. '}}{{ purpose }}
                                                    {% if loop.last %}
                                                        {{ '' }}
                                                    {% else %}
                                                        {{ '; ' }}
                                                    {% endif %}
                                                {% endfor %}

                                            {% else %}
                                                {{ data.purposeName }}
                                            {% endif %}
                                        </td>
                                        <td data-t="n">{{ data.farmCapacity }}</td>
                                        <td colspan="2">{{ data.comments }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% endif %}
                        {% endfor %}

                    {% endif %}

                    {% if employee['agent'] is defined and employee['agent'] is iterable %}
                        <thead style="background-color: #CCCCCC">
                        <tr>
                            <th data-a-h="center" colspan="11" class="text-center"><h4>Agent Section</h4></th>
                        </tr>
                        <tr>
                            <th>Created Date</th>
                            <th width="50">S/N</th>
                            <th>Visited Date</th>
                            <th>Visited Time</th>
                            <th>{{ 'Agent Id'|trans }}</th>
                            <th>{{ 'Visited Agent Name(Nourish)'|trans }}</th>
                            <th>{{ 'Address'|trans }}</th>
                            <th>{{ 'Phone'|trans }}</th>
                            <th>{{ 'Purpose'|trans }}</th>
                            <th>{{ 'Report Description'|trans }}</th>
                            <th colspan="0">{{ 'Comments'|trans }}</th>
                        </tr>
                        </thead>
                        {% for dateMonthYear, entity in employee['agent'] %}
                            {% if entity is not empty %}
                                <tbody>
                                {% for data in entity %}
                                    <tr>
                                        {% if loop.first %}
                                            <td data-a-v="middle" rowspan="{{ entity|length }}">{{ dateMonthYear }}</td>
                                        {% endif %}
                                        <td data-a-h="center" data-t="n" align="center">{{ loop.index }}</td>
                                        <td>{{ data.visitDate|date('d-m-Y') }}</td>
                                        <td>{{ data.visitTime|default('') }}</td>
                                        <td>{{ data.agentId|default('') }}</td>
                                        <td>{{ data.agentName }}</td>
                                        <td>{{ data.agentAddress }}</td>
                                        <td data-t="s">{{ data.agentMobile }}</td>
                                        <td>
                                            {% if data.purposeMultiple is not empty %}
                                                {% set purposes=data.purposeMultiple|json_decode %}
                                                {% for purpose in purposes %}
                                                    {{ loop.index }}{{ '. '}}{{ purpose }}
                                                    {% if loop.last %}
                                                        {{ '' }}
                                                    {% else %}
                                                        {{ '; ' }}
                                                    {% endif %}
                                                {% endfor %}

                                            {% else %}
                                                {{ data.purposeName }}
                                            {% endif %}
                                        </td>
                                        <td>{{ data.reportDesc }}</td>
                                        <td colspan="0">{{ data.comments }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if employee['other-agent'] is defined and employee['other-agent'] is iterable %}
                        <thead style="background-color: #CCCCCC">
                        <tr>
                            <th data-a-h="center" colspan="11" class="text-center"><h4>Other Agent Section</h4></th>
                        </tr>
                        <tr>
                            <th>Created Date</th>
                            <th width="50">S/N</th>
                            <th>Visited Date</th>
                            <th>Visited Time</th>
                            <th>{{ 'Visited Agent Name(Other Agent)'|trans }}</th>
                            <th>{{ 'Address'|trans }}</th>
                            <th>{{ 'Name Agent'|trans }}</th>
                            <th>{{ 'Phone'|trans }}</th>
                            <th>{{ 'Purpose'|trans }}</th>
                            <th>{{ 'Report Description'|trans }}</th>
                            <th>{{ 'Comments'|trans }}</th>
                        </tr>
                        </thead>
                        {% for dateMonthYear, entity in employee['other-agent']  %}
                            {% if entity is not empty %}
                                <tbody>
                                {% for data in entity %}
                                    <tr>
                                        {% if loop.first %}
                                            <td data-a-v="middle" rowspan="{{ entity|length }}">{{ dateMonthYear }}</td>
                                        {% endif %}
                                        <td data-a-h="center" data-t="n" align="center">{{ loop.index }}</td>
                                        <td>{{ data.visitDate|date('d-m-Y') }}</td>
                                        <td>{{ data.visitTime|default('') }}</td>
                                        <td>{{ data.agentName }}</td>
                                        <td>{{ data.agentAddress }}</td>
                                        <td>{{ data.nourishAgentName }}</td>
                                        <td data-t="s">{{ data.agentMobile }}</td>
                                        <td>
                                            {% if data.purposeMultiple is not empty %}
                                                {% set purposes=data.purposeMultiple|json_decode %}
                                                {% for purpose in purposes %}
                                                    {{ loop.index }}{{ '. '}}{{ purpose }}
                                                    {% if loop.last %}
                                                        {{ '' }}
                                                    {% else %}
                                                        {{ '; ' }}
                                                    {% endif %}
                                                {% endfor %}

                                            {% else %}
                                                {{ data.purposeName }}
                                            {% endif %}
                                        </td>
                                        <td>{{ data.reportDesc }}</td>
                                        <td>{{ data.comments }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% endif %}
                        {% endfor %}
                    {% endif %}


                    {% if employee['sub-agent'] is defined and employee['sub-agent'] is iterable %}
                        <thead style="background-color: #CCCCCC">
                        <tr>
                            <th data-a-h="center" colspan="11" class="text-center"><h4>Sub Agent Section</h4></th>
                        </tr>
                        <tr>
                            <th>Created Date</th>
                            <th width="50">S/N</th>
                            <th>Visited Date</th>
                            <th>Visited Time</th>
                            <th>{{ 'Visited Agent Name(Sub Agent)'|trans }}</th>
                            <th>{{ 'Address'|trans }}</th>
                            <th>{{ 'Name Agent'|trans }}</th>
                            <th>{{ 'Phone'|trans }}</th>
                            <th>{{ 'Purpose'|trans }}</th>
                            <th>{{ 'Report Description'|trans }}</th>
                            <th>{{ 'Comments'|trans }}</th>
                        </tr>
                        </thead>
                        {% for dateMonthYear, entity in employee['sub-agent'] %}
                            {% if entity is not empty %}

                                <tbody>
                                {% for data in entity %}
                                    <tr>
                                        {% if loop.first %}
                                            <td data-a-v="middle" rowspan="{{ entity|length }}">{{ dateMonthYear }}</td>
                                        {% endif %}
                                        <td data-a-h="center" data-t="n" align="center">{{ loop.index }}</td>
                                        <td>{{ data.visitDate|date('d-m-Y') }}</td>
                                        <td>{{ data.visitTime|default('') }}</td>
                                        <td>{{ data.agentName }}</td>
                                        <td>{{ data.agentAddress }}</td>
                                        <td>{{ data.nourishAgentName }}</td>
                                        <td data-t="s">{{ data.agentMobile }}</td>
                                        <td>
                                            {% if data.purposeMultiple is not empty %}
                                                {% set purposes=data.purposeMultiple|json_decode %}
                                                {% for purpose in purposes %}
                                                    {{ loop.index }}{{ '. '}}{{ purpose }}
                                                    {% if loop.last %}
                                                        {{ '' }}
                                                    {% else %}
                                                        {{ '; ' }}
                                                    {% endif %}
                                                {% endfor %}

                                            {% else %}
                                                {{ data.purposeName }}
                                            {% endif %}
                                        </td>
                                        <td>{{ data.reportDesc }}</td>
                                        <td>{{ data.comments }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% endif %}
                {% endfor %}
            </table>
        {% endif %}
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        table.filter-result thead {
            position: sticky;
            top: -1px;
            background-color: #dbdee3 !important;
            border-bottom-color: #4C9EE7 !important;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script src="{{ asset('assets/js/tableToExcel.js') }}"></script>
    <script>
        let button = document.querySelector("#button-excel");

        button.addEventListener("click", e => {
            e.preventDefault();
            let table = document.querySelector(".download-excel");
            TableToExcel.convert(table, {
            name: "{{ "now"|date('U') }}_visit_details_report.xlsx",
            sheet: {
            name: "Sheet 1"
            }
            });
        });
    </script>

{% endblock %}
{% block documentready %}
    {{ parent() }}
    {#    <script>#}
    $('#start-date, #end-date').datepicker(
    {
    dateFormat: 'dd-mm-yy',
    changeMonth: true,
    changeYear: true
    }
    );
{% endblock %}
