{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="javascript:">  {{ 'Visit Report'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Visit Report'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table ">
                    <thead class="thead-dark">
                    {{ form_start(form) }}
                    <tr>
{#                        {% if is_granted('ROLE_CRM_POULTRY_ADMIN') or is_granted('ROLE_CRM_CATTLE_ADMIN') or is_granted('ROLE_CRM_AQUA_ADMIN') %}#}
                        <th>
                            {{ form_label(form.employee, 'Employee:') }}
                            {{ form_widget(form.employee) }}
                        </th>
                        <th>
                            {{ form_label(form.serviceMode, 'Service Mode:') }}
                            {{ form_widget(form.serviceMode) }}
                        </th>
                        <th>
                            {{ form_label(form.process, 'Group:') }}
                            {{ form_widget(form.process) }}
                        </th>
{#                        {% endif %}#}
                        <th>
                            {{ form_label(form.startDate, 'Start Date:') }}
                            {{ form_widget(form.startDate,{'id':'start-date', 'attr':{'placeholder':'dd-mm-YYYY'}}) }}
                        </th>
                        <th>
                            {{ form_label(form.endDate, 'End Date:') }}
                            {{ form_widget(form.endDate,{'id':'end-date', 'attr':{'placeholder':'dd-mm-YYYY'}}) }}
                        </th>
                        <th rowspan="2">
                            <div class="btn-group" style="margin-top: 25px">
                                <button type="submit" name="search" class="btn btn-primary btn-sm" title="Search"
                                        value="search"><i class="fa fa-search" aria-hidden="true"></i></button>

                                <a href="{{ path('visit_report') }}" class="btn purple-bg btn-sm white-font"
                                   title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                <button type="submit" name="pdf_download" class="btn btn-primary btn-sm" title="Pdf Download"
                                        value="pdf_download"><i class="fa fa-file-pdf" aria-hidden="true"></i></button>
                                {% if entities is defined and entities is not empty %}
                                    <a href="{{ path('visit_details_report',{mode:'pdf', startDate: startDate, endDate: endDate, employeeId: employee?employee.id:null, serviceModeId: serviceMode?serviceMode.id:null, process: process?process:null }) }}"
                                       target="_blank" class="btn blue-bg btn-sm white-font"><i class="fa fa-file-pdf"
                                                                                                aria-hidden="true"></i> {{ 'All Details PDF' }}
                                    </a>
                                    <a href="{{ path('visit_details_report',{mode:'excel', startDate: startDate, endDate: endDate, employeeId: employee?employee.id:null, serviceModeId: serviceMode?serviceMode.id:null, process: process?process:null }) }}"
                                       target="_blank" class="btn blue-bg btn-sm white-font"><i class="fa fa-file-excel"
                                                                                                aria-hidden="true"></i> {{ 'All Details Excel' }}
                                    </a>
                                {% endif %}
                            </div>
                        </th>
                    </tr>
                    </form>
                    </thead>
                </table>
            </div>
        </div>
        {% if entities is defined and entities is not empty %}

                <div class="row">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="text-center">{{ 'NOURISH POULTRY AND HATCHERY LTD'|trans }}</h3>
                            <h5 class="text-center">{{ 'UTTARA, DHAKA.'|trans }}</h5>
                            <h6 class="text-center">{{ 'VISIT REPORT'|trans }}</h6>
                        {% for employeeId, details in entities %}
                            <div style="max-height: 550px; overflow-y: auto">
                                <table width="100%" class="" style="color: black">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>{{ 'Employee ID' }}: {{ details['userId'] }}</th>
                                        <th>{{ 'Employee Name' }}: {{ details['employeeName'] }}</th>
                                        <th>{{ 'Designation' }}: {{ details['employeeDesignationName'] }}</th>
                                    </tr>
                                    </thead>
                                </table>
                                <table class="table table-bordered filter-result">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>{{ 'Created Date'|trans }}</th>
                                        <th>{{ 'Visit Date'|trans }}</th>
                                        <th>{{ 'Visit Time'|trans }}</th>
                                        <th>{{ 'Working Mode'|trans }}</th>
                                        <th>{{ 'Location'|trans }}</th>
                                        <th>{{ 'Visit Begin'|trans }}</th>
                                        <th>{{ 'Visit End'|trans }}</th>
                                        <th>{{ 'Remarks'|trans }}</th>
                                        <th width="100" class="text-center">{{ 'Details' }}</i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for visitCreatedDate,entity in details['details'] %}
                                        {% for data in entity %}
                                            <tr>
                                                {% if loop.first %}
                                                    <td rowspan="{{ entity|length }}">{{ visitCreatedDate|date('d-m-Y') }}</td>
                                                {% endif %}

                                                <td>{{ data.visitDate|date('d-m-Y') }}</td>
                                                <td>{{ data.visitTime|default('') }}</td>
                                                <td>{{ data.workingModeName }}</td>
                                                <td>{{ data.locationName }}</td>
                                                <td>{{ data.visitBegin }}</td>
                                                <td>{{ data.visitEnd }}</td>
                                                <td>{{ data.remarks }}</td>

                                                {% if loop.first %}
                                                    <td rowspan="{{ entity|length }}">
                                                        <div class="btn-group">
                                                            <a href="{{ path('visit_details_report',{mode:'pdf', visitDate:visitCreatedDate, employeeId, process: process?process:null}) }}" target="_blank" class="btn purple-bg white-font btn-mini"><i class="fa fa-file-pdf"></i> {{ 'PDF'|trans }}</a>
                                                            {#                                                        <a href="{{ path('visit_details_report',{mode:'excel', visitDate:visitCreatedDate, employee:employee.id}) }}" class="btn blue-bg white-font btn-mini"><i class="fa fa-file-excel"></i>{{ 'Excel'|trans }}</a>#}
                                                            <a href="javascript:void(0)" class="btn blue-bg white-font btn-mini"><i class="fa fa-file-excel"></i>{{ 'Excel'|trans }}</a>

                                                        </div>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>

        {% endif %}
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        table.filter-result thead {
            position: sticky;
            top: -1px;
            background-color: #dbdee3 !important;
            border-bottom-color: #4C9EE7 !important;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock %}
{% block documentready %}
    {{ parent() }}
    {#    <script>#}
    $('#start-date, #end-date').datepicker(
    {
    dateFormat: 'dd-mm-yy',
    changeMonth: true,
    changeYear: true
    }
    );
{% endblock %}
