<div class="portlet box">
    <div class="portlet-title">
        <div class="caption">{{purpose.name}}</div>
    </div>
    {#{{ dump(report) }}#}

    <div class="portlet-body form farmer_training_report_section">
        {{ form_start(form, {'attr': {'method':'post', 'action': path('farmer_training_report_new_modal',{'id':agent.id,'purpose':purpose.id }),'class': 'form-horizontal right','id':'farmer_training_report_form'}}) }}

        <div class="row form-body ">
            <div class="form-inner-no-space">

                <div class="row">
                    <div class="col-md-12">
                        <h4>{{purpose.name}} ({{ breedName.name|default() }})</h4>
                        <h4>{{ 'Agent'|trans }}: {{ agent.name }}</h4>
                        <input type="hidden" class="agent_id" value="{{ agent.id }}">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="">{{ 'Training Date'|trans }}</label>
                            <div class="col-md-8">
                                <span class="not-blank"> *</span>
                                <div class="date_section">
                                    {{ form_widget(form.training_date) }}
                                    {#<input autocomplete="off" type="text" name="reporting_date" class="form-control datePicker" value="{{ entity.reportingDate?entity.reportingDate|date("d-m-Y"):'' }}">#}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="">{{ 'Report Type'|trans }}</label>
                            <div class="col-md-8">
                                <span class="form-control text-left">{{ breedName.name|default() }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            {{ form_label(form.training_topics, 'Topics'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-8">
                                {{ form_widget(form.training_topics) }}
                                {{ form_errors(form.training_topics) }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">

                        <div class="form-group">
                            {{ form_label(form.remarks, 'Remarks'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-8">
                                {{ form_widget(form.remarks) }}
                                {{ form_errors(form.remarks) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h5>{{ 'Farmers List'|trans }}</h5>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <td rowspan="2">#</td>
                                <td rowspan="2">Farmer Name</td>
                                <td rowspan="2">Mobile</td>
                                <td rowspan="2">Address</td>
                                <td rowspan="2">Agent</td>
                                <td colspan="{{ trainingMaterials is not empty and trainingMaterials['species'] is defined?trainingMaterials['species']|length:'' }}">Capacity</td>
                            </tr>
                            <tr>
                                {% if(trainingMaterials is not empty and trainingMaterials['species'] is defined) %}
                                    {% for specie in trainingMaterials['species'] %}
                                        <td>{{ specie['text'] }}</td>
                                    {% endfor %}
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% if farmers is not empty %}
                                {% for index, items in farmers %}
                                    {% for farmer in items %}
                                        {% set cultureSpeciesItemAndQty= farmer['cultureSpeciesItemAndQty']|json_decode %}
                                        <tr>
                                            <td class="text-center"><input type="checkbox" name="farmers[]" value="{{farmer['id']}}"></td>
                                            <td class="text-left">{{farmer['name']}}</td>
                                            <td class="text-left">{{farmer['mobile']}}</td>
                                            <td class="text-left">{{farmer['address']}}</td>
                                            <td class="text-left">{{farmer['agentName']}}</td>
                                            {% if(trainingMaterials is not empty and trainingMaterials['species'] is defined) %}
                                                {% for specie in trainingMaterials['species'] %}
                                                    <td><input name="species_capacity[{{farmer['id']}}][{{ specie['id'] }}]" class="form-control" type="number" min="0" value="{{ cultureSpeciesItemAndQty[specie['id']]|default(0)}}"></td>
                                                {% endfor %}
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                            </tbody>

                        </table>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h5>{{ 'Training Materials'|trans }}</h5>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Material Name</th>
                                {% if(trainingMaterials is not empty and trainingMaterials['materials'] is defined) %}
                                    {% for material in trainingMaterials['materials'] %}
                                        <td>{{ material['text'] }}</td>
                                    {% endfor %}
                                {% endif %}

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>Quantity</th>
                                {% if(trainingMaterials is not empty and trainingMaterials['materials'] is defined) %}
                                    {% for material in trainingMaterials['materials'] %}
                                        <td>
                                            <input name="training_material[{{ material['id'] }}]" type="hidden" id="{{ material['id'] }}" value="{{ material['text'] }}">
                                            <input name="training_material_qty[{{ material['id'] }}]" class="form-control" type="number" min="0" value="">
                                        </td>
                                    {% endfor %}
                                {% endif %}
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="form-actions">
                    <div class="col-md-6 ">
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                            <button title="Save" type="button" class="btn btn-primary btn-sm farmer_training_report_button"><i class="fa fa-save"></i> {{ 'label.save.continue'|trans }}</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        {{ form_widget(form._token) }}
        {{ form_end(form) }}
    </div>
</div>
