<table class="table table-striped table-bordered table-hover fcrReportDetails download-excel" id="fcrReportDetails">
    <thead class="thead-dark" style="background-color: #dbdee3">
    <tr>
        <th data-b-a-s="thin" data-b-a-c="#000000" colspan="2" class="border" style="border-color: #b5b5b5!important">No of Farms</th>
        <th data-b-a-s="thin" data-b-a-c="#000000" class="text-right border"
            style="border-color: #b5b5b5!important">{{ entities['totalRecord'] is defined?entities['totalRecord']:'' }}</th>
        <th data-b-a-s="thin" data-b-a-c="#000000" class="text-right border" style="border-color: #b5b5b5!important">%</th>
        <th colspan="26" class="border-0" data-a-h="center"><h3 class="text-center">NOURISH POULTRY AND HATCHERY
                LTD</h3></th>
    </tr>
    <tr>
        <th data-b-a-s="thin" data-b-a-c="#000000" colspan="2" class="border" style="border-color: #b5b5b5!important">Body Wt > Stad.</th>
        <th data-b-a-s="thin" data-b-a-c="#000000" class="text-right border"
            style="border-color: #b5b5b5!important">{{ entities['bodyWtGatterThanStandard'] is defined?entities['bodyWtGatterThanStandard']:'' }}</th>
        <th data-b-a-s="thin" data-b-a-c="#000000" class="text-right border"
            style="border-color: #b5b5b5!important">{{ entities['bodyWtGatterThanStandard'] is defined and entities['totalRecord'] is defined and entities['totalRecord']>0?((entities['bodyWtGatterThanStandard']*100)/entities['totalRecord'])|number_format(0):'' }}</th>
        <th colspan="26" class="border-0" data-a-h="center"><h5 class="text-center">UTTARA, DHAKA.</h5></th>
    </tr>

    <tr>
        <th data-b-a-s="thin" data-b-a-c="#000000" colspan="2" class="border" style="border-color: #b5b5b5!important">Body Wt < Stad.</th>
        <th data-b-a-s="thin" data-b-a-c="#000000" class="text-right border"
            style="border-color: #b5b5b5!important">{{ entities['bodyWtLessThanStandard'] is defined?entities['bodyWtLessThanStandard']:'' }}</th>
        <th data-b-a-s="thin" data-b-a-c="#000000" class="text-right border"
            style="border-color: #b5b5b5!important">{{ entities['bodyWtLessThanStandard'] is defined and entities['totalRecord'] is defined and entities['totalRecord']>0?((entities['bodyWtLessThanStandard']*100)/entities['totalRecord'])|number_format(0):'' }}</th>
        <th colspan="26" class="border-0 text-center"
            data-a-h="center"><h6>{{ report.name|default('') }} {{ filterBy['startDate']?filterBy['startDate']:'' }} {{ filterBy['startDate']?' to '~filterBy['endDate']:'' }}</h6></th>
    </tr>
    <tr>
        <th colspan="2" class="border-0"></th>
        <th class="border-0"></th>
        <th class="border-0"></th>
        <th colspan="26" class="border-0 text-center" data-a-h="center"><h6>Reporting Date : {{ "now"|date('d-m-Y') }}</h6></th>
    </tr>

    <tr style="position: sticky; top: -2px; background-color: #dbdee3" class="data-header">
        <th data-a-v="middle" class="text-center" style="width: 150px;" scope="col" rowspan="2">Region</th>
        <th data-a-v="middle" class="text-center" style="width: 150px;" scope="col" rowspan="2">Name Of CSO</th>
        <th data-a-v="middle" class="text-center"  scope="col" rowspan="2">SL No.</th>
        <th data-a-v="middle" class="text-center" style="width: 150px;" scope="col" rowspan="2">Name Of Agent</th>
        <th data-a-v="middle" class="text-center" style="width: 150px;" scope="col" rowspan="2">District</th>
        {#        <th style="width: 150px;" scope="col" rowspan="2">Address</th>#}
        <th data-a-v="middle" class="text-center" style="width: 150px;" scope="col" rowspan="2">Name Of Farmer</th>
        <th data-a-v="middle" class="text-center" style="width: 150px;" scope="col" rowspan="2">Address</th>
        <th data-a-v="middle" class="text-center" style="width: 150px;" scope="col" rowspan="2">Mobile</th>
        <th data-a-v="middle" class="text-center" style="width: 105px" scope="col" rowspan="2">Hatching date</th>
        <th data-a-v="middle" class="text-center" scope="col" rowspan="2">Total Birds</th>
        <th data-a-v="middle" class="text-center" scope="col" rowspan="2">Age (Day)</th>
        <th class="text-center" data-a-h="center" scope="col" colspan="2">Mortality</th>
        <th class="text-center" data-a-h="center" scope="col" colspan="3">Weight (gm)</th>
        <th class="text-center" data-a-h="center" scope="col" colspan="3">Feed Consumption</th>
        <th class="text-center" data-a-h="center" scope="col" colspan="3">FCR</th>
        <th data-a-v="middle" class="text-center" style="width: 150px;" scope="col" rowspan="2">Hatchery</th>
        <th data-a-v="middle" class="text-center" style="width: 150px;" scope="col" rowspan="2">Breed</th>
        <th data-a-v="middle" class="text-center" style="width: 150px;" scope="col" rowspan="2">Feed</th>
        <th data-a-v="middle" class="text-center" style="width: 150px;" scope="col" rowspan="2">FeedMill</th>
        <th data-a-v="middle" class="text-center" style="width: 150px;" scope="col" rowspan="2">FeedType</th>
        <th data-a-v="middle" class="text-center" style="width: 150px;" scope="col" rowspan="2">Pro. Date</th>
        <th data-a-v="middle" class="text-center" style="width: 200px;" scope="col" rowspan="2">Batch No.</th>
        <th data-a-v="middle" class="text-center" style="width: 300px;" scope="col" rowspan="2">Remarks</th>
        {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_CRM_POULTRY_ADMIN') %}
            <th data-exclude="true" class="text-center" style="" scope="col" rowspan="2">Action</th>
        {% endif %}
    </tr>
    <tr style="position: sticky; top: 28px; background-color: #dbdee3" class="data-header">
        <th class="text-center" scope="col">Pcs</th>
        <th class="text-center" scope="col">%</th>

        <th class="text-center" scope="col">Achieve</th>
        <th class="text-center" scope="col">Standard</th>
        <th class="text-center" scope="col">Difference</th>

        <th class="text-center" scope="col">Total (kg)</th>
        <th class="text-center" scope="col">Per bird (gm)</th>
        <th class="text-center" scope="col">Standard</th>

        <th class="text-center" scope="col">Without M</th>
        <th class="text-center" scope="col">With M</th>
        <th class="text-center" scope="col">Standard</th>

    </tr>
    </thead>
    <tbody>


    {% if entities is not empty %}
        {% set totalRecordCount=1 %}
        {% for monthYear, regionFcrDetails in entities %}
            {% if monthYear is not same as 'fcrSonaliStandard' and monthYear is not same as 'totalRecord' and monthYear is not same as 'bodyWtGatterThanStandard' and monthYear is not same as 'bodyWtLessThanStandard' %}
                <tr>
                    <td data-t="s" colspan="30">{{ monthYear }}</td>
                </tr>
                {% for regionId, employeesFcrDetails in regionFcrDetails %}
                    {% if regionId is not same as 'monthRecordCount' %}
                        {% set recordCount=1 %}
                        {% for employeeId, fcrDetails in employeesFcrDetails %}
                            {% if employeeId is not same as 'recordCount' %}
                                {% for fcrDetail in fcrDetails['details'] %}
                                    <tr class="added_item">
                                        {% if recordCount==1 %}
                                            <td data-a-v="middle" data-t="s" valign="middle"
                                                rowspan="{{ employeesFcrDetails['recordCount']|length }}">{{ fcrDetail['regionName'] }}</td>
                                        {% endif %}
                                        {% if loop.first %}
                                            <td data-a-v="middle" data-t="s" valign="middle"
                                                rowspan="{{ fcrDetails['details']|length }}">{{ fcrDetail['employeeName'] }}</td>
                                        {% endif %}
                                        <td data-a-h="center" data-t="n">{{ totalRecordCount }}</td>
                                        <td data-t="s">{{ fcrDetail['agentName']|default('') }}</td>
                                        <td data-t="s">{{ fcrDetail['agentDistrictName']|default('') }}</td>
                                        {#                        <td>{{ fcrDetail['agentAddress']|default('') }}</td>#}
                                        <td data-t="s">{{ fcrDetail['customerName']|default('') }}</td>
                                        <td data-t="s">{{ fcrDetail['customerAddress']|default('') }}</td>
                                        <td data-t="s">{{ fcrDetail['customerMobile']|default('') }}</td>
                                        <td data-t="s">{{ fcrDetail['hatchingDate']|date('d-m-Y') }}</td>
                                        <td data-t="n">{{ fcrDetail['totalBirds'] }}</td>
                                        <td data-t="n">{{ fcrDetail['ageDay'] }}</td>
                                        <td data-t="n">{{ fcrDetail['mortalityPes'] }}</td>
                                        <td data-t="n">{{ fcrDetail['mortalityPercent']|number_format(2,'.','') }}</td>
                                        <td data-t="n">{{ fcrDetail['weight']|number_format(2,'.','') }}</td>
                                        <td data-t="n">{{ fcrDetail['weightStandard']|number_format(2,'.','') }}</td>
                                        <td data-t="n">{{ (fcrDetail['weight']-fcrDetail['weightStandard'])|number_format(2,'.','') }}</td>
                                        <td data-t="n">{{ fcrDetail['feedConsumptionTotalKg']|number_format(2,'.','') }}</td>
                                        <td data-t="n">{{ fcrDetail['feedConsumptionPerBird']|number_format(2,'.','') }}</td>
                                        <td data-t="n">{{ fcrDetail['feedConsumptionStandard']|number_format(2,'.','') }}</td>
                                        <td data-t="n">{{ fcrDetail['fcrWithoutMortality']|number_format(2,'.','') }}</td>
                                        <td data-t="n">{{ fcrDetail['fcrWithMortality']|number_format(3,'.','') }}</td>
                                        <td data-t="n">{{ fcrDetail['weightStandard']>0?(fcrDetail['feedConsumptionStandard']/fcrDetail['weightStandard'])|number_format(2,'.',''):'' }}</td>
{#                                        <td data-t="n">{{ entities['fcrSonaliStandard'] and entities['fcrSonaliStandard'][fcrDetail['ageDay']]?(entities['fcrSonaliStandard'][fcrDetail['ageDay']]['cumulativeFeedIntake']/entities['fcrSonaliStandard'][fcrDetail['ageDay']]['targetBodyWeight'])|number_format(2,'.',''):'' }}</td>#}
                                        <td data-t="s">{{ fcrDetail['hatcheryName']|default('') }}</td>
                                        <td data-t="s">{{ fcrDetail['breedBame']|default('') }}</td>
                                        <td data-t="s">{{ fcrDetail['feedName']|default('') }}</td>
                                        <td data-t="s">{{ fcrDetail['feedMillName']|default('') }}</td>
                                        <td data-t="s">{{ fcrDetail['feedTypeName']|default('') }}</td>
                                        <td data-t="s">{{ fcrDetail['proDate']|date('d-m-Y') }}</td>
                                        <td data-t="s">{{ fcrDetail['batchNo'] }}</td>
                                        <td data-t="s">{{ fcrDetail['remarks'] }}</td>
                                        {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_CRM_POULTRY_ADMIN') %}
                                            <td class="text-center" data-exclude="true" >
                                                <a data-action="{{ path('fcr_detail_soft_delete_by_admin_user',{id:fcrDetail['id']}) }}" class="btn btn-danger btn-xs record_delete">x</a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                    {% set totalRecordCount=totalRecordCount+1 %}
                                    {% set recordCount=recordCount+1 %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
    </tbody>
</table>