{% extends 'admin/layout.html.twig' %}
{% block body_id 'kpi_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <div class="row">
            <div class="col p-0">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                    {{ form_start(form) }}
                    <tr>
                        <th>
                            {{ form_label(form.employee, 'Employee:') }}
                            {{ form_widget(form.employee) }}
                        </th>

                        <th>
                            {{ form_label(form.startDate, 'Start Date:') }}
                            {{ form_widget(form.startDate,{'id':'start-date', 'attr':{'placeholder':'dd-mm-YYYY'}}) }}
                        </th>
                        <th>
                            {{ form_label(form.endDate, 'End Date:') }}
                            {{ form_widget(form.endDate,{'id':'end-date', 'attr':{'placeholder':'dd-mm-YYYY'}}) }}
                        </th>
                        <th rowspan="2">
                            <div class="btn-group" style="margin-top: 25px">
                                <button type="submit" name="search" class="btn btn-primary btn-sm" title="Search"
                                        value="search"><i class="fa fa-search" aria-hidden="true"></i></button>

                                <button type="button" name="excel" class="btn blue-bg btn-sm white-font" title="Excel" value="excel" id="button-excel"><i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'Excel'|trans }}</button>

                            </div>
                        </th>
                    </tr>
                    </form>

                    </thead>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped table-bordered table-hover details-table download-excel" width="100%">
                        <thead class="thead-dark">
                        <tr>
                            <th data-a-h="center" class="border-0" colspan="7"><h3 class="text-center">NOURISH POULTRY AND HATCHERY LTD</h3></th>
                        </tr>
                        <tr>
                            <th data-a-h="center" class="border-0" colspan="7"><h5 class="text-center">UTTARA, DHAKA.</h5></th>
                        </tr>

                        <tr>
                            <td data-a-h="center" class="border-0" colspan="{{ 7 }}" align="center"><h5 class="text-center">Visit Status Report </h5></td>
                        </tr>
                        {% if selectedEmployee is defined and selectedEmployee is not empty %}

                            <tr>
                                <td colspan="2">ID: {{ selectedEmployee.userId }}</td>
                                <td colspan="2">Name: {{ selectedEmployee.name }}</td>
                                <td colspan="3">Designation: {{ selectedEmployee.designation.name|default('') }}</td>
                            </tr>

                        {% endif %}
                        <tr>
                            <th>S/L</th>
                            <th style="width: 80px">Agent ID</th>
                            <th>Name</th>
                            <th>District</th>
                            <th>Total (days)</th>
                            <th>Frequency</th>
                            <th>Visit Date</th>
                            {% if agentSales['year'] is defined and agentSales['year'] is not empty %}
                                {% for year in agentSales['year'] %}
                                    <th>{{ 'Yearly sales ('~year~')' }}</th>
                                {% endfor %}

                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>

                        {% set i = 1 %}
                        {% if records['agentInfo'] is defined and records['agentInfo'] is not empty %}
                            {% set totalVisitingDate = records['records'] is defined and records['records'] is not empty ? records['records']|multiArrayLength : 0 %}

                        {% for agent in records['agentInfo'] %}
                            {% set visitingDate = records['records'][agent.agentAutoId] is defined and records['records'][agent.agentAutoId] is not empty ? records['records'][agent.agentAutoId] : []   %}
                            <tr>
                                <td>{{ i }}</td>
                                <td>{{ agent.agentId }}</td>
                                <td>{{ agent.agentName }}</td>
                                <td>{{ agent.agentDistrictName|default('') }}</td>
                                <td>{{ agent.visitCount }}</td>
                                <td>{{ totalVisitingDate > 0 ? ((agent.visitCount/totalVisitingDate)*100)|number_format(2):0 }}%</td>
                                <td>
                                    {% if visitingDate is not empty %}
                                        {% for date in visitingDate %}
                                            <span style="display: inline-block; margin-right: 2px; margin-bottom: 2px; padding: 2px 4px; border: 1px solid grey; border-radius: 5px">
                                                {{ date|date('d-m-Y') }}
                                            </span>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                {% if agentSales['year'] is defined and agentSales['year'] is not empty %}
                                    {% for year in agentSales['year'] %}
                                        {% set salesAvg = agentSales['data'] is defined and agentSales['data'][agent.agentAutoId] is defined and agentSales['data'][agent.agentAutoId][year] is defined ? agentSales['data'][agent.agentAutoId][year]['avgQuantity'] : ''  %}
                                        <td>{{ salesAvg ? salesAvg|number_format(2) : '' }}</td>
                                    {% endfor %}

                                {% endif %}
                            </tr>
                            {% set i = i + 1 %}
                        {% endfor %}
                            <tr>
                                <th colspan="4" align="right" class="text-right" style="padding-right: 15px!important;">Total</th>
                                <th>{{ totalVisitingDate }}</th>
                                <td></td>
                                <td></td>
                                {% if agentSales['year'] is defined and agentSales['year'] is not empty %}
                                    {% for year in agentSales['year'] %}
                                        <td></td>
                                    {% endfor %}

                                {% endif %}
                            </tr>

                        {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
     <style>
         /*table.details-table thead {
             position: sticky;
             top: -2px;
             background-color: #dbdee3 !important;
             border-bottom-color: #4C9EE7 !important;
             z-index: 99;
         }*/

     </style>
 {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script src="{{ asset('assets/js/tableToExcel.js') }}"></script>
    <script>
        $('.element').tooltip('show')
        let button = document.querySelector("#button-excel");

        if(button){
            button.addEventListener("click", e => {
                e.preventDefault();
                let table = document.querySelector(".download-excel");
                TableToExcel.convert(table, {
                    name: "{{ 'agent_visit_monitor'}}.xlsx",
                    sheet: {
                        name: "Sheet 1"
                    }
                });
            });
        }
    </script>
{% endblock %}
{% block documentready %}
    {{ parent() }}

    {#    <script>#}
    $('#start-date, #end-date').datepicker(
    {
    dateFormat: 'dd-mm-yy',
    changeMonth: true,
    changeYear: true
    }
    );
    {#    Append Employee details#}
    jQuery("#detailsModal").on("show.bs.modal", function(e) {
    var url = jQuery(e.relatedTarget).data('action');

    jQuery.get( url, function( data ) {
    jQuery(".modal-body").html(data.html);
    });

    });

    $('#datatable').DataTable( {
    pageLength: 25,
    });
{% endblock %}