{% extends 'admin/layout.html.twig' %}
{% block body_id 'kpi_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <div class="row">
            <div class="col p-0">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                    {{ form_start(form) }}
                    <tr>
                        <th>
                            <label for="" class="col-md-3 text-right">Line manager:</label>
                            <div class="col-md-9 p-0">
                                <select class="form-control select2" name="lineManager">
                                    <option value="">- Select Line Manager -</option>
                                    {% for lineManagerId, lineManagerName in lineManagers %}
                                        <option {{ selectedLineManagerUserId == lineManagerId ? 'selected':'' }}
                                                value="{{ lineManagerId }}">{{ '('~ lineManagerId ~ ') ' ~ lineManagerName }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        </th>
                        <th>
                            {{ form_label(form.employee, 'Employee:', { 'label_attr': {'class': 'col-md-3 text-right'}}) }}
                            <div class="col-md-9 p-0">
                                {{ form_widget(form.employee) }}
                            </div>
                        </th>
                        <th>
                            {{ form_label(form.month, 'Month:', { 'label_attr': {'class': 'col-md-3 text-right'}}) }}
                            <div class="col-md-9 p-0">
                                {{ form_widget(form.month) }}
                            </div>
                        </th>
                        <th>
                            {{ form_label(form.year, 'Year:', { 'label_attr': {'class': 'col-md-3 text-right'}}) }}
                            <div class="col-md-9 p-0">
                                {{ form_widget(form.year) }}
                            </div>
                        </th>
                        <th rowspan="2">
                            <div class="btn-group">
                                <button type="submit" name="search" class="btn btn-primary btn-sm"
                                        title="Search"
                                        value="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                                <a href="{{ path('visit_status') }}" class="btn purple-bg btn-sm white-font"
                                   title="Reset" value="reset"><i class="fa fa-refresh" aria-hidden="true"></i></a>

                                <button type="button" name="excel" class="btn blue-bg btn-sm white-font" title="Excel" value="excel" id="button-excel"><i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'Excel'|trans }}</button>

                            </div>
                        </th>
                    </tr>
                    </form>

                    </thead>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body p-0" style="overflow: auto; height: 75vh">
                    <table class="table table-striped table-bordered table-hover details-table  download-excel" width="100%">
                        <thead class="thead-dark">
                        <tr>
                            <th data-a-h="center" class="border-0" colspan="{{ lastDayOfMonth is defined and lastDayOfMonth is not null?lastDayOfMonth|date('d')+5:4 }}"><h3 class="text-center">NOURISH POULTRY AND HATCHERY LTD</h3></th>
                        </tr>
                        <tr>
                            <th data-a-h="center" class="border-0" colspan="{{ lastDayOfMonth is defined and lastDayOfMonth is not null?lastDayOfMonth|date('d')+5:4 }}"><h5 class="text-center">UTTARA, DHAKA.</h5></th>
                        </tr>

                        <tr>
                            <td data-a-h="center" class="border-0" colspan="{{ lastDayOfMonth is defined and lastDayOfMonth is not null?lastDayOfMonth|date('d')+5:4 }}" align="center"><h6>Visit Status Report {{ firstDayOfMonth|date('Y') }}</h6></td>
                        </tr>
                        <tr>
                            <th rowspan="2">S/L</th>
                            <th rowspan="2">Line Manager</th>
                            <th rowspan="2">Employee ID</th>
                            <th rowspan="2">Name</th>
                            <th colspan="{{ lastDayOfMonth is defined and lastDayOfMonth is not null?lastDayOfMonth|date('d'):4 }}"
                                class="text-center">{{ firstDayOfMonth is defined ? firstDayOfMonth|date('F') : '' }}
                                (Days)
                            </th>
                            <th rowspan="2">Total</th>

                        </tr>
                        <tr>
                            {% if lastDayOfMonth is defined and lastDayOfMonth is not null %}
                                {% for day in 1..lastDayOfMonth|date('d') %}
                                    <th data-a-h="center" class="text-center">{{ "%02d"|format(day) }}</th>
                                {% endfor %}
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% if selectedEmployee is defined and selectedEmployee is not null %}
                            {% set lineManagerUserId = selectedEmployee.lineManager.userId %}
                            {% set employeeUserId = selectedEmployee.userId %}
                            {% set totalWorkingStatus = 0 %}
                            {% set totalLeaveStatus = 0 %}
                            {% set totalTrainingStatus = 0 %}
                            {% set totalOfficeWorkStatus = 0 %}
                            {% set totalOtherStatus = 0 %}
                            {% set totalWorkshopStatus = 0 %}
                            {% set totalMeetingStatus = 0 %}
                            {% set totalTravelingStatus = 0 %}
                            {% set totalConferenceStatus = 0 %}
                            {% set totalHolidayStatus = 0 %}
                            <tr>
                                <td data-a-v="middle">1</td>
                                <td data-a-v="middle">{{ selectedEmployee.lineManager.name }}</td>
                                <td>{{ employeeUserId }}</td>
                                <td>{{ selectedEmployee.name }}</td>
                                {% if lastDayOfMonth is defined and lastDayOfMonth is not null %}
                                    {% for day in 1..lastDayOfMonth|date('d') %}
                                        <td align="center" style="padding: 0 !important;">
                                            <div class="btn-group">
                                                {% if visitStatus[lineManagerUserId] is defined and visitStatus[lineManagerUserId]['teamMember'][employeeUserId] is defined and visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)] is defined %}
                                                    {% set workingStatus = visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['status'] %}
                                                    {% if 'working' in workingStatus %}
                                                        <a style="text-decoration: underline;"
                                                           class="btn btn-mini btn-transparent font-white"
                                                           href="{{ path('visit_details_report', {'mode': 'pdf', 'visitDate': day ~ '-' ~ firstDayOfMonth|date('m-Y'), 'employeeId': selectedEmployee.id }) }}"
                                                           target="_blank"
                                                           title="Total visits: {{ visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['visits']|length }}">
                                                            {#                                                                        <div style="height:100%;width:100%">W</div>#}
                                                            W
                                                        </a>
                                                        {% set totalWorkingStatus = totalWorkingStatus+1 %}

                                                    {% endif %}

                                                    {% if 'leave' in workingStatus %}
                                                        <span class="btn btn-mini btn-transparent" title="{{ (visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['visits']|multiDimensionalArrayCol('remarks'))|join(', ') }}" style="cursor: default">L
                                                                    </span>
                                                        {% set totalLeaveStatus = totalLeaveStatus + 1 %}

                                                    {% endif %}

                                                    {% if 'training' in workingStatus %}
                                                        <span class="btn btn-mini btn-transparent" title="{{ (visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['visits']|multiDimensionalArrayCol('remarks'))|join(', ') }}" style="cursor: default">T
                                                                    </span>
                                                        {% set totalTrainingStatus = totalTrainingStatus + 1 %}

                                                    {% endif %}

                                                    {% if 'office-work' in workingStatus %}
                                                        <span class="btn btn-mini btn-transparent" title="{{ (visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['visits']|multiDimensionalArrayCol('remarks'))|join(', ') }}" style="cursor: default">
                                                                        OW
                                                                    </span>
                                                        {% set totalOfficeWorkStatus = totalOfficeWorkStatus + 1 %}

                                                    {% endif %}

                                                    {% if 'other-1' in workingStatus %}
                                                        <span class="btn btn-mini btn-transparent" title="{{ (visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['visits']|multiDimensionalArrayCol('remarks'))|join(', ') }}" style="cursor: default">O
                                                                    </span>
                                                        {% set totalOtherStatus = totalOtherStatus + 1 %}

                                                    {% endif %}

                                                    {% if 'workshop' in workingStatus %}
                                                        <span class="btn btn-mini btn-transparent" title="{{ (visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['visits']|multiDimensionalArrayCol('remarks'))|join(', ') }}" style="cursor: default">WS
                                                                    </span>
                                                        {% set totalWorkshopStatus = totalWorkshopStatus + 1 %}
                                                    {% endif %}

                                                    {% if 'meeting' in workingStatus %}
                                                        <span class="btn btn-mini btn-transparent" title="{{ (visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['visits']|multiDimensionalArrayCol('remarks'))|join(', ') }}" style="cursor: default">M
                                                                    </span>
                                                        {% set totalMeetingStatus = totalMeetingStatus + 1 %}

                                                    {% endif %}

                                                    {% if 'traveling' in workingStatus %}
                                                        <span class="btn btn-mini btn-transparent" title="{{ (visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['visits']|multiDimensionalArrayCol('remarks'))|join(', ') }}" style="cursor: default">T
                                                                    </span>
                                                        {% set totalTravelingStatus = totalTravelingStatus + 1 %}

                                                    {% endif %}
                                                    {% if 'conference' in workingStatus %}
                                                        <span class="btn btn-mini btn-transparent" title="{{ (visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['visits']|multiDimensionalArrayCol('remarks'))|join(', ') }}" style="cursor: default">C
                                                                    </span>
                                                        {% set totalConferenceStatus = totalConferenceStatus + 1 %}
                                                    {% endif %}
                                                    {% if 'holiday' in workingStatus %}
                                                        <span class="btn btn-mini btn-transparent" title="Holiday" style="cursor: default">H
                                                                    </span>
                                                        {% set totalHolidayStatus = totalHolidayStatus + 1 %}
                                                    {% endif %}

                                                {% endif %}
                                            </div>
                                        </td>
                                    {% endfor %}

                                    <td>
                                        {{ totalWorkingStatus>0?'W:'~totalWorkingStatus:'' }}
                                        {{ totalLeaveStatus>0?'L:'~totalLeaveStatus:'' }}
                                        {{ totalTrainingStatus>0?'T:'~totalTrainingStatus:'' }}
                                        {{ totalOfficeWorkStatus>0?'OW:'~totalOfficeWorkStatus:'' }}
                                        {{ totalOtherStatus>0?'O:'~totalOtherStatus:'' }}
                                        {{ totalWorkshopStatus>0?'WS:'~totalWorkshopStatus:'' }}
                                        {{ totalMeetingStatus>0?'M:'~totalMeetingStatus:'' }}
                                        {{ totalTravelingStatus>0?'T:'~totalTravelingStatus:'' }}
                                        {{ totalConferenceStatus>0?'C:'~totalConferenceStatus:'' }}
                                        {{ totalHolidayStatus>0?'H:'~totalHolidayStatus:'' }}
                                    </td>
                                {% endif %}
                            </tr>
                        {% else %}
                            {% if employeesByLineManager is defined and employeesByLineManager is not empty %}

                                {% for lineManagerUserId, details in employeesByLineManager %}


                                    {% for employeeUserId, teamMember in details['teamMember'] %}
                                        {% set totalWorkingStatus = 0 %}
                                        {% set totalLeaveStatus = 0 %}
                                        {% set totalTrainingStatus = 0 %}
                                        {% set totalOfficeWorkStatus = 0 %}
                                        {% set totalOtherStatus = 0 %}
                                        {% set totalWorkshopStatus = 0 %}
                                        {% set totalMeetingStatus = 0 %}
                                        {% set totalTravelingStatus = 0 %}
                                        {% set totalConferenceStatus = 0 %}
                                        {% set totalHolidayStatus = 0 %}
                                        <tr>
                                            {% if loop.first %}
                                                <td data-a-v="middle" rowspan="{{ details['teamMember']|length }}">{{ loop.parent.loop.index }}</td>
                                                <td data-a-v="middle" rowspan="{{ details['teamMember']|length }}">{{ details['lineManager'].name }}</td>
                                            {% endif %}
                                            <td>{{ teamMember.userId }}</td>
                                            <td>{{ teamMember.employeeName }}</td>
                                            {% if lastDayOfMonth is defined and lastDayOfMonth is not null %}

                                                {% for day in 1..lastDayOfMonth|date('d') %}
                                                    <td align="center" style="padding: 0 !important;">
                                                        <div class="btn-group">
                                                            {% if visitStatus[lineManagerUserId] is defined and visitStatus[lineManagerUserId]['teamMember'][employeeUserId] is defined and visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)] is defined %}
                                                                {#                                                            {% if visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['status'] is same as 'working' %}#}
                                                                {% set workingStatus = visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['status'] %}
                                                                {% set remarks = visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['status'] %}
                                                                {% if 'working' in workingStatus %}
                                                                    <a style="text-decoration: underline;"
                                                                       class="btn btn-mini btn-transparent font-white"
                                                                       href="{{ path('visit_details_report', {'mode': 'pdf', 'visitDate': day ~ '-' ~ firstDayOfMonth|date('m-Y'), 'employeeId': visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['employeeDetails'].id }) }}"
                                                                       target="_blank"
                                                                       title="Total visits: {{ visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['visits']|length }}">
{#                                                                        <div style="height:100%;width:100%">W</div>#}
                                                                        W
                                                                    </a>
                                                                    {% set totalWorkingStatus = totalWorkingStatus+1 %}
                                                                {% endif %}

                                                                {% if 'leave' in workingStatus %}
                                                                    <span class="btn btn-mini btn-transparent" title="{{ (visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['visits']|multiDimensionalArrayCol('remarks'))|join(', ') }}" style="cursor: default">L
                                                                    </span>
                                                                    {% set totalLeaveStatus = totalLeaveStatus + 1 %}
                                                                {% endif %}

                                                                {% if 'training' in workingStatus %}
                                                                    <span class="btn btn-mini btn-transparent" title="{{ (visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['visits']|multiDimensionalArrayCol('remarks'))|join(', ') }}" style="cursor: default">T
                                                                    </span>
                                                                    {% set totalTrainingStatus = totalTrainingStatus + 1 %}
                                                                {% endif %}

                                                                {% if 'office-work' in workingStatus %}
                                                                    <span class="btn btn-mini btn-transparent" title="{{ (visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['visits']|multiDimensionalArrayCol('remarks'))|join(', ') }}" style="cursor: default">
                                                                        OW
                                                                    </span>
                                                                    {% set totalOfficeWorkStatus = totalOfficeWorkStatus + 1 %}
                                                                {% endif %}

                                                                {% if 'other-1' in workingStatus %}
                                                                    <span class="btn btn-mini btn-transparent" title="{{ (visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['visits']|multiDimensionalArrayCol('remarks'))|join(', ') }}" style="cursor: default">O
                                                                    </span>
                                                                    {% set totalOtherStatus = totalOtherStatus + 1 %}

                                                                {% endif %}

                                                                {% if 'workshop' in workingStatus %}
                                                                    <span class="btn btn-mini btn-transparent" title="{{ (visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['visits']|multiDimensionalArrayCol('remarks'))|join(', ') }}" style="cursor: default">WS
                                                                    </span>
                                                                    {% set totalWorkshopStatus = totalWorkshopStatus + 1 %}

                                                                {% endif %}

                                                                {% if 'meeting' in workingStatus %}
                                                                    <span class="btn btn-mini btn-transparent" title="{{ (visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['visits']|multiDimensionalArrayCol('remarks'))|join(', ') }}" style="cursor: default">M
                                                                    </span>
                                                                    {% set totalMeetingStatus = totalMeetingStatus + 1 %}

                                                                {% endif %}
                                                                {% if 'traveling' in workingStatus %}
                                                                    <span class="btn btn-mini btn-transparent" title="{{ (visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['visits']|multiDimensionalArrayCol('remarks'))|join(', ') }}" style="cursor: default">T
                                                                    </span>
                                                                    {% set totalTravelingStatus = totalTravelingStatus + 1 %}

                                                                {% endif %}
                                                                {% if 'conference' in workingStatus %}
                                                                    <span class="btn btn-mini btn-transparent" title="{{ (visitStatus[lineManagerUserId]['teamMember'][employeeUserId]['days']["%02d"|format(day)]['visits']|multiDimensionalArrayCol('remarks'))|join(', ') }}" style="cursor: default">C
                                                                    </span>
                                                                    {% set totalConferenceStatus = totalConferenceStatus + 1 %}
                                                                {% endif %}
                                                                {% if 'holiday' in workingStatus %}
                                                                    <span class="btn btn-mini btn-transparent" title="Holiday" style="cursor: default">H
                                                                    </span>
                                                                    {% set totalHolidayStatus = totalHolidayStatus + 1 %}
                                                                {% endif %}

                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                {% endfor %}
                                                <td>
                                                    {{ totalWorkingStatus>0?'W:'~totalWorkingStatus:'' }}
                                                    {{ totalLeaveStatus>0?'L:'~totalLeaveStatus:'' }}
                                                    {{ totalTrainingStatus>0?'T:'~totalTrainingStatus:'' }}
                                                    {{ totalOfficeWorkStatus>0?'OW:'~totalOfficeWorkStatus:'' }}
                                                    {{ totalOtherStatus>0?'O:'~totalOtherStatus:'' }}
                                                    {{ totalWorkshopStatus>0?'WS:'~totalWorkshopStatus:'' }}
                                                    {{ totalMeetingStatus>0?'M:'~totalMeetingStatus:'' }}
                                                    {{ totalTravelingStatus>0?'T:'~totalTravelingStatus:'' }}
                                                    {{ totalConferenceStatus>0?'C:'~totalConferenceStatus:'' }}
                                                    {{ totalHolidayStatus>0?'H:'~totalHolidayStatus:'' }}
                                                </td>
                                            {% endif %}

                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        </tbody>
                        <tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
     <style>
         table.details-table thead {
             position: sticky;
             top: -2px;
             background-color: #dbdee3 !important;
             border-bottom-color: #4C9EE7 !important;
             z-index: 99;
         }

         .ui-datepicker-calendar {
             display: none
         }
     </style>
 {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script src="{{ asset('assets/js/tableToExcel.js') }}"></script>
    <script>
        $('.element').tooltip('show')
        let button = document.querySelector("#button-excel");

        if(button){
            button.addEventListener("click", e => {
                e.preventDefault();
                let table = document.querySelector(".download-excel");
                TableToExcel.convert(table, {
                    name: "{{ 'visit_status_report'}} ({{firstDayOfMonth is defined ? firstDayOfMonth:'' }}{{ lastDayOfMonth is defined ? ' to '~lastDayOfMonth:'' }}).xlsx",
                    sheet: {
                        name: "Sheet 1"
                    }
                });
            });
        }
    </script>
{% endblock %}
{% block documentready %}
    {{ parent() }}

    {#    <script>#}

    {#    Append Employee details#}
    jQuery("#detailsModal").on("show.bs.modal", function(e) {
    var url = jQuery(e.relatedTarget).data('action');

    jQuery.get( url, function( data ) {
    jQuery(".modal-body").html(data.html);
    });

    });

    $('#datatable').DataTable( {
    pageLength: 25,
    });
{% endblock %}