{% extends 'admin/layout.html.twig' %}
{% block body_id 'kpi_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <div class="row">
            <div class="col p-0">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                    {{ form_start(form) }}
                    <tr>
                        <th>
                            {{ form_label(form.lineManager, 'Line Manager') }}
                            {{ form_widget(form.lineManager) }}
                        </th>
                        <th>
                            {{ form_label(form.employee, 'Employee:') }}
                            {{ form_widget(form.employee) }}
                        </th>

                        <th>
                            {{ form_label(form.startMonth, 'Start Month') }}
                            {{ form_widget(form.startMonth) }}
                        </th>
                        <th>
                            {{ form_label(form.endMonth, 'End Month') }}
                            {{ form_widget(form.endMonth) }}
                        </th>
                        <th>
                            {{ form_label(form.year) }}
                            {{ form_widget(form.year) }}
                        </th>
                        <th rowspan="2">
                            <div class="btn-group" style="margin-top: 25px">
                                <button type="submit" name="search" class="btn btn-primary btn-sm" title="Search"
                                        value="search"><i class="fa fa-search" aria-hidden="true"></i></button>

                                <button type="button" name="excel" class="btn blue-bg btn-sm white-font" title="Excel" value="excel" id="button-excel"><i class="fa fa-file-excel" aria-hidden="true"></i> {{ 'Excel'|trans }}</button>

                            </div>
                        </th>
                    </tr>
                    </form>

                    </thead>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped table-bordered table-hover details-table download-excel" width="100%">
                        <thead class="thead-dark">
                        <tr>
                            <th data-a-h="center" class="border-0" colspan="{{ months|length +7 }}"><h3 class="text-center">NOURISH POULTRY AND HATCHERY LTD</h3></th>
                        </tr>
                        <tr>
                            <th data-a-h="center" class="border-0" colspan="{{ months|length +7 }}"><h5 class="text-center">UTTARA, DHAKA.</h5></th>
                        </tr>

                        <tr>
                            <td data-a-h="center" class="border-0" colspan="{{ months|length +7 }}" align="center"><h5 class="text-center">Visit Report Summery</h5></td>
                        </tr>
                        {% if selectedEmployee is defined and selectedEmployee is not empty %}

                            <tr>
                                <td class="text-center" colspan="2">ID: {{ selectedEmployee.userId }}</td>
                                <td class="text-center" colspan="2">Name: {{ selectedEmployee.name }}</td>
                                <td class="text-center" colspan="{{ months|length +1 }}">Designation: {{ selectedEmployee.designation.name|default('') }}</td>
                            </tr>

                        {% endif %}
                        <tr>
                            <th data-a-v="middle" rowspan="2" style="width: 3%" scope="col">S/N</th>
                            <th data-a-v="middle" data-a-h="center" class="text-center" rowspan="2" style="width: 10%" scope="col">Line Manager</th>
                            <th class="text-center" data-a-h="center" colspan="3" scope="col">{{ 'Employee'|trans }}</th>
                            <th data-a-v="middle" rowspan="2" style="width: 10%" scope="col">Type</th>
                            {% if months is not empty %}
                                {% for month in months %}
{#                                    th same width#}
                                    <th data-a-v="middle" data-a-h="center" class="text-center" rowspan="2" scope="col">{{ month }}</th>
                                {% endfor %}
                            {% endif %}
                        </tr>
                        <tr>
                            <th data-a-h="center" class="text-center" style="width: 5%" scope="col">{{ 'Id'|trans }}</th>
                            <th data-a-h="center" class="text-center" style="width: 10%" scope="col">{{ 'Name'|trans }}</th>
                            <th data-a-h="center" class="text-center" style="width: 10%" scope="col">{{ 'Designation'|trans }}</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% if employees is defined and  employees is not empty %}
                            {% set loopCount = 0 %}
                            {% for lineManagerId, lineManagerData in employees %}
                                {% if lineManagerData is not empty %}
                                    {% for employee in lineManagerData %}
                                        {% set loopCount = loopCount + 1 %}
                                        {% for index, process in processes %}
                                            <tr>

                                               {% if index==0 %}
                                               <td data-a-v="middle" rowspan="{{ processes|length }}">{{ loopCount }}</td><td data-a-v="middle" rowspan="{{ processes|length }}">{{ employee.lineManagerName }}</td>
                                               <td data-a-v="middle" rowspan="{{ processes|length }}">{{ employee.userId }}</td>
                                               <td data-a-v="middle" rowspan="{{ processes|length }}">{{ employee.name }}</td>
                                               <td data-a-v="middle" rowspan="{{ processes|length }}">{{ employee.designationName|default('') }}</td>
                                               {% endif %}
                                                <td>{{ process }}</td>
                                                {#                                            <td>{{ employee.lineManagerName }} == {{ lineManagerData|length }}</td>#}

                                                {% if months is not empty %}
                                                    {% for month in months %}

                                                        {% set totalVisit = records[employee.id] is defined and records[employee.id][process] is defined and records[employee.id][process][month] is defined ? records[employee.id][process][month]|length: 0  %}

                                                        <td scope="col">{{ totalVisit }}</td>
                                                    {% endfor %}
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% else %}

                            <tr>
                                <td colspan="30" class="text-center">No data found</td>
                            </tr>
                        {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
     <style>
         /*table.details-table thead {
             position: sticky;
             top: -2px;
             background-color: #dbdee3 !important;
             border-bottom-color: #4C9EE7 !important;
             z-index: 99;
         }*/

     </style>
 {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script src="{{ asset('assets/js/tableToExcel.js') }}"></script>
    <script>
        $('.element').tooltip('show')
        let button = document.querySelector("#button-excel");

        if(button){
            button.addEventListener("click", e => {
                e.preventDefault();
                let table = document.querySelector(".download-excel");
                TableToExcel.convert(table, {
                    name: "{{ 'visit_report_summery_'~date().timestamp}}.xlsx",
                    sheet: {
                        name: "Sheet 1"
                    }
                });
            });
        }
    </script>
{% endblock %}
{% block documentready %}
    {{ parent() }}

    {#    <script>#}
    $('#start-date, #end-date').datepicker(
    {
    dateFormat: 'dd-mm-yy',
    changeMonth: true,
    changeYear: true
    }
    );
    {#    Append Employee details#}
    jQuery("#detailsModal").on("show.bs.modal", function(e) {
    var url = jQuery(e.relatedTarget).data('action');

    jQuery.get( url, function( data ) {
    jQuery(".modal-body").html(data.html);
    });

    });

    $('#datatable').DataTable( {
    pageLength: 25,
    });
{% endblock %}