<div class="portlet box ">
    <div class="portlet-title">
        <div class="caption">{{ report.name }} </div>
    </div>
    {#{{ dump(report) }}#}

    <div style="padding: 0" class="portlet-body form">
        <div class="row form-body ">
            <div class="form-inner-no-space">

                <div class="row">
                    <div class="col-md-12">
                        <h4>NOURISH POULTRY & HATCHERY LTD</h4>
                        <h5>Uttara, Dhaka.</h5>
                        <h5>{{ report.name }}</h5>
                    </div>
                    <input type="hidden" class="report_id" value="{{ report.id }}">
                    <input type="hidden" class="customerId" value="{{ customer.id }}">
                    <input type="hidden" class="visitId" value="{{ visit.id }}">
                    <div class="col-md-4">
                        <p style="color: #000000">{{ 'Name of CSO/Sr.CSO'|trans }}: {{ employee.name }}</p>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <p style="color: #000000">{{ 'Reporting Month'|trans }}: {{ "now"|date("F, Y") }}</p>
                    </div>
                </div>
                <div style="padding-top: 0; overflow-x: scroll" class="card-body card-body-inner">
                    <div class="row">
                        <table class="table table-striped table-bordered table-hover layer_performance_details" id="datatable">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col" rowspan="2">S/N</th>
                                <th scope="col" rowspan="2">Agent's Name</th>
                                <th scope="col" rowspan="2">Farmer's Name</th>
                                <th scope="col" rowspan="2"><pre style="font-size: 100%; margin: 0px">Total Birds</pre></th>
                                <th scope="col" rowspan="2" width="80px">Age(wk)</th>
                                <th scope="col" colspan="2">B.Weight(gm)</th>
                                <th scope="col" colspan="2">Feed Intake(gm)</th>
                                <th scope="col" colspan="2">Egg Production%</th>
                                <th scope="col" colspan="2">Egg Weight(gm)</th>
                                <th scope="col" colspan="4">Feed Information</th>
                                <th scope="col" colspan="3">Others Information</th>
                                <th style="width: 200px" scope="col" rowspan="2">Disease</th>
                                <th style="width: 300px" scope="col" rowspan="2">Remarks</th>
                                <th scope="col text-center" rowspan="2"><i class="feather icon-settings"></i></th>
                            </tr>
                            <tr>
                                <th scope="col">Achieved</th>
                                <th scope="col">Target</th>
                                <th scope="col">Feed/bird</th>
                                <th scope="col">Target</th>
                                <th scope="col">Achieved</th>
                                <th scope="col">Target</th>
                                <th scope="col">Achieved</th>
                                <th scope="col">Stand</th>
                                <th style="width: 150px" scope="col">F.Type</th>
                                <th scope="col">P.Date</th>
                                <th style="width: 200px" scope="col">Batch No</th>
                                <th style="width: 150px" scope="col">Feed Mill</th>
                                <th style="width: 150px" scope="col">Hatchery</th>
                                <th style="width: 150px" scope="col">Breed</th>
                                <th style="width: 130px" scope="col">Color</th>

                            </tr>
                            <tr>
                                <td scope="col" colspan="2" style="font-size: 10px">
                                    {{ customer.agent.name|default('') }}
                                </td>
                                <td style="font-size: 10px">{{ customer.name }}</td>
                                <td scope="col"><input type="number" class="form-control totalBirds" min="0" name="totalBirds"></td>
                                <td scope="col">
                                    <select name="ageWeek" id="" class="form-control ageWeek">
                                        {% for index, item in noOfWeeks %}
                                            <option value="{{ index }}">{{ item }}</option>
                                        {% endfor %}
                                    </select>

                                </td>
                                <td scope="col"><input type="number" value="" class="form-control bodyWeightAchieved" min="0" name="achieved"></td>
                                <td scope="col" class="bodyWeightTarget"></td>
                                <td scope="col"><input type="number" value="" class="form-control feedIntakePerBird" min="0" name="feedIntakePerBird"></td>
                                <td scope="col" class="feedTarget"></td>
                                <td scope="col"><input type="number" class="form-control eggProductionAchieved" min="0" name="eggProductionAchieved"></td>
                                <td scope="col" class="eggProductionTarget"></td>
                                <td scope="col"><input type="number" class="form-control eggWeightAchieved" min="0" name="eggWeightAchieved"></td>
                                <td scope="col" class="eggWeightStand"></td>
                                <td scope="col">
                                    <select name="feedType" class="form-control feedType">
                                        <option value="">Choose Feed Type</option>
                                        {% if feedTypes is not empty %}
                                            {% for feedType in feedTypes %}
                                                <option value="{{ feedType.id }}">{{ feedType.name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                    {#<input type="text" class="form-control feedType" name="feedType">#}
                                </td>
                                <td scope="col" width="105px">
                                    <div class="date_section">
                                        <input type="text" class="form-control datePicker production_date" name="production_date">
                                    </div>
                                </td>
                                <td scope="col">
                                    <input type="text" class="form-control batch_no" name="batch_no">
                                </td>
                                <td scope="col">
                                    <select name="feed_mill" class="form-control feed_mill">
                                        <option value="">Choose Feed Mill</option>
                                        {% if feedMills is not empty %}
                                            {% for feedMill in feedMills %}
                                                <option value="{{ feedMill.id }}">{{ feedMill.name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                    {#<input type="text" class="form-control feed_mill" name="feed_mill">#}
                                </td>
                                <td scope="col">
                                    <select name="hatchery" class="form-control hatchery">
                                        <option value="">Choose Hatchery</option>
                                        {% if hatcheries is not empty %}
                                            {% for hatchery in hatcheries %}
                                                <option value="{{ hatchery.id }}">{{ hatchery.name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                    {#<input type="text" class="form-control hatchery" name="hatchery">#}
                                </td>
                                <td scope="col">
                                    <select name="breed" class="form-control breed">
                                        <option value="">Choose Breed</option>
                                        {% if breeds is not empty %}
                                            {% for breed in breeds %}
                                                <option value="{{ breed.id }}">{{ breed.name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </td>
                                <td scope="col">
                                    <select name="color" class="form-control color">
                                        <option value="">Choose Color</option>
                                        {% if colors is not empty %}
                                            {% for color in colors %}
                                                <option value="{{ color.id }}">{{ color.name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                    {#<input type="text" class="form-control color" name="color">#}
                                </td>
                                <td scope="col"><input type="text" class="form-control disease" name="disease"></td>
                                <td scope="col"><input type="text" class="form-control remarks" name="remarks"></td>
                                <td scope="col"><button type="button" class="btn btn-primary btn-sm details_add_button">{{ 'Add'|trans }}</button> </td>

                            </tr>
                            </thead>
                            <tbody>

                                {% include '@TerminalbdCrm/layerPerformance/partial/layer-performance-details.html.twig' %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
